{# Админская часть модуля Документы #}

<h3>Документы</h3>

<tabs>
    <pane heading="Список документов" url="/document/">
        <div entity-list="{{ path('cms_rest_krd_document_document') }}:id?parent={{ currentNode.getId() }}" url="/document/" columns="{id:{title:'#'}, title:{title:'Заголовок'}, name:{title:'Системное имя'}, date:{title:'Дата'}, active:{title:'Активность', isBoolean:true}, official:{title:'Официальное опубликование', isBoolean:true}}" btn-add="Добавить документ" count="10"></div>
    </pane>

    <ghostpane heading="Создание документа" url="/document/create/" parent="0" template="{{ path('cms_rest_krd_document_document_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Ред. документа #{id}" url="/document/edit/{id}" parent="0" template="{{ path('cms_rest_krd_document_document_form_add') }}{id}"></ghostpane>
</tabs>
