{# Инфографика Культура и досуг #}

<div class="sm-infographic i-culture">
    <div class="ttl">
        Культура и досуг
    </div>
    <div class="clear"></div>
    <div class="text t-center">
        В январе-сентябре 2012 года работа в области культуры была направлена на сохранение и развитие существующего культурного потенциала, поддержку одаренных детей, развитие народного творчества и профессионального искусства, а также укрепление материально-технической базы учреждений культуры.
    </div>
    <img src="/bundles/krdopendata/i/infographic/culture/0-library.png" style="margin-top: 13px;" />
    <img src="/bundles/krdopendata/i/infographic/culture/1-drug_prevention.png" style="margin-top: 30px;" />
    <img src="/bundles/krdopendata/i/infographic/culture/2-competetions.png" style="margin-top: 30px;" />
    <img src="/bundles/krdopendata/i/infographic/culture/3-development_creativity.png" style="margin-top: 30px;" />
    <img src="/bundles/krdopendata/i/infographic/culture/4-festivals.png" style="margin-top: 32px;" />
    <img src="/bundles/krdopendata/i/infographic/culture/5-open-air.png" style="margin-top: 30px;" />

    <div class="clear"></div>
    <div class="button-10">
        <a href="/opendata/list/#!/category-3"></a>
    </div>
</div>
