{# Инфографика здоровья #}

<div class="sm-infographic i-health">
    <div class="ttl">
        Здравоохранение
    </div>
    <div class="clear"></div>

    <img src="/bundles/krdopendata/i/infographic/health/0-diagramm.png" alt="" class="diagramm-0" />
    <div class="clear"></div>
    <img src="/bundles/krdopendata/i/infographic/health/1-diagramm.png" alt="" class="diagramm-1" />
    <div class="clear"></div>
    <img src="/bundles/krdopendata/i/infographic/health/2-diagramm.png" alt="" class="diagramm-2" />
    <div class="clear"></div>
    <img src="/bundles/krdopendata/i/infographic/health/3-diagramm.png" alt="" class="diagramm-3" />
    <div class="clear"></div>
    <img src="/bundles/krdopendata/i/infographic/health/4-diagramm.png" alt="" class="diagramm-4" />
    <div class="clear"></div>

    <div class="images-5">
        <img src="/bundles/krdopendata/i/infographic/health/5-images.png" alt="" /><!--
        --><div class="text">
                В январе-сентябре 2012 года в отрасли успешно реализовывались мероприятия в рамках приоритетного национального проекта «Здоровье» и губернаторской Стратегии «Будьте здоровы!»
                <br /><br />
                В истекшем периоде в соответствии с национальным календарем прививок проводилась вакцинация населения против вирусного гепатита «В», полиомиелита, кори, гриппа; проводились профилактические осмотры населения на туберкулёз.
            </div>
    </div>

    <div class="ymap-6">
        <div class="text">
            С <b>01.03.2012</b> детская городская клиническая больница № 1 начала работу по новому адресу:
            ул. Академика Лукьяненко, 97. Больница оснащена самым современным оборудованием. В новых просторных корпусах на
            <img src="/bundles/krdopendata/i/infographic/health/6-icons.png" alt="">
            оборудованы педиатрическое, неврологическое, кардиологическое, реанимационное отделения, а также отделения восстановительного лечения и младшего возраста для детей до 3 лет. В планах – достроить вспомогательный корпус, пищеблок, которые с лечебными корпусами соединит переходная галерея, и помещения для кафедры педиатрии.
        </div>

        <div class="info-ymap">
            <s class="c tl"></s>
            <s class="c tr"></s>
            <s class="c br"></s>
            <s class="c bl"></s>
            <div id="ymap-health-0"></div>
        </div>
    </div>

    <div class="ymap-7">
        <div class="info-ymap">
            <s class="c tl"></s>
            <s class="c tr"></s>
            <s class="c br"></s>
            <s class="c bl"></s>
            <div id="ymap-health-1"></div>
        </div>

        <div class="text">
            В <b>октябре 2012</b> года состоялось торжественное открытие нового здания детской городской поликлиники № 4: теперь она располагается в новом трехэтажном здании в центре города по ул. Коммунаров, 59, имеет удобное расположение подъездных путей. В планах поликлиники – открытие физиотерапевтического кабинета и кабинета лечебной физкультуры.
        </div>
    </div>

    <img src="/bundles/krdopendata/i/infographic/health/7-diagramm.png" alt="" class="diagramm-7" />
    <div class="clear"></div>
    <img src="/bundles/krdopendata/i/infographic/health/8-diagramm.png" alt="" class="diagramm-8" />
    <div class="clear"></div>
    <img src="/bundles/krdopendata/i/infographic/health/9-diagramm.png" alt="" class="diagramm-9" />
    <div class="clear"></div>
    <div class="button-10">
        <a href="/opendata/list/#!/category-1"></a>
    </div>
</div>

<script>
    window.___ymapsInfographicLoadCallback = function(){
        ymaps.ready(function(){
            var center0 = [45.059319, 38.917093];
            var center1 = [45.050213, 38.984178];

            var ymap0 = new ymaps.Map('ymap-health-0', {
                center: center0,
                zoom: 17,
                behaviors: ['default', 'scrollZoom']
            });

            var ymap1 = new ymaps.Map('ymap-health-1', {
                center: center1,
                zoom: 17,
                behaviors: ['default', 'scrollZoom']
            });

            var pm0 = new ymaps.Placemark(center0);
            var pm1 = new ymaps.Placemark(center1);

            ymap0.controls.add('zoomControl');
            ymap0.geoObjects.add(pm0);

            ymap1.controls.add('zoomControl');
            ymap1.geoObjects.add(pm1);
        });
    };
    $.getScript('http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU&onload=___ymapsInfographicLoadCallback');

    $(document).ready(function(){
        $('.cat-health').addClass('current');
    });
</script>
