{# Инфографика Социальная защита населения #}

<div class="sm-infographic i-social">
    <div class="ttl">
        Социальная защита населения
    </div>
    <div class="clear"></div>

    <img src="/bundles/krdopendata/i/infographic/social/0-social_protection.png" />
    <img src="/bundles/krdopendata/i/infographic/social/1-paid.png" />
    <img src="/bundles/krdopendata/i/infographic/social/2-accessible_environment.png" style="margin-top: 20px;" />
    <img src="/bundles/krdopendata/i/infographic/social/3-groups.png" style="margin-top: 60px;" />
    <img src="/bundles/krdopendata/i/infographic/social/4-graphics.png" style="margin-top: 20px;" />
    <img src="/bundles/krdopendata/i/infographic/social/5-institutions.png" style="margin-top: 45px;" />
    <img src="/bundles/krdopendata/i/infographic/social/6-activities_institutions.png" style="margin-top: 40px;" />
    <img src="/bundles/krdopendata/i/infographic/social/7-people_served.png" style="margin-top: 20px;" />

    <div class="clear"></div>
    <div class="button-10">
        <a href="/opendata/list/#!/category-2"></a>
    </div>
</div>
