{# Инфографика Спорт #}

<div class="sm-infographic i-sport">
    <div class="ttl">
        Спорт
    </div>
    <div class="clear"></div>

    <img src="/bundles/krdopendata/i/infographic/sport/0-flower_ball.png" />
    <img src="/bundles/krdopendata/i/infographic/sport/1-development.png" style="margin-top: 20px;" />
    <img src="/bundles/krdopendata/i/infographic/sport/2-participation.png" />
    <img src="/bundles/krdopendata/i/infographic/sport/3-children.png" style="margin-top: 20px;" />
    <img src="/bundles/krdopendata/i/infographic/sport/4-view_map.png" />

    <div class="clear"></div>
    <div class="button-10">
        <a href="/opendata/list/#!/category-4"></a>
    </div>
</div>
