{# Блок редактирования документа #}

{% if document %}
    <div class="headline is-empty has-share-panel clearfix">
        {% spaceless %}
            <div class="share-panel no-selection">
                <div class="item">
                    <i class="icon-share-panel-print" krd-print-tinymce title="{% trans %}Печать документа{% endtrans %}"></i>
                </div>
            </div>
        {% endspaceless %}
    </div>
    <div class="page-title line-d">{{ document.getTitle() }}</div>

    <form class="user-document-detail ajax-form" ng-submit="submit()" ng-controller="UserDocumentDetailCtrl" action="{{ controller_path(44, 'krd_user_documents_document_edit', {id:document.getId()}) }}" method="POST">
        <textarea name="content" data-theme="user" class="tinymce" rows="20">{{ document.getContent() }}</textarea>

        <div class="btn-group clearfix">
            <a href="{{ controller_path(44) }}" class="btn btn-blue">Назад к списку</a>
            <button class="btn btn-deep-blue btn-right">Сохранить</button>
            <button type="reset" class="btn btn-blue btn-right">Сбросить</button>
        </div>
    </form>
{% endif %}
