{# Помощь в разделе #}

<div class="document-help clearfix">
    <div class="item" dialog-show="document-help-save-template">
        <div class="icon">
            <i class="icon-lk-document-help-save"></i>
        </div>
        <div class="w">
            <div class="title">{% trans %}Сохраняйте любую текстовую информацию портала, используя кнопку{% endtrans %}<i class="icon-lk-bookmark-help-zoom"></i></div>
        </div>

        <script type="text/ng-template" id="document-help-save-template">
            <div class="page-title nm d-line">{% trans %}Сохраняйте любую текстовую информацию портала{% endtrans %}</div>
            <img width="959" height="303" src="{{ asset('/bundles/krduser/i/document-help-save.png') }}" />
        </script>
    </div>

    <div class="item" dialog-show="document-help-create-template">
        <div class="icon">
            <i class="icon-lk-document-help-create" style="margin-top:10px;"></i>
        </div>
        <div class="w">
            <div class="title">{% trans %}Создавайте папки и документы для удобства доступа{% endtrans %}<i class="icon-lk-bookmark-help-zoom"></i></div>
        </div>

        <script type="text/ng-template" id="document-help-create-template">
            <div class="page-title nm d-line">{% trans %}Создавайте папки и документы для удобства доступа{% endtrans %}</div>
            <img width="607" height="567" src="{{ asset('/bundles/krduser/i/document-help-create.png') }}" />
        </script>
    </div>

    <div class="item" dialog-show="document-help-edit-template">
        <div class="icon">
            <i class="icon-lk-document-help-edit"></i>
        </div>
        <div class="w">
            <div class="title">{% trans %}Редактируйте документ{% endtrans %}<i class="icon-lk-bookmark-help-zoom"></i></div>
        </div>

        <script type="text/ng-template" id="document-help-edit-template">
            <div class="page-title nm d-line">{% trans %}Редактируйте документ{% endtrans %}</div>
            <img width="960" height="549" src="{{ asset('/bundles/krduser/i/document-help-edit.png') }}" />
        </script>
    </div>

    <div class="item" dialog-show="document-help-controll-template">
        <div class="icon">
            <i class="icon-lk-document-help-controll"></i>
        </div>
        <div class="w">
            <div class="title">{% trans %}Управляйте документами{% endtrans %}<i class="icon-lk-bookmark-help-zoom"></i></div>
        </div>

        <script type="text/ng-template" id="document-help-controll-template">
            <div class="page-title nm d-line">{% trans %}Управляйте документами{% endtrans %}</div>
            <img width="960" height="764" src="{{ asset('/bundles/krduser/i/document-help-controll.png') }}" />
        </script>
    </div>
</div>
