{# Документы в личном кабинете #}

{% if docDirectories %}
    <div class="user-documents clearfix" user-documents data-url-remove="{{ controller_path(44, 'krd_user_documents_document_remove') }}" ng-cloak>
        <div class="btn btn-blue remove-selected-btn">{% trans %}Удалить выбранные элементы{% endtrans %}</div>

        {% for directory in docDirectories %}
            <div class="item close" user-documents-item data-directory-element="{{ directory.getId() }}">
                <div class="directory clearfix" user-documents-editable data-title="{{ directory.getTitle() }}" data-url="{{ controller_path(44, 'krd_user_documents_directory_edit', {id:directory.getId()}) }}">
                    <div class="icon">
                        <i class="icon-content-menu-plus"></i>
                        <i class="icon-content-menu-minus"></i>
                    </div>
                    <div class="directory-name">
                        <input type="checkbox" class="checkbox" data-id="{{ directory.getId() }}" data-type="directory">
                        <div class="real-name">{% raw %}{{ title }} ({{ count() }}){% endraw %}<i class="icon-lk-edit-mini" title="{% trans %}Редактировать{% endtrans %}"></i></div>
                        <div class="edit-name">
                            <textarea ng-model="title_edit" class="name-textarea" textarea-adjust></textarea><i class="icon-lk-edit-confirm-mini" title="{% trans %}Сохранить{% endtrans %}"></i></div>
                    </div>
                </div>

                <div class="documents-list">
                    {% for doc in directory.getDocuments() %}
                        <div class="document" user-documents-editable data-title="{{ doc.getTitle() }}" data-url="{{ controller_path(44, 'krd_user_documents_document_edit', {id:doc.getId()}) }}" data-document-element="{{ doc.getId() }}">
                            <input type="checkbox" class="checkbox" data-id="{{ doc.getId() }}" data-type="document">
                            <div class="date">{{ doc.getCreated()|krd_date_format(true) }}</div>
                            <div class="real-name"><a href="{{ doc.getUrl() }}">{% raw %}{{ title }}{% endraw %}</a><i class="icon-lk-edit-mini" title="{% trans %}Редактировать{% endtrans %}"></i></div>
                            <div class="edit-name">
                                <textarea ng-model="title_edit" class="name-textarea" textarea-adjust></textarea><i class="icon-lk-edit-confirm-mini" title="{% trans %}Сохранить{% endtrans %}"></i></div>
                        </div>
                    {% else %}
                        <div class="text-block">{% trans %}Папка пуста{% endtrans %}</div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="bookmark-help-bottom-slide" style="margin-bottom:30px;">
        <div class="btn-group text-align-right clearfix">
            <div class="btn btn-blue" ng-click="open()">{% trans %}Для чего нужен раздел "документы"?{% endtrans %}</div>
        </div>

        <div class="slide">
            <div class="page-title d-line">{% trans %}Для чего нужен раздел "документы"?{% endtrans %}</div>

            {% include "KrdUserBundle:Module:document/help.html.twig" %}

            <div class="btn-group text-align-center clearfix">
                <a href="/lichnyy-kabinet/pomosch/" class="btn btn-blue">Подробнее</a>
                &nbsp;<div class="btn btn-deep-blue" ng-click="close()">Закрыть</div>
            </div>
        </div>
    </div>
{% else %}
    {% include "KrdUserBundle:Module:document/help.html.twig" %}

    <div class="btn-group text-align-center clearfix" style="margin-bottom:30px;">
        <a href="/lichnyy-kabinet/pomosch/" class="btn btn-blue">Подробнее</a>
    </div>
{% endif %}

{% if searchform is defined %}
    {% include "KrdDocumentBundle:Module:document/norma-search-form.html.twig" with {form:searchform} %}
{% endif %}
