{# Страница списка срочных сообщений #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    <section class="page-content clearfix">

    </section>

    <section class="page-content clearfix">
        {% include "KrdSiteBundle::blocks/breadcrumb.html.twig" %}

        {% if app.request.locale == 'ru' and is_path_exists('krd_subscribe_form') %}
            <div class="headline">
                <div class="share-panel">
                    <div class="item">
                        <div class="subscribe-btn" dialog-show="{{ path('krd_subscribe_form') }}">
                            <div class="ajax-link">{% trans %}Подписка<br/>на новости{% endtrans %}</div>
                            <i class="icon-subscribe"></i></div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="page-title d-line">
            {{ currentNode.getFrontendTitle() }}
        </div>
        {# Выводим модули страницы #}
        {% for module in currentNode.getController().getModules() %}
            {{ appContainer.get(module).renderContent()|raw }}
        {% endfor %}
    </section>

    {% include "KrdSiteBundle::blocks/social-bottom.html.twig" %}
    {% include "KrdSiteBundle::blocks/footer-banners.html.twig" %}
    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}
