<!DOCTYPE html>
<html lang="ru" ng-app="cms">
<head>
    {% block metatags %}
        <meta charset="UTF-8">
        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    {% endblock %}

    {% block stylesheets %}
        <link href="//yandex.st/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">

        {% stylesheets combine=true filter="cssrewrite" output="cms/css/style.css"
                        'bundles/qcore/css/ng-table.css'
                        'bundles/qcore/vendor/bootstrap-select/bootstrap-select.min.css'
                        'bundles/qcore/vendor/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css'
                        'bundles/qcore/css/style.css'
                        'bundles/qfiles/css/style.css'
                        %}
            <link rel="stylesheet" href="{{ asset_url }}" media="all">
        {% endstylesheets %}
    {% endblock %}

    {% block scripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.min.js"></script>
        <script src="//yandex.st/bootstrap/2.3.2/js/bootstrap.min.js"></script>

        {% javascripts  combine=true output="cms/js/script.js"
                        '@QCoreBundle/Resources/public/js/jquery.extends.js'
                        '@QCoreBundle/Resources/public/vendor/bootstrap-select/bootstrap-select.min.js'
                        '@QCoreBundle/Resources/public/vendor/jquery-ui/js/jquery-ui-1.10.3.custom.min.js'
                        '@QCoreBundle/Resources/public/js/vendor/angular-sanitize-1.0.1.js'
                        '@QCoreBundle/Resources/public/js/vendor/angular-ui/*.js'
                        '@QCoreBundle/Resources/public/vendor/jquery.maskedinput.js'
                        '@QCoreBundle/Resources/public/js/vendor/ng-table.js'
                        '@QCoreBundle/Resources/public/js/modules/*'
                        '@QFilesBundle/Resources/public/js/modules/*'

                        '@QFilesBundle/Resources/public/js/app.js'
                        '@QCoreBundle/Resources/public/js/app.js'
                    %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {{ q_elfinder_tinymce_init4() }}
        {{ tinymce_init() }}

        {# Некоторые роуты для передачи их в JS #}
        <script>
            window.Routes = {
                cms_rest_node_byurl: "{{ path('cms_rest_node_byurl') }}"
            };
        </script>

        <!--[if lte IE 9]>
        <script>
            $(function() {
                $('body').html('<h3 style="margin:30px;">Используемый вами браузер устарел. Для использования панели управления, пожалуйта, скачайте и установите <a href="http://google.com/chrome/" target="_blank">Google Chrome</a></h3>');
            });
        </script>
        <![endif]-->
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% block header %}
        <header class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <a class="brand" href="/" target="_blank" title="{{ appConfig.getTitle() }}">{{ app.request.getHost() }}</a>

                <nav class="navbar-content" cms-navigation>
                    <ul class="nav">
                        {% for item in navigation.getAllGranted() %}
                            <li class="{% if item.hasSubItems() %} dropdown{% endif %}{% if app.request.getPathInfo() == item.getLink() %} active{% endif %}">
                                <a href="{{ item.getLink() }}" target="_self"{% if item.hasSubItems() %} data-toggle="dropdown"{% endif %}>
                                    {{ item.getTitle() }}{% if item.hasSubItems() %} <b class="caret"></b>{% endif %}
                                </a>

                                {% if item.hasSubItems() %}
                                    <ul class="dropdown-menu">
                                        {% for sItem in item.getSubItems() %}
                                            {% if sItem.url is not defined %}
                                                <li class="divider"></li>
                                            {% else %}
                                                <li>
                                                    <a href="{{ sItem.url }}" target="_self">{{ sItem.title }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </nav>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <nav class="btn-group pull-right">
                        <a href="/cms/profile/#!/user/edit/{{ app.user.getId() }}" class="btn btn-inverse" target="_self" title="{{ app.user.getFullName() }}">
                            <i class="icon-white icon-user"></i> {{ app.user.username }}
                        </a>

                        <a href="{{ path("fos_user_security_logout") }}" class="btn btn-inverse" target="_self" title="{{ 'security.logout.submit'|trans }}">
                            <i class="icon-white icon-off"></i>
                        </a>
                    </nav>
                {% endif %}
            </div>
        </header>

        <div class="header-padding clearfix"></div>
    {% endblock %}

    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>

    <div class="notification-list" ng-controller="NotificationCtrl" ng-show="alerts.length > 0">
        {% for flashMessage in app.session.flashbag.get('cms', []) %}
            <span ng-init="alerts.push({id:0, msg:'{{ flashMessage }}', type:'info'})"></span>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('cms-error', []) %}
            <span ng-init="alerts.push({id:1000, msg:'{{ flashMessage }}', type:'error'})"></span>
        {% endfor %}

        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
            {% raw %}{{alert.msg}}{% endraw %}
        </alert>
    </div>
</body>
</html>
