{# Комментарии кабинета #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    <section class="page-content">
        {# Выводим модули страницы #}
        {% for module in currentNode.getController().getModules() %}
            {{ appContainer.get(module).renderContent()|raw }}
        {% endfor %}
    </section>

    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}
