{# Список последних комментариев #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    <section class="page-content">
        {% include "KrdSiteBundle::blocks/breadcrumb.html.twig" %}

        <div class="page-title">{% trans %}Ваши комментарии{% endtrans %}</div>

        {% set list = appContainer.get('krd.user.modules.comments').getMyComments(10) %}

        {% if list|length > 0 %}
            <div class="items-list bordered clearfix" id="comments-list">
                {% for item in list %}
                    <div class="item">
                        <div class="w">
                            <div class="headline clearfix">
                                <div class="date">{{ item.getCreated()|krd_date_format(true) }}</div>
                                <div class="theme">{{ item|comment_category }}</div>
                                <div class="comment">{{ appContainer.get('krd.user.modules.comments').getCountByPage(item.getPage())|declension(['комментарий'|trans, 'комментария'|trans, 'комментариев'|trans], true) }}</div>
                            </div>
                            <a href="{{ item.getUrl() }}" class="title">{{ item.getPageTitle()|truncate(270) }}</a>
                            <div class="text-block">{{ item.getContent()|truncate(270) }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="btn-group clearfix">
                {% if list.getPageCount() > 1 %}
                    <div class="btn btn-blue btn-block btn-block-90 next-page" more-btn="comment-list-item" more-btn-body="comments-list" url="{{ path('krd_user_comments_list_my_ajax') }}">{% trans %}Показать еще{% endtrans %}</div>
                {% endif %}
                <a href="{{ controller_path(49, 'krd_user_comments') }}" class="btn btn-deep-blue btn-block-btn btn-block-10">Вернуться</a>
            </div>

            {% raw %}
            <script type="text/ng-template" id="comment-list-item">
                <div class="item">
                    <div class="w">
                        <div class="headline clearfix">
                            <div class="date">{{ item.created }}</div>
                        </div>
                        <a href="{{ item.url }}" class="title">{{ item.page_title }}</a>
                        <div class="text-block">{{ item.content }}</div>
                    </div>
                </div>
            </script>
            {% endraw %}
        {% else %}
            <div class="text-block">{% trans %}На сайте пока нет комментариев.{% endtrans %}</div>
        {% endif %}
    </section>

    {% include "KrdSiteBundle::blocks/social-bottom.html.twig" %}
    {% include "KrdSiteBundle::blocks/footer-banners.html.twig" %}
    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}
