/** Documents menu **/
.documents-menu {margin-top:0; -webkit-transition:0.1s margin linear; -moz-transition:0.1s margin linear; -o-transition:0.1s margin linear; -ms-transition:0.1s margin linear; transition:0.1s margin linear;}
.documents-menu.floating {z-index:1000; background:#fff;}
.documents-menu > ul {display:block; height:71px;}
    .documents-menu > ul > li {float:left;}
        .documents-menu > ul > li > .hoverable > s {display:inline-block; height:71px; width:0; vertical-align:middle;}
        .documents-menu > ul > li > .hoverable > i {display:inline-block; vertical-align:middle; margin-right:15px;}
        .documents-menu > ul > li > .hoverable > .title-text {display:inline-block; vertical-align:middle; font-size:15px; text-transform:uppercase; color:#fff; font-family:'Roboto'; text-decoration:none; text-shadow:-1px -1px 0 rgba(0,0,0,0.5); white-space:normal; padding-right:20px;}
        .documents-menu > ul > li > .hoverable {cursor:pointer; display:block; height:71px; background:#264c64; padding:0 20px; white-space:nowrap;}
        .documents-menu > ul > li > .hoverable:hover {background: #0b82b7;
background: -moz-linear-gradient(top,  #0b82b7 0%, #09689f 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0b82b7), color-stop(100%,#09689f));
background: -webkit-linear-gradient(top,  #0b82b7 0%,#09689f 100%); background: -o-linear-gradient(top,  #0b82b7 0%,#09689f 100%); background: -ms-linear-gradient(top,  #0b82b7 0%,#09689f 100%); background: linear-gradient(to bottom,  #0b82b7 0%,#09689f 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b82b7', endColorstr='#09689f',GradientType=0 );}
        .documents-menu > ul > li > .hoverable:hover .ajax-link {text-decoration:none; border-bottom:none;}
        .documents-menu > ul > li:nth-child(1) {width:219px;}
        .documents-menu > ul > li:nth-child(2) {width:278px;}
        .documents-menu > ul > li:nth-child(3) {width:235px;}
        .documents-menu > ul > li:nth-child(4) {width:268px;}
        .documents-menu > ul > li > .active {background:#f5f5f5 !important;position:relative; border:1px solid #d8dbdd; margin:0 1px;}
        .documents-menu > ul > li:first-child > .active {margin-left:0;}
        .documents-menu > ul > li:last-child > .active {margin-right:0;}
            .documents-menu > ul > li > .active .title-text {color:#083857; text-decoration:none; text-shadow:none;}
            .documents-menu > ul > li > .active:after {content:''; display:block; position:absolute; left:0; bottom:-6px; right:0; height:10px; background:#f5f5f5;}
            .documents-menu.floating > ul > li > .active:after {display:none;}

/** Documents preview **/
.documents-preview {border:1px solid #d8dbdd; background:#f5f5f5; padding:15px 20px; margin:1px 0 10px 0; display:none;}
    .documents-preview .items-list .item .items-list .item .page-title {font-size:16px;}
