<div id="aside-menu"{% if not app.request.cookies.has('aside-menu-hint') %} class="open"{% endif %}>
    <div class="control">
        <div class="action"></div>
        {% if not app.request.cookies.has('aside-menu-hint') %}
            <div class="hint"></div>
        {% endif %}
    </div>

    <div class="w">
        <ul class="list">
            {% for item in menu %}
                <li {% if item.getMenuActive() %} class="active"{% endif %}>
                    <a href="{{ item.getUrl(true) }}"{% if item.isExternalUrl() %} target="_blank"{% endif %}>{{ item.getFrontendTitle() }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>