{# Фронтэнд модуля Контент #}

{% for item in content %}
    <article class="text-block clearfix">
        {% if item.hasImages() %}
            {% if item.getImages()|length > 1%}
                <div class="icons-slider img-left">
                    {% for image in item.getImages() %}
                        <a href="{{ image.getUrl('fancybox') }}" class="item fancybox" title="{{ image.getTitle() }}" rel="content-{{ item.getId() }}">
                            <img src="{{ image.getUrl('icons_slider') }}" alt="{{ image.getTitle() }}">
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <a href="{{ item.getImages().0.getUrl('fancybox') }}" class="img-left fancybox">
                    <img src="{{ item.getImages().0.getUrl('icons_slider') }}" alt="{{ item.getImages().0.getTitle() }}">
                </a>
            {% endif %}
        {% endif %}

       {{ item.getContent()|raw }}

       {% if not item.getHidedate() and item.getContent() is not empty %}
            <div class="tb-modify">
                {% trans %}Дата размещения{% endtrans %}: <b>{{ item.getCreated()|krd_date_format(true) }}</b>
            </div>
       {% endif %}
    </article>

    {% if item.hasFiles() %}
        {% include "KrdSiteBundle::Module/content/files.html.twig" with {files:item.getFiles()} %}
    {% endif %}
{% endfor %}
