{# Глубокоуровневое меню #}

{% if menu is not empty %}
    <div class="deep-content-menu">
        {% for item in menu %}
            {% set itemFiles = appContainer.get('krd.site.modules.content').getFilesForNode(item) %}
            {% set canExpand = (item.inMenu('content-menu-top') or item.inMenu('content-menu-bottom')) and ((item.getMenuChildren() is not empty) or (itemFiles is not empty)) %}

            {% if canExpand %}
                <div class="item close" deep-content-menu-item>
                    <div class="wrap-icon clearfix">
                        <div class="icon">
                            <i class="icon-content-menu-plus"></i>
                            <i class="icon-content-menu-minus"></i>
                        </div>
                        <a href="{{ item.getUrl(true) }}"{% if item.isExternalUrl() %} target="_blank"{% endif %}
                           class="title">{{ item.getFrontendTitle() }}</a>
                    </div>

                    <div class="text-block clearfix">
                        <ul class="bordered">
                            {% for subItem in item.getMenuChildren() %}
                                <li>
                                    <a href="{{ subItem.getUrl(true) }}"{% if subItem.isExternalUrl() %} target="_blank"{% endif %}>{{ subItem.getFrontendTitle() }}</a>
                                </li>
                            {% endfor %}
                        </ul>

                        {% if itemFiles is not empty %}
                            {% include "KrdSiteBundle::Module/content/files.html.twig" with {files:itemFiles} %}
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <a class="item close" href="{{ item.getUrl(true) }}"{% if item.isExternalUrl() %} target="_blank"{% endif %}>
                    <span class="wrap-icon clearfix">
                        <span class="icon">
                            <i class="icon-content-link"></i>
                        </span>
                        <span class="title">{{ item.getFrontendTitle() }}</span>
                    </span>
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
