{# Контентные блоки на странице департамента #}

{% for item in content %}
    <div class="block">
        <article class="text-block">
            {% if item.hasImages() %}
                <img src="{{ item.getMainImage().getUrl('departament_content') }}" alt="{{ item.getMainImage().getTitle()|default(item.getTitle()) }}" style="float:left;" >
            {% endif %}

            <div class="page-title mini">{{ item.getTitle() }}</div>

           {{ item.getContent()|raw }}
        </article>
    </div>
{% endfor %}
