{# Блок контактов на главной странице департамента #}

{% if content is not empty %}
    {% for item in content %}
        <article class="text-block contacts-block">
            <div class="page-title mini">{{ item.getTitle() }}</div>

           {{ item.getContent()|raw }}

           {% if (node is not empty) and (loop.last) %}
                <div class="btn-group">
                    <a href="{{ node.getUrl(true) }}" class="btn btn-blue">Все контакты</a>
                </div>
            {% endif %}
        </article>
    {% endfor %}
{% endif %}
