{# Список файлов для скачивания #}

<section class="files-list clearfix">
    {% for item in files %}
        <article class="item">
            <a href="{{ item.getFile().path }}" class="icon-file icon-file-{{ item.getFileType() }}"></a>
            <div class="headline clearfix">
                <div class="date">{{ item.getDate()|krd_date_format(true) }}</div>
                <div class="theme">{{ item.getFile().size|filesize }}</div>
            </div>
            <a href="{{ item.getFile().path }}" class="title">{{ item.getTitle() }}</a>
        </article>
    {% endfor %}
</section>
