{# Внутриконтентное меню #}

{% if not menu is empty %}
    <nav class="content-menu">
        <ul class="clearfix">
            {% for item in menu %}
                <li{% if item.getMenuActive() %} class="active"{% endif %}>
                    <a href="{{ item.getUrl(true) }}"{% if item.isExternalUrl() %} target="_blank"{% endif %}>{{ item.getFrontendTitle() }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}
