{# Подробное отображение онлайн конференции #}

<div class="headline clearfix">
    <div class="date">{{ item.getDateStart()|krd_date_format }}</div>
    <div class="theme">с {{ item.getDateStart().format('H:i') }} до {{ item.getDateEnd().format('H:i') }}</div>
</div>

<div class="page-title d-line">{{ item.getTitle() }}</div>

<div class="text-block clearfix">
    {% for image in item.getHumansBigPhotos %}
        <a href="{{ item.getUrl() }}" title="{{ item.getTitle() }}">
            <img src="{{ image.getUrl('photo_preview') }}" alt="{{ image.getTitle()|default('') }}" class="img-left">
        </a>
    {% endfor %}

    {{ item.getContent()|raw }}

    {% for human in item.getHumansWithLink() %}
        <a href="{{ human.getUrl() }}" class="btn btn-blue" multi-width="personal-human-link">{% if human.hasLinkTitle() %}{{ human.getLinkTitle() }}{% else %}{% trans %}Персональная страница{% endtrans %} {{ human.getFioShort() }}{% endif %}</a>
        {% if not loop.last %}
            <br><br>
        {% endif %}
    {% endfor %}
</div>

{# Список баннеров партнеров #}
{% if item.hasPartners() %}
    <div class="page-title mini d-line-top">{% trans %}Информационные партнеры{% endtrans %}</div>

    <section class="online-partners-list">
        <table>
            <tr>
                {% for partner in item.getPartners() %}
                    <td>
                        <a href="{{ partner.getUrl() }}" title="{{ partner.getTitle() }}"{% if partner.getBlank() %} target="_blank"{% endif %}>
                            <img src="{{ partner.getMainImage().getFile().path }}" alt="{{ partner.getTitle() }}">
                        </a>
                    </td>
                {% endfor %}
            </tr>
        </table>
    </section>
{% endif %}

{# Форма добавления вопроса #}
{% if questionForm is defined %}
    {{ form_start(questionForm, {method:'POST', attr:{class:'stylized ajax-form no-bottom-border', id:'conference-question-form', 'ng-submit':'submit()', 'ng-controller':'conferenceQuestionFormCtrl', novalidate:''}}) }}
        <div class="page-title mini d-line-top" data-success="{% trans %}Спасибо, Ваш вопрос успешно отправлен{% endtrans %}">{% trans %}Начат прием вопросов{% endtrans %}</div>

        {{ form_row(questionForm._token) }}
        {{ form_row(questionForm.parent) }}

        <div class="form-row x1">
            <div class="cell clearfix">
                <div class="label">{% trans %}Введите ваше имя{% endtrans %}:*</div>
                {{ form_widget(questionForm.fioask, {attr:{placeholder:'Мы рекомендуем заполнить полностью имя, фамилию и отчество'|trans}}) }}
            </div>
        </div>

        <div class="form-row x1">
            <div class="cell clearfix">
                <div class="label">{% trans %}Ваш вопрос{% endtrans %}:*</div>
                {{ form_widget(questionForm.question, {attr:{placeholder:'Напишите Ваш вопрос, стараясь формулировать его наиболее точно и полно'|trans}}) }}
            </div>
        </div>

        <div class="form-row x1">
            <div class="cell clearfix text-align-right">
                <button type="submit" class="btn btn-blue">{% trans %}Отправить{% endtrans %}</button>
            </div>
        </div>
    {{ form_end(questionForm) }}
{% endif %}

{# Список опубликованных вопросов #}
{% if item.hasActiveQuestions() %}
    {% if app.user and is_granted('ROLE_USER') %}
        <div class="tabs-switcher x2 clearfix" tabs-switcher>
            <div class="item" data-target="all-questions-list-{{ item.getId() }}">{% trans %}Вопросы конференции{% endtrans %}</div>
            <div class="item" data-target="my-questions-list-{{ item.getId() }}">{% trans %}Ваши вопросы{% endtrans %}</div>
        </div>
    {% else %}
        <div class="page-title mini d-line-top">{% trans %}Вопросы конференции{% endtrans %}</div>
    {% endif %}

    <section class="items-list clearfix" id="all-questions-list-{{ item.getId() }}">
        {% for question in item.getActiveQuestions() %}
            {% include "KrdConferenceBundle:Module:online/question-item.html.twig" with {question:question} %}
        {% endfor %}
    </section>

    {% if app.user and is_granted('ROLE_USER') %}
        <section class="items-list clearfix" id="my-questions-list-{{ item.getId() }}">
            {% for question in item.getMyQuestions() %}
                {% include "KrdConferenceBundle:Module:online/question-item.html.twig" with {question:question} %}
            {% endfor %}
        </section>
    {% endif %}
{% endif %}
