{# Шаблон элемента конференции для AngularJS #}

{% raw %}
<script type="text/ng-template" id="conference-online-list-item">
    <article class="item clearfix">
        <a ng-repeat="image in item.humans_photos" href="{{ item.url }}" class="icon" title="{{ item.title }}" ng-show="!!item.humans_photos">
            <img ng-src="{{ image.size.111x148 }}" alt="{{ item.title }}">
        </a>

        <div class="w">
            <div class="headline clearfix">
                <div class="date">{{ item.datestart }}</div>
                <div class="label-2" ng-if="item.my_questions_count>0"><i class="icon-question-mini-white"></i>{{ item.my_questions_count }} {% endraw %}{% trans %}вопроса{% endtrans %}{% raw %}</div>
            </div>
            <a href="{{ item.url }}" class="title">{{ item.title }}</a>
            <div class="text-block" ng-show="item.announce" ng-bind-html="item.announce"></div>
        </div>
    </article>
</script>
{% endraw %}
