{# Элемент списка онлайн конференции #}

{% if photos is not defined %}
    {% set photos = 'normal' %}
{% endif %}

<article class="item clearfix">
    {% if photos == 'big' and item.getHumansBigPhotos()|length > 0 %}
        {% for image in item.getHumansBigPhotos() %}
            <a href="{{ item.getUrl() }}" class="icon" title="{{ image.getTitle()|default('') }}">
                <img src="{{ image.getUrl('photo_preview') }}" width="225" height="294" alt="{{ image.getTitle()|default('') }}">
            </a>
        {% endfor %}
    {% endif %}

    {% if photos == 'normal' and item.getHumansBigPhotos()|length > 0 %}
        {% for image in item.getHumansPhotos() %}
            <a href="{{ item.getUrl() }}" class="icon" title="{{ image.getTitle()|default('') }}">
                <img src="{{ image.getUrl('111x148') }}" alt="{{ image.getTitle()|default('') }}">
            </a>
        {% endfor %}
    {% endif %}

    <div class="w">
        <div class="headline clearfix">
            <div class="date">{{ item.getDateStart()|krd_date_format }}</div>
            {% if (notime is not defined) or (not notime) %}
                <div class="theme">{% trans %}с{% endtrans %} {{ item.getDateStart().format('H:i') }} {% trans %}до{% endtrans %} {{ item.getDateEnd().format('H:i') }}</div>
            {% endif %}
            {% if item.hasMyQuestions() %}
                <div class="label-2"><i class="icon-question-mini-white"></i>{{ item.countMyQuestions()|declension(['вопрос'|trans, 'вопроса'|trans, 'вопросов'|trans], true) }}</div>
            {% endif %}
        </div>
        <a href="{{ item.getUrl() }}" class="title">{{ item.getTitle() }}</a>
        <div class="text-block">{{ item.getAnnounce()|raw }}</div>
        {% if photos == 'big' %}
            <div class="btn-group text-align-right">
                <a href="{{ item.getUrl() }}#conference-question-form" class="btn btn-blue">{% trans %}Написать вопрос{% endtrans %}</a>
            </div>
        {% endif %}
    </div>
</article>
