{# Список онлайн конференций #}

{% if itemsFuture is not empty %}
    <div class="page-title mini">Анонс конференций</div>

    <section class="items-list online-list online-future">
        {% for item in itemsFuture %}
            {% include 'KrdConferenceBundle:Module:online/list-item.html.twig' with {item:item, photos:'big'} %}
        {% endfor %}
    </section>
{% endif %}

{% if itemsPast is not empty %}
    <div class="page-title mini{% if itemsFuture is not empty %} d-line-top{% endif %}">Прошедшие конференции</div>

    <section class="items-list online-list online-past">
        {% for item in itemsPast %}
            {% include 'KrdConferenceBundle:Module:online/list-item.html.twig' with {item:item, photos:'normal', notime:true} %}
        {% endfor %}
    </section>
{% endif %}

{% if itemsPast.getPageCount() > 1 %}
    <div class="btn btn-blue btn-block next-page" more-btn="conference-online-list-item" url="{{ path('ajax_conference_online_list', {'parent':currentNode.getId()}) }}">Показать еще конференции</div>
{% endif %}

{% include 'KrdConferenceBundle:Module:online/list-item-template.html.twig' %}
