{# Вопрос конференции #}

<article class="item conference-question-item" id="conference-online-question-{{ question.getId() }}">
    <div class="headline clearfix">
        <a href="{{ question.getUrl() }}" class="type">
            <i class="icon-question-mini-white"></i>
        </a>
        <div class="date">
            {{ question.getDateAsk()|krd_date_format(true) }}
        </div>
        <div class="title">{{ question.getFioAsk() }}</div>
    </div>
    <div class="text-block">
        {{ question.getQuestion()|raw }}
    </div>

    {% if question.hasReply() %}
        <div class="reply clearfix">
            {% for photo in question.getHumansPhotos() %}
                <div class="icon" title="{{ photo.getTitle() }}">
                    <img src="{{ photo.getUrl('111x148') }}" alt="{{ photo.getTitle() }}">
                </div>
            {% endfor %}

            <div class="w">
                <div class="headline clearfix">
                    <div class="type">
                        <i class="icon-reply-mini-white"></i>
                    </div>
                    <div class="date">
                        {{ question.getDateReply()|krd_date_format(true) }}
                    </div>
                    <div class="title">{{ question.getReplyTitle() }}</div>
                </div>
                <div class="text-block">
                    {{ question.getReply()|raw }}
                </div>
            </div>
        </div>
    {% endif %}
</article>
