{# Виджет онлайн-конференций для главной страницы сайта #}

{% spaceless %}
<div class="item widget-conference-online" multi-height="index-widgets">
    <div class="title"><i class="icon-conference-online"></i>Онлайн конференция</div>

    <div class="ww">
        <i></i><div class="w">
            {% if conference.getHumansPhotos()|length > 0 %}
                <div class="photos">
                    {% for photo in conference.getHumansPhotos() %}
                        <a href="{{ conference.getUrl() }}">
                            <img src="{{ photo.getUrl('90x118') }}" width="90" height="118" alt="{{ photo.getTitle() }}">
                        </a>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="headline clearfix">
                <div class="date">{{ conference.getDateStart()|krd_date_format(true) }}</div>
            </div>

            <a href="{{ conference.getUrl() }}" class="title">{{ conference.getTitle() }}</a>
        </div>
    </div>

    <div class="btn-group">
        <a href="{{ conference.getUrl() }}" class="btn btn-blue">Подробнее</a>
    </div>
</div>
{% endspaceless %}
