{# Админская часть модуля Human #}

<h3>Список людей</h3>

<tabs>
    <pane heading="Список" url="/human/">
        <div entity-list="{{ path('cms_rest_krd_human') }}:id?parent={{ currentNode.getId() }}" url="/human/" columns="{id:{title:'#'}, fio:{title:'ФИО'}, parent_human:{title:'Руководитель', modifier:'el_object', by:'fio'}, active:{title:'Активность', isBoolean:true}, showlink:{title:'Выводить ссылку в онлайн-конференциях?', isBoolean:true}}" btn-add="Добавить" count="10" sortable></div>
    </pane>

    <ghostpane heading="Добавление" url="/human/create/" parent="0" template="{{ path('cms_rest_krd_human_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Редактирование #{id}" url="/human/edit/{id}" parent="0" template="{{ path('cms_rest_krd_human_form_add') }}{id}"></ghostpane>
</tabs>
