{# Админская часть модуля Mayor #}

<h3>Руководители города</h3>

<tabs>
    <pane heading="Список" url="/mayor/">
        <div entity-list="{{ path('cms_rest_krd_administration_mayor') }}:id?parent={{ currentNode.getId() }}" url="/mayor/" columns="{id:{title:'#'}, fio:{title:'ФИО'}, announce:{title:' '}, active:{title:'Активность', isBoolean:true}}" btn-add="Добавить" count="10" sortable></div>
    </pane>

    <ghostpane heading="Добавление" url="/mayor/create/" parent="0" template="{{ path('cms_rest_krd_administration_mayor_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Редактирование #{id}" url="/mayor/edit/{id}" parent="0" template="{{ path('cms_rest_krd_administration_mayor_form_add') }}{id}"></ghostpane>
</tabs>
