{# Страница учреждения #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    <section class="page-content">
        {% include "KrdSiteBundle::blocks/breadcrumb.html.twig" %}

        <div class="page-title">{{ currentNode.getFrontendTitle() }}</div>

        {{ appContainer.get('krd.opendata.modules.opendata').renderCategoryFilter()|raw }}

        {% set item = appContainer.get('krd.opendata.modules.opendata').getCurrent() %}

        <div class="page-title">{{ item.title }}</div>

        <!-- Detail info -->
        {% if item.photos is empty %}
            <div class="sm-place-details" data-id="{{ item.id }}">
                <div class="qr-code">
                    <img src="http://api.qrserver.com/v1/create-qr-code/?data={{ item.qrcodedata }}&size=148x148&margin=0" alt="QR Code" />
                </div>

                <div style="overflow:hidden;">
                    <h3 class="place-title">{{ item.title }}</h3>

                    <div class="some-info">
                        <div class="r">
                            <span class="ttl">Оценка:</span> <span class="place-rating{% if item.ratingDisabled %} disabled{% endif %}" data-rate="{{ item.rating }}" data-id="{{ item.id }}"></span>
                        </div>
                        <div class="r">
                            <span class="ttl">Категория:</span> {{ item.subcategory_txt }}
                        </div>
                        <div class="r">
                            <span class="ttl">Адрес:</span> {{ item.address }}
                        </div>
                        <div class="r">
                            <span class="ttl">Телефон:</span> {{ item.phone }}
                        </div>
                    </div>

                    <div class="text-block">{{ item.content|raw }}</div>
                </div>

                <div class="clear"></div>

                <div class="btn-group text-align-right">
                    <a href="javascript:$.noop();" class="error-report btn btn-deep-blue" style="margin-right:5px;">Сообщить об ошибке</a>
                    <a href="/opendata/list/#!/category-{{ item.cat }}" class="btn btn-deep-blue">Вернуться к списку</a>
                </div>
            </div>
        {% else %}
            <div class="clearfix">
                <div class="icons-slider img-left" style="float:left; margin:0 20px 20px 0;">
                    {#% for video in item.getVideoConverted() %}
                        <div class="item">
                            {% include "KrdSiteBundle:blocks:video.html.twig" with {size:'news_preview', video:video} %}
                        </div>
                    {% endfor %#}

                    {% for image in item.photos %}
                        <a href="http://krd.ru{{ image.full }}" class="item fancybox" title="{{ image.title }}" rel="sm-{{ item.id }}">
                            <img src="http://krd.ru{{ image.full }}" alt="{{ image.title }}">
                        </a>
                    {% endfor %}
                </div>

                <div class="sm-place-details" data-id="{{ item.id }}" style="overflow:hidden; padding-top:0;">
                    <div class="qr-code" style="float:none;">
                        <img src="http://api.qrserver.com/v1/create-qr-code/?data={{ item.qrcodedata }}&size=148x148&margin=0" alt="QR Code" />
                    </div>

                    <div class="some-info">
                        <div class="r">
                            <span class="ttl">Оценка:</span> <span class="place-rating{% if item.ratingDisabled %} disabled{% endif %}" data-rate="{{ item.rating }}" data-id="{{ item.id }}"></span>
                        </div>
                        <div class="r">
                            <span class="ttl">Категория:</span> {{ item.subcategory_txt }}
                        </div>
                        <div class="r">
                            <span class="ttl">Адрес:</span> {{ item.address }}
                        </div>
                        <div class="r">
                            <span class="ttl">Телефон:</span> {{ item.phone }}
                        </div>
                    </div>
                </div>

                <div class="clear"></div>

                <div class="text-block">{{ item.content|raw }}</div>

                <div class="btn-group text-align-right">
                    <a href="javascript:$.noop();" class="error-report btn btn-deep-blue" style="margin-right:5px;">Сообщить об ошибке</a>
                    <a href="/opendata/list/#!/category-{{ item.cat }}" class="btn btn-deep-blue">Вернуться к списку</a>
                </div>
            </div>
        {% endif %}
        <!-- // Detail info -->

        <!-- yandex.map -->
        <div class="sm-map-wrap">
            <div id="socialmap"></div>
        </div>
        <!-- // yandex.map -->
    </section>

    {% include "KrdSiteBundle::blocks/social-bottom.html.twig" %}
    {% include "KrdSiteBundle::blocks/footer-banners.html.twig" %}
    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}

{% block addstyles %}
    {% stylesheets  filter="cssrewrite, ?catchamonkey_cssmin" output="css/style.opendata.css"
                    'bundles/krdopendata/css/style.css'
                    %}
        <link rel="stylesheet" href="{{ asset_url }}" media="all">
    {% endstylesheets %}
{% endblock %}

{% block addscripts %}
    {% javascripts  output="js/script.opendata.js"
                    '@KrdOpendataBundle/Resources/public/js/backbone/underscore-min.js'
                    '@KrdOpendataBundle/Resources/public/js/backbone/backbone.min.js'
                    '@KrdOpendataBundle/Resources/public/js/jquery.tmpl.min.js'
                    '@KrdOpendataBundle/Resources/public/js/jquery.textchange.min.js'
                    '@KrdOpendataBundle/Resources/public/js/jquery.ba-outside-events.min.js'
                    '@KrdOpendataBundle/Resources/public/js/ymap.js'
                    '@KrdOpendataBundle/Resources/public/js/results.js'
                    '@KrdOpendataBundle/Resources/public/js/base-classes.js'
                    '@KrdOpendataBundle/Resources/public/js/stars.js'
                    '@KrdOpendataBundle/Resources/public/js/error-report.js'
                    '@KrdOpendataBundle/Resources/public/js/script.js'
                    '@KrdOpendataBundle/Resources/public/js/export.js'
                %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        var __categoriesList = {{ appContainer.get('krd.opendata.modules.opendata').getCategories()|serialize('json')|raw }};
        var __regionsList = {{ appContainer.get('krd.opendata.modules.opendata').getRegions()|serialize('json')|raw }};
        var __placesList = {{ appContainer.get('krd.opendata.modules.opendata').getPlaces()|serialize('json')|raw }};
    </script>

    {% include "KrdOpendataBundle:Module:opendata/tmpl.html.twig" %}
{% endblock %}
