{# Главная страница открытых данных #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    <section class="page-content">
        {% include "KrdSiteBundle::blocks/breadcrumb.html.twig" %}

        <div class="page-title">{{ currentNode.getFrontendTitle() }}</div>

        {{ appContainer.get('krd.opendata.modules.opendata').renderIndexContent()|raw }}
        {{ appContainer.get('krd.site.modules.content').renderContent()|raw }}
    </section>

    {% include "KrdSiteBundle::blocks/social-bottom.html.twig" %}
    {% include "KrdSiteBundle::blocks/footer-banners.html.twig" %}
    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}

{% block addstyles %}
    {% stylesheets  filter="cssrewrite, ?catchamonkey_cssmin" output="css/style.opendata.css"
                    'bundles/krdopendata/css/style.css'
                    %}
        <link rel="stylesheet" href="{{ asset_url }}" media="all">
    {% endstylesheets %}
{% endblock %}

{% block addscripts %}
    {% javascripts  output="js/script.opendata.js"
                    '@KrdOpendataBundle/Resources/public/js/backbone/underscore-min.js'
                    '@KrdOpendataBundle/Resources/public/js/backbone/backbone.min.js'
                    '@KrdOpendataBundle/Resources/public/js/jquery.tmpl.min.js'
                    '@KrdOpendataBundle/Resources/public/js/jquery.textchange.min.js'
                    '@KrdOpendataBundle/Resources/public/js/jquery.ba-outside-events.min.js'
                    '@KrdOpendataBundle/Resources/public/js/ymap.js'
                    '@KrdOpendataBundle/Resources/public/js/results.js'
                    '@KrdOpendataBundle/Resources/public/js/base-classes.js'
                    '@KrdOpendataBundle/Resources/public/js/stars.js'
                    '@KrdOpendataBundle/Resources/public/js/error-report.js'
                    '@KrdOpendataBundle/Resources/public/js/script.js'
                    '@KrdOpendataBundle/Resources/public/js/export.js'
                %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        var __categoriesList = {{ appContainer.get('krd.opendata.modules.opendata').getCategories()|serialize('json')|raw }};
        var __regionsList = {{ appContainer.get('krd.opendata.modules.opendata').getRegions()|serialize('json')|raw }};
        var __placesList = {{ appContainer.get('krd.opendata.modules.opendata').getPlaces()|serialize('json')|raw }};
    </script>

    {% include "KrdOpendataBundle:Module:opendata/tmpl.html.twig" %}
{% endblock %}
