{# Инфографика #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    <section class="page-content">
        {% include "KrdSiteBundle::blocks/breadcrumb.html.twig" %}

        <div class="page-title">{{ currentNode.getFrontendTitle() }}</div>

        {{ appContainer.get('krd.opendata.modules.opendata').renderCategoryFilter()|raw }}

        <!-- Some filters -->
        <div class="sm-filter-select">
            <div class="left-block">
                <div class="ttl">Фильтры<a href="#" class="reset-filter">(сбросить)</a>:</div>
                <select name="subcategory">
                    <option value="-1">-- Выберите подраздел --</option>
                </select>
                <select name="region">
                    <option value="-1">-- Выберите район города --</option>
                </select>
                <div class="clear"></div>
            </div>

            <div class="right-block">
                <!-- Text search -->
                <div class="ttl">Поиск:</div>
                <div class="sm-textsearch-wrap">
                    <input type="text" class="sm-text-search" placeholder="Введите название объекта или адрес" /><a href="javascript:$.noop();" class="btn btn-blue">Найти</a>
                    <a href="#" class="sm-t-clear hidden"></a>
                    <div class="sm-t-hint-list hidden"></div>
                </div>
                <!-- // Text search -->
                <div class="clear"></div>
            </div>

            <div class="clear"></div>
        </div>
        <!-- // Some filters -->

        <!-- yandex.map -->
        <div class="sm-map-wrap">
            <div id="socialmap"></div>
        </div>
        <!-- // yandex.map -->

        <!-- Результаты поиска -->
        <div class="sm-results">
            <div class="ttl" data-fail="По вашему запросу ничего не найдено">Список объектов, представленных на карте</div>
            <div class="sm-r-list"></div>

            <div class="sm-r-pages">
                <span class="pages-title">Страницы:</span>
                <div class="pages-list">
                    <a href="#" class="l btn btn-blue page-link">...</a>

                    <div class="float-wrap">
                        <div class="w"></div>
                    </div>

                    <a href="#" class="r btn btn-blue page-link">...</a>
                </div>

                <a href="#!/export-" class="export button btn btn-deep-blue">Экспорт данных</a>
                <a href="#" class="error-report button btn btn-deep-blue" style="margin-right:5px;">Сообщить об ошибке</a>
                <div class="clear"></div>
            </div>
        </div>
        <!-- // Результаты поиска -->
    </section>

    {% include "KrdOpendataBundle:Module:opendata/error-window.html.twig" %}

    {% include "KrdSiteBundle::blocks/social-bottom.html.twig" %}
    {% include "KrdSiteBundle::blocks/footer-banners.html.twig" %}
    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}

{% block addstyles %}
    {% stylesheets  filter="cssrewrite, ?catchamonkey_cssmin" output="css/style.opendata.css"
                    'bundles/krdopendata/css/style.css'
                    %}
        <link rel="stylesheet" href="{{ asset_url }}" media="all">
    {% endstylesheets %}
{% endblock %}

{% block addscripts %}
    {% javascripts  output="js/script.opendata.js"
                    '@KrdOpendataBundle/Resources/public/js/backbone/underscore-min.js'
                    '@KrdOpendataBundle/Resources/public/js/backbone/backbone.min.js'
                    '@KrdOpendataBundle/Resources/public/js/jquery.tmpl.min.js'
                    '@KrdOpendataBundle/Resources/public/js/jquery.textchange.min.js'
                    '@KrdOpendataBundle/Resources/public/js/jquery.ba-outside-events.min.js'
                    '@KrdOpendataBundle/Resources/public/js/ymap.js'
                    '@KrdOpendataBundle/Resources/public/js/results.js'
                    '@KrdOpendataBundle/Resources/public/js/base-classes.js'
                    '@KrdOpendataBundle/Resources/public/js/stars.js'
                    '@KrdOpendataBundle/Resources/public/js/error-report.js'
                    '@KrdOpendataBundle/Resources/public/js/script.js'
                    '@KrdOpendataBundle/Resources/public/js/export.js'
                %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        var __categoriesList = {{ appContainer.get('krd.opendata.modules.opendata').getCategories()|serialize('json')|raw }};
        var __regionsList = {{ appContainer.get('krd.opendata.modules.opendata').getRegions()|serialize('json')|raw }};
        var __placesList = {{ appContainer.get('krd.opendata.modules.opendata').getPlaces()|serialize('json')|raw }};
    </script>

    {% include "KrdOpendataBundle:Module:opendata/tmpl.html.twig" %}
{% endblock %}
