{# Список сообщений #}

<section class="items-list">
    {% for item in list.getItems() %}
        <article class="item clearfix">
            <div class="w">
                <div class="headline clearfix">
                    <div class="date">{{ item.getDate()|krd_date_format(true) }}</div>
                </div>
                <span class="title"><b>{{ item.getTitle() }}</b></span>

                <div class="text-block">{{ item.getMessage() }}</div>
            </div>
        </article>
    {% else %}
        <div class="text-block">{% trans %}Срочных сообщений нет{% endtrans %}</div>
    {% endfor %}
</section>

{% if list.getPageCount() > 1 %}
    <div class="btn btn-blue btn-block next-page" more-btn="emergency-list-item"
         url="{{ path('ajax_news_emergency_list', {'parent':currentNode.getId()}) }}">{% trans %}
        Показать еще новости{% endtrans %}</div>
{% endif %}

{% raw %}
<script type="text/ng-template" id="emergency-list-item">
    <article class="item clearfix">
        <div class="w">
            <div class="headline clearfix">
                <div class="date">{{ item.date }}</div>
            </div>
            <span class="title"><b>{{ item.title }}</b></span>
            <div class="text-block">{{ item.message }}</div>
        </div>
    </article>
</script>
{% endraw %}
