{# Виджет на главной странице #}

{% if items is not empty %}
    <div class="item widget-emergency" multi-height="index-widgets">
        <div class="title"><i class="icon-emergency"></i>{{ 'Срочно'|trans }}</div>

        <div class="w">
            <div class="items-list">
                {% for item in items %}
                    <div class="item">
                        <div class="date">{{ item.getDate()|krd_date_format(true) }}</div>
                        <a href="{{ item.getParent().getUrl() }}" class="title">{{ item.getTitle() }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% if items is not empty %}
            {% spaceless %}
                <div class="btn-group">
                    <a class="btn btn-blue" href="{{ items.0.getParent().getUrl(true) }}">{% trans %}Смотреть все{% endtrans %}</a>
                </div>
            {% endspaceless %}
        {% endif %}
    </div>
{% endif %}
