#divMap {
    margin-top:0px;
    margin-left:0px;
}

.m .pointer {
    cursor: pointer;
}
.m .indented {
    text-indent: 23px;
}
.m a:focus {
    outline: thin dotted;
}

.m .splitter {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #808080 #FFFFFF #FFFFFF #808080;
    border-image: none;
    border-right: 0 solid #FFFFFF;
    border-style: solid;
    border-width: 1px 0 0;
    height: 1px;
    line-height: 1px;
    margin: 5px 0 5px 5px;
}

.m .routeName {
    min-width: 255px;
    white-space: nowrap;
}
.m .lastcol {
    width: 100%;
}
.m .routeMap {
    width: 18px;
}

.m p.help {
    line-height: 150%;
    padding: 10px 10px 0;
    text-indent: 0;
}

.m a.other, 
.m a.other0, 
.m a.other1, 
.m a.other2, 
.m a.other3 {
    color: gray;
    font-style: italic;
}

.m a.current0, 
.m a.other0 {
    color: red;
}
.m a.current1, 
.m a.other1 {
    color: blue;
}

.m a.current2, 
.m a.other2 {
    color: green;
}

.m a.current3, 
.m a.other3 {
    color: darkcyan;
}

.m .timetable a.clicked {
    border: 1px solid black;
    font-weight: bold;
    padding: 0 2px;
}
.m .timetable a.express {
    border: 1px solid blue;
    padding: 0 2px;
}

.m .mapMenu {
    overflow: hidden;
}

#mapRemoveRoute {
    display:inline-block;
    width:15px;
    height:15px;
    margin-top:7px;
    margin-left:16px;
    background: url("../../_images/hide.gif") no-repeat;
}

.m div.dropdown {
	z-index: 1000;
	display: table;
	margin:0 auto;
    background-color: white;
    border: 2px solid #000;
    height: 30px;
    top:4px;
    padding: 0 5px;
    border-radius:4px;
    
}
.m div.dropdown a {
    display:block;
    line-height: 30px;
    height: 30px;
    white-space: nowrap;
}
.m div.dropdown a:hover {
    border: 0 none;
}

.m div.dropdown span {
    display: inline-block;
    vertical-align: top;
}
.m .dropdown2 {
    background-color: white;
    border: 2px solid black;
    border-collapse: collapse;
    left: 0px;
    position: absolute;
    top: 29px;
    visibility: hidden;
    padding:6px;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;
    z-index:1000;
}

/*chrome hack*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
 .m .dropdown2 {
    left: -2px;
    }
}

.m .dropdown2 td {
    padding: 0;
}
.m .dropdown2 a {
    background-color: white;
    display: block;
    padding: 1px 5px 1px 0;
    white-space: nowrap;
    display:block;
    line-height: 30px;
    height: 30px;

}

.m .dropdown2 a:hover {
    background-color:PowderBlue;
}


.m .dropdown *:focus .dropdown2, 
.m .dropdown *:hover .dropdown2, 
.m a:hover .dropdown2 {
    visibility: visible;
    z-index: 200;
}
.m span.details {
    color: #808080;
    display: inline-block;
    font-size: x-small;
    margin-left: 5px;
}
.m .graytext, 
.m .graytext a {
    color: #808080;
}
.m .smalltext {
    font-size: smaller;
}
.m .icon {
    background: none no-repeat scroll left top transparent;
    display: inline-block;
    height: 18px;
    margin-right: 5px;
    vertical-align: middle;
    width: 18px;
}
.m .icon_narrow {
    margin: 0;
}

.m .button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none no-repeat scroll left top transparent;
    border-color: white #B0B0B0 #B0B0B0 white;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    height: 15px;
    width: 15px;
}
.m .pressed {
    background-position: 1px 1px;
    border-color: #345684 #6C9DDF #6C9DDF #345684;
}
.m .dropdown .arrow-down {
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-top: 5px solid black;
    display: inline-block;
    height: 0;
    margin-bottom: 2px;
    vertical-align: middle;
    width: 0;
}
.m .icon_checked {
    margin-top: 5px;
    background-image: url("../../_images/checked.png");
}
.m .expand .icon, 
.m .icon_expand {
    background-image: url("../../_images/expand.png");
}

.m .collapse .icon, 
.m .icon_collapse {
    background-image: url("../../_images/collapse.png");
}
.m .icon_map {
    background-image: url("../../_images/map.png");
    cursor: pointer;
}
.m .icon_map:hover {
    border: 1px solid gray;
    margin: -1px 4px -1px -1px;
}
.m .icon_return {
    background-image: url("../../_images/return.png");
}
.m .icon_print {
    background-image: url("../../_images/print.png");
}
.m .icon.icon_stops, 
.m .button.icon_stops {
    background-color: lightgray;
    background-image: url("../../_images/stops.png");
    height: 15px;
    width: 15px;
}
.m .icon.icon_traffic, 
.m .button.icon_traffic {
    background-color: lightgray;
    background-image: url("../../_images/traffic.png");
    height: 15px;
    width: 15px;
}
.m .icon.icon_vehicles, 
.m .button.icon_vehicles {
    background-color: lightgray;
    background-image: url("../../_images/vehicles.png");
    height: 15px;
    width: 15px;
}
.m .icon.icon_stops {
    border: 1px solid gray;
}
.m .icon.icon_plan {
    background-image: url("../../_images/planner.png");
}
.m .icon.icon_info {
    background-image: url("../../_images/info.png");
}
.m .icon_handicapped {
    background-image: url("../../_images/handicapped.png");
    display: inline-block;
    height: 18px;
    margin-left: -3px;
    outline: medium none;
    width: 18px;
}
.m .label_transport {
    background: none repeat scroll 0 0 white;
    border: 1px solid gray;
    border-radius: 3px 3px 3px 3px;
    height: 18px;
    padding: 0 1px;
    white-space: nowrap;
    z-index: 105;
}
.m .icon.icon_stopGreen {
    background-image: url("../../_images/MarkerGreen.png");
    margin-right: 0;
}
.m .icon.icon_stopRed {
    background-image: url("../../_images/MarkerRed.png");
    margin-right: 0;
}
.m .num {
    border-radius: 4px 4px 4px 4px;
    color: white;
    display: inline;
    font-weight: bold;
    margin-right: 5px;
    text-align: center;
}
.m a.activetransfer {
    border-radius: 4px 4px 4px 4px;
    color: white;
    font-weight: bold;
    margin: 0 -2px;
    padding: 0 2px;
    text-align: center;
}
.m .num1 {
    border-radius: 4px 4px 4px 4px;
    padding-left: 13px;
    padding-right: 13px;
}
.m .num2 {
    border-radius: 4px 4px 4px 4px;
    padding-left: 9px;
    padding-right: 9px;
}
.m .num3 {
    border-radius: 4px 4px 4px 4px;
    padding-left: 5px;
    padding-right: 5px;
}
.m .num4 {
    border-radius: 4px 4px 4px 4px;
    padding-left: 1px;
    padding-right: 1px;
}

.m .grey {
    background-color: #F0F0F0;
}
.m .white {
    background-color: white;
}
.m .mapStopName, 
.m .mapStopNameHidden {
    background-color: #F0F0F0;
    border: 1px solid lightgray;
    opacity: 0.7;
    padding: 0 3px;
    white-space: nowrap;
}
.m .mapStopNameHidden {
    background-color: red;
    display: none;
}
.m .unhide {
    display: none;
}
.m a:hover .unhide {
    display: inline-block;
}
.m a.mapStopOnRoute {
    display: block;
    height: 11px;
    width: 11px;
    z-index: 101;
}
.m a.mapStop {
    display: block;
    height: 8px;
    width: 8px;
    z-index: 101;
}
.m a.mapStopSelected {
    background-color: yellow;
    border: 1px solid gold;
    padding: 0 3px;
    white-space: nowrap;
    z-index: 103;
}
.m a.mapStopOnRoute:hover {
    z-index: 107;
}
.m .mapStopSelected:hover {
    text-decoration: underline;
    z-index: 107;
}
.m a.mapStopOnRoute:hover + a.mapStopName, 
.m a.mapStop:hover + a.mapStopName, 
.m a.mapStopOnRoute:hover + a.mapStopNameHidden, 
.m a.mapStop:hover + a.mapStopNameHidden, 
.m a.mapStopName:hover {
    background-color: white;
    display: inline-block;
    opacity: 1;
    z-index: 107;
}
.m .weekdays {
    padding-right: 15px;
}
.m .weekdays span {
    background-color: #E0E0E0;
    border: 1px solid #999999;
    color: #333333;
    font-family: 'Courier New',Courier,monospace;
    margin: 2px 2px 0 0;
    padding: 0 2px;
}
.m .weekdays img {
    margin-left: 2px;
    vertical-align: bottom;
}
.m span.weekend {
    background-color: #C0C0C0;
}
.m span.blankday {
    background-color: white;
    color: white;
}

.m .arrow {
    position: absolute; width:9px; height:9px; z-index:110;
    border: 1px solid white;
    
    -webkit-transform-origin:11px 11px;
    -moz-transform-origin:11px 11px;
    -ms-transform-origin:11px 11px;
    -o-transform-origin:11px 11px;
    transform-origin:11px 11px;
}

.m .circle {
    border: 1px solid white;
    border-radius: 18px 18px 18px 18px;
    color: white;
    cursor: pointer;
    font-family:'Arial';
    font-weight: bolder;
    
    height: 18px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    width: 18px;
    z-index: 110;
}
.m .baloon_content {
    background-color: white;
    border: 2px solid black;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 12px;
    padding: 5px;
    white-space: nowrap;
}
.m .baloon_close {
    background: url("//maps.gstatic.com/mapfiles/hpimgs28.png") no-repeat scroll -108px -26px transparent;
    cursor: pointer;
    height: 10px;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 10px;
}
.m .baloon_content .icon {
    margin-top: 4px;
}
.m .baloon_arrow {
    background-image: url("../../_images/baloon_arrow.png");
    bottom: 5px;
    height: 9px;
    position: absolute;
    width: 16px;
}

.m .baloon_arrow.top{
    background-image: url("../../_images/baloon_arrow_top.png");
    top: 5px;
}

.m .baloon_title {
    font-weight: bold;
    margin-left: 5px;
    padding-right: 20px;
}

.m img.icon {
    display: inline-block;
}

.m input[name=search] {
    height:9px;
    font-size:10px;
}