<?xml version="1.0" encoding="utf-8"?>

<rss{% if not noyandex %} xmlns:yandex="http://news.yandex.ru"{% endif %} xmlns:media="http://search.yahoo.com/mrss/"
                                                                          version="2.0">
    <channel>
        <title>{{ feed.getTitle() }} :: {{ appConfig.getTitle() }}</title>
        <link>{{ appContainer.getParameter('krd.url') }}</link>
        <description>{{ appConfig.getTitle() }}</description>
        <language>{{ app.request.locale }}</language>
        <lastBuildDate>{{ date.format('r') }}</lastBuildDate>
        <image>
            <url>{{ appContainer.getParameter('krd.url') }}{{ asset('bundles/krdsite/i/logo.png') }}</url>
            <title>{{ appConfig.getTitle() }}</title>
            <link>{{ appContainer.getParameter('krd.url') }}</link>
        </image>
        {% if not noyandex %}
            <yandex:logo
                    type="square">{{ appContainer.getParameter('krd.url') }}{{ asset('logo-square.png') }}</yandex:logo>
        {% endif %}

        {% for item in items %}
            <item>
                <title>{{ item.getTitle() }}</title>
                <guid isPermaLink="true">{{ appContainer.getParameter('krd.url') }}{{ item.getUrl() }}</guid>
                <link>{{ appContainer.getParameter('krd.url') }}{{ item.getUrl() }}</link>
                <pubDate>{{ item.getDate().format('r') }}</pubDate>

                {% if item.getContent() != '' and not noyandex %}
                    <yandex:full-text>{{ item.getContent() }}</yandex:full-text>
                {% endif %}

                <description>{{ item.getAnnounce() }}</description>
                {% if not noyandex %}
                    <yandex:genre>message</yandex:genre>
                {% endif %}
            </item>
        {% endfor %}
    </channel>
</rss>
