{# Подробная страница документа #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block addscripts %}
    {{ q_elfinder_tinymce_init4() }}
    {{ tinymce_init() }}
{% endblock %}

{% block content %}
    <section class="page-content">
        {% include "KrdSiteBundle::blocks/breadcrumb.html.twig" %}

        {# Выводим модули страницы #}
        {% for module in currentNode.getController().getModules() %}
            {{ appContainer.get(module).renderDetailContent()|raw }}
        {% endfor %}
    </section>

    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}
