{# Список услуг департамента #}

{% if list is not empty %}
    <div class="block">
        <div class="page-title mini">{{ node.getFrontendTitle() }}</div>

        <div class="dservice-list-wrap" horizontal-scroll horizontal-scroll-items=".dservice-list > .item" horizontal-scroll-wrap=".dservice-list" step="item">
            <div class="dservice-list items-block-list clearfix">
                {% for item in list %}
                    <div class="item">
                        <div class="text-block"><a href="{{ item.getRealUrl() }}">{{ item.getTitle() }}</a></div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="text-align-right">
            <a href="{{ node.getUrl(true) }}" class="btn btn-blue">Смотреть все</a>
        </div>
    </div>
{% endif %}
