{# Подробный вид предоставляемой услуги #}

<div class="page-title d-line">{{ item.getTitle() }}</div>

<div class="text-block clearfix">
    {{ item.getContent()|raw }}
</div>

{% if item.hasFiles() %}
    {% include "KrdSiteBundle::Module/content/files.html.twig" with {files:item.getFiles()} %}
{% endif %}

<div class="btn-group text-align-right">
    <a href="{{ currentNode.getUrl(true) }}" class="btn btn-blue">Вернуться к списку</a>
</div>
