{# Список услуг на отдельной странице #}

{% if list is not empty %}
    <div class="items-list bordered">
        {% for item in list %}
            <div class="item">
                <a href="{{ item.getRealUrl() }}" class="title">{{ item.getTitle() }}</a>
            </div>
        {% endfor %}
    </div>
{% endif %}
