{# Админская часть модуля Прямая речь #}

<h3>Глава - прямая речь</h3>

<tabs>
    <pane heading="Список речь" url="/speech/">
        <div entity-list="{{ path('cms_rest_krd_glava_speech') }}:id?parent={{ currentNode.getId() }}" url="/speech/" columns="{id:{title:'#'}, title:{title:'Заголовок'}, date:{title:'Дата'}, active:{title:'Активность', isBoolean:true}}" btn-add="Добавить речь" count="10"></div>
    </pane>

    <ghostpane heading="Создание речи" url="/speech/create/" parent="0" template="{{ path('cms_rest_krd_glava_speech_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Ред. речь #{id}" url="/speech/edit/{id}" parent="0" template="{{ path('cms_rest_krd_glava_speech_form_add') }}{id}"></ghostpane>
</tabs>
