{# Страница с подробной новостью #}

{% extends "KrdGlavaBundle::layout.html.twig" %}

{% block layout_content %}
    <div class="page-container clearfix">
        {# include "KrdSiteBundle::blocks/breadcrumb.html.twig" #}

        {{ appContainer.get('krd.news.modules.news').renderGlavaDetailContent()|raw }}
        {{ appContainer.get('krd.news.modules.news').renderCurrentSimilar()|raw }}

        {% if currentNode.isCommentable() %}
            {{ krd_comments() }}
        {% endif %}
	</div>
{% endblock %}
