{# Страница списка событий (новости) #}

{% extends "KrdGlavaBundle::layout.html.twig" %}


{% block layout_content %}
	<div class="page-container clearfix">
		<div class="left-column">
			<div class="page-title d-line">
		        События
		    </div>
			
			{% if has_themes > 0 %}
			<div class="theme-block clearfix">
				{% for theme in themes %}
				<a href="#" cancel-filter="{{ theme.id }}">{{ theme.title }} <i class="close"></i></a>
				{% endfor %}
			</div>
			<div class="clear"></div>
			{% endif %}
			
		    {# Выводим модули страницы #}
		    {% for module in currentNode.getController().getModules() %}
		        {{ appContainer.get(module).renderGlavaContent()|raw }}
		    {% endfor %}
		</div>
		
		<aside class="news-aside">
			{{ appContainer.get('krd.news.modules.news').renderAsideCalendar()|raw }}
			
			<a href="#" class="date-range-btn" dialog-show="{{ path('ajax_glava_events_range', {parent:currentNode.getId(),date_begin:app.request.get('date_begin'),date_end:app.request.get('date_end')}) }}" ><i></i><span>Выбрать период</span></a>
			<a href="#" class="btn btn-blue display-block"  dialog-show="news-theme-selector">Выбрать тему</a>
		</aside>
	</div>
	
	<script type="text/ng-template" id="news-theme-selector">
        <div class="page-title nm d-line">Выберите тему</div>
		<div class="text-block">
			<form id="news-theme-filter" news-themes class="news-theme-form clearfix" action="{{ currentNode.getUrl() }}" themes-selected="{{ themes_id|serialize }}" data-themes-url="{{ path('ajax_glava_events_themes', {parent:currentNode.getId()}) }}" >
				<div class="row clearfix">
					<div class="span2">
						<span class="set-title">поиск темы</span>
					</div>
					<div class="span10">
                        <div class="tagsinput" style="width: 569px; height: auto;">
                            <div>
                                <input id="news-tags_tag" value="" style="color: rgb(102, 102, 102); width: 90px;">
                            </div>
                        </div>
						<button class="btn btn-blue" type="submit">найти</button>
					</div>
				</div>
				{% raw %}
				<div class="clear" style="height: 30px;"></div>
				<div class="set-title">популярные темы</div>
				<div class="row flow-content scroll-pane clearfix">
					<div class="scroll-content clearfix">
						<ul class="clearfix">
							<li ng-repeat="item in items" id="n{{ item.id }}">
								<label for="theme-{{ item.id }}"><input type="checkbox" value="{{ item.id }}" name="themes[]" id="theme-{{ item.id }}" data-content="{{ item.title }}"><span>{{ item.title }}</span>&nbsp;({{ item.newscount }})</label>
							</li>
						</ul>
					</div>
				</div>
				<div class="scroll" id="scroll-bar"></div>
				{% endraw %}
			</form>
		</div>
	</script>
{% endblock %}