{# Заявка на выступление на конференции #}

<h3>Заявка на выступление на конференции</h3>

<p>
    ФИО: {{ lastname }} {{ name }} {{ midname }}
</p>

<p>
    E-mail: <a href="mailto:{{ email }}">{{ email }}</a>
</p>

<p>
    Телефон: {{ phone }}
</p>

<p>
    Тема выступления: {{ theme|nl2br|raw }}
</p>
