{# Детальное отображение документа #}

<article>
    <div class="headline clearfix">
        {% if item.getOfficial() %}
            <div class="label">Официальное опубликование</div>
        {% endif %}
        {% if item.getConsclusionComplete() %}
            <div class="label red">Экспертиза завершена</div>
        {% endif %}
        <div class="date">{{ item.getDate()|krd_date_format(true) }}</div>
        {% include "KrdSiteBundle:blocks:headline-share.html.twig" with {nosubscribe:true} %}
    </div>

    {% include "KrdSiteBundle:blocks:share-panel-float.html.twig" with {nosubscribe:true} %}

    <div class="page-title d-line">{{ item.getTitle() }}</div>

    {% if noContentMenu is not defined or noContentMenu %}
        {{ appContainer.get('krd.site.modules.content').renderIncontentMenu()|raw }}
        {{ appContainer.get('krd.site.modules.content').renderContentTopMenu()|raw }}
    {% endif %}

    {% if item.hasContent() %}
        <div class="text-block clearfix">
            {% if item.isConsclusionValid() %}
                <p><strong>Наименование разработчика:</strong>&nbsp;{{ item.getConsclusionDeveloper() }}</p>
                <p><strong>Дата размещения:</strong>&nbsp;{{ item.getConsclusionDate() }}</p>
                {% if item.getConsclusionExpertDate() is not empty %}
                    <p><strong>Срок подготовки экспертного заключения:</strong>&nbsp;{{ item.getConsclusionExpertDate() }}</p>
                {% endif %}
                {% if item.getConsclusionEmail() is not empty %}
                    <p><strong>Адрес электронной почты:</strong><b><strong>&nbsp;</strong><a href="mailto:{{ item.getConsclusionEmail() }}">{{ item.getConsclusionEmail() }}</a></b></p>
                {% endif %}
                <hr style="margin-top:0;"/>
            {% endif %}
            {{ item.getContent()|raw }}
        </div>
    {% endif %}

    {% if item.hasFiles() %}
        {% include "KrdSiteBundle::Module/content/files.html.twig" with {files:item.getFiles()} %}
    {% endif %}

    {% if item.hasConsclusionFiles() %}
        <div class="page-title d-line-top">Заключения по результатам проведения экспертизы</div>
        {% include "KrdSiteBundle::Module/content/files.html.twig" with {files:item.getConsclusionFiles()} %}
    {% endif %}

    <div class="btn-group text-align-right">
        <a href="javascript:window.history.go(-1);" class="btn btn-blue">Вернуться к списку</a>
    </div>
</article>
