{# Один документ в списке #}

{% if item is not empty %}
    <article class="item clearfix">
        <div class="headline clearfix">
            {% if item.getOfficial() %}
                <div class="label">Официальное опубликование</div>
            {% endif %}
            {% if item.getConsclusionComplete() %}
                <div class="label red">Экспертиза завершена</div>
            {% endif %}

            {% if item.getParent().getController().getId() == 14 %}
                {# В поиске норм отключено время #}
                <div class="date">{{ item.getDate()|krd_date_format }}</div>
            {% else %}
                <div class="date">{{ item.getDate()|krd_date_format(true) }}</div>
            {% endif %}

            {% if item.hasFiles() %}
                <div class="theme">{{ item.getMinFileSize()|filesize }}</div>
            {% endif %}
        </div>
        <a href="{{ item.getUrl() }}" class="title">{{ item.getTitle() }}</a>
        {% if item.hasAnnounce() %}
            <div class="text-block">{{ item.getAnnounce() }}</div>
        {% endif %}
    </article>
{% endif %}
