{# Список документов #}

{% if searchform is defined %}
    {# Тип страницы Документы - поиск норм #}
    {% include "KrdDocumentBundle:Module:document/norma-search-form.html.twig" with {form:searchform} %}
{% endif %}

{% if items.getItems()|length > 0 %}
    <section class="items-list bordered">
        {% for item in items.getItems() %}
            {% include "KrdDocumentBundle:Module:document/item.html.twig" with {item:item} %}
        {% endfor %}
    </section>

    {% if items.getPageCount() > 1 %}
        <div class="btn btn-blue btn-block next-page" more-btn="document-list-item" url="{{ path('ajax_document_document_list', app.request.query.all|merge({'parent':currentNode.getId()})) }}">Показать еще</div>
    {% endif %}

    <script type="text/ng-template" id="document-list-item">
        <article class="item clearfix">
            <div class="headline clearfix">
                <div class="label" ng-show="item.official">Официальное опубликование</div>
                <div class="label red" ng-show="item.consclusion_complete">Экспертиза завершена</div>
                <div class="date">{% if items.getItems().0.getParent().getController().getId() == 14 %}{% raw %}{{ item.date|dateRemoveTime }}{% endraw %}{% else %}{% raw %}{{ item.date }}{% endraw %}{% endif %}</div>
                <div class="theme" ng-show="item.minfilesize > 0">{% raw %}{{ item.minfilesize|filesize }}{% endraw %}</div>
            </div>

            {% raw %}
                <a href="{{ item.url }}" class="title">{{ item.title }}</a>
                <div class="text-block" ng-show="item.announce">{{ item.announce }}</div>
            {% endraw %}
        </article>
    </script>

    {% if list is not empty %}
        <div class="clear" style="height:20px;"></div>
    {% endif %}
{% endif %}

{% if list is not empty %}
    <section class="items-list bordered-solid">
        {% for node in list %}
            {% include "KrdDocumentBundle:Module:document/section-item.html.twig" with {node:node} %}
        {% endfor %}
    </section>
{% endif %}
