{# Список документов на главной странице #}

{% if rootNode is defined and rootNode %}
    <section class="documents-preview items-list" data-id="{{ rootNode.getId() }}">
        {% include "KrdDocumentBundle:Module:document/list.html.twig" with {list:list, items:items} %}
    </section>
{% endif %}
