{# Форма поиска нормативных документов #}

<div class="page-title x-mini nm">Поиск по нормативной правовой базе администрации города и городской Думы Краснодара</div>

{% spaceless %}
    {{ form_start(form, {method:'GET', attr:{class:'stylized'}}) }}
        <div class="form-row x3 clearfix">
            <div class="cell">
                <div class="label">Вид документа:</div>
                {{ form_widget(form.acttype) }}
            </div>

            <div class="cell">
                <div class="label">Кем принят:</div>
                {{ form_widget(form.owner) }}
            </div>

            <div class="cell">
                <div class="label">Дата подписания:</div>
                {{ form_widget(form.startdate, {attr:{'ui-date':'', 'ui-date-icon':''}}) }}
                &nbsp;-&nbsp;
                {{ form_widget(form.enddate, {attr:{'ui-date':'', 'ui-date-icon':''}}) }}
            </div>
        </div>

        <div class="form-row x3 clearfix">
            <div class="cell">
                <div class="label">Номер:</div>
                {{ form_widget(form.registrationnumber) }}
            </div>

            <div class="cell">
                <div class="label">Кем внесен:</div>
                {{ form_widget(form.originator) }}
            </div>
        </div>

        <div class="form-row x2 clearfix">
            <div class="cell">
                <div class="label">
                    Название
                    &nbsp;
                    <input type="radio" class="radio" checked="" name="selector1" value="AND">
                    &nbsp;и/или&nbsp;
                    <input type="radio" class="radio" checked="" name="selector1" value="OR">
                </div>

                {{ form_widget(form.sword1) }}
                {{ form_widget(form.sword2) }}
                {{ form_widget(form.sword3) }}
            </div>

            <div class="cell">
                <div class="label">
                    Текст
                    &nbsp;
                    <input type="radio" class="radio" checked="" name="selector2" value="AND">
                    &nbsp;и/или&nbsp;
                    <input type="radio" class="radio" checked="" name="selector2" value="OR">
                </div>

                {{ form_widget(form.bword1) }}
                {{ form_widget(form.bword2) }}
                {{ form_widget(form.bword3) }}
            </div>
        </div>

        <div class="form-row x3 clearfix">
            <div class="cell">
                <div class="label">Сортировать результат по:</div>
                {{ form_widget(form.searchorder) }}
            </div>

            <div class="cell">
                <div class="label">Использовать словоформы:</div>
                <input type="radio" class="radio" name="searchfuzzy" value="FALSE">
                &nbsp;нет&nbsp;
                <input type="radio" class="radio" checked="" name="searchfuzzy" value="TRUE">
                &nbsp;да
            </div>

            <div class="cell text-align-right">
                <div class="label">&nbsp;</div>
                <button type="submit" class="btn btn-blue">Найти</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endspaceless %}
