{# Отображение одной секции документов #}

{% if node.hasCustomData('items') or node.hasCustomData('subnodes') %}
    <section class="item">
        {% if node.getId() == 1973 and currentNode.getId() == 1 %}
            <div class="page-title center">{% trans %}Официальное опубликование{% endtrans %}</div>
        {% else %}
            <div class="page-title center">{{ node.getFrontendTitle() }}</div>
        {% endif %}

        {% if node.hasCustomData('items') %}
            <div class="items-list bordered">
                {% for item in node.getCustomData('items') %}
                    {% include "KrdDocumentBundle:Module:document/item.html.twig" with {item:item} %}
                {% endfor %}
            </div>

            <div class="text-align-right">
                <a href="{{ node.getUrl(true) }}" class="btn btn-blue">Смотреть весь список</a>
            </div>
        {% endif %}

        {% if node.hasCustomData('subnodes') %}
            <section class="items-list mini{% if not node.getCustomData('subnodes').0.hasCustomData('items') and not node.getCustomData('subnodes').0.hasCustomData('subnodes') %} bordered{% endif %}">
                {% for subnode in node.getCustomData('subnodes') %}
                    {% include _self with {node:subnode} %}
                {% endfor %}
            </section>
        {% endif %}
    </section>
{% else %}
    <article class="item node-item clearfix">
        <a href="{{ node.getUrl(true) }}" class="title invert">{{ node.getFrontendTitle() }}</a>
    </article>
{% endif %}
