{# Админская часть модуля Эвакуация автотранспорта #}

<h3>Эвакуированные автомобили</h3>

<tabs>
    <pane heading="Список авто" url="/evacuation_avto/">
        <div entity-list="{{ path('cms_rest_krd_evacuation_avto') }}:id?parent={{ currentNode.getId() }}" url="/evacuation_avto/" columns="{id:{title:'#'}, date:{title:'Дата'}, fromplace:{title:'Место эвакуации'}, mark:{title:'Марка', modifier:'el_object', by:'title'}, number:{title:'Номер'}, active:{title:'Активность', isBoolean:true}, toindex:{title:'На главную', isBoolean:true}}" btn-add="Добавить автомобиль" count="10" sortable></div>
    </pane>

    <ghostpane heading="Новый автомобиль" url="/evacuation_avto/create/" parent="0" template="{{ path('cms_rest_krd_evacuation_avto_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Ред. авто #{id}" url="/evacuation_avto/edit/{id}" parent="0" template="{{ path('cms_rest_krd_evacuation_avto_form_add') }}{id}"></ghostpane>

    <!--  -->

    <pane heading="Марки авто" url="/evacuation_mark/">
        <div entity-list="{{ path('cms_rest_krd_evacuation_mark') }}:id" url="/evacuation_mark/" columns="{id:{title:'#'}, title:{title:'Заголовок'}}" btn-add="Добавить марку" count="10" disable-move sortable></div>
    </pane>

    <ghostpane heading="Новая марка" url="/evacuation_mark/create/" parent="3" template="{{ path('cms_rest_krd_evacuation_mark_form_add') }}"></ghostpane>

    <ghostpane heading="Ред. марки #{id}" url="/evacuation_mark/edit/{id}" parent="3" template="{{ path('cms_rest_krd_evacuation_mark_form_add') }}{id}"></ghostpane>

    <!--  -->

    <pane heading="Организации" url="/evacuation_organization/">
        <div entity-list="{{ path('cms_rest_krd_evacuation_organization') }}:id" url="/evacuation_organization/" columns="{id:{title:'#'}, title:{title:'Заголовок'}}" btn-add="Добавить организацию" count="10" disable-move></div>
    </pane>

    <ghostpane heading="Новая организация" url="/evacuation_organization/create/" parent="6" template="{{ path('cms_rest_krd_evacuation_organization_form_add') }}"></ghostpane>

    <ghostpane heading="Ред. организации #{id}" url="/evacuation_organization/edit/{id}" parent="6" template="{{ path('cms_rest_krd_evacuation_organization_form_add') }}{id}"></ghostpane>

    <!--  -->

    <pane heading="Места стоянки" url="/evacuation_parking/">
        <div entity-list="{{ path('cms_rest_krd_evacuation_parking') }}:id" url="/evacuation_parking/" columns="{id:{title:'#'}, title:{title:'Заголовок'}}" btn-add="Добавить место стоянки" count="10" disable-move></div>
    </pane>

    <ghostpane heading="Новое место стоянки" url="/evacuation_parking/create/" parent="9" template="{{ path('cms_rest_krd_evacuation_parking_form_add') }}"></ghostpane>

    <ghostpane heading="Ред. масто стоянки #{id}" url="/evacuation_parking/edit/{id}" parent="9" template="{{ path('cms_rest_krd_evacuation_parking_form_add') }}{id}"></ghostpane>

    <!--  -->

    <pane heading="Эвакуаторы" url="/evacuation_evacuator/">
        <div entity-list="{{ path('cms_rest_krd_evacuation_evacuator') }}:id" url="/evacuation_evacuator/" columns="{id:{title:'#'}, number:{title:'Гос. номер'}}" btn-add="Добавить" count="10" disable-move></div>
    </pane>

    <ghostpane heading="Новый эвакуатор" url="/evacuation_evacuator/create/" parent="12" template="{{ path('cms_rest_krd_evacuation_evacuator_form_add') }}"></ghostpane>

    <ghostpane heading="Ред. эвакуатора #{id}" url="/evacuation_evacuator/edit/{id}" parent="12" template="{{ path('cms_rest_krd_evacuation_evacuator_form_add') }}{id}"></ghostpane>
</tabs>
