{# Список конкурсов. Заголовок - Заказчик #}

{% if list is not empty %}
    <div class="text-block">
        <table>
            <thead>
                <tr>
                    <td>#</td>
                    <td>{% trans %}Наименование{% endtrans %}</td>
                    <td>{% trans %}Дата подачи{% endtrans %}</td>
                    <td>{% trans %}Дата окончания{% endtrans %}</td>
                    <td>{{ title|trans }}</td>
                </tr>
            </thead>

            <tbody id="competition-list-body">
                {% for item in list %}
                    <tr id="competition-{{ item.getId() }}">
                        <td>{{ item.getNumber() }}</td>
                        <td><a href="{{ item.getUrl() }}">{{ item.getTitle() }}</a></td>
                        <td>{{ item.getDateStart() }}</td>
                        <td>{{ item.getDateEnd() }}</td>
                        <td>{{ item.getCustomer() }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    {% if list.getPageCount() > 1 %}
        <div class="btn btn-blue btn-block next-page" more-btn="competition-list-item" tpl-append more-btn-body="competition-list-body" url="{{ path('ajax_competition_competition_list', app.request.query.all()|merge({'parent':currentNode.getId()})) }}">{% trans %}Показать еще конкурсы{% endtrans %}</div>
    {% endif %}

    {% raw %}
        <script type="text/ng-template" id="competition-list-item">
            <tr id="competition-{{ item.id }}">
                <tr>
                    <td>{{ item.number }}</td>
                    <td><a href="{{ item.url }}">{{ item.title }}</a></td>
                    <td>{{ item.date_start }}</td>
                    <td>{{ item.date_end }}</td>
                    <td>{{ item.customer }}</td>
                </tr>
            </tr>
        </script>
    {% endraw %}
{% endif %}
