{# Заголовок основной формы "Написать комментарий" #}

<div class="page-title mini nm collapsible d-line-top open" page-title-collapsible="comments-write-{{ where }}">{% trans %}Написать комментарий{% endtrans %}</div>
