{# Заголвоок блока с комментариями #}

<div class="page-title mini nm collapsible open" page-title-collapsible="comments-list-{{ where }}">{% trans %}Комментарии{% endtrans %} ({{ comments.count }})</div>
