{# Комментарии страницы #}


    {% include "KrdCommentsBundle:blocks:_title-list.html.twig" %}

    {# Панель авторизации #}
    <script type="text/ng-template" id="comments-auth-well">
        {% include "KrdCommentsBundle:blocks:comments-auth-form.html.twig" %}
    </script>

    {# Панель нового комментария #}
    <script type="text/ng-template" id="comments-create-well">
        {% include "KrdCommentsBundle:blocks:comments-new-form.html.twig" with {form:formReply} %}
    </script>

    {# Панель редактирования комментария #}
    <script type="text/ng-template" id="comments-edit-well">
        {% include "KrdCommentsBundle:blocks:comments-edit-form.html.twig" with {form:formEdit} %}
    </script>

    <div id="comments-list-{{ where }}" ng-cloak class="comments-list items-list clearfix" comments-list="{{ where }}">
        <div class="text-block" ng-if="commentsCount() == 0">
            {% trans %}На странице пока нет комментариев.{% endtrans %}
        </div>

        {% for item in comments.comments %}
            {% include "KrdCommentsBundle:blocks:comments-item.html.twig" with {item:item} %}
        {% endfor %}
    </div>

{% include "KrdCommentsBundle:blocks:_title-write.html.twig" %}

<div id="comments-write-{{ where }}" ng-cloak>
    {% if app.user and is_granted('ROLE_USER') %}
        {% include "KrdCommentsBundle:blocks:comments-new-form.html.twig" with {form:form_root} %}
    {% else %}
        {% include "KrdCommentsBundle:blocks:comments-auth-form.html.twig" %}
    {% endif %}
</div>
