{# Форма редактирования комментария #}

<div class="comments-edit-form clearfix">
    {{ form_start(form, {attr:{class:'stylized ajax-form', 'ng-submit':'submit()', 'novalidate':'', 'ng-controller':'CommentsEditFormCtrl'}}) }}
        <div class="form-row x1 clearfix">
            <div class="cell clearfix">
                {{ form_widget(form.content, {attr:{'ctrl-enter':'submit()', 'ng-model':'$parent.shared.editCommentContent'}}) }}
            </div>
        </div>

        <div class="form-row x1 clearfix">
            <div class="cell clearfix text-align-center">
                {{ form_widget(form.submit, {attr:{class:'btn btn-blue'}, label:'Сохранить'}) }}
            </div>
        </div>

        {{ form_widget(form.parent, {attr:{'value':'{{ $parent.shared.openedReplyForm }}'}}) }}
    {{ form_end(form) }}
</div>
