{# Форма авторизации для комментариев #}

<div class="comments-auth-form clearfix">
    <div class="text-block">
        {% trans %}Для написания отзыва войдите или{% endtrans %} <a href="{{ path('krd_user_registration_path') }}" target="_blank">{% trans %}зарегистрируйтесь{% endtrans %}</a>
    </div>

    <form action="{{ path("fos_user_security_check") }}" method="POST" class="stylized ajax-form no-bottom-border" id="comments-auth-form" ng-submit="submit()" ng-controller="CommentsAuthFormCtrl">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <input type="hidden" name="_remember_me" value="on" />

        <div class="form-row x3 clearfix">
            <div class="cell">
                <input type="text" id="comments-auth-username" name="_username" value="{{ last_username|default('') }}" placeholder="{{ 'security.login.username'|trans }}" required />
            </div>

            <div class="cell">
                <input type="password" id="comments-auth-password" name="_password" placeholder="{{ 'security.login.password'|trans }}" required />
            </div>

            <div class="cell last">
                <button type="submit" class="btn btn-blue">{{ 'security.login.submit'|trans }}</button>
            </div>
        </div>
    </form>
</div>
