{# Элемент комментария #}

{% set isMy = (app.user and app.user.getId() == item.getCreatedBy().getId()) %}

<div class="item clearfix{% if isMy %} mycomment{% endif %}" comment-item="{{ item.getPageHash() }}" data-id="{{ item.getId() }}" data-created-by="{{ item.getCreatedBy().getId() }}" id="comment-{{ item.getId() }}" data-active="{% if item.getActive() %}1{% else %}0{% endif %}" data-content="{{ item.getContent()|e('html_attr') }}" ng-class="{ disabled:!active }">
    <div class="headline clearfix">
        <div class="date">{{ item.getCreated()|krd_date_format(true) }}</div>
        <div class="comment" ng-show="!active">{{ 'Не активен'|trans }}</div>
        <div class="title">{{ item.getCreatedBy().getFullName() }}</div>
        <a href="#comment-{{ item.getId() }}" class="title">#</a>
    </div>
    <div class="text-block">{{ item.getContent()|nl2br|replace({'&amp;':'&'})|raw }}</div>
    <div class="links">
        <a href="#" onclick="return false;" class="action-reply">{% trans %}Ответить{% endtrans %}</a>

        {% if isMy %}
            <a href="#" onclick="return false;" class="action-edit">{% trans %}Редактрировать{% endtrans %}</a>
        {% endif %}

        {% if app.user and is_granted('ROLE_COMMENT_ADMIN') %}
            <a href="#" onclick="return false;" ng-cloak class="action-activate">{% trans %}Активировать{% endtrans %}</a>
            <a href="#" onclick="return false;" ng-cloak class="action-deactivate">{% trans %}Деактивировать{% endtrans %}</a>
            <a href="#" onclick="return false;" ng-cloak class="action-delete">{% trans %}Удалить{% endtrans %}</a>
        {% endif %}
    </div>

    {% if app.user and is_granted('ROLE_COMMENT_ADMIN') %}
        {% for child in item.getChildren() %}
            {% include _self with {item:child} %}
        {% endfor %}
    {% else %}
        {% for child in item.getActiveChildren(app.user) %}
            {% include _self with {item:child} %}
        {% endfor %}
    {% endif %}
</div>
