{# Помощь в разделе #}

<div class="bookmark-help clearfix">
    <div class="item" dialog-show="conference-help-stinto-template">
        <i class="icon-lk-conference-help-stinto"></i>
        <div class="w">
            <div class="title">{% trans %}Будьте в курсе предстоящих онлайн конференций{% endtrans %}<i class="icon-lk-bookmark-help-zoom"></i></div>
        </div>

        <script type="text/ng-template" id="conference-help-stinto-template">
            <div class="page-title nm d-line">{% trans %}Будьте в курсе{% endtrans %}</div>
            <img width="960" height="837" src="{{ asset('/bundles/krduser/i/conference-help-stinto.png') }}" />
        </script>
    </div>

    <div class="item" dialog-show="conference-help-ask-template">
        <i class="icon-lk-conference-help-ask"></i>
        <div class="w">
            <div class="title">{% trans %}Задавайте вопросы на интересующие вас темы{% endtrans %}<i class="icon-lk-bookmark-help-zoom"></i></div>
        </div>

        <script type="text/ng-template" id="conference-help-ask-template">
            <div class="page-title nm d-line">{% trans %}Задавайте вопросы{% endtrans %}</div>
            <img width="960" height="274" src="{{ asset('/bundles/krduser/i/conference-help-ask.png') }}" />
        </script>
    </div>

    <div class="item" dialog-show="conference-help-follow-template">
        <i class="icon-lk-conference-help-follow" style="position:relative; top:7px;"></i>
        <div class="w">
            <div class="title">{% trans %}Следите за ответами на ваши вопросы{% endtrans %}<i class="icon-lk-bookmark-help-zoom"></i></div>
        </div>

        <script type="text/ng-template" id="conference-help-follow-template">
            <div class="page-title nm d-line">{% trans %}Следите за ответами{% endtrans %}</div>
            <img width="960" height="556" src="{{ asset('/bundles/krduser/i/conference-help-follow.png') }}" />
        </script>
    </div>
</div>
