{# Онлайн конференции в которых участвовал пользователь #}

{% if (itemsFuture is empty) and (itemsPast is empty) %}
    <div class="page-title">Онлайн конференции</div>

    {% include "KrdUserBundle:Module:conference/help.html.twig" %}

    <div class="btn-group text-align-center clearfix">
        <a href="/lichnyy-kabinet/onlayn-konferentsii/pomosch/" class="btn btn-blue">Подробнее</a>
    </div>
{% else %}
    {% if itemsFuture is not empty %}
        <div class="well clearfix">
            <div class="page-title mini">{% trans %}Анонс конференций{% endtrans %}</div>

            <section class="items-list online-list online-future">
                {% for item in itemsFuture %}
                    {% include 'KrdConferenceBundle:Module:online/list-item.html.twig' with {item:item, photos:'big'} %}
                {% endfor %}
            </section>
        </div>
    {% endif %}

    {% if itemsPast is not empty %}
        <div class="page-title d-line">{% trans %}Конференции, в которых вы участвовали{% endtrans %}</div>

        <section class="items-list online-list online-past">
            {% for item in itemsPast %}
                {% include 'KrdConferenceBundle:Module:online/list-item.html.twig' with {item:item, photos:'normal', notime:true} %}
            {% endfor %}
        </section>
    {% endif %}

    {% if itemsPast.getPageCount() > 1 %}
        <div class="btn btn-blue btn-block next-page" more-btn="conference-online-list-item" url="{{ path('ajax_user_conference_online_list') }}">Показать еще конференции</div>
    {% endif %}

    {% include 'KrdConferenceBundle:Module:online/list-item-template.html.twig' %}

    <div class="bookmark-help-bottom-slide">
        <div class="btn-group text-align-right clearfix">
            <div class="btn btn-blue" ng-click="open()">{% trans %}Для чего нужен раздел "онлайн конференции"?{% endtrans %}</div>
        </div>

        <div class="slide">
            <div class="page-title d-line">{% trans %}Для чего нужен раздел "онлайн конференции"?{% endtrans %}</div>

            {% include "KrdUserBundle:Module:conference/help.html.twig" %}

            <div class="btn-group text-align-center clearfix">
                <a href="/lichnyy-kabinet/pomosch/" class="btn btn-blue">Подробнее</a>
                &nbsp;<div class="btn btn-deep-blue" ng-click="close()">Закрыть</div>
            </div>
        </div>
    </div>
{% endif %}

