{# Виджет в личном кабинете #}
<div class="lk-widget-conference-online">
    {% if conference %}
        {% if conference.getHumansPhotos()|length > 0 %}
            {% spaceless %}
                <div class="photos">
                    {% for photo in conference.getHumansPhotos() %}
                        <a href="{{ conference.getUrl() }}">
                            <img src="{{ photo.getUrl('111x146') }}" width="111" height="146" alt="{{ photo.getTitle() }}">
                        </a>
                    {% endfor %}
                </div>
            {% endspaceless %}
        {% endif %}

        <div class="headline clearfix">
            <div class="date">{{ conference.getDateStart()|krd_date_format(true) }}</div>

            {% if item.hasMyQuestions() %}
                <div class="label-2"><i class="icon-question-mini-white"></i>{{ item.countMyQuestions()|declension(['вопрос'|trans, 'вопроса'|trans, 'вопросов'|trans], true) }}</div>
            {% else %}
                <div class="theme">с {{ item.getDateStart().format('H:i') }} до {{ item.getDateEnd().format('H:i') }}</div>
            {% endif %}
        </div>

        <a href="{{ conference.getUrl() }}" class="title">{{ conference.getTitle() }}</a>

        <a href="{{ conference.getUrl() }}#conference-question-form" class="btn btn-blue right-button" target="_blank">{% trans %}Написать вопрос{% endtrans %}</a>
    {% else %}
        <div class="widget-thumb">
            <div class="icon">
                <i class="icon-wt-conference"></i>
            </div>
            <div class="ttl">{% trans %}Вы еще не участвовали в конференциях {% endtrans %}</div>
        </div>

        <a href="{{ controller_path(48, 'krd_user_conference') }}" class="btn btn-blue right-button">{% trans %}Подробнее{% endtrans %}</a>
    {% endif %}
</div>
