<section class="item-list" id="items-list">
	{% for item in list.getItems() %}
	<article class="item clearfix">
		<div class="headline clearfix">
			<div class="date">{{ item.getDate()|krd_date_format }}</div>
		</div>
		<a href="{{ item.getUrl() }}" class="title">{{ item.getTitle() }}</a>
	</article>
	{% if not loop.last %}
	<div class="s-line"></div>
	{% endif %}
	{% endfor %}
</section>

<div class="clear" style="height: 30px"></div>
{% if list.getPageCount() > 1 %}
    <div class="btn btn-blue btn-block next-page" more-btn-body="items-list" more-btn="speech-list-item" url="{{ path('ajax_glava_speech_list', {parent:currentNode.getId()}) }}">Показать еще</div>
{% endif %}

{% raw %}
<script type="text/ng-template" id="speech-list-item">
	<div>
		<div class="s-line" ng-show="item.id === items[0].id"></div>
		<article class="item clearfix">
			<div class="headline clearfix">
				<div class="date">{{ item.date }}</div>
			</div>
			<a href="{{ item.url }}" class="title">{{ item.title }}</a>
		</article>
		<div class="s-line" ng-show="item.id != items[items.length-1].id"></div>
	</div>
</script>
{% endraw %}