{# Контентная страница #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    <section class="page-content">
        {% include "KrdSiteBundle::blocks/breadcrumb.html.twig" %}

        <div class="page-title">{{ appContainer.get('qcore.routing.breadcrumb').getTitle() }}</div>

        {{ appContainer.get('krd.site.modules.dservice').renderContent()|raw }}
        <div class="text-align-right">
            <a href="{{ appContainer.get('qcore.routing.breadcrumb').getBackUrl() }}" class="btn btn-blue">Вернуться к департаменту</a>
        </div>
    </section>

    {% include "KrdSiteBundle::blocks/social-bottom.html.twig" %}
    {% include "KrdSiteBundle::blocks/footer-banners.html.twig" %}
    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}
