{# Главная страница департамента #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    <section class="page-content departament-index">
        {% include "KrdSiteBundle::blocks/breadcrumb.html.twig" %}

        <div class="page-title">{{ currentNode.getFrontendTitle() }}</div>

        {{ appContainer.get('krd.site.modules.content').renderIncontentMenu()|raw }}

        {#% if currentNode.getId() == 16720 %}
            <div style="margin:50px 0;">
                <div style="text-align:center; font-size:25px; line-height:27px; color:#083857; font-family:'__PTSansBold'; text-transform:uppercase; margin-bottom:35px; word-wrap:break-word;">До дня победы осталось:</div>

                <div style="width:640px; margin:0 auto;">
                    <div class="flip-clock"></div>
                </div>
            </div>
        {% endif %#}

        {{ appContainer.get('krd.news.modules.news').renderDepartamentIndex()|raw }}
        {{ appContainer.get('krd.site.modules.content').renderDepartamentIndex()|raw }}
        {{ appContainer.get('krd.site.modules.dservice').renderDepartamentIndex()|raw }}
        {{ appContainer.get('krd.site.modules.faq').renderDepartamentIndex()|raw }}
        {{ appContainer.get('krd.site.modules.suborganization').renderDepartamentIndex()|raw }}
        {{ appContainer.get('krd.gallery.modules.gallery').renderDepartamentIndex()|raw }}

        {% set vacancy = appContainer.get('krd.site.modules.vacancy').renderDepartamentIndex() %}
        {% set contacts = appContainer.get('krd.site.modules.content').renderDepartamentContacts() %}

        {% if (vacancy is not empty) and (contacts is not empty) %}
            <div class="block">
                <div class="divide-50 clearfix">
                    <div>
                        {{ vacancy|raw }}
                    </div>
                    <div>
                        {{ contacts|raw }}
                    </div>
                </div>
            </div>
        {% elseif (vacancy is not empty) or (contacts is not empty) %}
            <div class="block">
                {% if vacancy is not empty %}
                    {{ vacancy|raw }}
                {% else %}
                    {{ contacts|raw }}
                {% endif %}
            </div>
        {% endif %}
    </section>

    {% include "KrdSiteBundle::blocks/social-bottom.html.twig" %}
    {% include "KrdSiteBundle::blocks/footer-banners.html.twig" %}
    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}

