{# Страница списка новостей #}

{% extends "KrdSiteBundle::layout-aside-r.html.twig" %}

{% block content %}
    <section class="page-content clearfix">
        {% include "KrdSiteBundle::blocks/breadcrumb.html.twig" %}
    </section>

    {{ parent() }}
{% endblock %}

{% block content_body %}
    {% if app.request.locale == 'ru' and is_path_exists('krd_subscribe_form') %}
        <div class="headline">
            <div class="share-panel">
                <div class="item">
                    <div class="subscribe-btn" dialog-show="{{ path('krd_subscribe_form') }}">
                        <div class="ajax-link">{% trans %}Подписка<br/>на новости{% endtrans %}</div>
                        <i class="icon-subscribe"></i></div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="page-title d-line">
        {{ currentNode.getFrontendTitle() }}
    </div>

    {% if has_themes > 0 %}
        <div class="theme-block clearfix">
            {% for theme in themes %}
                <a href="#" cancel-filter="{{ theme.id }}">{{ theme.title }} <i class="close"></i></a>
            {% endfor %}
        </div>
        <div class="clear"></div>
    {% endif %}

    {# Выводим модули страницы #}
    {% for module in currentNode.getController().getModules() %}
        {{ appContainer.get(module).renderContent()|raw }}
    {% endfor %}

    <script type="text/ng-template" id="news-theme-selector">
        <div class="page-title nm d-line">{% trans %}Выберите тему{% endtrans %}</div>
        <div class="text-block">
            <form id="news-theme-filter" news-themes class="news-theme-form clearfix"
                  action="{{ currentNode.getUrl() }}" themes-selected="{{ themes_id|serialize }}"
                  data-themes-url="{{ path('ajax_news_news_themes', {parent:currentNode.getId()}) }}">
                <div class="row clearfix">
                    <div class="span2">
                        <span class="set-title">{% trans %}поиск темы{% endtrans %}</span>
                    </div>
                    <div class="span10">
                        <div class="tagsinput" style="width: 569px; height: auto;">
                            <div>
                                <input id="news-tags_tag" value="" style="color: rgb(102, 102, 102); width: 90px;">
                            </div>
                        </div>
                        <button class="btn btn-blue" type="submit">{% trans %}найти{% endtrans %}</button>
                    </div>
                </div>
                {% raw %}
                <div class="clear" style="height: 30px;"></div>
                <div class="set-title">{% endraw %}{% trans %}популярные темы{% endtrans %}{% raw %}</div>
                <div class="row flow-content scroll-pane clearfix">
                    <div class="scroll-content clearfix">
                        <ul class="clearfix">
                            <li ng-repeat="item in getItems()" id="n{{ item.id }}">
                                <label for="theme-{{ item.id }}"><input type="checkbox" value="{{ item.id }}"
                                                                        name="themes[]" id="theme-{{ item.id }}"
                                                                        data-content="{{ item.title }}"><span>{{ item.title }}</span>&nbsp;({{
                                    item.newscount }})</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="scroll" id="scroll-bar"></div>
                {% endraw %}
            </form>
        </div>
    </script>
{% endblock %}

{% block content_aside %}
    {{ appContainer.get('krd.news.modules.news').renderAsideCalendar()|raw }}

    <a href="#" class="date-range-btn"
       dialog-show="{{ path('ajax_news_news_range', {parent:currentNode.getId(),date_begin:app.request.get('date_begin'),date_end:app.request.get('date_end')}) }}"><i></i><span>{% trans %}
            Выбрать период{% endtrans %}</span></a>

    <div class="btn btn-blue" style="display:block;margin-top:2px;" onclick="window.location.reload()">{% trans %}
        Применить{% endtrans %}</div>

    <div class="page-title midi d-line" style="margin-top:30px;">{% trans %}Фильтр по теме{% endtrans %}</div>
    <p style="font-size:13px; font-family:'Roboto'; margin-bottom:18px;">
        {% if app.request.locale == 'ru' %}
            Если вы хотите найти новость по определенной теме, Вы можете воспользоваться фильтром новостей по теме:
        {% else %}
            If you want to find news by a specific theme, then you can use news theme filter:
        {% endif %}
    </p>
    <a href="#" class="btn btn-blue" style="display:block;margin-top:5px;" dialog-show="news-theme-selector">
        {% trans %}Выбрать тему{% endtrans %}
    </a>
{% endblock %}
