{% extends 'QCoreBundle:Index:index.html.twig' %}

{% block title %}Very-Good CMS :: Баннеры{% endblock %}

{% block content %}
    <h2>Баннеры на главной под виджетами (715x160)</h2>

    <tabs>
        <pane heading="Список" url="/index/">
            <div entity-list="{{ path('cms_rest_krd_banners_banner') }}:id?type=index" url="/index/" columns="{id:{title:'#'}, title:{title:'Заголовок'}, url:{title:'URL'}, image_main:{title:'Изображение', modifier:'el_image'},  active:{title:'Активность', isBoolean:true}}" btn-add="Добавить баннер" count="10" disable-move></div>
        </pane>

        <ghostpane heading="Новый баннер" url="/index/create/" parent="0" template="{{ path('cms_rest_krd_banners_banner_form_add', {'type':'index'}) }}"></ghostpane>

        <ghostpane heading="Ред. баннер #{id}" url="/index/edit/{id}" parent="0" template="{{ path('cms_rest_krd_banners_banner_form_add') }}{id}"></ghostpane>
    </tabs>

    <h2>Баннеры в футере страницы (250x124)</h2>

    <tabs>
        <pane heading="Список" url="/footer/">
            <div entity-list="{{ path('cms_rest_krd_banners_banner') }}:id?type=footer" url="/footer/" columns="{id:{title:'#'}, title:{title:'Заголовок'}, url:{title:'URL'}, image_main:{title:'Изображение', modifier:'el_image'}, active:{title:'Активность', isBoolean:true}}" btn-add="Добавить баннер" count="10" disable-move></div>
        </pane>

        <ghostpane heading="Новый баннер" url="/footer/create/" parent="0" template="{{ path('cms_rest_krd_banners_banner_form_add', {'type':'footer'}) }}"></ghostpane>

        <ghostpane heading="Ред. баннер #{id}" url="/footer/edit/{id}" parent="0" template="{{ path('cms_rest_krd_banners_banner_form_add') }}{id}"></ghostpane>
    </tabs>
{% endblock %}
