{# Детальный блок парка #}

<div class="page-title">{{ item.getTitle() }}</div>

<article class="text-block clearfix">
    {% if item.hasImages() %}
        {% if item.getImages()|length > 1%}
            <div class="icons-slider img-left">
                {% for image in item.getImages() %}
                    <a href="{{ image.getUrl('fancybox') }}" class="item fancybox" title="{{ image.getTitle() }}" rel="content-{{ item.getId() }}">
                        <img src="{{ image.getUrl('icons_slider') }}" alt="{{ image.getTitle() }}">
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <a href="{{ item.getImages().0.getUrl('fancybox') }}" class="img-left fancybox">
                <img src="{{ item.getImages().0.getUrl('icons_slider') }}" alt="{{ item.getImages().0.getTitle() }}">
            </a>
        {% endif %}
    {% endif %}

   {{ item.getContent()|raw }}
</article>
