{# Список парков #}

{% if not list is empty %}
    <div class="text-block">
        <div class="images-menu clearfix">
            {% for item in list %}
                <div class="item">
                    <a href="{{ item.getUrl() }}" class="icon">
                        {% if item.hasIcon() %}
                            <img src="{{ item.getIcon().0.getUrl('block_preview') }}" alt="{{ item.getTitle() }}">
                        {% endif %}
                    </a>

                    <a href="{{ item.getUrl() }}" class="title">{{ item.getTitle() }}</a>
                </div>

                {% if loop.index is divisible by(3) %}
                    </div><div class="images-menu clearfix">
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
