/** Главная **/
.user-appeal-tabs > .tabs-head > .tab {float:left; width:300px;}
.user-appeal-tabs > .tabs-head > .tab:last-child {float:right;}
.user-appeal-tabs > .tabs-head > .tab + .tab {margin-left:32px;}
    .user-appeal-tabs > .tabs-head > .tab > .pane {background:#f4f4f4; border:1px solid #dbdbdb; padding:27px 23px 25px; position:relative; height:130px;}
    .user-appeal-tabs > .tabs-head > .tab.active > .pane {background:#fff; border-bottom:1px solid #fff; height:161px; margin-bottom:-31px;}
        .user-appeal-tabs > .tabs-head > .tab > .pane > .title {color:#083857; font-size:16px; font-family:'Roboto'; font-weight:bold; text-transform:uppercase; text-align:center; margin-bottom:10px; line-height:1.2;}
        .user-appeal-tabs > .tabs-head > .tab > .pane > .text-block {font-size:13px; text-align:center; line-height:1.2;}
        .user-appeal-tabs > .tabs-head > .tab > .pane > .btn-group {text-align:center; position:absolute; bottom:30px; left:0; right:0;}
        .user-appeal-tabs > .tabs-head > .tab.active > .pane > .btn-group {bottom:61px;}
            .user-appeal-tabs > .tabs-head > .tab > .pane > .btn-group > .btn + .btn {margin-left:10px;}

.user-appeal-tabs > .tabs-body {border:1px solid #e5e5e5; padding:20px; margin-top:30px;}
    .user-appeal-tabs > .tabs-body .items-list b.title {margin-top:10px; margin-bottom:7px;}
