/** Виджеты в личном кабинете **/
.lk-widget {width:300px; height:387px; background:#fff;}
    .lk-widget > .head {height:53px; position:relative; border-radius:2px 2px 0 0; background: #0b4a73; background: -moz-linear-gradient(top,  #0b4a73 0%, #083857 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0b4a73), color-stop(100%,#083857)); background: -webkit-linear-gradient(top,  #0b4a73 0%,#083857 100%); background: -o-linear-gradient(top,  #0b4a73 0%,#083857 100%); background: -ms-linear-gradient(top,  #0b4a73 0%,#083857 100%); background: linear-gradient(to bottom,  #0b4a73 0%,#083857 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b4a73', endColorstr='#083857',GradientType=0 );}
        .lk-widget > .head .icon-lk-drag-widget {position:absolute; top:21px; left:18px; cursor:move;}
        .lk-widget > .head .title {font-size:18px; padding:18px 0 0 38px; color:#fff; font-family:'Roboto'; font-weight:bold;}
        .lk-widget > .head .close {position:absolute; top:21px; right:18px; display:block; width:11px; height:11px;}
            .lk-widget > .head .close i {display:block;}
    .lk-widget > .body {border:1px solid #d8dbdd; height:331px; margin-top:1px; position:relative; border-radius:0 0 2px 2px;}
    .lk-widget > .body:before {content:''; display:block; width:11px; height:8px; background:url(../i/s-lk.png) -400px -100px no-repeat; position:absolute; top:-2px; left:19px;}
        .lk-widget > .body > .wrap {padding:20px;}
            .lk-widget .body .title {word-wrap:break-word;}
            .lk-widget > .body .left-button, .lk-widget > .body .left-button:active {position:absolute; left:20px; bottom:20px; right:auto; top:auto;}
            .lk-widget > .body .right-button, .lk-widget > .body .right-button:active {position:absolute; right:20px; bottom:20px; left:auto; top:auto;}

.lk-widget-list {margin-right:-32px; margin-top:-30px;}
    .lk-widget-list > .lk-widget {float:left; margin-top:30px; margin-right:32px;}

.widget-thumb {text-align:center;}
    .widget-thumb .icon {padding:22px 0;}
    .widget-thumb .ttl {font-family:'Roboto'; font-weight:bold; text-transform:uppercase; font-size:19px; color:#083857; padding:0 13px;}

/** Кнопка добавления виджетов **/
.lk-widget.add-button {border:1px solid #d8dbdd; width:298px; height:385px; background:#fafafa; position:relative; border-radius:2px;}
    .lk-widget.add-button .info {width:194px; margin:0 auto; padding-top:70px;}
        .lk-widget.add-button .info i {display:block; width:194px; height:194px; background:url(../i/s-lk.png) -303px -150px no-repeat; margin-bottom:7px;}
        .lk-widget.add-button .info span {display:block; text-align:center; font-size:24px; text-transform:uppercase; color:#083857; font-family:'Roboto'; font-weight:bold;}

.lk-widget.add-button .list {display:none;}
.lk-widget.add-button:hover .info {display:none;}
.lk-widget.add-button:hover .list {display:block;}

.lk-widget.add-button .list > i {width:0; height:385px; display:inline-block; _overflow:hidden; *zoom:1; *display:inline; vertical-align:middle;}
.lk-widget.add-button .list > i + .items {display:inline-block; _overflow:hidden; *zoom:1; *display:inline; vertical-align:middle; padding:0 10px; width:278px;}
    .lk-widget.add-button .list .items a {font-size:18px; line-height:1.2; color:#09689f; text-transform:uppercase; font-family:'Roboto'; font-weight:bold; padding:6px 10px 6px 32px; display:block; text-decoration:none; position:relative;}
        .lk-widget.add-button .list .items a i {display:inline-block; _overflow:hidden; *zoom:1; *display:inline; width:13px; height:13px; background:url(../i/s-lk.png) -400px -500px no-repeat; position:absolute; top:10px; left:10px;}
    .lk-widget.add-button .list .items a:hover {color:#fff; border-top:1px solid #fafafa; border-radius:2px; background:#0b81b6; background: -moz-linear-gradient(top,  #0b81b6 0%, #09689f 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0b81b6), color-stop(100%,#09689f)); background: -webkit-linear-gradient(top,  #0b81b6 0%,#09689f 100%); background: -o-linear-gradient(top,  #0b81b6 0%,#09689f 100%); background: -ms-linear-gradient(top,  #0b81b6 0%,#09689f 100%); background: linear-gradient(to bottom,  #0b81b6 0%,#09689f 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b81b6', endColorstr='#09689f',GradientType=0 );}
        .lk-widget.add-button .list .items a:hover i {background-position:-450px -500px;}
    .lk-widget.add-button .list .items a + a {border-top:1px dotted #c8c8c8;}
    .lk-widget.add-button .list .items a:hover + a {border-top:1px solid #fafafa;}
    .lk-widget.add-button .list .items a:first-child {border-top:0 none !important;}


/** Виджет мобильных приложений **/
.lk-widget-mobile-apps .app .info > img {margin-right:20px; vertical-align:middle; width:64px; height:64px;}
.lk-widget-mobile-apps .app .info > .title {display:inline-block; _overflow:hidden; *zoom:1; *display:inline; vertical-align:middle; width:174px; font-size:14px; position:relative; top:-2px;}
.lk-widget-mobile-apps .app .info + .badges {margin-top:10px;}
    .lk-widget-mobile-apps .app .badges a {float:left;}
    .lk-widget-mobile-apps .app .badges a + a {margin-left:10px;}


/** Виджет городского репортера **/
.lk-widget-reporter .image {display:block; width:258px; height:193px; overflow:hidden; position:relative; margin-bottom:15px;}
    .lk-widget-reporter .image img {display:block; max-width:100%;}
    .lk-widget-reporter .image .date {font-size:11px; color:#fff; padding:5px 10px 4px; background:#264c64; position:absolute; left:0; bottom:0;}
.lk-widget-reporter .title {font-size:14px; line-height:1.2;}


/** Виджет интернет-приемной **/
.lk-widget-appeal .links {text-align:center; position:relative; top:-9px;}
    .lk-widget-appeal .links a {display:block; text-decoration:none; font-size:16px; line-height:1.2; color:#083857; font-family:'Roboto'; font-weight:bold; text-transform:uppercase; border:1px solid #fff; padding:20px 0;}
    .lk-widget-appeal .links a + a {border-top:1px dotted #cccccc;}
    .lk-widget-appeal .links a:hover {text-decoration:underline; color:#09689f; background:#f5f5f5; border:1px solid #dcdcdc; padding-left:10px; width:258px; padding-right:10px; position:relative; left:-11px;}
    .lk-widget-appeal .links a:hover + a {border-top:1px solid #fff;}

.lk-widget-appeal .items-list .name {display:block; margin:11px 0 7px; font-size:14px;}


/** Виджет онлайн-конференций **/
.lk-widget-conference-online .photos {text-align:center; height:146px;}
    .lk-widget-conference-online .photos a {display:inline-block; _overflow:hidden; *zoom:1; *display:inline;}
    .lk-widget-conference-online .photos a + a {margin-left:10px;}
        .lk-widget-conference-online .photos a img {background:#fff; display:block;}
.lk-widget-conference-online .photos + .headline {margin-top:9px;}
.lk-widget-conference-online .title {font-size:13px; line-height:1.2; display:block;}
.lk-widget-conference-online .headline + .title {margin-top:5px;}
