/** Mobile apps list **/
.mobile-app-list .item > .icon {width:64px; height:64px;}
.mobile-app-list .item .badges {margin-top:12px;}
    .mobile-app-list .item .badges a {float:left;}
    .mobile-app-list .item .badges a + a {margin-left:10px;}
