{# Управление виджетами #}

<h3>Все возможные виджеты</h3>

<tabs>
    <pane heading="Список" url="/widget/">
        <div entity-list="{{ path('cms_rest_krd_user_widget') }}:id" url="/widget/" columns="{id:{title:'#'}, title:{title:'Заголовок'}, module:{title:'Модуль'}, active:{title:'Активность', isBoolean:true}}" btn-add="Добавить" count="10" disable-move sortable></div>
    </pane>

    <ghostpane heading="Добавление" url="/widget/create/" parent="0" template="{{ path('cms_rest_krd_user_widget_form_add') }}"></ghostpane>

    <ghostpane heading="Ред. #{id}" url="/widget/edit/{id}" parent="0" template="{{ path('cms_rest_krd_user_widget_form_add') }}{id}"></ghostpane>
</tabs>
