{# Окно сообщения об ошибке #}

<div class="export-window" id="error-report-window" style="display:none;">
    <a href="#" class="close"></a>
    <div class="wrap">
        <div class="title">Сообщение об ошибке</div>
        <div class="w">
            <div class="row">
                <div class="ttl">Ваши контактные данные:</div>
                <input type="text" name="name" />
            </div>

            <div class="row">
                <div class="ttl">Адрес страницы с ошибкой:</div>
                <a href="#" class="page-address">http://krd.ru/</a>
                <input type="hidden" name="page" value="" />
            </div>

            <div class="row">
                <div class="ttl">Характер ошибки:*</div>
                <select name="type">
                    <option value="">-- Выберите из списка --</option>
                    <option value="1">Неверная информация</option>
                    <option value="2">Орфографическая ошибка</option>
                    <option value="3">Функциональная ошибка</option>
                    <option value="4">Просто совет</option>
                    <option value="5">Сообщение для администрации проекта</option>
                </select>
            </div>

            <div class="row">
                <div class="ttl">Описание:*</div>
                <textarea name="description"></textarea>
            </div>

            <div class="row text-center">
                <button class="btn btn-deep-blue submit">Отправить</button>
            </div>
        </div>
    </div>
</div>
