{# Список категорий на главной странице #}

<div class="sm-big-menu">
    {% for item in categories %}
        <div class="item">
            <div class="icon">
                <i class="i-{{ item.icon }}"></i>
                <div class="sm-title">{{ item.title }}</div>
            </div>

            {% if item.icon == 'education'
                or item.icon == 'socself'
                or item.icon == 'youth'
                or item.icon == 'consumer'
                or item.icon == 'power'
                or item.icon == 'law'
                or item.icon == 'transport'
                or item.icon == 'building'
                or item.icon == 'housing'
                or item.icon == 'link'
                or item.icon == 'finance'
                or item.icon == 'industry' %}
                {% set isCentered = true %}
            {% else %}
                {% set isCentered = false %}
            {% endif %}

            <ul class="links{% if isCentered %} to-center{% endif %}">
                {% if not isCentered %}
                    <li>
                        <a href="/opendata/infographic/?type={{ item.icon }}">Инфографика</a>
                    </li>
                {% endif %}

                <li>
                    <a href="/opendata/list/#!/category-{{ item.id }}">Карта объектов</a>
                </li>
            </ul>

            <ul class="links to-center">
                <li>
                    <a href="#!/export-{{ item.id }}">Экспорт данных</a>
                </li>
            </ul>

            <i class="b-r"></i>
            <i class="b-b"></i>
        </div>
    {% endfor %}
</div>
