{# JS шаблоны #}

<!-- Шаблон элемента фильтра категорий -->
<script id="sm-fl-item-tpl" type="text/x-jquery-tmpl">
    <div class="item cat-${icon}">
        <div class="normal">
            <i class="sm-icon i-${icon}"></i>
            <div class="clear"></div>
            <span class="sm-title">${title}</span>
        </div>

        <div class="hover">
            <div class="over">
                <i class="sm-icon i-${icon}"></i>
                <div class="clear"></div>
                <span class="sm-title">${title}</span>

                <ul class="links">
                    <li class="link-infographic"><a href="/opendata/infographic/?type=${icon}">Инфографика</a></li>
                    <li><a href="/opendata/list/#!/category-${id}">Карта объектов</a></li>
                    <li><a href="#!/export-${id}">Экспорт данных</a></li>
                </ul>
            </div>
        </div>
    </div>
</script>

<!-- Шаблон учреждения в списке под картой -->
<script id="sm-r-item-tpl" type="text/x-jquery-tmpl">
    <div class="sm-r-item r-1">
        <a href="${href}" class="title"><i></i>${title}</a>
        <div class="descr">
            <span>Категория:</span> ${subcategories_txt}
            <div class="clear"></div>
            <span>Адрес:</span> ${address}
            <div class="clear"></div>
            <span>Телефон:</span> ${phone}
        </div>

        <div class="border r"><i></i></div>
        <div class="border b"><i></i></div>
    </div>
</script>

<!-- Всплывающиее окно экспорта -->
<script id="export-window-tpl" type="text/x-jquery-tmpl">
    <div class="export-window">
        <a href="#" class="close"></a>
        <div class="wrap">
            <div class="title">Экспорт данных</div>
            <div class="w">
                <ul class="d">
                    <li><span>Категория:</span> ${title}</li>
                    <li><span>Дата обновления:</span> 01.03.2013</li>
                    <li><span>Обновления:</span> По мере поступления</li>
                    <li><span>Формат данных:</span> XML, CSV</li>
                </ul>

                <ul class="files">
                    <li class="file-xml"><a href="/opendata/?export=${category}&format=xml" target="_blank">Экспорт данных в формате XML</a></li>
                    <li class="file-csv"><a href="/opendata/?export=${category}&format=csv" target="_blank">Экспорт данных в формате CSV</a></li>
                </ul>
            </div>
        </div>
    </div>
</script>
