{# Админская часть модуля RSS #}

<h3>RSS ленты</h3>

<tabs>
    <pane heading="Список" url="/feed/">
        <div entity-list="{{ path('cms_rest_krd_rss_feed') }}:id?parent={{ currentNode.getId() }}" url="/feed/" columns="{id:{title:'#'}, title:{title:'Заголовок'}, name:{title:'Системное имя'}, active:{title:'Активность', isBoolean:true}}" btn-add="Добавить ленту" count="10" sortable></div>
    </pane>

    <ghostpane heading="Создание RSS ленты" url="/feed/create/" parent="0" template="{{ path('cms_rest_krd_rss_feed_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Ред. RSS #{id}" url="/feed/edit/{id}" parent="0" template="{{ path('cms_rest_krd_rss_feed_form_add') }}{id}"></ghostpane>
</tabs>
