{# Детальная страница видео #}


{% extends "KrdGlavaBundle::layout.html.twig" %}

{% block layout_content %}
    <section class="page-content">
        <div class="headline has-share-panel clearfix">
        	<div class="date">{{ item.getDate()|krd_date_format }}</div>
            {% include "KrdSiteBundle:blocks:headline-share.html.twig" with {nosubscribe:true,noshare:true,noread:true} %}
        </div>
		{% include "KrdSiteBundle:blocks:share-panel-float.html.twig" with {nosubscribe:true,noshare:true,noread:true} %}
        <div class="page-title d-line">{{ item.getTitle() }}</div>
		
		<div class="detail-video">
			<div class="format-switcher" ng-show="enableSD || enableHD">
				<div>
					<a href="#" ng-click="sd($event)" ng-show="enableSD">SD</a>
					<a href="#" ng-click="hd($event)" ng-show="enableHD">HD</a>
				</div>
			</div>
			<video width="960" height="540" controls="controls" preload="none" id="glava_video_detail">
				<source type="video/mp4" src="" />
				<source type="video/webm" src="" />
			    <object width="960" height="540" type="application/x-shockwave-flash" data="/bundles/krdsite/vendor/mediaelement/flashmediaelement.swf">
			        <param name="movie" value="/bundles/krdsite/vendor/mediaelement/flashmediaelement.swf" />
			        <param name="flashvars" value="controls=true&file=" />
			    </object>
			</video>
		</div>
		
		<div class="buttons" style="text-align: center;margin-top: 30px;">
			<a href="{{ currentNode.getUrl() }}" class="btn btn-blue">назад к списку</a>
		</div>
    </section>
	
	<script type="text/javascript" id="format-db">
		var formats = {
		{% if item.hasVideo() %}
			converted : {
				webm : "{{ item.getVideo().0.getFormat().0.file.path }}",
				mp4 : "{{ item.getVideo().0.getFormat().1.file.path }}"
			}
		{% endif %}
		
		{% if item.hasWebmSd() and item.hasMp4Sd() %}
			sd : {
				webm : "{{ item.getWebmSd().0.file.path }}",
				mp4 : "{{ item.getMp4Sd().0.file.path }}"
			}
		{% endif %}
		
		{% if item.hasWebmHd() and item.hasMp4Hd() %}
		{% if item.hasWebmSd() and item.hasMp4Sd() %}
			,
		{% endif %}
			hd : {
				webm : "{{ item.getWebmHd().0.file.path }}",
				mp4 : "{{ item.getMp4Hd().0.file.path }}"
			}
		{% endif %}
		};
	</script>

    {% include "KrdSiteBundle::blocks/social-bottom.html.twig" %}
    {% include "KrdSiteBundle::blocks/footer-banners.html.twig" %}
    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}
