
<div id="media-container" data-source="{{ currentNode.getUrl(true) }}source">
	<div class="list-row clearfix" id="row-1">
		<div class="videoPreview" video-preview>
		</div>
		<div class="list-view clearfix">
			{% for item in list.getItems() %}
				<div class="item" id="{{ item.getid() }}">
					<div class="item-area">
						<a href="#" class="icon">
							<div class="loading"></div>
							<img src="{{ item.getMainImage().getUrl('glava292x219') }}" />
						</a>
						<div class="headline clearfix">
							<div class="date">{{ item.getDate()|krd_date_format }}</div>
						</div>
						<a href="#" class="title">{{ item.getTitle() }}</a>
					</div>
				</div>
				{% if not loop.last %}
					{% if loop.index is divisibleby(3) %}
					</div></div><div class="list-row clearfix" id="row-{{ loop.index }}"><div class="previewSlider" video-preview></div><div class="list-view clearfix">
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>

<div class="clear" style="height: 30px"></div>
{% if list.getPageCount() > 1 %}
    <div class="btn btn-blue btn-block next-page" more-btn-body="media-container" more-btn-ex url="{{ path('ajax_glava_video_list', {'parent':currentNode.getId()}) }}">{% trans %}Показать еще{% endtrans %}</div>
{% endif %}

<script type="text/javascript" src="http://yastatic.net/share/share.js" charset="utf-8"></script> 

{% raw %} 
<script type="text/ng-template" id="glava-list-item">
	<div class="list-row clearfix">
		<div class="videoPreview" video-preview>
		</div>
		<div class="list-view clearfix">
			<div class="item" ng-repeat="item in items" id="{{ item.id }}">
				<div class="item-area">
					<a href="#" class="icon">
						<div class="loading"></div>
						<img src="{{ item.images[0].size.glava292x219 }}" />
					</a>
					<div class="headline clearfix">
						<div class="date">{{ item.date }}</div>
					</div>
					<a href="#" class="title">{{ item.title }}</a>
				</div>
			</div>
		</div>
	</div>
</script>
{% endraw %}