<section class="item-list" id="items-list">
	{% for item in list.getItems() %}
	<article class="item faq-item" faq-item faq-id="{{ item.getId() }}">
		<div class="headline faq-headline clearfix">
			<i class="q"></i>
			<div class="date">{{ item.getDate()|krd_date_format(true) }}</div>
			{% if item.getName() is not empty %}<div class="author">Вопрос от <b>{{ item.getName() }}</b></div>{% endif %}
			<div class="share-panel has-share-panel no-selection" style="float:right;">
			 	<div class="item">
	                <a href="{{ currentNode.getUrl() }}detail-{{ item.id }}.html?print" target="_blank" class="icon-share-panel-print" title="{% trans %}Печать страницы{% endtrans %}"></a>
	            </div>
				<div class="item dd-list">
	                <i class="icon-share-panel-function" title="{% trans %}Прочитать потом{% endtrans %}"></i>
	
	                <div class="dd-wrap">
	                    <i class="icon-share-dd-function"></i>
	                    <i class="icon-share-dd-pocket" title="Pocket" krd-share-pocket></i>
	                    <i class="icon-share-dd-evernote" title="Evernote" krd-share-evernote></i>
	                    <i class="icon-share-dd-readability" title="Readability" krd-share-readability></i>
	                    <i class="icon-share-dd-instapaper" title="Instapaper" krd-share-instapaper></i>
	                </div>
	            </div>
				<div class="item dd-list">
	                <i class="icon-share-panel-share" title="{% trans %}Рассказать друзьям{% endtrans %}"></i>
	
	                <div class="dd-wrap">
	                    <i class="icon-share-dd-share"></i>
	                    <div class="yashare-auto-init" id="ya{{ item.id }}"  data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="twitter,facebook,vkontakte">
	                    </div>
	                </div>
	            </div>
			</div>
		</div>
		<a href="javascript:;" data-id="#q{{ item.id }}" class="faq-title" onclick="return false;">{{ item.title }}</a>
		<div class="faq-container" id="q{{ item.id }}">
			<a href="#" class="close"></a>
			<div class="text-container">
				{{ item.reply|raw }}
			</div>
		</div>
	</article>
	{% if not loop.last %}
	<div class="s-line" data="{{ loop.index }} {{ list|length }}"></div>
	{% endif %}
	{% endfor %}
</section>

<div class="clear" style="height: 30px"></div>
{% if list.getPageCount() > 1 %}
    <div class="btn btn-blue btn-block next-page" more-btn-body="items-list" more-btn="faq-list-item" url="{{ path('ajax_glava_faq_list', {parent:currentNode.getId()}) }}">Показать еще вопросы</div>
{% endif %}

<script type="text/javascript" src="http://yastatic.net/share/share.js" charset="utf-8"></script> 

{% raw %}
<script type="text/ng-template" id="faq-list-item">
	<div>
	<div class="s-line" ng-show="item.id === items[0].id"></div>
	<article class="item faq-item" faq-item faq-id="{{ item.id }}">
		<div class="headline faq-headline clearfix">
			<i class="q"></i>
			<div class="date">{{ item.date }}</div><div class="author" ng-show="!!item.name">Вопрос от <b>{{ item.name }}</b></div>
			<div class="share-panel has-share-panel no-selection" style="float:right;">
			 	<div class="item">
	                <a href="{% endraw %}{{ currentNode.getUrl() }}{% raw %}detail-{{ item.id }}.html" target="_blank" class="icon-share-panel-print" title="{% trans %}Печать страницы{% endtrans %}"></a>
	            </div>
				<div class="item dd-list">
	                <i class="icon-share-panel-function" title="{% trans %}Прочитать потом{% endtrans %}"></i>
	
	                <div class="dd-wrap">
	                    <i class="icon-share-dd-function"></i>
	                    <i class="icon-share-dd-pocket" title="Pocket" krd-share-pocket></i>
	                    <i class="icon-share-dd-evernote" title="Evernote" krd-share-evernote></i>
	                    <i class="icon-share-dd-readability" title="Readability" krd-share-readability></i>
	                    <i class="icon-share-dd-instapaper" title="Instapaper" krd-share-instapaper></i>
	                </div>
	            </div>
				<div class="item dd-list">
	                <i class="icon-share-panel-share" title="{% trans %}Рассказать друзьям{% endtrans %}"></i>
	
	                <div class="dd-wrap">
	                    <i class="icon-share-dd-share"></i>
	                    <div class="yashare-auto-init" id="ya{{ item.id }}"  data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="twitter,facebook,vkontakte">
	                        <span class="b-share">
	                        	<a rel="nofollow" target="_blank" title="Twitter" class="b-share__handle b-share__link b-share-btn__twitter" href="#" data-service="twitter"><span class="b-share-icon b-share-icon_twitter"></span></a>
								<a rel="nofollow" target="_blank" title="Facebook" class="b-share__handle b-share__link b-share-btn__facebook" href="#" data-service="facebook"><span class="b-share-icon b-share-icon_facebook"></span></a>
								<a rel="nofollow" target="_blank" title="ВКонтакте" class="b-share__handle b-share__link b-share-btn__vkontakte" href="#" data-service="vkontakte"><span class="b-share-icon b-share-icon_vkontakte"></span></a>
							</span>
	                    </div>
	                </div>
	            </div>
			</div>
		</div>
		<a href="javascript:;" data-id="#q{{ item.id }}" class="faq-title" onclick="return false;" ng-bind-html="item.title"></a>
		<div class="faq-container" id="q{{ item.id }}">
			<a href="#" class="close"></a>
			<div class="text-container" ng-bind-html="item.reply"></div>
		</div>
	</article>
	<div class="s-line" ng-show="item.id != items[items.length-1].id"></div>
	</div>
</script>
{% endraw %}