{# Контентная страница #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    <section class="page-content page-container">
        <div class="page-title">Вопрос</div>
		{% if app.request.get('print') %}
		<script type="text/javascript">
			window.print();
		</script>
		{% endif %}
		
		<section class="item-list" id="items-list">
			<article class="item faq-item">
				<div class="headline faq-headline clearfix" style="padding-left: 20px">
					<div class="date">{{ item.getDate()|krd_date_format(true) }}</div>
				</div>
				<div  style="padding-left: 20px">
					<a href="javascript:;" data-id="#q{{ item.id }}" class="faq-title active" onclick="return false;">{{ item.title }}</a>
				</div>
				<div id="q{{ item.id }}" style="display:block;padding: 20px;">
					<a href="#" class="close"></a>
					<div class="text-container">
						{{ item.reply|raw }}
					</div>
				</div>
			</article>
		</section>
    </section>
{% endblock %}
