{# Админская часть модуля Объекты города #}

<h3>Объекты города</h3>

<tabs>
    <pane heading="Список объектов города" url="/city_object/">
        <div entity-list="{{ path('cms_rest_krd_city_city_object') }}:id?parent={{ currentNode.getId() }}" url="/city_object/" columns="{id:{title:'#'}, title:{title:'Заголовок'}, name:{title:'Системное имя'}, active:{title:'Активность', isBoolean:true}}" btn-add="Добавить объект" count="10" sortable></div>
    </pane>

    <ghostpane heading="Создание объекта" url="/city_object/create/" parent="0" template="{{ path('cms_rest_krd_city_city_object_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Ред. объекта #{id}" url="/city_object/edit/{id}" parent="0" template="{{ path('cms_rest_krd_city_city_object_form_add') }}{id}"></ghostpane>
</tabs>
