{# Админская часть модуля Гостиницы #}

<h3>Гостиницы</h3>

<tabs>
    <pane heading="Список" url="/hotel/">
        <div entity-list="{{ path('cms_rest_krd_city_hotel') }}:id?parent={{ currentNode.getId() }}" url="/hotel/" columns="{id:{title:'#'}, title:{title:'Заголовок'}, category:{title:'Категория'}, active:{title:'Активность', isBoolean:true}}" btn-add="Добавить" count="10" sortable></div>
    </pane>

    <ghostpane heading="Создание" url="/hotel/create/" parent="0" template="{{ path('cms_rest_krd_city_hotel_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Ред. #{id}" url="/hotel/edit/{id}" parent="0" template="{{ path('cms_rest_krd_city_hotel_form_add') }}{id}"></ghostpane>
</tabs>
