{# Админская часть модуля Парки #}

<h3>Парки</h3>

<tabs>
    <pane heading="Список" url="/park/">
        <div entity-list="{{ path('cms_rest_krd_city_park') }}:id?parent={{ currentNode.getId() }}" url="/park/" columns="{id:{title:'#'}, title:{title:'Заголовок'}, active:{title:'Активность', isBoolean:true}}" btn-add="Добавить" count="10" sortable></div>
    </pane>

    <ghostpane heading="Создание" url="/park/create/" parent="0" template="{{ path('cms_rest_krd_city_park_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Ред. #{id}" url="/park/edit/{id}" parent="0" template="{{ path('cms_rest_krd_city_park_form_add') }}{id}"></ghostpane>
</tabs>
