{# Админская часть модуля СМИ #}

<h3>СМИ</h3>

<tabs>
    <pane heading="Список" url="/smi/">
        <div entity-list="{{ path('cms_rest_krd_city_smi') }}:id?parent={{ currentNode.getId() }}" url="/smi/" columns="{id:{title:'#'}, title:{title:'Заголовок'}, category:{title:'Категория'}, active:{title:'Активность', isBoolean:true}}" btn-add="Добавить" count="10" sortable></div>
    </pane>

    <ghostpane heading="Создание" url="/smi/create/" parent="0" template="{{ path('cms_rest_krd_city_smi_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Ред. #{id}" url="/smi/edit/{id}" parent="0" template="{{ path('cms_rest_krd_city_smi_form_add') }}{id}"></ghostpane>
</tabs>
