{# Админская часть модуля Турфирмы #}

<h3>Турфирмы</h3>

<tabs>
    <pane heading="Список" url="/travel_agency/">
        <div entity-list="{{ path('cms_rest_krd_city_travel_agency') }}:id?parent={{ currentNode.getId() }}" url="/travel_agency/" columns="{id:{title:'#'}, title:{title:'Заголовок'}, active:{title:'Активность', isBoolean:true}}" btn-add="Добавить" count="10" sortable></div>
    </pane>

    <ghostpane heading="Создание" url="/travel_agency/create/" parent="0" template="{{ path('cms_rest_krd_city_travel_agency_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Ред. #{id}" url="/travel_agency/edit/{id}" parent="0" template="{{ path('cms_rest_krd_city_travel_agency_form_add') }}{id}"></ghostpane>
</tabs>
