{# Верхняя панель поиска #}

<div class="panel-search clearfix">
    <div class="page-wrap">
        {% set formAction = node_path(4904) %}
        {% if formAction == '#' %}
            {% set formAction = node_path(23) %}
        {% endif %}

        <form class="search-form clearfix" action="{{ formAction }}" method="GET" id="search-form">
            <label for="searchword">{% trans %}Поиск по сайту{% endtrans %}:</label>
            <input type="text" name="q" id="searchword" placeholder="{% trans %}Пример, структура администрации...{% endtrans %}" value="{{ searchword|default('') }}">

            <input type="hidden" name="sort" value="{{ app.request.query.get('sort', '') }}">
            <input type="hidden" name="date-start" value="{{ app.request.query.get('date-start', '') }}">
            <input type="hidden" name="date-end" value="{{ app.request.query.get('date-end', '') }}">

            <button class="submit-btn">{% trans %}Найти{% endtrans %}</button>
            <div class="close-btn" ng-click="hideSearch()"></div>
        </form>
    </div>
</div>
