/** Вращение объекта на 360 градусов **/
@-webkit-keyframes rotate{
    0%   {-webkit-transform: rotate(0deg);}
    100%   {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate{
    0%   {-moz-transform: rotate(0deg);}
    100%   {-moz-transform: rotate(360deg);}
}

@-o-keyframes rotate{
    0%   {-o-transform: rotate(0deg);}
    100%   {-o-transform: rotate(360deg);}
}

@-ms-keyframes rotate{
    0%   {-ms-transform: rotate(0deg);}
    100%   {-ms-transform: rotate(360deg);}
}

@keyframes rotate{
    0%   {transform: rotate(0deg);}
    100%   {transform: rotate(360deg);}
}

/** ****************************************************** **/

header.navbar-inverse .navbar-inner {border-radius:0; padding-left:30px; padding-right:30px;}
.navbar-fixed-top {box-shadow:0 5px 5px rgba(0,0,0,0.2)}
.header-padding {height:60px;}

a {cursor:pointer;}
a.btn:hover {text-decoration:none !important;}

dl:first-child {margin-top:0;}

blockquote .text-block p {font-size:13px; font-weight:normal; line-height:1.2;}

/** Modal **/
.modal {width:1000px; margin-left:-500px;}
.modal.w800 {width:800px; margin-left:-400px;}

.popover, .tooltip {z-index:1060;}
.tab-content {overflow:visible;}

/** Заголовки **/
h2 {font-size:30px;}
.nav-tabs > li > a {cursor:pointer;}

/** TinyMCE **/
.mce-panel {border-color:#ccc !important;}
div.mce-fullscreen {top:41px !important;}

/** Сайдбар **/
aside .well > header {background:#eee; border-bottom:1px solid #e5e5e5; font-weight:bold; font-size:110%; color:#9da0a4;}
aside .well.well-small > header {margin:-9px -9px 10px -9px; padding:9px;}


/** Индикация загрузки списка сущностей **/
.loading-container {position:relative;}
    .loading-container > .preloader {position:absolute; left:0; top:0; width:100%; height:100%; background:url(../i/preloader.gif) center no-repeat rgba(255,255,255,0.5); min-height:40px; min-width:40px;}


/** Вращающиеся блоки **/
.infiinite-rotate {-webkit-animation:rotate 1.3s linear infinite; -moz-animation:rotate 1.3s linear infinite; -o-animation:rotate 1.3s linear infinite; -ms-animation:rotate 1.3s linear infinite; animation:rotate 1.3s linear infinite;}


/** Списки сущностей **/
.entity-list > .loading-container > .header-buttons {margin-bottom:10px;}
    .entity-list > .loading-container > .header-buttons > .btn {margin-right:15px;}
    .entity-list > .loading-container > .header-buttons > .btn:last-child {margin-right:0;}
.entity-list .pagination {margin-top:0;}
.entity-list .sortable-td > i {opacity:0.8; cursor:pointer; position:relative; -webkit-transition:0.2s opacity linear; -moz-transition:0.2s opacity linear; -o-transition:0.2s opacity linear; -ms-transition:0.2s opacity linear; transition:0.2s opacity linear;}
.entity-list .sortable-td > i:hover {opacity:1;}
.entity-list .sortable-td > i.hidden {opacity:0; cursor:default; height:0;}
.entity-list .actions-td > .btn {margin-right:10px;}
.entity-list .actions-td > .btn:last-child {margin-right:0;}
.entity-list tr.selected > td {background:#eee !important;}


/** Дерево **/
.node-tree {padding-left:17px; font-size:12px; line-height:14px;}
.node-tree .link {font-size:12px; line-height:14px;}
    .node-tree .node-tree {margin-bottom:2px;}
    .node-tree .node-tree-item {padding:3px 0; line-height:14px;}
    .node-tree .node-tree-item.current > .link {font-weight:bold; color:#333;}

    .node-tree .node-tree-item.disabled > i {opacity:0.8;}
    .node-tree .node-tree-item.disabled > .link {color:#999; opacity:0.8;}

    .node-tree .node-tree-item.denied > i {opacity:0.7;}
    .node-tree .node-tree-item.denied > .link {color:#900; opacity:0.7;}

    .node-tree .expand-btn {cursor:pointer; width:16px; margin-left:-14px; margin-right:3px;}
    .node-tree .icon-share-alt {margin-right:3px;}


/** Формы сущностей **/
.modal form {margin-bottom:0;}
.modal form .form-actions {border-radius:0 0 6px 6px; text-align:right; margin:0 -15px -15px -15px;}
.form-actions {margin-bottom:0; padding:14px 15px 15px;}
.form-horizontal .controls > * {margin-bottom:5px;}
.form-horizontal .controls > *:last-child {margin-bottom:0;}
.form-horizontal .control-group[form-collection-text] .controls {overflow:hidden;}
.form-horizontal .control-group[form-collection-text] .controls > input {float:left; clear:left;}
.form-horizontal .control-group[form-collection-text] .controls .btn-remove {opacity:0.8; transition:0.2s opacity linear; float:left; margin-top:5px;}
.form-horizontal .control-group[form-collection-text] .controls .btn-remove:hover {opacity:1;}
.form-horizontal .control-group[form-collection-text] .controls .btn-add {clear:both; float:left; margin-top:10px;}
.form-horizontal .control-group .controls .bootstrap-select {width:543px;}
.form-horizontal .control-group .controls textarea {width:529px; height:50px;}
.form-horizontal .control-group .controls textarea.tinymce {height:400px;}

/** Всплывающие сообщения **/
.notification-list {position:fixed; z-index:100500; top:50px; right:10px; width:250px; padding:10px; background:#fff; border:1px solid #e5e5e5; border-radius:10px;}
    .notification-list .alert:last-child {margin-bottom:0;}


/** Pagination from bootstrap 3.0 **/
.pagination {
  display: inline-block;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > .active > a,
.pagination > .active > span {
  background-color: #f5f5f5;
}

.pagination > .active > a,
.pagination > .active > span {
  color: #999999;
  cursor: default;
}

.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  cursor: default;
  background-color: #ffffff;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-left-width: 1px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination-large > li > a,
.pagination-large > li > span {
  padding: 14px 16px;
  font-size: 18px;
}

.pagination-large > li:first-child > a,
.pagination-large > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.pagination-large > li:last-child > a,
.pagination-large > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.pagination-small > li > a,
.pagination-small > li > span {
  padding: 5px 10px;
  font-size: 12px;
}

.pagination-small > li:first-child > a,
.pagination-small > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination-small > li:last-child > a,
.pagination-small > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/** Form collection **/
.collection-list {margin-bottom:0;}
.collection-list + .btn, .collection-list + .btn + .btn, .collection-list + .btn + .btn + .btn {margin-top:15px; vertical-align:top;}
.collection-list > .item + .item {margin-top:10px;}
.collection-list > .item {position:relative; width:544px;}
  .collection-list > .item > .btn-remove {position:absolute; top:5px; right:-30px;}


/** Log **/
body {padding-bottom:60px;}
#ext-log-entries {position:fixed; right:100px; bottom:-2px; padding:7px 10px 7px; border:1px solid #999; background:#fefefe; width:60%; box-shadow:0 0 10px rgba(0,0,0,0.4);}
  #ext-log-entries h3 {margin:0; font-size:19px;}
  #ext-log-entries h3 span {opacity:1;  -webkit-transition:0.2s all linear 0.2s; -moz-transition:0.2s all linear 0.2s; -o-transition:0.2s all linear 0.2s; -ms-transition:0.2s all linear 0.2s; transition:0.2s all linear 0.2s; color:#aaa;}
  #ext-log-entries:hover h3 span {opacity:0;}
  #ext-log-entries .table {margin-bottom:10px;}
  #ext-log-entries .entity-list {opacity:0; max-height:0; -webkit-transition:0.2s all linear 0.2s; -moz-transition:0.2s all linear 0.2s; -o-transition:0.2s all linear 0.2s; -ms-transition:0.2s all linear 0.2s; transition:0.2s all linear 0.2s;}
  #ext-log-entries:hover .entity-list {max-height:300px; opacity:1;}
    #ext-log-entries .entity-list .pagination {margin-bottom:0;}
    #ext-log-entries .entity-list .pagination + .btn-group {display:none;}
