<div class="page-title nm d-line">Контактная информация</div>
<div class="text-block shedule-window-content ">
    {% if item.hasContacts() %}
        {{ item.getContacts()|raw }}
    {% endif %}

    {% if item.hasShedule() %}
        <div class="page-title nm d-line">{{ item.getSheduleTitle()|default('График проведения приёмов граждан на текущий квартал') }}</div>
        <div class="text-block clearfix">
            {% for month in item.getSheduledMonths() %}
            <div class="calendar-single clearfix" comments="{{ item.getSheduleAsDate|serialize }}" hidden-year disabled-month select-month="{{ month - 1 }}"></div>
            {% endfor %}
        </div>
    {% endif %}
</div>