{# Нижнее меню #}

<nav class="bottom-menu{% if app.request.getPathInfo() matches '#^/lichnyy-kabinet#' %} line{% endif %} clearfix">
    {% for rootItem in appContainer.get('qcore.front.menu').getMenu('bottom') %}
        <ul class="root-level">
            <li{% if rootItem.getMenuActive() %} class="active"{% endif %}>
                <a href="{{ rootItem.getUrl(true) }}"{% if rootItem.isExternalUrl() %} target="_blank"{% endif %} class="invert">{{ rootItem.getFrontendTitle() }}</a>

                {% if not rootItem.getMenuChildren() is empty %}
                <ul class="sub-level">
                    {% for item in rootItem.getMenuChildren() %}
                        <li{% if item.getMenuActive() %} class="active"{% endif %}>
                            <a href="{{ item.getUrl(true) }}"{% if item.isExternalUrl() %} target="_blank"{% endif %}>{{ item.getFrontendTitle() }}</a>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
        </ul>
    {% endfor %}
</nav>
