{# Хлебные крошки #}

<nav class="breadcrumb clearfix">
    {% spaceless %}
    <ul>
        {% for item in appContainer.get('qcore.routing.breadcrumb').getItems() %}
            {% if not item.isLast() %}
                <li>
                    <a href="{{ item.getUrl() }}">{{ item.getFrontendTitle() }}</a>
                </li>
            {% else %}
                <li class="active">
                    {{ item.getTitle() }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endspaceless %}
</nav>
