{# Футер сайта #}

<footer class="footer clearfix">
    <div class="copyright">
        <i class="icon-logo"></i>2015 &copy; {% trans %}Официальный Интернет-портал администрации муниципального образования город Краснодар и городской Думы Краснодара.{% endtrans %}
        <div class="clear"></div>
        {% trans %}Все материалы сайта доступны по лицензии{% endtrans %}:<br />
        <a href="http://creativecommons.org/licenses/by/3.0/deed.ru" target="_blank" rel='nofollow'>Creative Common Attribution 3.0</a>
    </div>

    <nav class="footer-menu">
        <ul class="clearfix">
            {% for item in appContainer.get('qcore.front.menu').getMenu('footer') %}
                <li>
                    <a href="{{ item.getUrl(true) }}">{{ item.getFrontendTitle() }}</a>
                </li>
            {% endfor %}
            {% if app.request.locale == 'ru' %}
                <li>
                    <a href="#" dialog-show="/senderror/show">Сообщить об ошибке</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <div class="very-good">
        <a href="http://very-good.ru/" target="_blank" class="icon-very-good"></a>{% trans %}Создание сайта{% endtrans %} -<br /><a href="http://very-good.ru/" target="_blank">Very-Good</a>

        <div class="counter">
            {% if app.request.locale == 'ru' %}
                {% raw %}
                <!--LiveInternet counter--><script type="text/javascript"><!--
                document.write("<a href='http://www.liveinternet.ru/click' "+
                "target=_blank><img src='//counter.yadro.ru/hit?t15.2;r"+
                escape(document.referrer)+((typeof(screen)=="undefined")?"":
                ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
                ";"+Math.random()+
                "' alt='' title='LiveInternet: показано число просмотров за 24"+
                " часа, посетителей за 24 часа и за сегодня' "+
                "border='0' width='88' height='31'><\/a>")
                //--></script><!--/LiveInternet-->
                {% endraw %}
            {% endif %}

            {% if app.request.locale == 'en' %}
                {% raw %}
                <!--LiveInternet counter--><script type="text/javascript">document.write("<a href='http://www.liveinternet.ru/click' target=_blank><img src='//counter.yadro.ru/hit?t15.2;r" + escape(document.referrer) + ((typeof(screen)=="undefined")?"":";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?screen.colorDepth:screen.pixelDepth)) + ";u" + escape(document.URL) +";h"+escape(document.title.substring(0,80)) +  ";" + Math.random() + "' border=0 width=88 height=31 alt='' title='LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодня'><\/a>")</script><!--/LiveInternet-->
                {% endraw %}
            {% endif %}
        </div>
    </div>
</footer>
