{# Шаринг панель #}

{% spaceless %}
    <div class="share-panel no-selection">
        {#% if (nofontchange is not defined) or not nofontchange %}
            <div class="item">
                <i class="icon-share-panel-font-small" krd-font-smaller title="{% trans %}Уменьшить шрифт{% endtrans %}"></i>
            </div>

            <div class="item">
                <i class="icon-share-panel-font-large" krd-font-larger title="{% trans %}Увеличить шрифт{% endtrans %}"></i>
            </div>
        {% endif %#}

        {#% if (noprint is not defined) or not noprint %}
            <div class="item">
                <i class="icon-share-panel-print" krd-print  title="{% trans %}Печать страницы{% endtrans %}"></i>
            </div>
        {% endif %#}

        {#% if (noread is not defined) or not noread %}
            <div class="item dd-list">
                <i class="icon-share-panel-function" title="{% trans %}Прочитать потом{% endtrans %}"></i>

                <div class="dd-wrap">
                    <i class="icon-share-dd-function"></i>
                    <i class="icon-share-dd-pocket" title="Pocket" krd-share-pocket></i>
                    <i class="icon-share-dd-evernote" title="Evernote" krd-share-evernote></i>
                    <i class="icon-share-dd-readability" title="Readability" krd-share-readability></i>
                    <i class="icon-share-dd-instapaper" title="Instapaper" krd-share-instapaper></i>
                </div>
            </div>
        {% endif %#}

        {#% if (noshare is not defined) or not noshare %}
            <div class="item dd-list">
                <i class="icon-share-panel-share" title="{% trans %}Рассказать друзьям{% endtrans %}"></i>

                <div class="dd-wrap">
                    <i class="icon-share-dd-share"></i>
                    <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
                    <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="twitter,facebook,vkontakte"></div>
                </div>
            </div>
        {% endif %#}

        {% if ((nosubscribe is not defined) or not nosubscribe) and app.request.locale == 'ru' and is_path_exists('krd_subscribe_form') %}
            <div class="item">
                <div class="subscribe-btn" dialog-show="{{ path('krd_subscribe_form') }}">
                    <div class="ajax-link">Подписка<br>на новости</div>
                    <i class="icon-subscribe"></i>
                </div>
            </div>
        {% endif %}

        {#% if app.user and is_granted('ROLE_USER') %}
            <div class="item">
                <i class="icon-lk-bookmark-add-button" title="{% trans %}Добавить страницу в закладки{% endtrans %}" dialog-show="user.bookmarks.add"></i>
            </div>
        {% endif %#}
    </div>
{% endspaceless %}
