{# Хедер сайта #}

<header class="header clearfix">
    {% if appConfig.hasAlert() %}
        <div class="alert">
            {{ appConfig.getAlert()|raw }}
        </div>
    {% endif %}
    <a href="/" class="logo">
        <img src="{{ asset('bundles/krdsite/i/logo.png') }}" width="111" height="94" alt="">
        <span class="gray">{% trans %}Официальный Интернет-портал{% endtrans %}</span>
        <span class="title">{% trans %}администрации муниципального<br />образования город Краснодар<br />и городской Думы Краснодара{% endtrans %}</span>
    </a>

    <div class="navigation">
        {% spaceless %}
            <nav class="user-menu">
                <ul>
                    <li><a href="{% if app.request.locale == 'ru' %}{{ node_path(51) }}{% else %}{{ node_path(29) }}{% endif %}"><i class="icon-feedback"></i>{% trans %}Связь с<br />администрацией{% endtrans %}</a></li>

                    {# После запуска полностью убрать условие #}
                    {% if app.request.locale == 'ru' %}
                        <li><a href="{{ controller_path(43) }}"><i class="icon-profile"></i>{% trans %}Личный<br />кабинет{% endtrans %}</a></li>
                    {% endif %}

                    {% if app.request.locale == 'ru' %}
                        <li><a href="{{ appContainer.getParameter('special.krd.url') }}" target="_blank"><i class="icon-specialsite"></i>{% trans %}Версия для<br />слабовидящих{% endtrans %}</a></li>
                    {% endif %}

                    {#<li><a href="#"><i class="icon-mobilesite"></i>{% trans %}Мобильная<br />версия{% endtrans %}</a></li>#}

                    <li><a href="{% if app.request.locale == 'ru' %}{{ node_path(4206) }}{% else %}{{ node_path(25) }}{% endif %}"><i class="icon-sitemap"></i>{% trans %}Карта<br />сайта{% endtrans %}</a></li>
                </ul>
            </nav>

            <nav class="social-menu">
                <ul>
                    <li>
                        {% if app.request.locale == 'ru' %}
                            <a href="{{ appContainer.getParameter('en.krd.url') }}">English<i class="icon-english"></i></a>
                        {% else %}
                            <a href="{{ appContainer.getParameter('krd.url') }}">Русская версия<i class="icon-russian"></i></a>
                        {% endif %}
                    </li>

                    <li class="sep"></li>

                    {% if appConfig.hasTwitter() %}
                        <li>
                            <a href="{{ appConfig.getTwitter() }}" target="_blank"><i class="icon-twitter"></i></a>
                        </li>
                    {% endif %}

                    {% if appConfig.hasFacebook() %}
                        <li>
                            <a href="{{ appConfig.getFacebook() }}" target="_blank"><i class="icon-facebook"></i></a>
                        </li>
                    {% endif %}

                    {% if appConfig.hasVkcom() %}
                        <li>
                            <a href="{{ appConfig.getVkcom() }}" target="_blank"><i class="icon-vkcom"></i></a>
                        </li>
                    {% endif %}

                    {% if appConfig.hasGplus() %}
                        <li>
                            <a href="{{ appConfig.getGplus() }}" target="_blank"><i class="icon-googleplus"></i></a>
                        </li>
                    {% endif %}

                    {% if appConfig.hasOdnoklassniki() %}
                        <li>
                            <a href="{{ appConfig.getOdnoklassniki() }}" target="_blank"><i class="icon-odnoklassniki"></i></a>
                        </li>
                    {% endif %}

                    {% if appConfig.hasYoutube() %}
                        <li>
                            <a href="{{ appConfig.getYoutube() }}" target="_blank"><i class="icon-youtube"></i></a>
                        </li>
                    {% endif %}

                    {% if appConfig.hasInstagram() %}
                        <li>
                            <a href="{{ appConfig.getInstagram() }}" target="_blank"><i class="icon-instagram"></i></a>
                        </li>
                    {% endif %}

                    <li>
                        <a href="{{ node_path(10867) }}"><i class="icon-rss"></i></a>
                    </li>
                </ul>
            </nav>
        {% endspaceless %}
    </div>
</header>
