{# Фиксированная панель. Меню. Поиск. Личный кабинет. #}

<div class="header-panel clearfix{% if searchword is defined and searchword is not empty %} panel-search-open{% endif %}{% if (app.user and app.request.cookies.has('panel-profile-open')) or (app.user and app.user.getNewbie()) %} panel-profile-open{% endif %}"
     ng-controller="headerPanelCtrl">
    {% if app.request.locale == 'ru' %}
        {% include "KrdUserBundle:blocks:panel-profile.html.twig" %}
    {% endif %}
    {% include "KrdSearchBundle:blocks:panel-search.html.twig" %}

    <div class="panel-menu clearfix">
        <div class="page-wrap">
            <nav class="top-menu clearfix">
                <ul class="root-level clearfix">
                    {% for rootItem in appContainer.get('qcore.front.menu').getMenu('top') %}
                        <li dropdown-topmenu>
                            <a href="{{ rootItem.getUrl(true) }}"{% if rootItem.isExternalUrl() %} target="_blank"{% endif %}>{{ rootItem.getFrontendTitle() }}</a>

                            {% if not rootItem.getMenuChildren() is empty %}
                                <ul class="sub-level">
                                    {% for item in rootItem.getMenuChildren() %}
                                        <li>
                                            <a href="{{ item.getUrl(true) }}"{% if item.isExternalUrl() %} target="_blank"{% endif %}>{{ item.getFrontendTitle() }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

                {% if app.user and is_granted('ROLE_USER') and app.request.locale == 'ru' %}
                    <button class="profile-btn" ng-click="toggleProfile()"></button>
                {% endif %}

                <button class="search-btn" ng-click="toggleSearch()"></button>
            </nav>
        </div>
    </div>

    <div class="notifications-container" id="user-notifications-container" data-channel="user"></div>
</div>
