{# Виджеты на главной странице #}

<div class="widgets-list-wrap" horizontal-scroll horizontal-scroll-items=".widgets-list > .item"
     horizontal-scroll-wrap=".widgets-list">
    <div class="widgets-list clearfix">
        {% if appContainer.has('krd.news.modules.emergency') %}
            {{ appContainer.get('krd.news.modules.emergency').renderWidget()|raw }}
        {% endif %}

        {% if appContainer.has('krd.evacuation.modules.avto') %}
            {{ appContainer.get('krd.evacuation.modules.avto').renderWidget()|raw }}
        {% endif %}

        {% if appContainer.has('krd.conference.modules.online') %}
            {{ appContainer.get('krd.conference.modules.online').renderWidget()|raw }}
        {% endif %}

        {% if appContainer.has('krd.news.modules.info') %}
            {{ appContainer.get('krd.news.modules.info').renderWidget()|raw }}
        {% endif %}

        {% if appContainer.has('krd.site.modules.poll') %}
            {{ appContainer.get('krd.site.modules.poll').renderWidget()|raw }}
        {% endif %}

        {% if appContainer.has('krd.site.modules.reporter') %}
            {{ appContainer.get('krd.site.modules.reporter').renderWidget()|raw }}
        {% endif %}
    </div>
</div>
