{# Блок с баннеро и информацией о горооде #}

{% if appContainer.has('krd.banners.modules.banners') or appContainer.has('krd.site.modules.citynum') %}
    <div class="page-content city-information no-selection clearfix">
        {% if appContainer.has('krd.banners.modules.banners') %}
            {{ appContainer.get('krd.banners.modules.banners').renderIndexBanners()|raw }}
        {% endif %}

        {% if appContainer.has('krd.site.modules.citynum') %}
            {{ appContainer.get('krd.site.modules.citynum').renderIndexWidget()|raw }}
        {% endif %}
    </div>
{% endif %}
