{# Шаринг панель #}

{% spaceless %}
    <div class="share-panel-float no-selection">
        {% if (nofontchange is not defined) or not nofontchange %}
            <div class="buttons-block">
                <div class="item" krd-font-smaller>
                    <s></s><i class="icon-share-panel-float-font-small" title="{% trans %}Уменьшить шрифт{% endtrans %}"></i>
                </div>

                <div class="item" krd-font-larger>
                    <s></s><i class="icon-share-panel-float-font-large" title="{% trans %}Увеличить шрифт{% endtrans %}"></i>
                </div>
            </div>
        {% endif %}

        {% if (noprint is not defined) or not noprint %}
            <div class="buttons-block">
                <div class="item" krd-print>
                    <s></s><i class="icon-share-panel-float-print" title="{% trans %}Печать страницы{% endtrans %}"></i>
                </div>
            </div>
        {% endif %}

        {% if (noread is not defined) or not noread %}
            <div class="buttons-block">
                <div class="item dd-list">
                    <s></s><i class="icon-share-panel-float-function" title="{% trans %}Прочитать потом{% endtrans %}"></i>

                    <div class="dd-wrap" style="width:164px;">
                        <i class="icon-share-dd-pocket" title="Pocket" krd-share-pocket></i>
                        <i class="icon-share-dd-evernote" title="Evernote" krd-share-evernote></i>
                        <i class="icon-share-dd-readability" title="Readability" krd-share-readability></i>
                        <i class="icon-share-dd-instapaper" title="Instapaper" krd-share-instapaper></i>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if (noshare is not defined) or not noshare %}
            <div class="buttons-block">
                <div class="item dd-list">
                    <s></s><i class="icon-share-panel-float-share" title="{% trans %}Рассказать друзьям{% endtrans %}"></i>

                    <div class="dd-wrap" style="width:123px;">
                        <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
                        <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none"
                             data-yashareQuickServices="twitter,facebook,vkontakte"></div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if app.user and is_granted('ROLE_USER') %}
            <div class="buttons-block">
                <div class="item" dialog-show="user.bookmarks.add">
                    <s></s><i class="icon-share-panel-float-bookmark" title="{% trans %}Добавить страницу в закладки{% endtrans %}"></i>
                </div>
            </div>
        {% endif %}
    </div>
{% endspaceless %}
