{# Блок с социальными сетями #}

{#
<div class="page-content">
    <section class="bottom-social clearfix" social-tabs>
        <div class="page-title">{% trans %}Администрация в социальных сетях{% endtrans %}</div>
        <ul>
            <li>
                <a href="javascript:$.noop()" class="st-item" data-target="twitter-widget"><i class="icon-twitter"></i><span class="ajax-link">Twitter</span></a>
            </li>

            {% if app.request.locale == 'ru' %}
                <li>
                    <a href="javascript:$.noop()" class="st-item" data-target="facebook-widget"><i class="icon-facebook"></i><span class="ajax-link">Facebook</span></a>
                </li>
                <li>
                    <a href="javascript:$.noop()" class="st-item" data-target="vkcom-widget"><i class="icon-vkcom"></i><span class="ajax-link">{% trans %}ВКонтакте{% endtrans %}</span></a>
                </li>
            {% endif %}
        </ul>

        <div class="clearfix"></div>

        <div id="twitter-widget" class="widget clearfix" social-twitter="{% if app.request.locale == 'ru' %}359930826877722624{% endif %}{% if app.request.locale == 'en' %}473759298388885504{% endif %}" data-width="964" data-height="300" data-href="{{ appConfig.getTwitter() }}" auto-hide></div>

        {% if app.request.locale == 'ru' %}
            <div id="facebook-widget" class="widget clearfix" social-facebook="{{ appConfig.getFacebook() }}" data-width="964" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false" auto-hide></div>

            <div id="vkcom-widget" class="widget clearfix" social-vkcom="28402455" data-width="964" data-height="250" data-color1="FFFFFF" data-color2="09689f" data-color3="264c64" auto-hide></div>
        {% endif %}
    </section>
</div>
#}
