{# Видео-плеер #}
{# Аттрибуты передаются в attr #}

{% set sizeArr = appContainer.getParameter('q_files.image_cache.sizes')[size] %}
{% set width = sizeArr[sizeArr|length-1][1] %}
{% set height = sizeArr[sizeArr|length-1][2] %}

{% set defAttr = {width:width, height:height, poster:video.getImage().getUrl(size), controls:'controls', preload:'none'} %}

{% set attr = defAttr|merge(attr|default({}))|merge({'class': (attr.class|default('') ~ ' mediaelement-video')|trim}) %}

<video{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    <source type="video/mp4" src="{{ video.getUrl('mp4') }}" />
    <source type="video/webm" src="{{ video.getUrl('webm') }}" />

    <object width="{{ width }}" height="{{ height }}" type="application/x-shockwave-flash" data="{{ asset('/bundles/krdsite/vendor/mediaelement/flashmediaelement.swf') }}">
        <param name="movie" value="{{ asset('/bundles/krdsite/vendor/mediaelement/flashmediaelement.swf') }}" />
        <param name="flashvars" value="controls=true&file={{ video.getUrl('mp4') }}" />
        <img src="{{ video.getImage().getUrl(size) }}" width="{{ width }}" height="{{ height }}" title="No video playback capabilities" />
    </object>
</video>
