<section class="block">
    <div class="page-title d-line">{% trans %}Календарь{% endtrans %}</div>
    <div class="calendar-single clearfix" links="{{ availDates|serialize }}" url="{{ app.request.getPathInfo() }}"{% if nowDate is not empty %}now="{{ nowDate.format('d/m/Y') }}"{% endif %}></div>

    {% if nowDate is not empty %}
        <div class="btn-group text-align-right">
            <a href="{{ app.request.getPathInfo() }}" class="btn btn-blue">{% trans %}Вернуться к списку{% endtrans %}</a>
        </div>
    {% endif %}
</section>
