<div class="headline has-share-panel clearfix">
	<div class="date">{{ item.getDate()|krd_date_format }}</div>
	 {% include "KrdSiteBundle:blocks:headline-share.html.twig" with {nosubscribe:true} %}
</div>
{% include "KrdSiteBundle:blocks:share-panel-float.html.twig" with {nosubscribe:true} %}
<div class="page-title d-line">{{ item.getTitle() }}</div>
<div class="speech-block">
	{{ item.getContent()|raw }}
</div>