<div class="msp-search-form clearfix">
    <form action="{{ currentNode.getUrl() }}" method="get" class="msp-search">
        <div class="title">Выбрать записи, содержащие</div>
        <div class="form clearfix">
            <input type="text" name="query" value="{{ app.request.get('query') }}">
            <div class="label">в</div>
            <select name="searchplace">
                <option value="">Любом месте</option>
                <option value="orgTitle"{% if app.request.get('searchplace') == 'orgTitle' %} selected{% endif %}>
                    Наименовании
                </option>
                <option value="inn"{% if app.request.get('searchplace') == 'inn' %} selected{% endif %}>ИНН</option>
                <option value="yearOf"{% if app.request.get('searchplace') == 'yearOf' %} selected{% endif %}>Сроке
                    поддержки
                </option>
            </select>
            <button type="submit" class="btn btn-blue">Найти</button>
        </div>
    </form>

    <div class="msp-print">
        <div class="btn btn-blue" onclick="window.print()">
            <i class="icon-share-panel-float-print"></i>
            Распечатать справку
        </div>
    </div>
</div>

{% if list.getItemsCount() == 0 %}
    <div class="text-block">
        <p style="text-align:center; padding-bottom:30px; font-size:16px;">По вашему запросу ничего не
            найдено</p>
    </div>
{% else %}
    <table class="msp-table" id="msp-list-table">
        <thead>
        <tr>
            <th rowspan="2" width="60">Номер реестровой записи и дата включения сведений в реестр</th>
            <th rowspan="2" width="120">
                Наименование органа, предоставившего поддержку и дата принятия решения о предоставлении или прекращении
                оказания поддержки
            </th>
            <th colspan="2" style="text-align:center" width="230">
                Сведения о субъекте малого и среднего предпринимательства – получателей поддержки
            </th>
            <th colspan="4" style="text-align:center" width="350">Сведения о предоставленной поддержке</th>
            <th rowspan="2">
                Информация (в случае, если имеется) о нарушении порядка и условий предоставления поддержки, в том числе
                о
                нецелевом использовании средств поддержки
            </th>
        </tr>
        <tr>
            <th width="110" style="word-break:break-all">
                Наименование юридического лица или фамилия, имя и (при наличии) отчество индивидуаль ного
                предпринимателя;
            </th>
            <th width="80" style="word-break:break-all">Идентификационный номер налогоплательщика</th>
            <th width="90">Вид</th>
            <th width="90">Форма</th>
            <th width="60">Размер,<br/>рублей</th>
            <th width="60">Срок оказания</th>
        </tr>
        </thead>

        <tbody>
        {% set lastCategory = -1 %}

        {% for item in list %}
            {% if lastCategory != item.getCategory() %}
                {% set lastCategory = item.getCategory() %}
                <tr class="category">
                    <td colspan="9">
                        {% if lastCategory == 1 %}
                            I. Субъекты малого предпринимательства (за исключением микропредприятий)
                        {% elseif lastCategory == 2 %}
                            II. Субъект среднего предпринимательства
                        {% elseif lastCategory == 3 %}
                            III. Микропредприятие
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>{{ item.getRecNum() }}<br/>
                    {{ item.getDateInc().format('d.m.Y') }}
                </td>
                <td>{{ item.getOrgTitle() }} от {{ item.getDateApprove().format('d.m.Y') }}</td>
                <td>{{ item.getLlcTitle() }}</td>
                <td>{{ item.getInn() }}</td>
                <td style="word-break:break-all">{{ item.getForm() }}</td>
                <td style="word-break:break-all">{{ item.getView() }}</td>
                <td>{{ item.getAmount() }}</td>
                <td>{{ item.getYearOf() }}</td>
                <td>{{ item.getInformation() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if list.getPageCount() > 1 %}
        <div class="btn btn-blue btn-block next-page"
             url="{{ path('ajax_msp_list', {'parent':currentNode.getId(), query:app.request.get('query'), searchplace:app.request.get('searchplace')}) }}"
             last-category="{{ lastCategory }}">{% trans %}Показать
            еще{% endtrans %}</div>
    {% endif %}
{% endif %}