{# Страница списка фотоальбомов #}

{% extends "KrdGlavaBundle::layout.html.twig" %}


{% block layout_content %}
	<div class="media-container clearfix">
		{{ appContainer.get('krd.gallery.modules.gallery').renderGlavaContent()|raw }}
	</div>
{% endblock %}