{# Страница подписок #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    <section class="page-content">
        <div class="clearfix">
            {% include "KrdSiteBundle::blocks/breadcrumb.html.twig" %}

            {{ krd_subscribe_form() }}

            <div class="page-title d-line">{% trans %}Архив рассылок{% endtrans %}</div>
            {{ appContainer.get('krd.user.modules.subscribe').renderContent()|raw }}
        </div>

        <div class="block clearfix">
            {{ krd_r_subscribe_form() }}

            <div class="page-title d-line">{% trans %}Архив публикаций сайта "Городской репортер"{% endtrans %}</div>
            {{ appContainer.get('krd.user.modules.subscribe').renderReporterContent()|raw }}
        </div>
    </section>

    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}
