/** Abstract uploader **/
.abstract-uploader .files-list {margin-bottom:15px;}
.abstract-uploader .dd-helper {position:absolute; left:-10px; top:-10px; right:-10px; bottom:-10px; background:rgba(200,200,200,0.4); border-radius:10px; border:3px dotted rgba(38, 76, 100, 0.4); display:none;}
    .abstract-uploader .dd-helper:after {content:'Отпустите файл для загрузки'; font-size:20px; font-weight:bold; position: absolute; left:0; right:0; text-align:center; top:50%; margin-top:-10px; color:#888;}
.abstract-uploader.dd-active .dd-helper {display:block;}

/** Files uploader **/
.files-uploader {width:544px; position:relative;}
    .files-uploader .alert {margin-bottom:0;}
    .files-uploader .hidden-input {position:absolute; left:-10000px; opacity:0; width:1px; height:1px;}
        .files-uploader .files-list .item {margin-bottom:10px; white-space:nowrap;}
            .files-uploader .files-list .item > * {margin-right:10px;}
            .files-uploader .files-list .item > *:last-child {margin-right:0;}
            .files-uploader .files-list .item .input-title {width:299px;}
            .files-uploader .files-list .item .input-date {width:115px;}
            .files-uploader .files-list .item .sort-icon {cursor:move;}

/** Images uploader **/
.images-uploader {width:544px; position:relative;}
    .images-uploader .alert {margin-bottom:0;}
    .images-uploader .hidden-input {position:absolute; left:-10000px; opacity:0; width:1px; height:1px;}
    .images-uploader .files-list {width:556px;}
        .images-uploader .files-list .item {margin:0 10px 15px 0; float:left; width:174px;}
        .images-uploader .files-list .item:hover {background:#f1f1f1;}
            .images-uploader .files-list .item .img-polaroid {height:124px; margin-bottom:5px; overflow:hidden; display:block; position:relative;}
                .images-uploader .files-list .item .img-polaroid .sort-icon {position:absolute; top:10px; right:10px; border-radius:0; cursor:move; opacity:0; -webkit-transition:0.2s opacity linear; -moz-transition:0.2s opacity linear; -o-transition:0.2s opacity linear; -ms-transition:0.2s opacity linear; transition:0.2s opacity linear;}
                .images-uploader .files-list .item:hover .img-polaroid .sort-icon {opacity:1;}
            .images-uploader .files-list .item .btn-success {float:left;}
            .images-uploader .files-list .item .btn-danger {float:right;}
            .images-uploader .files-list .item input[type="text"] {width:160px; position:relative; left:0; -webkit-transition:0.2s all linear; -moz-transition:0.2s all linear; -o-transition:0.2s all linear; -ms-transition:0.2s all linear; transition:0.2s all linear;}
            .images-uploader .files-list .item input[type="text"]:focus {width:340px; z-index:1; left:-90px;}
        .images-uploader .files-list .placeholder {background:rgba(0,0,0,0.1); border-radius:2px;}

/** Video uploader **/
.video-uploader {width:544px; position:relative;}
    .video-uploader .alert {margin-bottom:0;}
    .video-uploader .hidden-input {position:absolute; left:-10000px; opacity:0; width:1px; height:1px;}
    .video-uploader .files-list {width:555px;}
        .video-uploader .files-list .item {margin:0 10px 15px 0; float:left; width:174px;}
        .video-uploader .files-list .item:hover {background:#f1f1f1;}
            .video-uploader .files-list .item .img-polaroid {height:124px; margin-bottom:5px; overflow:hidden; display:block;}
                .video-uploader .files-list .item .img-polaroid .sort-icon {position:absolute; top:10px; right:10px; border-radius:0; cursor:move; opacity:0; -webkit-transition:0.2s opacity linear; -moz-transition:0.2s opacity linear; -o-transition:0.2s opacity linear; -ms-transition:0.2s opacity linear; transition:0.2s opacity linear;}
                .video-uploader .files-list .item:hover .img-polaroid .sort-icon {opacity:1;}
            .video-uploader .files-list .item .btn-success {float:left;}
            .video-uploader .files-list .item .btn-info {float:left; margin-left:10px;}
            .video-uploader .files-list .item .btn-danger {float:right;}
            .video-uploader .files-list .item input[type="text"] {width:160px; position:relative; left:0; -webkit-transition:0.2s all linear; -moz-transition:0.2s all linear; -o-transition:0.2s all linear; -ms-transition:0.2s all linear; transition:0.2s all linear; margin-bottom:5px;}
            .video-uploader .files-list .item input[type="text"]:focus {width:340px; z-index:1; left:-90px;}
        .video-uploader .files-list .placeholder {background:rgba(0,0,0,0.1); border-radius:2px;}

