{% if include_jquery %}
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
{% endif %}
{% if tinymce_jquery %}
    <script type="text/javascript" src="{{ asset([base_url,'bundles/stfalcontinymce/vendor/tinymce/jquery.tinymce.min.js']|join) }}"></script>
    <script type="text/javascript" src="{{ asset([base_url,'bundles/stfalcontinymce/js/init.jquery.js']|join) }}"></script>
{% else %}
    <script type="text/javascript" src="{{ asset([base_url,'bundles/stfalcontinymce/vendor/tinymce/tinymce.min.js']|join) }}"></script>
    <script type="text/javascript" src="{{ asset([base_url,'bundles/stfalcontinymce/js/ready.min.js']|join) }}"></script>
    <script type="text/javascript" src="{{ asset([base_url,'bundles/stfalcontinymce/js/init.standard.js']|join) }}"></script>
{% endif %}
<script type="text/javascript">
//<![CDATA[
    window.tinyMCEConfig = {{ tinymce_config|raw }};
//]]>
</script>
