{# Контентная страница #}


{% extends "KrdGlavaBundle::layout.html.twig" %}

{% block layout_content %}
    <section class="page-content">
        {% if currentNode.getController().getId() != 18 %}
            {{ appContainer.get('krd.site.modules.content').renderIncontentMenuParent()|raw }}
        {% endif %}

        <div class="headline is-empty has-share-panel clearfix">
            {% include "KrdSiteBundle:blocks:headline-share.html.twig" with {nosubscribe:true} %}
        </div>
        {% include "KrdSiteBundle:blocks:share-panel-float.html.twig" with {nosubscribe:true} %}
        <div class="page-title">{{ currentNode.getFrontendTitle() }}</div>

        {% if currentNode.getController().getId() != 18 %}
            {{ appContainer.get('krd.site.modules.content').renderIncontentMenu()|raw }}
            {{ appContainer.get('krd.site.modules.content').renderContentTopMenu()|raw }}
        {% endif %}

        {# Выводим модули страницы #}
            {{ appContainer.get('krd.site.modules.content').renderContent()|raw }}

        {{ appContainer.get('krd.site.modules.content').renderContentBottomMenu()|raw }}

        {% if currentNode.isCommentable() %}
            {{ krd_comments() }}
        {% endif %}
    </section>

    {% include "KrdSiteBundle::blocks/social-bottom.html.twig" %}
    {% include "KrdSiteBundle::blocks/footer-banners.html.twig" %}
    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}
