{# Таблица со списком эвакуированного авто #}

<div class="text-block" no-mashajs>
    {{ form_start(searchform, {method:'GET', attr:{class:'stylized', novalidate:''}}) }}
        <div class="form-row x3 clearfix">
            <div class="cell inline clearfix">
                <div class="label">Марка, модель автомобиля, мотосредства:</div>
                {{ form_widget(searchform.mark) }}
            </div>

            <div class="cell inline clearfix">
                <div class="label">Государственный регистрационный номер:</div>
                {{ form_widget(searchform.number) }}
            </div>

            <div class="cell inline clearfix">
                <div class="label">Дата помещения на стоянку:</div>
                {{ form_widget(searchform.date, {attr:{'ui-date':''}}) }}
            </div>
        </div>

        <div class="form-row x1 clearfix">
            <div class="cell text-align-right">
                {% if app.request.query.all() is not empty %}
                    <a href="{{ currentNode.getUrl(true) }}" class="btn btn-blue">Сбросить</a>
                {% endif %}
                <button type="submit" class="btn btn-blue">Найти</button>
            </div>
        </div>
    {{ form_end(searchform) }}

    <div class="clearfix" style="margin-bottom:18px;">
        <div class="float-left">
            <b>Актуальность сведений: {{ appContainer.get('krd.evacuation.modules.avto').getLastDate()|krd_date_format(true) }}</b>
        </div>

        {{ appContainer.get('krd.site.modules.content').renderRawContent()|raw }}
    </div>

    {% if list is not empty %}
        <table class="mini">
            <thead>
                <tr>
                    <td align="center" width="95">{% trans %}Дата и время погрузки на эвакуатор{% endtrans %}</td>
                    <td align="center" width="200">{% trans %}Место погрузки <br>на эвакуатор{% endtrans %}</td>
                    <td align="center">{% trans %}Марка, <br>модель транспортного средства{% endtrans %}</td>
                    <td align="center">{% trans %}Государственный регистрационный <br>номер транспортного средства{% endtrans %}</td>
                    <td align="center">{% trans %}Сведения об организации, <br>осуществившей транспортировку{% endtrans %}</td>
                    <td align="center">{% trans %}Государственный регистрационный номер эвакуатора{% endtrans %}</td>
                    <td align="center">{% trans %}Место стоянки,куда помещено <br>транспортное средство{% endtrans %}</td>
                </tr>
            </thead>

            <tbody id="ea-list-body">
                {% for item in list %}
                    <tr id="evacuation-avto-{{ item.getId() }}">
                        <td nowrap>
                            {{ item.getDate()|krd_date_format(true) }}
                        </td>

                        <td>
                            {{ item.getFromPlace() }}
                        </td>

                        <td>
                            {{ item.getMark().getTitle() }}
                        </td>

                        <td nowrap>
                            {{ item.getNumber() }}
                        </td>

                        <td>
                            {{ item.getOrganization().getTitle() }}
                        </td>

                        <td>
                            {% if item.hasEvacuator() %}
                                {{ item.getEvacuator().getNumber() }}
                            {% else %}
                                ---
                            {% endif %}
                        </td>

                        <td>
                            {{ item.getParking().getTitle() }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        По вашему запросу ничего не найдено
    {% endif %}
</div>

{% if list is not empty %}
    {% if list.getPageCount() > 1 %}
        <div class="btn btn-blue btn-block next-page" more-btn="ea-list-item" tpl-append more-btn-body="ea-list-body" url="{{ path('ajax_evacuated_avto_list', app.request.query.all()|merge({'parent':currentNode.getId()})) }}">Показать еще автомобили</div>
    {% endif %}

    {% raw %}
    <script type="text/ng-template" id="ea-list-item">
        <tr id="evacuation-avto-{{ item.id }}">
            <td nowrap>
                {{ item.date }}
            </td>

            <td>
                {{ item.fromplace }}
            </td>

            <td>
                {{ item.mark.title }}
            </td>

            <td nowrap>
                {{ item.number }}
            </td>

            <td>
                {{ item.organization.title }}
            </td>

            <td ng-if="item.evacuator">
                {{ item.evacuator.number }}
            </td>

            <td ng-if="!item.evacuator">
                ---
            </td>

            <td>
                {{ item.parking.title }}
            </td>
        </tr>
    </script>
    {% endraw %}
{% endif %}

