{# Виджет эвакуированных авто на главной #}

{% if items is not empty %}
    <div class="item widget-evacuation" multi-height="index-widgets" url="{{ path('ajax_evacuated_avto_widget_list') }}">
        <div class="title"><i class="icon-evacuation"></i>Эвакуация автотранспорта</div>
        <div class="w" ng-class="{loading:widgetLoading}">
            <div class="items-list" ng-show="widgetItems.length == 0">
                {% for item in items %}
                    <div class="item">
                        <a href="{{ item.getUrl() }}" class="title">{{ item.getMark().getTitle() }} - ({{ item.getNumber() }})</a>
                        <div class="text-block">{{ item.getFromplace() }}</div>
                    </div>
                {% endfor %}
            </div>

            {% raw %}
            <div class="items-list" ng-show="widgetItems.length > 0">
                <div class="item" ng-repeat="item in widgetItems">
                    <a ng-href="{{ item.url }}" class="title">{{ item.mark.title }} - {{ item.number }}</a>
                    <div class="text-block">{{ item.fromplace }}</div>
                </div>
            </div>
            {% endraw %}
        </div>
        {% spaceless %}
        <div class="btn-group">
            <a href="/gorozhanam/evakuatsiya-avtotransporta/" class="btn btn-blue">Смотреть весь список</a>
            <div class="btn btn-deep-blue btn-icon btn-update"><i class="icon-refresh"></i></div>
        </div>
        {% endspaceless %}
    </div>
{% endif %}
