{# Форма ответа на сообщение #}

<div class="comments-new-form clearfix">
    {{ form_start(form, {attr:{class:'stylized ajax-form', 'ng-submit':'submit()', 'novalidate':'', 'ng-controller':'SupportMessageReplyFormCtrl'}}) }}
        <div class="form-row x1 clearfix">
            <div class="cell clearfix">
                {{ form_widget(form.content, {attr:{'ctrl-enter':'submit()', 'ng-model':'content'}}) }}
            </div>
        </div>

        <div class="form-row x1 clearfix">
            <div class="cell clearfix text-align-center">
                {{ form_widget(form.submit, {attr:{class:'btn btn-blue'}}) }}
            </div>
        </div>

        {{ form_widget(form.parent, {attr:{'value':'{{ $parent.shared.openedId }}'}}) }}
    {{ form_end(form) }}
</div>
