{# Ветка техподдержки #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    <section class="page-content">
        {% include "KrdSiteBundle::blocks/breadcrumb.html.twig" %}

        {% if app.user and is_granted('ROLE_CMS') %}
            {% set u = message.getCreatedBy() %}
            <div class="text-block clearfix">
                <p>
                    <b>{% trans %}Информация о пользователе:{% endtrans %}</b> [<a href="/cms/profile/#!/user/edit/{{ u.getId() }}" target="_blank">{% trans %}редактировать{% endtrans %}</a>]
                </p>
                <p>
                    ID: <b>{{ u.getId() }}</b><br />
                    {% trans %}ФИО{% endtrans %}: <b>{{ u.getFullName() }}</b><br />
                    {% trans %}Телефон{% endtrans %}: <a href="tel:{{ u.getPhone() }}"><b>{{ u.getPhone() }}</b></a><br />
                    E-mail: <a href="mailto:{{ u.getEmail() }}"><b>{{ u.getEmail() }}</b></a><br />
                    {% trans %}Активен{% endtrans %}: <b>{% if u.isEnabled() %}{% trans %}да{% endtrans %}{% else %}{% trans %}нет{% endtrans %}{% endif %}</b>
                </p>
                <p>&nbsp;</p>
            </div>
        {% endif %}

        <div class="headline clearfix">
            <div class="date">{{ message.getCreated()|krd_date_format }}</div>
            <div class="theme">{{ message.getTheme() }}</div>
        </div>
        <div class="page-title d-line">{{ message.getTitle() }}</div>

        {# Панель ответа на сообщение #}
        <script type="text/ng-template" id="support-message-create-well">
            {% include "KrdUserBundle:Support:_new-form.html.twig" with {form:form_reply} %}
        </script>

        <div ng-cloak class="comments-list items-list clearfix" support-messages-list="support-{{ message.getId() }}">
            {{ _self.message_item(message, message) }}
        </div>
    </section>

    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}

{# Сообщение #}
{% macro message_item(item, rootItem) %}
    <div class="item clearfix" support-message-item="support-{{ rootItem.getId() }}" data-id="{{ item.getId() }}" id="message-{{ item.getId() }}">
        {% if item.getId() != rootItem.getId() %}
            <div class="headline clearfix">
                <div class="date">{{ item.getCreated()|krd_date_format(true) }}</div>
                <div class="title">{{ item.getCreatedBy().getFullName() }}</div>
                <a href="#message-{{ item.getId() }}" class="title">#</a>
            </div>
        {% endif %}
        <div class="text-block">{{ item.getContent()|nl2br|raw }}</div>
        <div class="links">
            <a href="#" class="action-reply">{% trans %}Ответить{% endtrans %}</a>
        </div>

        {% for child in item.getChildren() %}
            {{ _self.message_item(child, rootItem) }}
        {% endfor %}
    </div>
{% endmacro %}
