/** Подписка на новости **/
#subscriber-form-success {display:none;}
#subscriber-un-form-success {display:none;}

#subscriber-form .form-row {width:360px;}
#subscriber-form .form-row.last {margin-bottom:0;}
    #subscriber-form .form-row input[type="text"] {width:359px;}


/** Контентная форма подписки на новости **/
.subscribe-well > .page-title {float:left; margin-right:20px; margin-bottom:0 !important; line-height:28px;}
.subscribe-well > form {float:left;}
    .subscribe-well > form .form-row {float:left; margin-bottom:0 !important; margin-top:0 !important;}
    .subscribe-well > form .form-row + .form-row {margin-left:20px;}
        .subscribe-well > form .form-row .label {line-height:28px; margin-bottom:0 !important;}
        .subscribe-well > form .form-row input[type="text"] {width:371px;}
