/** Набор описательных иконок на странице авторизации **/
* + .lk-widgets-preview {margin-top:16px;}
.lk-widgets-preview > .item {float:left; width:298px; height:274px; background:#f4f4f4; border:1px solid #dbdbdb; border-radius:2px; text-align:center; margin-top:30px;}
.lk-widgets-preview > .item:first-child, .lk-widgets-preview > .item:first-child + .item, .lk-widgets-preview > .item:first-child + .item + .item {margin-top:0;}
.lk-widgets-preview > .item + .item {margin-left:30px;}
.lk-widgets-preview > .item:nth-child(3n+1) {clear:left; margin-left:0;}
    .lk-widgets-preview > .item > .icon {padding-top:29px; height:78px;}
    .lk-widgets-preview > .item > .title {font-size:19px; font-family:'__PTSansBold'; text-transform:uppercase; color:#083857; margin-bottom:10px;}
    .lk-widgets-preview > .item > .text-block {font-size:13px; line-height:16px; padding-left:20px; padding-right:20px;}

.lk-widgets-preview > .item-img {border-radius:0; width:300px; height:276px; border:0 none; background:none;}
    .lk-widgets-preview > .item-img * {display:block;}
