/** Index banner slider **/
.banners-slider {height:150px; overflow:visible; position:relative;}
    .banners-slider > .item {position:absolute; right:0; bottom:0;}
        .banners-slider > .item > img {display:block;}
    .banners-slider .controll {position:absolute; right:20px; bottom:20px;}
        .banners-slider .controll > .item {display:inline-block; _overflow:hidden; *zoom:1; *display:inline; margin-left:2px; width:8px; height:8px; background:#fff; vertical-align:top; opacity:0.4; cursor:pointer; -webkit-transition:0.2s opacity linear; -moz-transition:0.2s opacity linear; -o-transition:0.2s opacity linear; -ms-transition:0.2s opacity linear; transition:0.2s opacity linear;}
        .banners-slider .controll > .item.active {opacity:1;}


/** Bottom banners **/
.bottom-banners {background:#264c64; margin-top:20px; padding:8px 0 12px;}
.bottom-banners .items-wrap {position:relative; overflow:hidden;}
    .bottom-banners .items-wrap > .banner-list {position:relative;}
        .bottom-banners .items-wrap > .banner-list > .item {float:left; width:250px; height:115px; position:relative;}
        .bottom-banners .items-wrap > .banner-list > .item:first-child {padding-left:0;}
        .bottom-banners .items-wrap > .banner-list > .item:after {content:''; display:block; position:absolute; right:0; top:12px; height:100px; border-right:1px solid #517083;}
        .bottom-banners .items-wrap > .banner-list > .item:last-child:after {display:none;}
            .bottom-banners .items-wrap > .banner-list > .item > img {display:block; position:relative;}
        .bottom-banners .items-wrap > .banner-list > .item:before {position:absolute; left:0; top:0; content:''; width:256px; height:156px; background:url(/bundles/krdsite/i/sprite.png) -300px -600px no-repeat; display:none;}
        .bottom-banners .items-wrap > .banner-list > .item:hover:before {display:block;}
.bottom-banners .horizontal-scroll {margin:9px 14px 0;}
    .bottom-banners .horizontal-scroll .arrow.right {background-position:-194px -592px;}
    .bottom-banners .horizontal-scroll .arrow.left {background-position:-94px -592px;}
