/** Brother city map **/
.brother-city-wrap {margin-bottom:20px;}
    .brother-city-wrap > .deep-content-menu {float:left; width:240px; margin-right:19px;}
    .brother-city-wrap > #brother-city-map {float:left;}

#brother-city-map {background:url(../i/brother-city-map.png) no-repeat; width:695px; height:417px; position:relative;}
#brother-city-map a {position:absolute; display:block; text-decoration:none; color:#fff; font-size:10px; background:url(../i/sprite.png) -1300px -800px no-repeat; padding:3px 5px;}
    #brother-city-map a s {position:absolute; width:5px; height:3px; display:block; background:url(../i/sprite.png) no-repeat;}
#brother-city-map a:hover {background-position:-1300px -830px;}
#brother-city-map a.i1 {left:280px; top:98px;}
    #brother-city-map a.i1 s {background-position:-1323px -868px; bottom:-3px; right:12px;}
#brother-city-map a.i2 {left:286px; top:121px;}
    #brother-city-map a.i2 s {background-position:-1328px -863px; top:7px; right:-3px; width:3px; height:5px;}
#brother-city-map a.i3 {left:315px; top:147px;}
    #brother-city-map a.i3 s {background-position:-1323px -860px; top:-3px; right:15px;}
#brother-city-map a.i4 {left:578px; top:145px;}
        #brother-city-map a.i4 s {background-position:-1323px -860px; top:-3px; left:6px;}
#brother-city-map a.i5 {left:123px; top:200px;}
    #brother-city-map a.i5 s {background-position:-1323px -860px; top:-3px; right:15px;}
#brother-city-map a.i6 {left:374px; top:151px;}
    #brother-city-map a.i6 s {background-position:-1323px -860px; top:-3px; left:6px;}
