/** Форма авторизации комментариев **/
.comments-auth-form > .text-block {float:left; margin-right:10px; line-height:28px;}
.comments-auth-form > form {float:left; margin-top:0 !important;}
.comments-auth-form .preloader {display:none !important;}

.comments-auth-form .form-row.x3 > .cell {width:214px !important;}
.comments-auth-form .form-row.x3 > .cell.last {width:120px !important;}

.comments-list .item > .well .comments-auth-form .form-row.x3 > .cell {width:195px !important;}
.comments-list .item > .well .comments-auth-form .form-row.x3 > .cell.last {width:120px !important;}


/** Форма добавления нового комментария **/
.comments-list .item > .well .comments-new-form {margin-bottom:0;}
    .comments-list .item > .well .comments-new-form .form-row.x1 > .cell > textarea:first-child {width:926px;}


/** Список комментариев **/
.comments-list + .page-title {margin-top:30px;}
.comments-list .item > .headline {margin-bottom:10px;}
.comments-list .item > .text-block {font-size:13px; line-height:1.2;}
.comments-list .item > .links {font-size:13px; line-height:1.2; margin-top:2px;}
    .comments-list .item > .links > a {display:inline-block; _overflow:hidden; *zoom:1; *display:inline;}
    .comments-list .item > .links > a + a {margin-left:10px;}
    .comments-list .item > .links > .action-delete {color:#f00;}
    .comments-list .item > .links > a:before {content:''; display:inline-block; _overflow:hidden; *zoom:1; *display:inline; margin-right:2px; width:4px; height:5px; background:url(/bundles/krduser/i/s-lk.png) -185px -550px no-repeat; vertical-align:top; position:relative; top:5px;}
    .comments-list .item.open > .links > .action-reply {font-weight:bold; text-decoration:none; color:#000;}

.comments-list .item {margin-bottom:0;}
.comments-list .item + .item {margin-top:40px;}
.comments-list .item > .item {margin-left:40px; margin-top:40px;}
.comments-list > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item .item {margin-left:0;}

.comments-list .item > .well {display:none; margin-top:14px; margin-bottom:0; position:relative;}
.comments-list .item.open > .well {display:block;}
.comments-list .item.open > .well:before {content:''; display:block; width:15px; height:8px; background:url(/bundles/krduser/i/s-lk.png) -200px -550px no-repeat; position:absolute; top:-8px; left:27px;}

.comments-list > .item > .item > .well {margin-left:-40px;}
.comments-list > .item > .item > .well:before {left:67px;}

.comments-list > .item > .item > .item > .well {margin-left:-80px;}
.comments-list > .item > .item > .item > .well:before {left:107px;}

.comments-list > .item > .item > .item > .item > .well {margin-left:-120px;}
.comments-list > .item > .item > .item > .item > .well:before {left:147px;}

.comments-list > .item > .item > .item > .item > .item > .well {margin-left:-160px;}
.comments-list > .item > .item > .item > .item > .item > .well:before {left:187px;}

.comments-list > .item > .item > .item > .item > .item > .item > .well {margin-left:-200px;}
.comments-list > .item > .item > .item > .item > .item > .item > .well:before {left:227px;}

.comments-list > .item > .item > .item > .item > .item > .item > .item > .well {margin-left:-240px;}
.comments-list > .item > .item > .item > .item > .item > .item > .item > .well:before {left:267px;}

.comments-list > .item > .item > .item > .item > .item > .item > .item > .item > .well {margin-left:-280px;}
.comments-list > .item > .item > .item > .item > .item > .item > .item > .item > .well:before {left:307px;}

.comments-list > .item > .item > .item > .item > .item > .item > .item > .item > .item > .well {margin-left:-320px;}
.comments-list > .item > .item > .item > .item > .item > .item > .item > .item > .item > .well:before {left:347px;}

.comments-list > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .well {margin-left:-360px;}
.comments-list > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .well:before {left:387px;}

.comments-list > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .well {margin-left:-400px;}
.comments-list > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .well:before {left:427px;}

.comments-list > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .well {margin-left:-440px;}
.comments-list > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .well:before {left:467px;}

.comments-list > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .well {margin-left:-480px;}
.comments-list > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .well:before {left:507px;}

.comments-list > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .well {margin-left:-520px;}
.comments-list > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .well:before {left:547px;}

.comments-list > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .well {margin-left:-560px;}
.comments-list > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .well:before {left:587px;}

.comments-list > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .well {margin-left:-600px;}
.comments-list > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .well:before {left:627px;}

.comments-list > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item .item > .well {margin-left:-640px;}
.comments-list > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item > .item .item > .well:before {left:667px;}
