/** Content menu **/
.content-menu {padding:13px 19px 7px; background:#09689f; margin-bottom:23px;}
    .content-menu > ul > li {float:left; padding-bottom:10px;}
    .content-menu > ul > li:after {content:''; width:0; height:13px; display:inline-block; _overflow:hidden; *zoom:1; *display:inline; border-right:1px solid #2e7fad; margin:1px 18px 0; vertical-align:middle; position:relative;}
    .content-menu > ul > li:last-child:after {display:none;}
    .content-menu > ul > li > a {color:#fff; font-size:13px; line-height:15px;}
    .font-size-1 .content-menu > ul > li > a {font-size:12px;}
    .font-size-3 .content-menu > ul > li > a {font-size:14px;}
    .content-menu > ul > li.active > a {font-weight:bold; text-decoration:none;}


/** Deep content menu **/
.deep-content-menu + .text-block {margin-top:25px;}
.text-block + .deep-content-menu {margin-top:25px;}

.deep-content-menu + .items-list {margin-top:20px;}

.deep-content-menu > .item {border:1px solid #dbdbdb; font-size:14px; line-height:16px; margin-bottom:1px;}
.font-size-1 .deep-content-menu > .item {font-size:13px;}
.font-size-3 .deep-content-menu > .item {font-size:15px;}
.deep-content-menu > .item:last-child {margin-bottom:0;}
    .deep-content-menu > .item .wrap-icon {position:relative; cursor:pointer;}
    .deep-content-menu > .item .wrap-icon:hover {background:#f5f5f5;}
        .deep-content-menu > .item .wrap-icon .icon {width:38px; height:100%; background:#f5f5f5; border-right:1px solid #dbdbdb; position:absolute; left:0; top:0;}
        .deep-content-menu > .item .wrap-icon:hover .icon {background:#f0f0f0;}
            .deep-content-menu > .item .wrap-icon .icon i {position:absolute; left:50%; top:50%;}
            .deep-content-menu > .item .wrap-icon .icon .icon-content-link {margin-left:-4px; margin-top:-7px;}
            .deep-content-menu > .item .wrap-icon .icon .icon-content-menu-plus {margin-left:-7px; margin-top:-7px;}
            .deep-content-menu > .item .wrap-icon .icon .icon-content-menu-minus {margin-left:-7px; margin-top:-7px;}
        .deep-content-menu > .item .wrap-icon > .title {display:block; padding:10px 0 12px 48px;}
        .deep-content-menu > .item .wrap-icon:hover > .title {text-decoration:none;}
    .deep-content-menu > .item .text-block {padding:23px 30px 24px 30px; border-top:1px solid #dbdbdb;}
.deep-content-menu > .item.close .text-block {display:none;}
.deep-content-menu > .item.open .wrap-icon {background:#f5f5f5;}
    .deep-content-menu > .item.open .icon {background:#fff;}
    .deep-content-menu > .item.open:hover .icon {background:#f8f8f8;}
        .deep-content-menu > .item.open .icon .icon-content-menu-plus {display:none;}
.deep-content-menu > .item.open .wrap-icon > .title {color:#000; font-weight:bold; text-decoration:none;}
