/** Appeal form - destination field **/
.appeal-destination-field {margin-bottom:20px;}
.appeal-destination-field > .item {border:1px solid #dbdbdb; font-size:14px; line-height:16px;}
    .appeal-destination-field > .item .wrap-icon {position:relative; cursor:pointer;}
    .appeal-destination-field > .item .wrap-icon:hover {background:#f5f5f5;}
        .appeal-destination-field > .item .wrap-icon .icon {width:38px; height:100%; background:#f5f5f5; border-right:1px solid #dbdbdb; position:absolute; left:0; top:0;}
        .appeal-destination-field > .item .wrap-icon:hover .icon {background:#f0f0f0;}
            .appeal-destination-field > .item .wrap-icon .icon i {position:absolute; left:50%; top:50%;}
            .appeal-destination-field > .item .wrap-icon .icon .icon-content-menu-plus {margin-left:-7px; margin-top:-7px;}
            .appeal-destination-field > .item .wrap-icon .icon .icon-content-menu-minus {margin-left:-7px; margin-top:-7px;}
        .appeal-destination-field > .item .wrap-icon > .title {display:block; padding:10px 0 12px 48px;}
        .appeal-destination-field > .item .wrap-icon:hover > .title {text-decoration:none;}
    .appeal-destination-field > .item .text-block {padding:23px 30px 24px 30px; border-top:1px solid #dbdbdb;}
.appeal-destination-field > .item.close .text-block {display:none;}
.appeal-destination-field > .item.open .wrap-icon {background:#f5f5f5;}
    .appeal-destination-field > .item.open .icon {background:#fff;}
    .appeal-destination-field > .item.open:hover .icon {background:#f8f8f8;}
        .appeal-destination-field > .item.open .icon .icon-content-menu-plus {display:none;}
.appeal-destination-field > .item.open .wrap-icon > .title {color:#000; font-weight:bold; text-decoration:none;}

/** Appeal destination list **/
.appeal-destination-list > label {display:block; margin-bottom:20px; font-size:14px; line-height:16px; cursor:pointer;}
.appeal-destination-list > label.group-2 {margin-bottom:10px;}
.appeal-destination-list > label:last-child {margin-bottom:0;}
    .appeal-destination-list > label > input {vertical-align:top;}
    .appeal-destination-list > label > .name {font-weight:bold;}
.appeal-destination-list > .group-name {display:block; margin-bottom:20px; font-size:14px; line-height:16px; color:#083857; font-weight:bold;}
