*[class^="icon-lk"] {background-image:url(../i/s-lk.png);}
*[class^="icon-wt"] {background-image:url(../i/widget-thumb.png); width:142px; height:142px;}

.icon-lk-onlineconference {width:62px; height:60px; background-position:0 0;}
.icon-lk-comments {width:60px; height:60px; background-position:-100px 0;}
.icon-lk-documents {width:50px; height:60px; background-position:-200px 0;}
.icon-lk-appeal {width:62px; height:60px; background-position:-300px 0;}
.icon-lk-reporter {width:63px; height:60px; background-position:-400px 0;}
.icon-lk-subscribes {width:59px; height:59px; background-position:0 -100px;}
.icon-lk-bookmarks {width:50px; height:60px; background-position:-100px -100px;}
.icon-lk-mobileapps {width:50px; height:60px; background-position:-200px -100px;}
.icon-lk-registerbanner {width:301px; height:276px; background-position:0 -200px;}

.icon-lk-drag-widget {width:11px; height:11px; background-position:-300px -100px;}
.icon-lk-close-widget {width:11px; height:11px; background-position:-350px -100px;}
.icon-lk-mobile-app-1 {width:64px; height:64px; background-position:-305px -350px;}
.icon-lk-mobile-app-2 {width:64px; height:64px; background-position:-400px -350px;}
.icon-lk-badge-windows-phone {width:75px; height:27px; background-position:-305px -450px;}
.icon-lk-badge-google-play {width:76px; height:27px; background-position:-400px -450px;}
.icon-lk-badge-app-store {width:87px; height:27px; background-position:-300px -500px;}

.icon-lk-pm-onlineconference {width:25px; height:24px; background-position:0 -70px;}
.icon-lk-pm-comments {width:24px; height:24px; background-position:-50px -70px;}
.icon-lk-pm-appeal {width:25px; height:24px; background-position:-100px -70px;}
.icon-lk-pm-reporter {width:26px; height:24px; background-position:-150px -70px;}
.icon-lk-pm-subscribes {width:24px; height:24px; background-position:-200px -70px;}
.icon-lk-pm-bookmarks {width:20px; height:24px; background-position:-250px -70px;}
.icon-lk-pm-documents {width:20px; height:24px; background-position:-300px -70px;}
.icon-lk-pm-mobileapps {width:20px; height:24px; background-position:-350px -70px;}

.icon-lk-edit-mini {width:14px; height:14px; background-position:-100px -500px;}
.icon-lk-edit-confirm-mini {width:14px; height:14px; background-position:-120px -500px;}

.icon-lk-mashajs {width:24px; height:24px; background-position:-150px -500px;}
*:hover > .icon-lk-mashajs {background-position:-185px -500px;}
.icon-lk-adddocument {width:20px; height:24px; background-position:-215px -500px;}
*:hover > .icon-lk-adddocument {background-position:-250px -500px;}

.icon-lk-document-tree-directory {width:15px; height:14px; background-position:0 -550px;}
.icon-lk-document-tree-directory.open {width:19px; height:14px; background-position:-20px -550px;}
.icon-lk-document-tree-directory.editmode {position:relative;}
.icon-lk-document-tree-directory.editmode:after {content:''; display:block; width:5px; height:5px; position:absolute; top:-3px; right:-2px; background:url(../i/s-lk.png) -80px -550px no-repeat;}
.icon-lk-document-tree-document {width:13px; height:14px; background-position:-40px -550px;}
.icon-lk-document-tree-document.selected {background-position:-60px -550px;}
.icon-lk-document-tree-document.editmode {position:relative;}
.icon-lk-document-tree-document.editmode:after {content:''; display:block; width:5px; height:5px; position:absolute; top:-3px; right:-3px; background:url(../i/s-lk.png) -80px -550px no-repeat;}

.icon-lk-bookmark-add-button {width:25px; height:22px; background-position:-100px -550px;}
.icon-lk-bookmark-add-button:hover {background-position:-150px -550px;}

.icon-lk-new-mail {background-position:-220px -550px; width:14px; height:10px;}
.label-2 > .icon-lk-new-mail {position:relative; top:-1px;}

.icon-lk-bookmark-help-save {width:100px; height:88px; background-position:-300px -550px;}
.icon-lk-bookmark-help-create {width:100px; height:80px; background-position:0 -580px;}
.icon-lk-bookmark-help-controll {width:100px; height:88px; background-position:-120px -580px;}
.icon-lk-bookmark-help-zoom {width:14px; height:14px; background-position:-250px -550px;}

.icon-lk-conference-help-stinto {width:99px; height:94px; background-position:0 -680px;}
.icon-lk-conference-help-ask {width:100px; height:92px; background-position:-100px -680px;}
.icon-lk-conference-help-follow {width:100px; height:77px; background-position:-215px -680px;}

.icon-lk-document-help-save {width:82px; height:100px; background-position:-330px -680px;}
.icon-lk-document-help-create {width:100px; height:80px; background-position:-400px -785px;}
.icon-lk-document-help-edit {width:82px; height:100px; background-position:-415px -680px;}
.icon-lk-document-help-controll {width:82px; height:100px; background-position:-315px -785px;}

.icon-wt-comments {background-position:0 0;}
.icon-wt-subscribe {background-position:-150px 0;}
.icon-wt-bookmark {background-position:-300px 0;}
.icon-wt-conference {background-position:-150px -150px;}
.icon-wt-document {background-position:0 -150px;}
