/** News slider **/
.index-news-slider {margin-bottom:20px;}

/** News slider - Icons **/
.news-slider > .icon {background:#f5f5f5; border:1px solid #d8dbdd; border-right:0 none; padding:10px; width:400px; height:300px; float:left; position:relative;}
    .news-slider > .icon > .icons-slider {position:absolute; left:10px; top:10px;}
    .news-slider > .icon > .icons-slider + .icons-slider {display:none;}
    .news-slider > .icon > .icons-slider > .item > img {width:400px; height:300px;}


/** News slider - Items **/
.news-slider > .items {float:left; padding:35px 0; width:542px; height:252px; position:relative; overflow:hidden;}
.news-slider > .items:before {content:''; position:absolute; left:0; top:0; height:100%; border-left:1px solid #d8dbdd; display:block;}
    .news-slider > .items > .wrap {overflow:hidden; position:relative;}
    .news-slider > .items .item {border:1px solid #fff; padding:20px 20px 19px; cursor:pointer; position:relative; margin-left:1px;}
    .news-slider > .items .item:not(:last-child):after {content:''; display:block; position:absolute; left:20px; right:0; bottom:0; border-bottom:1px dotted #d8dbdd;}
    .news-slider > .items .item.active {background:#f5f5f5; border-color:#d8dbdd; border-left:1px solid #f5f5f5; margin-left:-1px; margin-top:-2px; margin-bottom:-2px; padding-left:22px; padding-top:22px; padding-bottom:21px;}
    .news-slider > .items .item.active:first-child {margin-top:0; padding-top:20px;}
    .news-slider > .items .item.active:last-child {margin-bottom:0; padding-bottom:19px;}
        .news-slider > .items .item > .title {font-size:13px; line-height:15px;}
        .news-slider > .items .item:hover > .title {text-decoration:none;}
        .news-slider > .items .item.active > .title {font-weight:bold;}

.news-slider > .items > .btn-block {position:absolute; z-index:1; bottom:0; left:20px; right:0; -webkit-transition:0.2s bottom linear; -moz-transition:0.2s bottom linear; -o-transition:0.2s bottom linear; -ms-transition:0.2s bottom linear; transition:0.2s bottom linear;}
.news-slider > .items > .btn-block:active {bottom:0; top:auto; left:20px;}
.news-slider > .items > .btn-block.hidden {bottom:-35px;}

.news-slider > .items > .arrow {display:block; height:35px; position:absolute; left:1px; right:0; cursor:pointer; background:#fff; -webkit-transition:0.2s opacity linear; -moz-transition:0.2s opacity linear; -o-transition:0.2s opacity linear; -ms-transition:0.2s opacity linear; transition:0.2s opacity linear;}
.news-slider > .items > .arrow.hidden {opacity:0; cursor:default;}
.news-slider > .items > .arrow.top {top:0;}
.news-slider > .items > .arrow.bottom {bottom:0;}
    .news-slider > .items > .arrow > i {display:block; width:24px; height:14px; position:absolute; left:50%; margin:0 0 0 -12px; background:url(/bundles/krdsite/i/sprite.png) no-repeat;}
    .news-slider > .items > .arrow.top > i {background-position:-600px -300px; top:0;}
    .news-slider > .items > .arrow.bottom > i {background-position:-500px -400px; bottom:0;}


/** Slimiar list slider **/
.similar-list > .items {float:none; width:auto;}
.similar-list > .items:before {display:none;}
    .similar-list > .items .item.active {border-left:1px solid #d8dbdd; margin-left:0; padding-left:21px;}
        .similar-list > .items .item .headline > .title {font-size:14px; line-height:16px; overflow:hidden; max-width:650px;}
