{# Список СМИ #}

{% set lastCategory = '' %}
{% if not list is empty %}
    <div class="text-block">
        {% for item in list %}
            {% if not item.getCategory() is empty and lastCategory != item.getCategory() %}
                {% set lastCategory = item.getCategory() %}
                <div class="page-title x-mini">{{ lastCategory }}</div>
            {% endif %}

            <table>
                <thead>
                    <tr>
                        <td style="width: 300px;">Название</td>
                        <td><strong>{{ item.getTitle() }}</strong></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Адрес</td>
                        <td>{{ item.getAddress() }}</td>
                    </tr>
                    <tr>
                        <td>Руководитель</td>
                        <td>{{ item.getHeadmaster() }}</td>
                    </tr>
                    {% if item.hasPhones() %}
                        <tr>
                            <td>Телефон</td>
                            <td>{% for i in item.getPhones() %}<a href="tel:{{ i }}">{{ i }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</td>
                        </tr>
                    {% endif %}
                    {% if item.hasFaxes() %}
                        <tr>
                            <td>Телефон-факс</td>
                            <td>{% for i in item.getFaxes() %}<a href="tel:{{ i }}">{{ i }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</td>
                        </tr>
                    {% endif %}
                    {% if item.hasWebsite() %}
                        <tr>
                            <td>Сайт</td>
                            <td><a href="http://{{ item.getWebsite() }}">{{ item.getWebsite() }}</a></td>
                        </tr>
                    {% endif %}
                    {% if item.hasEmails() %}
                        <tr>
                            <td>Электронная почта</td>
                            <td>{% for i in item.getEmails() %}<a href="mailto:{{ i }}">{{ i }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            {% if not loop.last %}
                <p>&nbsp;</p>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
