{% extends 'QCoreBundle:Index:index.html.twig' %}

{% block title %}Very-Good CMS :: Управление редиректами{% endblock %}

{% block content %}
    <h2>Список перенаправлений</h2>

    <tabs>
        <pane heading="Список" url="/redirect/">
            <div entity-list="{{ path('cms_rest_q_core_redirect') }}:id" url="/redirect/" columns="{id:{title:'#'}, url:{title:'Старый URL'}, redirect:{title:'Новый URL'}}" btn-add="Добавить" count="10" disable-move></div>
        </pane>

        <ghostpane heading="Новый редирект" url="/redirect/create/" parent="0" template="{{ path('cms_rest_q_core_redirect_form_add') }}"></ghostpane>

        <ghostpane heading="Ред. редирект #{id}" url="/redirect/edit/{id}" parent="0" template="{{ path('cms_rest_q_core_redirect_form_add') }}{id}"></ghostpane>
    </tabs>
{% endblock %}
