{# Письмо о новом комментарии #}

{% extends 'KrdSiteBundle:Email:default.html.twig' %}

{% block email %}
    <p>
        {% trans %}Автор комментария{% endtrans %}: <b>{{ comment.getCreatedBy().getFullName() }}</b>
    </p>

    <p>
        {% trans %}Комментарий{% endtrans %}: <b>{{ comment.getContent()|nl2br|raw }}</b>
    </p>

    <p>
        <a href="{{ app.request.getScheme() }}://{{ app.request.getHost() }}{{ comment.getUrl() }}">Посмотреть комментарий на сайте и активировать</a>
    </p>
{% endblock %}
