{# Подробный вид человека в структуре администрации #}

<div class="page-title{% if not item.hasPostLinkNode() %} d-line{% endif %}">{{ item.getFio() }}</div>

{% if item.hasPostLinkNode() %}
    <div class="page-sub-title d-line">
        Возглавляемое подразделение: <a href="{{ item.getPostLinkNode().getUrl(true) }}" class="invert">{{ item.getPostLinkNode().getFrontendTitle() }}</a>
    </div>
{% endif %}

{% if item.hasContent() or item.hasImages() %}
    <div class="text-block clearfix">
        {% if item.hasImages() %}
            <a href="{{ item.getBigImages()|default(item.getImages()).0.getUrl('fancybox') }}">
                <img src="{{ item.getImages().0.getUrl('photo_preview') }}" class="img-left" alt="{{ item.getImages().0.getTitle()|default(item.getFio()) }}">
            </a>
        {% endif %}

        {{ item.getContent()|raw }}
    </div>
{% endif %}

{% if item.hasLinksNodes() %}
    <div class="deep-content-menu">
        {% for item in item.getLinksNodes() %}
            <div class="item close">
                <div class="wrap-icon clearfix">
                    <div class="icon">
                        <i class="icon-content-link"></i>
                    </div>
                    <a href="{{ item.getUrl(true) }}" class="title">{{ item.getFrontendTitle() }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}


{% if item.hasShedule() or item.hasContacts() %}
    <div class="page-title d-line-top">{% trans %}Контактная информация{% endtrans %}</div>

    <div class="text-block">
        {% if item.hasContacts() %}
            {{ item.getContacts()|raw }}
        {% endif %}

        {% if item.hasShedule() %}
            <div class="human-shedule-link link-color" dialog-show="shedule-{{ item.getId() }}">
                <i class="icon-calendar"></i><span class="ajax-link">{{ item.getSheduleTitle()|default('График проведения приёмов граждан на текущий квартал')|trans }}</span>
            </div>
        {% endif %}
    </div>
{% endif %}

{% if item.hasChildrenHuman() %}
    <div class="page-title d-line-top">{% trans %}Курируемые подразделения{% endtrans %}</div>

    {% include "KrdAdministrationBundle:Module:human/section.html.twig" with {items:item.getChildrenHuman(), notitle:true} %}
{% endif %}

{% if item.hasShedule() %}
    <script type="text/ng-template" id="shedule-{{ item.getId() }}">
        <div class="page-title nm d-line">{{ item.getSheduleTitle()|default('График проведения приёмов граждан на текущий квартал') }}</div>
        <div class="text-block shedule-window-content clearfix">
            {% for month in item.getSheduledMonths() %}
            <div class="calendar-single clearfix" comments="{{ item.getSheduleAsDate|serialize }}" hidden-year disabled-month select-month="{{ month - 1 }}"></div>
            {% endfor %}
        </div>
    </script>
{% endif %}

