{# Структура администрации - список #}

{% include "KrdAdministrationBundle:Module:human/section.html.twig" with {items:items, notitle:true, children:false, linksto:content} %}

{% for node in list %}
    {% include "KrdAdministrationBundle:Module:human/section.html.twig" with {items:node.getCustomData('items'), notitle:false, node:node, children:false} %}
{% endfor %}
