{# Секция списка структуры администрации #}

{% spaceless %}

{% if not notitle and node is defined %}
    <div class="page-title center nm with-arrow-bottom mini clearfix" id="node-title-{{ node.getId() }}">
        {{ node.getFrontendTitle() }}
    </div>
{% endif %}

{% if node is not defined %}
    {% set node = currentNode %}
{% endif %}

{% if items|length > 3 %}
    {% set range = range(low=0, high=items|length-1, step=3) %}
{% else %}
    {% set range = range(0, 0) %}
{% endif %}

{% if children is not defined %}
    {% set children = false %}
{% endif %}

{% if items|length > 0 %}
    {% for i in range %}
        {% set sItems = items|slice(i, 3) %}

        <section class="human-list c-{{ sItems|length }} clearfix{% if notitle and not children %} bigger{% endif %}{% if children %} children{% endif %}">
            {% for item in sItems %}
                <article data-id="{{ item.getId() }}" class="item clearfix">
{#                    ссылки поменяли в связи с отставкой Евланова#}
{#                    <a href="{% if item.getId() == 1 %}/administratsiya/struktura-administratsii/glava_goroda/{% else %}{{ item.getUrl() }}{% endif %}" class="icon" title="{{ item.getFio() }}">#}
                    <a href="{% if item.getId() == 1 %}/administratsiya/struktura-administratsii/zamestiteli-glavy-munitsipalnogo-obrazovaniya-gorod-krasnodar/miheev.html{% else %}{{ item.getUrl() }}{% endif %}" class="icon" title="{{ item.getFio() }}">
                        {% if item.getMainWhiteImage()|length > 0 %}
                            <img src="{{ item.getMainWhiteImage().getUrl('111x148') }}" alt="{{ item.getPost() }}">
                        {% endif %}
                    </a>

                    <div class="w">
{#                        <a href="{% if item.getId() == 1 %}/administratsiya/struktura-administratsii/glava_goroda/{% else %}{{ item.getUrl() }}{% endif %}" class="title invert">#}
                        <a href="{% if item.getId() == 1 %}/administratsiya/struktura-administratsii/zamestiteli-glavy-munitsipalnogo-obrazovaniya-gorod-krasnodar/miheev.html{% else %}{{ item.getUrl() }}{% endif %}" class="title invert">
                            {{ item.getFio() }}
                        </a>

                        {% if item.hasPost() %}
                            <div class="text-block">{{ item.getPost() }}</div>
                        {% endif %}

                        {% if item.hasChildrenHuman() %}
                            <a href="#" class="children-show" adm-show-subordinates="{{ item.getId() }}" data-inactive-text="{% trans %}Закрыть{% endtrans %}">{% trans %}Курируемые подразделения{% endtrans %}</a>
                        {% endif %}
                    </div>
                </article>
            {% endfor %}
        </section>

        {% for item in sItems %}
            {% if not children and item.hasChildrenHuman() %}
                <div class="human-children c-{% if sItems|length == 1 %}1{% else %}{{ loop.index0 }}{% endif %}" data-parent="{{ item.getId() }}">
                    <div class="page-title center nm mini clearfix">
                        {% trans %}Курируемые подразделения{% endtrans %}
                    </div>

                    {% include "KrdAdministrationBundle:Module:human/section.html.twig" with {items:item.getChildrenHuman(), notitle:true, node:node, children:true} %}

                    <div class="close-button">
                        <div class="btn btn-blue close">{% trans %}Закрыть курируемые подразделения{% endtrans %}</div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}

{% if linksto is defined and linksto is not empty %}
    {% spaceless %}{{ linksto.getContent()|raw }}{% endspaceless %}
{% endif %}
{% endspaceless %}
