{# Страница списка событий (новости) #}

{% extends "KrdGlavaBundle::layout.html.twig" %}


{% block layout_content %}
	<div class="page-container">
		<div class="page-title clearfix d-line">
			Вопросы
			<div class="has-share-panel headline" style="float:right">
				<a href="/internet-priemnaya/priyom-ofitsialnykh-obrascheniy-grazhdan/" class="btn btn-blue btn-faq">Задать вопрос</a>
				<div class="share-panel no-selection">
					<div class="item">
		                <i class="icon-share-panel-font-small" krd-font-smaller title="{% trans %}Уменьшить шрифт{% endtrans %}"></i>
		            </div>
		
		            <div class="item">
		                <i class="icon-share-panel-font-large" krd-font-larger title="{% trans %}Увеличить шрифт{% endtrans %}"></i>
		            </div>
				</div>
			</div>
		</div>
		{{ appContainer.get('krd.site.modules.faq').renderGlavaContent()|raw }}
	</div>
{% endblock %}