{# Список подведомственных организаций департамента #}

{% if list is not empty %}
    <div class="block">
        <div class="page-title mini">{{ node.getFrontendTitle() }}</div>

        <div class="suborg-list-wrap" horizontal-scroll horizontal-scroll-items=".suborg-list > .item" horizontal-scroll-wrap=".suborg-list" step="item">
            <div class="suborg-list items-block-list clearfix">
                {% for item in list %}
                    <div class="item">
                        <a href="{{ item.getUrl() }}" class="title">{{ item.getTitle() }}</a>
                        <div class="text-block">
                            <span class="gray">Адрес:</span> {{ item.getAddress() }}
                            <br /><span class="gray">Телефон:</span> <b>{{ item.getPhone() }}</b>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="text-align-right">
            <a href="{{ node.getUrl(true) }}" class="btn btn-blue">Смотреть все</a>
        </div>
    </div>
{% endif %}
