{# Подробный вид организации #}

<div class="page-title d-line">{{ item.getTitle() }}</div>

<div class="text-block clearfix">{% spaceless %}
    {% if item.hasImages() %}
        <div class="icons-slider img-left">
            {% for image in item.getImages() %}
                <a href="{{ image.getUrl('fancybox') }}" class="item fancybox" title="{{ image.getTitle() }}" rel="suborganization-{{ item.getId() }}">
                    <img src="{{ image.getUrl('news_preview') }}" alt="{{ image.getTitle() }}">
                </a>
            {% endfor %}
        </div>
    {% endif %}

    {% if item.hasAddress() %}
        <span class="gray">Адрес:</span> {{ item.getAddress() }}
    {% endif %}

    {% if item.hasPhone() %}
        {% if item.hasAddress() %}<br />{% endif %}
        <span class="gray">Телефон:</span> <b>{{ item.getPhone() }}</b>
    {% endif %}

    {% if item.hasEmail() %}
        {% if item.hasAddress() or item.hasEmail() %}<br />{% endif %}
        <span class="gray">E-mail:</span>&nbsp;{% for email in item.getEmails() %}<a href="mailto:{{ email }}"><b>{{ email }}</b></a>{% if not loop.last %}, {% endif %}{% endfor %}
    {% endif %}
    <br />
    <br />{{ item.getContent()|raw }}
{% endspaceless %}</div>

{% if item.hasFiles() %}
    {% include "KrdSiteBundle::Module/content/files.html.twig" with {files:item.getFiles()} %}
{% endif %}

<div class="btn-group text-align-right">
    <a href="{{ currentNode.getUrl(true) }}" class="btn btn-blue">Вернуться к списку</a>
</div>
