{# Список организаций #}

<section class="items-list">
    {% for item in list %}
        <article class="item clearfix">
            {% if item.hasImages() %}
                <a href="{{ item.getUrl() }}" class="icon icon-list" title="{{ item.getTitle() }}">
                    <img src="{{ item.getMainImage().getUrl('news_list') }}" alt="{{ item.getTitle() }}">
                </a>
            {% endif %}

            <div class="w">{% spaceless %}
                <a href="{{ item.getUrl() }}" class="title">{{ item.getTitle() }}</a>
                <div class="text-block">
                    {% if item.hasAddress() %}
                        <span class="gray">Адрес:</span>&nbsp;{{ item.getAddress() }}
                    {% endif %}

                    {% if item.hasPhone() %}
                        {% if item.hasAddress() %}<br />{% endif %}
                        <span class="gray">Телефон:</span>&nbsp;<b>{{ item.getPhone() }}</b>
                    {% endif %}

                    {% if item.hasEmail() %}
                        {% if item.hasAddress() or item.hasEmail() %}<br />{% endif %}
                        <span class="gray">E-mail:</span>&nbsp;{% for email in item.getEmails() %}<a href="mailto:{{ email }}"><b>{{ email }}</b></a>{% if not loop.last %}, {% endif %}{% endfor %}
                    {% endif %}
                </div>
            {% endspaceless %}</div>
        </article>
    {% else %}
        <div class="text-block">По Вашему запросу новости не найдены</div>
    {% endfor %}
</section>
