{# Письмо о новом вопросе для администратора #}

{% extends 'KrdSiteBundle:Email:default.html.twig' %}

{% block email %}
    <p>
        ФИО: <b>{{ question.getFioAsk() }}</b>
    </p>

    <p>
        Дата/время вопроса: <b>{{ question.getDateAsk()|krd_date_format(true) }}</b>
    </p>

    <p>
        Вопрос: {{ question.getQuestion() }}
    </p>

    <p>
        В данный момент вопрос {% if question.getActive() %}<b>показывается на сайте</b>{% else %}<b>не виден на сайте</b>{% endif %}.
    </p>

    <p>
        <a href="{{ app.request.getScheme() }}://{{ app.request.getHost() }}/{{ appContainer.getParameter('cms_prefix') }}/struct{{ question.getParent().getParent().getUrl(true) }}#!/questions/edit/{{ question.getId() }}">Редактировать вопрос в панели управления</a>
    </p>
{% endblock %}
