{% extends 'QCoreBundle:Index:index.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <aside class="span3">
            {% block aside %}{% endblock %}
        </aside>

        <div class="span9">
            {% block body %}{% endblock %}
        </div>
    </div>
{% endblock %}
