{# Список турфирм в виде таблицы #}

{% if not list is empty %}
    <div class="text-block clearfix">
        <table>
            <thead>
                <tr>
                    <td>№<br />п/п</td>
                    <td>Название</td>
                    <td>Адрес</td>
                    <td>Телефон</td>
                    <td>Электронный адрес</td>
                </tr>
            </thead>

            <tbody>
                {% for item in list %}
                    <tr>
                        <td nowrap>{{ loop.index }}.</td>
                        <td nowrap>{{ item.getTitle() }}</td>
                        <td>{{ item.getAddress() }}</td>
                        <td nowrap>
                            {% for phone in item.getPhones() %}
                                <a href="tel:{{ phone }}">{{ phone }}</a>{% if not loop.last %}<br />{% endif %}
                            {% endfor %}
                        </td>
                        <td nowrap>
                            {% for email in item.getEmails() %}
                                <a href="mailto:{{ email }}">{{ email }}</a>{% if not loop.last %}<br />{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
