{# Админская часть модуля открытые конкурсы #}

<h3>Список конкурсов</h3>

<tabs>
    <pane heading="Список" url="/competition/">
        <div entity-list="{{ path('cms_rest_krd_competition_competition') }}:id?parent={{ currentNode.getId() }}" url="/competition/" columns="{id:{title:'#'}, title:{title:'Заголовок'}, active:{title:'Активность', isBoolean:true}}" btn-add="Добавить" count="10" sortable></div>
    </pane>

    <ghostpane heading="Создание конкурса" url="/competition/create/" parent="0" template="{{ path('cms_rest_krd_competition_competition_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Ред. конкурса #{id}" url="/competition/edit/{id}" parent="0" template="{{ path('cms_rest_krd_competition_competition_form_add') }}{id}"></ghostpane>
</tabs>
