{# Интерактивный блок FAQ #}

<div class="faq-block-interactive">
    {% for item in list %}
        <div class="item close">
            <div class="question clearfix">
                <div class="icon">
                    <i class="icon-question-e"></i>
                    <i class="icon-reply-e"></i>
                </div>
                <a href="#" class="title">{{ item.getTitle() }}</a>
            </div>
            <div class="reply text-block clearfix">
                {{ item.getReply()|raw }}
            </div>
        </div>
    {% endfor %}
</div>
