{# Список FAQ на главной департамента #}

{% if list is not empty %}
    <div class="block">
        <div class="page-title mini">{{ faqNode.getFrontendTitle() }}</div>

        {% include "KrdSiteBundle::Module/faq/block-interactive.html.twig" %}

        <div class="text-align-right">
            <a class="btn btn-blue" href="{{ faqNode.getUrl(true) }}">Смотреть все</a>
        </div>
    </div>
{% endif %}
