{# Список FAQ #}

<section class="items-list faq-list">
    {% for item in list.getItems() %}
        <article class="item clearfix">
            <div class="question clearfix">
                <i class="icon-question"></i>
                <div class="text-block">{{ item.getTitle() }}</div>
            </div>

            <div class="reply clearfix">
                <i class="icon-reply"></i>
                <div class="text-block">{{ item.getReply()|raw }}</div>
            </div>
        </article>
    {% else %}
        <div class="text-block">Раздел в стадии наполнения</div>
    {% endfor %}
</section>

{% if list.getPageCount() > 1 %}
    <div class="btn btn-blue btn-block next-page" more-btn="faq-list-item" url="{{ path('ajax_faq_list', {parent:currentNode.getId()}) }}">Показать еще вопросы</div>
{% endif %}

{% raw %}
<script type="text/ng-template" id="faq-list-item">
    <article class="item clearfix">
        <div class="question clearfix">
            <i class="icon-question"></i>
            <div class="text-block">{{ item.title }}</div>
        </div>

        <div class="reply clearfix">
            <i class="icon-reply"></i>
            <div class="text-block" ng-bind-html="item.reply"></div>
        </div>
    </article>
</script>
{% endraw %}
