{# Виджет на главной странице #}

<div class="item widget-reporter" url="{{ path('krd_ajax_reporter_last') }}" multi-height="index-widgets">
    <div class="title"><i class="icon-reporter"></i>Городской репортер</div>

    <div class="w">
        <a href="{{ item.url }}" target="_blank" class="icon">
            <img src="{{ item.image }}" alt="{{ item.title }}">
        </a>

        <div class="date">{{ item.date|krd_date_format(true) }}</div>
        <a href="{{ item.url }}" target="_blank" class="title">{{ item.title }}</a>
    </div>

    {% spaceless %}
        <div class="btn-group">
            <a class="btn btn-blue" href="{{ appContainer.getParameter('reporter.url') }}" target="_blank">Посетить
                сайт</a>

            <div class="btn btn-deep-blue btn-icon btn-update"><i class="icon-refresh"></i></div>
        </div>
    {% endspaceless %}
</div>
