/*------------------------------------*\
GLOBAL
\*------------------------------------*/
@font-face {
  font-family:'open_sansbold';
  src:url('mobile/fonts/opensans-bold-webfont-webfont.eot');
  src:url('mobile/fonts/opensans-bold-webfont-webfont.eot?#iefix') format('embedded-opentype'),
      url('mobile/fonts/opensans-bold-webfont-webfont.woff') format('woff'),
      url('mobile/fonts/opensans-bold-webfont-webfont.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:'open_sansregular';
  src:url('mobile/fonts/opensans-regular-webfont-webfont.eot');
  src:url('mobile/fonts/opensans-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
      url('mobile/fonts/opensans-regular-webfont-webfont.woff') format('woff'),
      url('mobile/fonts/opensans-regular-webfont-webfont.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
body,
input,
textarea,
select,
button {
  font-family:'open_sansregular', sans-serif;
  font-size:14px;
  line-height:20px;
  color:#202020;
}
body {
  margin:0;
  padding:0;
  overflow-x:hidden;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:none;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
a,
a:hover {
  color:#202020;
  text-decoration:none;
}
h1 {
  font-family:'open_sansbold', sans-serif;
  font-size:18px;
  font-weight:normal;
  line-height:20px;
  color:#202020;
}
h2 {
  font-family:'open_sansbold', sans-serif;
  font-size:20px;
  font-weight:normal;
  line-height:30px;
  color:#202020;
}
strong {
  font-family:'open_sansbold', sans-serif;
  font-weight:normal;
}
/*------------------------------------*\
$MENU, HEADER AND FOOTER
\*------------------------------------*/

#mobile-screen  {
  /*position:absolute;*/
  top:0;
  left:0;
  width:100%;
  /*
  height:100%;
  overflow-x:hidden;
  */
  height:auto;
  overflow:hidden;
  z-index:99;
}

#mobile-screen .page {
    display:none;
}


#mobile-screen.index #index,
#mobile-screen.lang #lang,
#mobile-screen.favourites #favourites,
#mobile-screen.plan #plan,
#mobile-screen.stop #stop,
#mobile-screen.search #search,
#mobile-screen.schedule5 #schedule5,
#mobile-screen.schedule4 #schedule4,
#mobile-screen.schedule3 #schedule3,
#mobile-screen.schedule2 #schedule2,
#mobile-screen.schedule #schedule {
    display:block;
}

.MapDisplayed #mobile-screen, .ScheduleMapDisplayed #mobile-screen {
    display:none;
}

/* old map v.2 css start */

.MapDisplayed #divMapWrapper, .ScheduleMapDisplayed #divMapWrapper {
    bottom:0;
    display:block;
    height:100%;
    left:0;
    overflow:hidden;
    position:absolute;
    right:0;
    top:0;
    width:100%;
    z-index:4000;
}
#divMapWrapper {
    display:none;
    height:100px;
    overflow:hidden;
    width:100px;
}

#divMap {
    background-color:lightgreen;
    height:100%;
    overflow:hidden;
    width:100%;
}

#divMap label { width:auto; display:inline; }
#divMap img { max-width:none; max-height:none; }


#mapYouAreHere {
    background-image: url('_images/location2_wait.png');
    background-size: 20px 20px;
    background-position: 5px 5px;
}

#mapYouAreHere.wait {
    background-image: url('_images/location2.png');
}

#mapShowTraffic {
    background-image: url("_images/traffic.gif");
    background-size: 20px 20px;
    background-position: 5px 5px;
}

#mapShowVehicles {
    background-image: url("_images/vehicles.gif");
    background-size: 20px 20px;
    background-position: 5px 5px;
}

#mapShowAllStops {
    background-image: url("_images/stops.gif");
    background-size: 20px 20px;
    background-position: 5px 5px;
}

/*
#mapHide {
    background-image:url('_images/hide.gif');
    background-size: 20px 20px;
    background-position: 5px 5px;
}
*/

.m .map_hide {
    position:absolute;
    z-index: 999;
/*    padding: 5px;
    width: 30px;
    height: 30px;

    background-image: url("_images/map_button_background.png");
    background-size: 40px 40px;
    background-position: 0px 0px;

    opacity: 1.0;*/
    cursor:pointer;

}

.m .map_button {
    position:absolute;
    z-index: 999;
    margin: -1px 0px 0px;
    padding: 5px;
    width: 30px;
    height: 30px;

    background-image: url("_images/map_button_background.png");
    background-size: 40px 40px;
    background-position: 0px 0px;

    opacity: 1.0;
    cursor:pointer;
}

.m .map_button.pressed, .m .map_button:active {
    background-image: url("_images/map_button_background_active.png");
    background-size: 40px 40px;
    background-position: 0px 0px;
}

.map_button_icon {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}


.strong {
    font-weight:bold;
}


.container-fluid {
  /*position:relative;*/
  /*position:absolute;*/
  position:relative;
  left:0px;
  right:0px;
  padding:0;
  /*min-width:360px;*/
  background-color:white;

  overflow:hidden;

  -webkit-transition:all 0.5s ease-in-out;
     -moz-transition:all 0.5s ease-in-out;
       -o-transition:all 0.5s ease-in-out;
          transition:all 0.5s ease-in-out;
}
.container-fluid.slide {
  right:260px;
  left:-260px;
}

#menu, #mobile-screen .page {
  background-color:#383a3b;
}

#menu {
  display:none;
  position:absolute;/*fixed*/
  top:0;
  right:-260px;
  bottom:0;
  width:260px;
  max-width:100%;
  /*height:100%;*/
  min-height:410px; /*100%;*/
  z-index:200;
  overflow:hidden;

  -webkit-transition:all 0.5s ease-in-out;
     -moz-transition:all 0.5s ease-in-out;
       -o-transition:all 0.5s ease-in-out;
          transition:all 0.5s ease-in-out;
}
#menu.open {
  right:0;
}
#menu .nav {
  margin:0;
}
#menu .nav li {
  background:#3e4041;
  background:-moz-linear-gradient(top, #3e4041 0%, #323435 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e4041), color-stop(100%,#323435));
  background:-webkit-linear-gradient(top, #3e4041 0%,#323435 100%);
  background:-o-linear-gradient(top, #3e4041 0%,#323435 100%);
  background:-ms-linear-gradient(top, #3e4041 0%,#323435 100%);
  background:linear-gradient(to bottom, #3e4041 0%,#323435 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e4041', endColorstr='#323435',GradientType=0);
  border-top:1px solid #484b4c;
  border-bottom:1px solid #2b2d2e;
}
#menu .nav li a {
  background-position: 15px center;
  background-size: 53px 43px;
  background-color:transparent;
  background-repeat:no-repeat;
  color:#ffffff;
  padding:0 10px 0 83px;
}
#menu .home {
  background-image: url("_images/mobile/menu-home-invert.png");
}
#menu .schedule {
  background-image:url(_images/mobile/menu-schedule-invert.png);
}
#menu .search {
  background-image:url(_images/mobile/menu-search-invert.png);
}
#menu .planner {
  background-image:url(_images/mobile/menu-planner-invert.png);
}
#menu .map {
  background-image:url(_images/mobile/menu-map-invert.png);
}
#menu .favourites {
  background-image:url(_images/mobile/menu-favourites-invert.png);
}
#menu .info {
  background-image:url(_images/mobile/menu-info-invert.png);
}
#menu .nav .lang {
  background:#252628;
  background:-moz-linear-gradient(top, #252628 0%, #1f2020 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#252628), color-stop(100%,#1f2020));
  background:-webkit-linear-gradient(top, #252628 0%,#1f2020 100%);
  background:-o-linear-gradient(top, #252628 0%,#1f2020 100%);
  background:-ms-linear-gradient(top, #252628 0%,#1f2020 100%);
  background:linear-gradient(to bottom, #252628 0%,#1f2020 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#252628', endColorstr='#1f2020',GradientType=0);
  border-top:0  ;
  border-bottom:1px solid #0b0b0b;
}
#menu .nav .lang a {
  background-image:none;
  color:#81868b;
  font-size:12px;
  padding:10px;
  text-align:center;
}
#menu .nav .lang a span {
  background-position:left center;
  background-repeat:no-repeat;
  background-size:16px 11px;
  padding:0 0 0 30px;
}
.header {
  background-color:#ffffff;
  background-position:top left;
  background-size:100% 10px;
  height:60px;
  position:relative;
  display:table!important;

  z-index:100;
  padding-top:10px;
  -webkit-box-shadow:0 0 14px rgba(0,0,0,0.1);
     -moz-box-shadow:0 0 14px rgba(0,0,0,0.1);
          box-shadow:0 0 14px rgba(0,0,0,0.1);
}
.header h1 {
  display:table-cell;
  height: 50px;

  vertical-align:middle;
  text-align:center;

  margin:0;

  position:relative;
  /*
  left:60px;
  right:60px;
  */
  z-index:0;

  white-space:normal;
}

.lang-ee,
.lang-et {
  background-image:url(mobile/img/lang-et.png);
}
.lang-en {
  background-image:url(mobile/img/lang-en.png);
}
.lang-ru {
  background-image:url(mobile/img/lang-ru.png);
}
.lang-de {
  background-image:url(mobile/img/lang-de.png);
}
.lang-lt {
  background-image:url(mobile/img/lang-lt.png);
}
.lang-lv {
  background-image:url(mobile/img/lang-lv.png);
}
.logos {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 15px 0 15px 0!important;
}
.logos  a{
  display:block;
  margin: auto;

  width:0;
  height:0;
}
.footer {
  background-position:bottom left;
  background-size:100% 10px;
  padding-bottom: 30px;
}



/*------------------------------------*\
$FRONTPAGE
\*------------------------------------*/
.shortcut {
  background-color:#f6f6f6;
  background-repeat:no-repeat;
  background-size:88px 72px;
  background-position:center 12px;

  border-top:1px solid #ffffff;
  border-right:1px solid #e5e5e5;
  border-bottom:1px solid #e5e5e5;
  width:50% !important;
  height:120px;
  margin:0 !important;
  padding:90px 0 10px;
  font-family:'open_sansbold', sans-serif;
  font-size:12px;
  font-weight:normal;
  line-height:14px;
  color:#202020;
  text-align:center;
  text-decoration:none;
}

.shortcut:hover {
  color:#202020;
  text-decoration:none;
}
.row-fluid .shortcut:last-child {
  border-left:1px solid #ffffff;
  border-right:0;
}
.shortcut-schedule {
  background-image:url(_images/mobile/menu-schedule.png);
}
.shortcut-search {
  background-image:url(_images/mobile/menu-search.png);
}
.shortcut-planner {
  background-image:url(_images/mobile/menu-planner.png);
}
.shortcut-map {
  background-image:url(_images/mobile/menu-map.png);
}
.shortcut-favourites {
  background-image:url(_images/mobile/menu-favourites.png);
}
.shortcut-info {
  background-image:url(_images/mobile/menu-info.png);
}
/*------------------------------------*\
$NAVIGATION AND STRUCTURE
\*------------------------------------*/

#mobile-screen .legend
,#mobile-screen .timetable {
    display:none;
    width:auto;
}

#mobile-screen .legend.active {
    display:block;
}


#mobile-screen .timetable.active {
    display:table;
}


.nav-tabs {
  border:0;
  margin:0;
  position:relative;
  z-index:1;
  -webkit-box-shadow:0 0 6px rgba(0,0,0,0.25);
     -moz-box-shadow:0 0 6px rgba(0,0,0,0.25);
          box-shadow:0 0 6px rgba(0,0,0,0.25);
}
.nav-tabs > li {
  margin:0;
  display:inline-block; /* for not wrapping to second row */
}

.nav-tabs > li > a  p, .nav-tabs > li > span p {
  height:50px;
}
#menu .nav > li > a  p {
  height:60px;
}
.nav-tabs > li > a  p, .nav-tabs > li > span p, .nav > li > a  p {
  margin:0;
  display:table-cell; /* for aligning text in the middle */
  vertical-align:middle;
}

.nav-tabs > li > span,
.nav-tabs > li > a {
  display:block;
  margin:0;
  padding:0;
  height:50px;

  background:#ffffff;
  border:0;
  border-right:1px solid #e5e5e5;
  border-radius:0;
  color:#202020;
  font-size:14px;
  text-align:center;
  cursor:pointer;
}

.nav-tabs > li.active > span,
.nav-tabs > li.active > a {
    cursor:default;
}

.nav-tabs > .active > span,
.nav-tabs > .active > span:hover,
.nav-tabs > .active > span:focus,
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  background-color:#f5f5f5;
  border:0;
  border-right:1px solid #e5e5e5;
  font-family:'open_sansbold', sans-serif;
  font-weight:normal;
  color:#202020;
}

.nav-tabs .active {
  position:relative;
}

.nav-tabs a span,
.nav-tabs span span {
  display: inline-block;
}

.nav-tabs .active span:after,
.nav-tabs .active a:after {
  background:#f5f5f5;
  content:"";
  position:absolute;
  left:50%;
  margin-left:-10px;
  bottom:-5px;
  width:20px;
  height:20px;
  z-index:-1;
  -webkit-box-shadow:0 0 6px rgba(0,0,0,0.25);
     -moz-box-shadow:0 0 6px rgba(0,0,0,0.25);
          box-shadow:0 0 6px rgba(0,0,0,0.25);
  -webkit-transform:rotate(45deg);
     -moz-transform:rotate(45deg);
      -ms-transform:rotate(45deg);
       -o-transform:rotate(45deg);
           tranform:rotate(45deg);
}

.nav-tabs li:last-child span,
.nav-tabs li:last-child a {
  border-right:0;
}
.nav-region {
  z-index:2;
}
.nav-region li,
.nav-pager li,
.nav-favourites li {
  width:50%;
}

.nav-region>li>span,
.nav-region>li>a {
  background-position:10px center;
  background-repeat:no-repeat;
  padding-left:50px !important;
  padding-right:0;
  text-align:left;
}

.nav-region .tallinna-linn span,
.nav-region .tallinn span,
.nav-region .tallinna-linn a,
.nav-region .tallinn a {
  background-image:url(mobile/img/tallinn.png);
  background-size:30px 32px;
}

.nav-region .harju span,
.nav-region .harju a {
  background-image:url(mobile/img/harju.png);
  background-size:30px 18px;
}

ul.nav-transport.tallinna-linn li.harju
, ul.nav-transport.harju li.tallinna-linn {
    display:none;
}

.nav-transport li,
.nav-timetable li,
.nav-search li {
  width:33%;
}

.nav-transport li:first-child,
.nav-timetable li:first-child,
.nav-search li:first-child {
  width:34%;
}

.nav-transport li span,
.nav-transport li a {
  background-position:10px center;
  background-repeat:no-repeat;
  padding-left:34px;
  padding-right:0;
  text-align:left;
}
.nav-timetable,
.nav-pager,
.nav-search {
  z-index:0;
}

.nav-pager li {
  background:#ffffff;
  background:-moz-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7));
  background:-webkit-linear-gradient(top, #ffffff 0%,#f7f7f7 100%);
  background:-o-linear-gradient(top, #ffffff 0%,#f7f7f7 100%);
  background:-ms-linear-gradient(top, #ffffff 0%,#f7f7f7 100%);
  background:linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0);
}
.nav-pager li a {
  background-color:transparent;
  background-size:20px 16px;
  background-repeat:no-repeat;
}


.nav-pager li.next a div.right {
	float:right;
}

.nav-pager li.next a div.right .cell {
	height:50px;
	display:table-cell;
	vertical-align:middle;
}

.nav-pager .previous a {
  background-image:url(mobile/img/previous.png);
  background-position:left center;
  padding-left:30px;
  text-align:left;
}
.nav-pager .next a {
  background-image:url(mobile/img/next.png);
  background-position:right center;
  padding-right:30px;
  text-align:right;
}
.nav-departures {
  z-index:0;
}
.nav-departures li {
  width:23%;
}
.nav-departures .caption {
  border-right:1px solid #e5e5e5;
  padding:15px 0 15px 10px;
  width:31%;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}
.nav-list {
  margin:0;
  padding:0;
}
.nav-list li a {
  border-bottom:1px solid #eeeeee;
  color:#202020;
  margin:0;
  padding:15px 10px;
  position:relative;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}
.nav-list .time,
.toolbar .planner-info .time {
  font-size:20px;
}
.with-labels.with-icons .time {
  margin-top:-10px;
}
.with-icons li a {
  padding:15px 10px 15px 30px;
}
.with-labels li a {
  padding:15px 10px 15px 10px;
}

.num1, .num2, .num3, .num4  {
    width:40px;
}

.with-labels .label,
.with-icons .icon {
/*  position:absolute;
  left:10px;
  top:50%;
  margin-top:-9px;
  */
}
.with-labels.with-icons li a {
  padding:10px 10px 10px 10px;
}
.with-labels.with-icons .without-label a {
  padding:10px;
}
.with-labels.with-icons .without-label strong {
  font-size:16px;
}
.with-labels.with-icons .icon {
 /* left:10px;*/
}
.with-labels.with-icons .label {
/*  left:30px; */
}

.with-labels.with-icons .label,
.with-labels.with-icons .icon {
    margin-top:11px;
    margin-right:6px;
}

.lines .with-labels.with-icons .label,
.lines .with-labels.with-icons .icon {
    margin-top:0px;
}

.with-labels.with-icons .label {
    margin-right:10px;
    margin-bottom:10px;
}


.with-labels.with-icons a {
    min-height:60px;

}

.with-labels.with-icons strong {
    position:relative;
}

.with-labels.with-icons p {
    position:relative;
    float:left;
    margin-bottom:0px;
}


.accordion-group.active .collapse {
    height:auto;
}

.toolbar {
  background:#f5f5f5;
  min-height:50px !important;
  padding:0 10px;
  position:relative;
  vertical-align:middle;
  z-index:1;
  -webkit-box-shadow:0 0 6px rgba(0,0,0,0.25);
     -moz-box-shadow:0 0 6px rgba(0,0,0,0.25);
          box-shadow:0 0 6px rgba(0,0,0,0.25);
}

.toolbar.next-departures h3 {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}

.toolbar p {
  display:inline-block;
  margin:0;
  vertical-align:top;
}
.toolbar-top {
  border-bottom:1px solid #e7e7e7;
  z-index:2;
  -webkit-box-shadow:none;
     -moz-box-shadow:none;
          box-shadow:none;
}
.toolbar-schedule p {
  display:table-cell;
  height:50px;
  margin:0;
  padding:0 50px 0 4px;
  vertical-align:middle;
}
.toolbar-schedule .with-buttons {
  padding:0 90px 0 4px;
}

.toolbar-schedule .icon {
  position:relative;
  float:left;
  margin-top:15px;

  /*
  position:absolute;
  top:17px;
  left:10px;
  */
}
.toolbar-schedule .label {
  position:relative;
  float:left;
  margin-top:15px;
  /*
  position:absolute;
  top:15px;
  left:30px;
  */
}
.toolbar p.with-stop {
  padding:0 130px 0 4px;
  display:table-cell;
  height:50px;
  vertical-align:middle;
}
.toolbar-bottom {
  border-top:1px solid #f8f8f8;
  padding:5px 10px;
}
.toolbar .planner-info {
  margin:5px 0;
}
.toolbar .with-stop strong,
.toolbar-bottom strong {
  font-size:16px;
}
.toolbar .planner-info.pull-right {
  text-align:right;
}
.departures span {
  margin:0 6px 0 0;
}
.timetable {
  font-size:16px;
  margin:0;
  -webkit-border-radius:0 !important;
     -moz-border-radius:0 !important;
          border-radius:0 !important;
  border/*-right*/:0 none;
  border-collapse:collapse;
}
.timetable th {
  background:#eeeeee;
  font-family:'open_sansbold', sans-serif;
  font-weight:normal;
  text-align:right;
  vertical-align:middle;
  padding:8px 10px;
  -webkit-border-radius:0 !important;
     -moz-border-radius:0 !important;
          border-radius:0 !important;
    border-bottom:1px solid #DDDDDD;
}

.timetable td {
  padding:0;
  border:0 none;
}

.timetable div.cell {
    border-top:1px solid #DDDDDD;
    border-right:1px solid #DDDDDD;
    border-bottom:1px solid #DDDDDD;
    margin-bottom:-1px;

    float:left;
    display:block;
    height:40px;
}

.timetable div.empty-cells {
    display:none; /*block;*/
    height:40px;
    overflow:hidden;
    border-bottom:1px solid #DDDDDD;
}


.timetable div.cell.empty span {
    display:block;
    margin:1px;
    padding:8px;
    text-align:center;
    color:white;
}

.timetable div a,
.timetable td a {
  display:block;
  margin:1px;
  padding:8px;
  text-align:center;
}


.timetable .highlighted,
.legend .highlighted,.legend .highlighted2,
.timetable .highlight,
.legend .highlight {
  background:#FFFF80;
  border-bottom:2px solid #E0E000;
}


.timetable .other,
.timetable .other0,
.timetable .other1, /* reiketu gal visiems skirtingu spalvu ir passikinimu + dar express */
.timetable .other2,
.timetable .other3,
.timetable .corner,
.legend .corner {
  background-image:url(mobile/img/corner.png);
  background-position:top right;
  background-repeat:no-repeat;
  background-size:10px 10px;
}

.legend .highlighted,
.legend .highlight,
.legend .corner {
  padding:2px 4px;
}
.legend {
  background-color:#f6f6f6;
  border:1px solid #dedede;
  margin:10px 10px 0;
  padding:5px 10px;
  font-size:12px;
}
.legend p {
  margin:0;
  line-height:30px;
}
.red {
  color:red;
}
.blue {
  color:blue;
}
.search {
  background:#ffffff;
  padding:0;
  position:relative;
}
.search:after {
  background:#ffffff;
  content:"";
  position:absolute;
  left:10px;
  bottom:-5px;
  width:20px;
  height:20px;
  z-index:-1;
  -webkit-box-shadow:0 0 6px rgba(0,0,0,0.25);
     -moz-box-shadow:0 0 6px rgba(0,0,0,0.25);
          box-shadow:0 0 6px rgba(0,0,0,0.25);
  -webkit-transform:rotate(45deg);
     -moz-transform:rotate(45deg);
      -ms-transform:rotate(45deg);
       -o-transform:rotate(45deg);
           tranform:rotate(45deg);
}
.form-search {
  background:#ffffff;
  height:50px;
  margin:0;
  padding:0;
  padding:10px;
}

.form-search select {
    margin:10px 10px;
    position:absolute;
    right:0px;
    width:35%;
}

.search-results li {
    display:none;
}

.search-results.all li {
    display:list-item;
}

.search-results li.error {
    padding:10px;
    border-bottom:1px solid #EEEEEE;
}

.search-results.lines  li.line {
    display:list-item;
}

.search-results.stops  li.stop {
    display:list-item;
}

.search-results li span,
.departing-routes li span {
    display:inline-block;
}

.favourites-list li td,
.departing-routes li td {
    vertical-align:top;
    padding:0px;
}

.favourites-list li table {
    margin-right:120px;
}

.flive {
    font-size:12px;
    /*display:none;*/
}

.flive.active {
    display:block;
}


.departing-routes li table {
    margin-right:50px;
}

.departing-routes li.live table {
    margin-right:110px;
}

.favourites-list .timetowait,
.departing-routes .timetowait {
    position:absolute;
    top:20px;
    right:60px;
    white-space:nowrap;
    font-size: 20px;
    display:none; /* kai pradesiu rodyti .departing-routes li table { margin-right: 110px; } */
}

.favourites-list .timetowait,
.departing-routes li.live .timetowait {
    display:block;
}

.departing-routes li {
    position:relative;
}

.departing-routes .livemap {
    position:absolute;
    top:10px;
    right:10px;
    white-space:nowrap;
    font-size: 20px;
}


/*
.departing-routes li a strong span {
    display:block;
    float:left;
}
*/

.form-search input[type="text"] {
  border: 1px solid #CCCCCC;
  border-radius: 4px 4px 4px 4px;

  background-color:transparent;
  background-image:url(mobile/img/search-small.png);
  background-position:10px center;
  background-repeat:no-repeat;
  background-size:24px 24px;
  color:#555555;
  padding:10px 10px 10px 42px;
  width:100%;
  -webkit-box-shadow:0 4px 2px rgba(0,0,0,0.05);
     -moz-box-shadow:0 4px 2px rgba(0,0,0,0.05);
          box-shadow:0 4px 2px rgba(0,0,0,0.05);
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
	height:40px;
    font-size:14px;
	color: black;
	line-height:20px;
}

/* all */
.form-search input::-webkit-input-placeholder { color:#555555; opacity: 1;}
.form-search input::-moz-placeholder { color:#555555; opacity: 1;} /* firefox 19+ */
.form-search input:-ms-input-placeholder { color:#555555; opacity: 1;} /* ie */
.form-search input:-moz-placeholder { color:#555555; opacity: 1;}


.search-results-placeholder {
  color:#dedede;
  padding:60px 60px 40px;
  text-align:center;
}

.results .search-results-placeholder {
    display:none;
}

.search-results .stop a {
  padding:10px;
}
.search-results .stop strong {
  font-size:16px;
}
.lines {
  margin:0;
}
.lines .icon {
  margin:2px 10px 0 10px;
}
.lines .icon:first-child {
  margin-left:0;
}
.lines span {
  margin:0 8px 0 0;
}
.planner {
  margin:0;
  padding:0; /*5px 0 0;*/
}
.planner .control-group {
  border-bottom:1px solid #eeeeee;
  padding:10px;
  margin:0;
}
.planner .control-group input[type=text]:last-child,
.planner .control-group select:last-child,
.planner .control-group .input-prepend:last-child {
  margin:0;
}
.planner .control-group input[type=text],
.planner .control-group select {
  height:40px;
  width:100%;
  -webkit-box-shadow:0 4px 2px rgba(0,0,0,0.05);
     -moz-box-shadow:0 4px 2px rgba(0,0,0,0.05);
          box-shadow:0 4px 2px rgba(0,0,0,0.05);
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}
.planner .control-group input[type=text] {
  padding:10px;
}
.planner .input-prepend {
  width:100%;
  position:relative;
}
.planner .input-prepend .add-on {
  background-color:#f5f5f5;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:17px 24px;
  width:40px;
  height:40px;
  padding:0;
  z-index:10;
  position:absolute;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}
.planner .pin-start {
  background-image:url(mobile/img/pin-start.png);
}
.planner .pin-end {
  background-image:url(mobile/img/pin-end.png);
}
.planner .input-prepend input[type=text] {
  padding-left:50px;
  -webkit-border-radius:4px;
     -moz-border-radius:4px;
          border-radius:4px;

   padding-right:35px;
   position:relative;
}

.locate {
    background-image: url("_images/location2_wait.png");
    background-position: 5px 5px;
    background-size: 20px 20px;
    background-repeat: no-repeat no-repeat;
    height: 30px;
    width: 30px;
    position:absolute;
    right:5px;
    top:5px;
    cursor:pointer;
    z-index: 10;
}

.planner .disabled {
  padding:0;
}
.planner .disabled .checkbox {
  background-image:url(mobile/img/wheelchair.png);
  background-position:20px center;
  background-repeat:no-repeat;
  background-size:12px 18px;
  padding:10px 10px 10px 40px;
}
.planner .disabled input[type="checkbox"] {
  margin:3px 10px 10px 5px;
}

.planner .expand {
  padding:0;
}

.planner.extended .expand {
    display:none;
}

/*
.expand .icon, .icon_expand {
    background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAADFBMVEUAAAC+v8D7+/0AAABCOTH1AAAAAXRSTlMAQObYZgAAADBJREFUeF51i7sVACAIA3VDmuzlHFmCfVgC9dHxueKKvMuqbECeyfNt2erdHn18Jy6qjBTukxaP2AAAAABJRU5ErkJggg==");
}
*/

.planner .show-form span,
.planner .expand span,
.planner .expand a {
  display:block;
  padding:10px;
  text-align:center;
  text-decoration:underline;
  cursor:pointer;
}



.planner .planner-results,
.planner .control-group.show-form,
.planner.results .control-group,
.planner.results .form-actions {
    display:none;
}

.planner.results .planner-results,
.planner.results .control-group.show-form {
    display:block;
}


.planner .form-actions {
  background:none;
  border:0;
  margin:0;
  padding:10px 10px 0;
}

.planner .extended {
    display:none;
}

.planner.extended .extended {
    display:block;
}

.planner-results, .stop-routes {
  margin:0;
}

.planner-results .accordion-group, .stop-routes .accordion-group {
  border:0;
  margin:0;
  -webkit-border-radius:0;
     -moz-border-radius:0;
          border-radius:0;
}
.planner-results .accordion-heading, .stop-routes .accordion-heading {
  background:#fcfcfc;
  background:-moz-linear-gradient(top, #fcfcfc 0%, #f4f4f4 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f4f4f4));
  background:-webkit-linear-gradient(top, #fcfcfc 0%,#f4f4f4 100%);
  background:-o-linear-gradient(top, #fcfcfc 0%,#f4f4f4 100%);
  background:-ms-linear-gradient(top, #fcfcfc 0%,#f4f4f4 100%);
  background:linear-gradient(to bottom, #fcfcfc 0%,#f4f4f4 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f4f4f4',GradientType=0);
  border-bottom:1px solid #eeeeee;
}
.planner-results .accordion-toggle, .stop-routes .accordion-toggle {
  background-image:url(mobile/img/collapse.png);
  background-position:10px center;
  background-repeat:no-repeat;
  background-size:14px 14px;
  height:50px;
  padding:5px 10px 5px 30px;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}
.planner-results .accordion-toggle.collapsed, .stop-routes .accordion-toggle.collapsed {
  background-image:url(mobile/img/expand.png);
  background-position:10px center;
  background-repeat:no-repeat;
  background-size:14px 14px;
}
.planner-results .accordion-toggle p, .stop-routes .accordion-toggle p {
  display:inline-block;
  margin:0;
  vertical-align:top;
}

.stop-routes .accordion-toggle p {
    margin: 10px 0;
}

.planner-results .accordion-toggle .icons, .stop-routes .accordion-toggle .icons {
  margin:12px 0 0;
}
.planner-results .accordion-inner, .stop-routes .accordion-inner {
  border:0;
  padding:0;
}
.planner-results .directions {
  margin:0;
}
.planner-results .directions strong {
  background-image:url(mobile/img/arrow-small.png);
  background-position:right 7px;
  background-repeat:no-repeat;
  background-size:5px 7px;
  padding:0 10px 0 0;
}
.planner-results .with-icons .icon {
  position:absolute;
  left:10px;
  top:18px;
  margin-top:0;
}

#divSuggestedStops {
    position:absolute;
    top:0;
    display:none;
    overflow:auto;

    background-color:white;
    border:1px solid;
    border-color:#808080 black black #808080;
    z-index:100;
}



#divSuggestedStops a {
    display:block;

    padding:5px 5px;
    /*min-height:18px; breaks equal width in IE7 */
    line-height:18px;
    /*border-bottom:1px solid #CCCCCC;*/
    white-space:nowrap;
}

#divSuggestedStops a {cursor:default;}


#divSuggestedStops a:hover {
    background-color:PowderBlue;
}

.favourites-list li {
  position:relative;
}
.favourites-list .remove {
  background-image:url(mobile/img/remove.png);
  background-position:center center;
  background-repeat:no-repeat;
  background-size:14px 14px;
  border-left:1px solid #eeeeee;
  position:absolute;
  top:0;
  right:0;
  width:50px;
  height: 100%; /*61px;*/
  padding:0 !important;
}
.with-labels.with-icons.favourites-list-lines li a {
  padding:20px 10px 20px 10px;
}
.alert {
  color:#202020;
  margin:10px 10px 0;
}
.alert h4 {
  color:#202020;
  font-family:'open_sansbold', sans-serif;
  font-weight:normal;
  font-size:16px;
  line-height:20px;
  margin:0 0 10px;
}
.nav-stacked {
  margin:10px 10px 0;
  -webkit-box-shadow:none;
     -moz-box-shadow:none;
          box-shadow:none;
}
.nav-stacked li a {
  background-image:url(mobile/img/arrow.png);
  background-position:right center;
  background-repeat:no-repeat;
  background-size:24px 18px;
  border:1px solid #dedede !important;
  border-bottom:0 !important;
  font-size:16px;
  padding:10px;
  text-align:left;
}
.nav-stacked li:last-child a {
  border-bottom:1px solid #dedede !important;
}

.nav-list.lang-list li a {
  background-position:10px center;
  background-repeat:no-repeat;
  background-size:16px 11px;
  padding:15px 10px 15px 40px;
}
/*------------------------------------*\
$MAP
\*------------------------------------*/
#map-canvas {
  width:100%;
  height:320px;
}
/*------------------------------------*\
$BUTTONS
\*------------------------------------*/
.header .btn, #divMapHide .btn {
  background-position:center center;
  background-repeat:no-repeat;
  background-size:16px 15px;
  border:1px solid #dadada;
  width:40px;
  height:30px;
  padding:0;
  margin:10px;
  position:relative;
  z-index:10;
  -webkit-transition:none;
     -moz-transition:none;
       -o-transition:none;
          transition:none;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}

#divMapHide .btn {
    background-color: #e4eafa;
    border:1px solid #98958f;
    margin:0px;
}

.header .btn-lang {
  background-size:16px 11px;
}
.header .btn-back, #divMapHide .btn-back {
  background-image:url(mobile/img/back.png);
}
.header .btn-home {
  background-image:url(_images/menu-home.png);
  background-size:16px 13px;
  margin:10px 0;
}
.header .btn-menu {
  background-image:url(mobile/img/menu.png);
}
.toolbar .btn-group {
  position:absolute;
  top:5px;
  right:10px;
}

.toolbar .btn, .livemap .btn, .variant-map  .btn, .schedule-map .btn {
  background-color:#ffffff;
  background-position:center center;
  background-repeat:no-repeat;
  border:1px solid #c9c9c9;
  width:40px;
  height:40px;
  padding:0;
  margin:0;
  -webkit-transition:none;
     -moz-transition:none;
       -o-transition:none;
          transition:none;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}

.with-labels.with-icons li .livemap  a.btn-map {
    height:40px;
    min-height: 40px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}


.btn-map {
  background-image:url(mobile/img/map-small.png);
  background-size:15px 14px;
}

.schedule-map {
    position:absolute;
    top:5px;
    right:10px;
}

/*
.btn-add-favourite {
  background-image:url(mobile/img/add-favourite-small.png);
  background-size:18px 17px;
} */

.btn-favourite {
  background-image:url(mobile/img/favourite-small.png);
  background-size:18px 17px;
}

.btn-favourite:focus {
    outline:0;
}

.btn-favourite.add {
  background-image:url(mobile/img/add-favourite-small.png);
  background-size:18px 17px;
}


.btn-list {
  background-image:url(mobile/img/list-small.png);
  background-size:17px 14px;
}

.btn-planner:focus {
    color:white;
}

.btn-planner,
.btn-planner:hover {
  /*
  background:#464646;
  background:-moz-linear-gradient(top, #464646 0%, #303030 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#464646), color-stop(100%,#303030));
  background:-webkit-linear-gradient(top, #464646 0%,#303030 100%);
  background:-o-linear-gradient(top, #464646 0%,#303030 100%);
  background:-ms-linear-gradient(top, #464646 0%,#303030 100%);
  background:linear-gradient(to bottom, #464646 0%,#303030 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#464646', endColorstr='#303030',GradientType=0);

  border:1px solid #010101;
  border-top:0;
  color:#ffffff;

  -webkit-box-shadow:0 4px 2px rgba(0,0,0,0.05);
     -moz-box-shadow:0 4px 2px rgba(0,0,0,0.05);
          box-shadow:0 4px 2px rgba(0,0,0,0.05);
  */


  display:block;
  font-family:'open_sansbold', sans-serif;
  font-weight:normal;
  font-size:18px;
  line-height:20px;
  padding:15px;
  text-shadow:none;
  width:100%;

}
.btn-fullsite,
.btn-fullsite:hover {
  background:#f4f4f4;
  background:-moz-linear-gradient(top, #f4f4f4 0%, #f0f0f0 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#f0f0f0));
  background:-webkit-linear-gradient(top, #f4f4f4 0%,#f0f0f0 100%);
  background:-o-linear-gradient(top, #f4f4f4 0%,#f0f0f0 100%);
  background:-ms-linear-gradient(top, #f4f4f4 0%,#f0f0f0 100%);
  background:linear-gradient(to bottom, #f4f4f4 0%,#f0f0f0 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#f0f0f0',GradientType=0);
  border:1px solid #dcdcdc;
  color:#404040;
  font-family:'open_sansbold', sans-serif;
  display:block;
  height:20px;
  padding:10px;
  margin:0 20px;
  -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.05);
     -moz-box-shadow:0 2px 2px rgba(0,0,0,0.05);
          box-shadow:0 2px 2px rgba(0,0,0,0.05);
}
/*------------------------------------*\
$ICONS
\*------------------------------------*/
.icon {
  background-position:0 0;
  height:20px;
  margin:0 6px 0 0;
}

.icon-marker {
    background-image: url("_images/MarkerRed.png");
}

/* for the labels on the map */
img.icon_narrow { display:inline-block; height:18px; width:auto; margin-right:5px; vertical-align:top; background:no-repeat top left; }

.label {
  min-width:30px;
  margin-right:6px;
  text-align:center;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}

.icon-walk {
  background-image:url(mobile/img/walk.png) !important;
  background-size:9px 15px !important;
  width:9px;
}


#divHeader {
    background-color:red;
    position:absolute;
    top:900px;
    display:none;
}

#divControls {
    background-color:grey;
    position:absolute;
    top:970px;
    display:none;
}

#divContainer {
    background-color:yellow;
    position:absolute;
    top:1000px;
    display:none;
}

/*
.mapMenu {
    position:absolute;
    top:0;
    display:none;
    overflow:auto;

}
.mapMenu { overflow:hidden; }


.mapMenu .content {
    background-color:white;
    border:1px solid;
    border: 2px solid #000000;
    border-radius: 4px;
    margin-bottom:12px;
    margin-top:12px;
}

.mapMenu a {
    display:block;
    padding: 1px 5px;
    line-height:18px;
    white-space:nowrap;
}

.mapMenu a:hover {
    background-color:PowderBlue;
}
*/

/* jq.popup start */
body>div#mask, #loading .mask_loading {
    display:block;
    width:100%;
    height:100%;
    background:#000;
    z-index: 999999;
    position:absolute;
    top:0;
    left:0;
}

.place-remove {
    background-image: url("mobile/img/remove.png");
    width:28px;
    height:28px;
    display:inline-block;
    border:1px solid black;
    border-radius:2px;
    cursor:pointer;
}

#loading {
    display:none;
}

#loading .mask_loading {
    opacity:0.5;
}

#loading .img_loading {
    background-image: url("mobile/img/loading.gif");
    height:16px;
    width:105px;
    margin-top: -8px;
    margin-left: -50px;
    position: fixed;
    top: 50%;
    left: 48%;
    display: block;
    opacity:1.0;
    z-index: 9999999;
}

.jqPopup {
    background: none repeat scroll 0 0 #464646;
    border: 1px solid #72767B;
    border-radius: 10px;
    display: block;
    float: left;
    margin-left: auto !important;
    margin-right: auto !important;
    opacity: 1;
    padding: 10px;
    position: absolute;
    transform: scale(1);
    transition: all 0.2s ease-in-out 0s;
    width: 280px;
    z-index: 1000000;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
}

/*
.jqPopup.hidden {
    display:none;
}*/


.jqPopup header {
    display: block !important;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.jqPopup div {
    font-size: 12px;
}

.jqPopup * {
    color: #FFFFFF;
}

.jqPopup footer {
    display: block !important;
    text-align: center;
    width: 100%;
}

.jqPopup footer a#cancel {
    float: left;
}

.jqPopup footer a#action {
    float: right;
    margin-right: 4px;
}

.jqPopup * {
    color: #FFFFFF;
}

.jqPopup .button {
    background: none repeat scroll 0 0 #CCCCCC;
    border-radius: 6px;
    /*color: #333333;*/
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
    margin-left: 6px;
    margin-top: 6px;
    min-width: 40px;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-shadow: 0 1px 0 #FFFFFF;
    z-index: 1;
}




.mapMenu {
    position:absolute;
    top:0;
    display:none;
    overflow:auto;

    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.mapMenu { overflow:hidden; }


.mapMenu .content {
    background-color:white;
    border:1px solid;
    border: 2px solid #000000;
    border-radius: 4px;
    margin-bottom:12px;
    margin-top:12px;
    padding:6px;
}

.mapMenu a, .mapMenu div.a {
    display:block;
    padding: 1px 5px;
    /*min-height:18px; breaks equal width in IE7 */
    line-height:30px;
    height:30px;
    /*border-bottom:1px solid #CCCCCC;*/
    white-space:nowrap;
    cursor:pointer;
}



.mapMenu span.icon {
    height:22px;
}

.place-remove {
    background-image: url("_images/remove.png");
    width:28px;
    height:28px;
    display:inline-block;
    border:1px solid black;
    border-radius:2px;
    cursor:pointer;
}

#divMap .mapMenu a span.icon.icon_narrow {
    margin: 0;
}

.mapMenu a.hover {
    line-height:26px;
    height:24px;
    display:inline-block;
    margin:1px;
}

.mapMenu a:hover, .mapMenu div.a:hover  {
    background-color:PowderBlue;
}

.m .baloon_arrow {
    background-image: url("_images/baloon_arrow.png");
    bottom: 5px;
    height: 9px;
    position: absolute;
    width: 16px;
}

.m .baloon_arrow.top{
    background-image: url("_images/baloon_arrow_top.png");
    top: 5px;
}


#ClusterManagerStopsPane a.mapStopOnRoute {
    width:30px;
    height:30px;
}


#ClusterManagerStopsPane img {
    /*margin:10px;*/
    border:7px solid transparent;
}

#ClusterManagerStopsPane img.icon_narrow,
#ClusterManagerStopsPane img.tip {
    border:0px;
}



/* jq.popup end */

/*------------------------------------*\
$MEDIA QUERIES
\*------------------------------------*/
@media (min-width:768px) and (max-width:1024px) {
  .footer img {
    width:320px;
  }
}

@media (min-height:480px) {
    #menu {
        height:100%;
        position:fixed;
    }
}
/* max-width does not works on Samsung Galaxy S3 Mini
@media (max-width:420px) {
    .nav-transport li,
    .nav-timetable li,
    .nav-search li {
        max-width:40%;
        width:auto;
        overflow:hidden;
    }

    .nav-transport li a {
        padding-right:5px;
    }
}
 */
