.ng-table th{text-align:left;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.ng-table th.sortable{cursor:pointer}
.ng-table th.sortable div{padding-right:18px;position:relative}
.ng-table th.sortable div:after{content:"";border-width:0 4px 4px;border-style:solid;border-color:#000 transparent;visibility:hidden;right:8px;top:50%;position:absolute;margin-top:-2px}
.ng-table th.sortable div:hover:after{visibility:visible}
.ng-table th.sortable.sort-desc,.ng-table th.sortable.sort-asc{background-color:rgba(141,192,219,.25);text-shadow:0 1px 1px rgba(255,255,255,.75)}
.ng-table th.sortable.sort-asc div:after,.ng-table th.sortable.sort-asc div:hover:after{visibility:visible;filter:alpha(opacity=60);-khtml-opacity:.6;-moz-opacity:.6;opacity:.6}
.ng-table th.sortable.sort-desc div:after{border-bottom:0;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #000;visibility:visible;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;filter:alpha(opacity=60);-khtml-opacity:.6;-moz-opacity:.6;opacity:.6}
.ng-table th.filter .input-filter{margin:0;display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.ng-table+.pagination{margin-top:0}

.ng-table .ui-sortable-helper td {background:#fff;}

.bootstrap-select.btn-group,.bootstrap-select.btn-group[class*="span"]{float:none;display:inline-block;margin-bottom:10px;margin-left:0}.form-search .bootstrap-select.btn-group,.form-inline .bootstrap-select.btn-group,.form-horizontal .bootstrap-select.btn-group{margin-bottom:0}.bootstrap-select.btn-group.pull-right,.bootstrap-select.btn-group[class*="span"].pull-right,.row-fluid .bootstrap-select.btn-group[class*="span"].pull-right{float:right}.input-append .bootstrap-select.btn-group{margin-left:-1px}.input-prepend .bootstrap-select.btn-group{margin-right:-1px}.bootstrap-select:not([class*="span"]){width:220px}.bootstrap-select{width:220px\9}.bootstrap-select .btn{width:100%}.bootstrap-select.show-menu-arrow.open .btn{z-index:1001}.bootstrap-select .btn:focus{outline:thin dotted #333 !important;outline:5px auto -webkit-focus-ring-color !important;outline-offset:-2px}.bootstrap-select.btn-group .btn .filter-option{overflow:hidden;position:absolute;left:12px;right:25px;text-align:left}.bootstrap-select.btn-group .btn .caret{position:absolute;right:12px}.bootstrap-select.btn-group>.disabled,.bootstrap-select.btn-group .dropdown-menu li.disabled>a{cursor:not-allowed}.bootstrap-select.btn-group[class*="span"] .btn{width:100%}.bootstrap-select.btn-group .dropdown-menu{min-width:100%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}.bootstrap-select.btn-group .dropdown-menu dt{display:block;padding:3px 20px;cursor:default}.bootstrap-select.btn-group .div-contain{overflow:hidden}.bootstrap-select.btn-group .dropdown-menu li>a.opt{padding-left:35px}.bootstrap-select.btn-group .dropdown-menu li>a{min-height:20px;cursor:pointer}.bootstrap-select.btn-group .dropdown-menu li>dt small{font-weight:normal}.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a i.check-mark{display:inline-block;position:absolute;right:15px;margin-top:2.5px}.bootstrap-select.btn-group .dropdown-menu li a i.check-mark{display:none}.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text{margin-right:34px}.bootstrap-select.btn-group .dropdown-menu li small{padding-left:.5em}.bootstrap-select.btn-group .dropdown-menu li:not(.disabled)>a:hover small,.bootstrap-select.btn-group .dropdown-menu li:not(.disabled)>a:focus small{color:#64b1d8;color:rgba(255,255,255,0.4)}.bootstrap-select.btn-group .dropdown-menu li>dt small{font-weight:normal}.bootstrap-select.show-menu-arrow .dropdown-toggle:before{content:'';display:inline-block;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #CCC;border-bottom-color:rgba(0,0,0,0.2);position:absolute;bottom:-4px;left:9px;display:none}.bootstrap-select.show-menu-arrow .dropdown-toggle:after{content:'';display:inline-block;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid white;position:absolute;bottom:-4px;left:10px;display:none}.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before{bottom:auto;top:-3px;border-top:7px solid #ccc;border-bottom:0;border-top-color:rgba(0,0,0,0.2)}.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after{bottom:auto;top:-3px;border-top:6px solid #fff;border-bottom:0}.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before{right:12px;left:auto}.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after{right:13px;left:auto}.bootstrap-select.show-menu-arrow.open>.dropdown-toggle:before,.bootstrap-select.show-menu-arrow.open>.dropdown-toggle:after{display:block}

/*! jQuery UI - v1.10.3 - 2013-09-17
* http://jqueryui.com
* Includes: jquery.ui.core.css
* Copyright 2013 jQuery Foundation and other contributors; Licensed MIT */

.ui-helper-hidden{display:none}.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse}.ui-helper-clearfix:after{clear:both}.ui-helper-clearfix{min-height:0}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}.ui-front{z-index:100}.ui-state-disabled{cursor:default!important}.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%}

/** Вращение объекта на 360 градусов **/
@-webkit-keyframes rotate{
    0%   {-webkit-transform: rotate(0deg);}
    100%   {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate{
    0%   {-moz-transform: rotate(0deg);}
    100%   {-moz-transform: rotate(360deg);}
}

@-o-keyframes rotate{
    0%   {-o-transform: rotate(0deg);}
    100%   {-o-transform: rotate(360deg);}
}

@-ms-keyframes rotate{
    0%   {-ms-transform: rotate(0deg);}
    100%   {-ms-transform: rotate(360deg);}
}

@keyframes rotate{
    0%   {transform: rotate(0deg);}
    100%   {transform: rotate(360deg);}
}

/** ****************************************************** **/

header.navbar-inverse .navbar-inner {border-radius:0; padding-left:30px; padding-right:30px;}
.navbar-fixed-top {box-shadow:0 5px 5px rgba(0,0,0,0.2)}
.header-padding {height:60px;}

a {cursor:pointer;}
a.btn:hover {text-decoration:none !important;}

dl:first-child {margin-top:0;}

blockquote .text-block p {font-size:13px; font-weight:normal; line-height:1.2;}

/** Modal **/
.modal {width:1000px; margin-left:-500px;}
.modal.w800 {width:800px; margin-left:-400px;}

.popover, .tooltip {z-index:1060;}
.tab-content {overflow:visible;}

/** Заголовки **/
h2 {font-size:30px;}
.nav-tabs > li > a {cursor:pointer;}

/** TinyMCE **/
.mce-panel {border-color:#ccc !important;}
div.mce-fullscreen {top:41px !important;}

/** Сайдбар **/
aside .well > header {background:#eee; border-bottom:1px solid #e5e5e5; font-weight:bold; font-size:110%; color:#9da0a4;}
aside .well.well-small > header {margin:-9px -9px 10px -9px; padding:9px;}


/** Индикация загрузки списка сущностей **/
.loading-container {position:relative;}
    .loading-container > .preloader {position:absolute; left:0; top:0; width:100%; height:100%; background:url(../../bundles/qcore/i/preloader.gif) center no-repeat rgba(255,255,255,0.5); min-height:40px; min-width:40px;}


/** Вращающиеся блоки **/
.infiinite-rotate {-webkit-animation:rotate 1.3s linear infinite; -moz-animation:rotate 1.3s linear infinite; -o-animation:rotate 1.3s linear infinite; -ms-animation:rotate 1.3s linear infinite; animation:rotate 1.3s linear infinite;}


/** Списки сущностей **/
.entity-list > .loading-container > .header-buttons {margin-bottom:10px;}
    .entity-list > .loading-container > .header-buttons > .btn {margin-right:15px;}
    .entity-list > .loading-container > .header-buttons > .btn:last-child {margin-right:0;}
.entity-list .pagination {margin-top:0;}
.entity-list .sortable-td > i {opacity:0.8; cursor:pointer; position:relative; -webkit-transition:0.2s opacity linear; -moz-transition:0.2s opacity linear; -o-transition:0.2s opacity linear; -ms-transition:0.2s opacity linear; transition:0.2s opacity linear;}
.entity-list .sortable-td > i:hover {opacity:1;}
.entity-list .sortable-td > i.hidden {opacity:0; cursor:default; height:0;}
.entity-list .actions-td > .btn {margin-right:10px;}
.entity-list .actions-td > .btn:last-child {margin-right:0;}
.entity-list tr.selected > td {background:#eee !important;}


/** Дерево **/
.node-tree {padding-left:17px; font-size:12px; line-height:14px;}
.node-tree .link {font-size:12px; line-height:14px;}
    .node-tree .node-tree {margin-bottom:2px;}
    .node-tree .node-tree-item {padding:3px 0; line-height:14px;}
    .node-tree .node-tree-item.current > .link {font-weight:bold; color:#333;}

    .node-tree .node-tree-item.disabled > i {opacity:0.8;}
    .node-tree .node-tree-item.disabled > .link {color:#999; opacity:0.8;}

    .node-tree .node-tree-item.denied > i {opacity:0.7;}
    .node-tree .node-tree-item.denied > .link {color:#900; opacity:0.7;}

    .node-tree .expand-btn {cursor:pointer; width:16px; margin-left:-14px; margin-right:3px;}
    .node-tree .icon-share-alt {margin-right:3px;}


/** Формы сущностей **/
.modal form {margin-bottom:0;}
.modal form .form-actions {border-radius:0 0 6px 6px; text-align:right; margin:0 -15px -15px -15px;}
.form-actions {margin-bottom:0; padding:14px 15px 15px;}
.form-horizontal .controls > * {margin-bottom:5px;}
.form-horizontal .controls > *:last-child {margin-bottom:0;}
.form-horizontal .control-group[form-collection-text] .controls {overflow:hidden;}
.form-horizontal .control-group[form-collection-text] .controls > input {float:left; clear:left;}
.form-horizontal .control-group[form-collection-text] .controls .btn-remove {opacity:0.8; transition:0.2s opacity linear; float:left; margin-top:5px;}
.form-horizontal .control-group[form-collection-text] .controls .btn-remove:hover {opacity:1;}
.form-horizontal .control-group[form-collection-text] .controls .btn-add {clear:both; float:left; margin-top:10px;}
.form-horizontal .control-group .controls .bootstrap-select {width:543px;}
.form-horizontal .control-group .controls textarea {width:529px; height:50px;}
.form-horizontal .control-group .controls textarea.tinymce {height:400px;}

/** Всплывающие сообщения **/
.notification-list {position:fixed; z-index:100500; top:50px; right:10px; width:250px; padding:10px; background:#fff; border:1px solid #e5e5e5; border-radius:10px;}
    .notification-list .alert:last-child {margin-bottom:0;}


/** Pagination from bootstrap 3.0 **/
.pagination {
  display: inline-block;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > .active > a,
.pagination > .active > span {
  background-color: #f5f5f5;
}

.pagination > .active > a,
.pagination > .active > span {
  color: #999999;
  cursor: default;
}

.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  cursor: default;
  background-color: #ffffff;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-left-width: 1px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination-large > li > a,
.pagination-large > li > span {
  padding: 14px 16px;
  font-size: 18px;
}

.pagination-large > li:first-child > a,
.pagination-large > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.pagination-large > li:last-child > a,
.pagination-large > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.pagination-small > li > a,
.pagination-small > li > span {
  padding: 5px 10px;
  font-size: 12px;
}

.pagination-small > li:first-child > a,
.pagination-small > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination-small > li:last-child > a,
.pagination-small > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/** Form collection **/
.collection-list {margin-bottom:0;}
.collection-list + .btn, .collection-list + .btn + .btn, .collection-list + .btn + .btn + .btn {margin-top:15px; vertical-align:top;}
.collection-list > .item + .item {margin-top:10px;}
.collection-list > .item {position:relative; width:544px;}
  .collection-list > .item > .btn-remove {position:absolute; top:5px; right:-30px;}


/** Log **/
body {padding-bottom:60px;}
#ext-log-entries {position:fixed; right:100px; bottom:-2px; padding:7px 10px 7px; border:1px solid #999; background:#fefefe; width:60%; box-shadow:0 0 10px rgba(0,0,0,0.4);}
  #ext-log-entries h3 {margin:0; font-size:19px;}
  #ext-log-entries h3 span {opacity:1;  -webkit-transition:0.2s all linear 0.2s; -moz-transition:0.2s all linear 0.2s; -o-transition:0.2s all linear 0.2s; -ms-transition:0.2s all linear 0.2s; transition:0.2s all linear 0.2s; color:#aaa;}
  #ext-log-entries:hover h3 span {opacity:0;}
  #ext-log-entries .table {margin-bottom:10px;}
  #ext-log-entries .entity-list {opacity:0; max-height:0; -webkit-transition:0.2s all linear 0.2s; -moz-transition:0.2s all linear 0.2s; -o-transition:0.2s all linear 0.2s; -ms-transition:0.2s all linear 0.2s; transition:0.2s all linear 0.2s;}
  #ext-log-entries:hover .entity-list {max-height:300px; opacity:1;}
    #ext-log-entries .entity-list .pagination {margin-bottom:0;}
    #ext-log-entries .entity-list .pagination + .btn-group {display:none;}

/** Abstract uploader **/
.abstract-uploader .files-list {margin-bottom:15px;}
.abstract-uploader .dd-helper {position:absolute; left:-10px; top:-10px; right:-10px; bottom:-10px; background:rgba(200,200,200,0.4); border-radius:10px; border:3px dotted rgba(38, 76, 100, 0.4); display:none;}
    .abstract-uploader .dd-helper:after {content:'Отпустите файл для загрузки'; font-size:20px; font-weight:bold; position: absolute; left:0; right:0; text-align:center; top:50%; margin-top:-10px; color:#888;}
.abstract-uploader.dd-active .dd-helper {display:block;}

/** Files uploader **/
.files-uploader {width:544px; position:relative;}
    .files-uploader .alert {margin-bottom:0;}
    .files-uploader .hidden-input {position:absolute; left:-10000px; opacity:0; width:1px; height:1px;}
        .files-uploader .files-list .item {margin-bottom:10px; white-space:nowrap;}
            .files-uploader .files-list .item > * {margin-right:10px;}
            .files-uploader .files-list .item > *:last-child {margin-right:0;}
            .files-uploader .files-list .item .input-title {width:299px;}
            .files-uploader .files-list .item .input-date {width:115px;}
            .files-uploader .files-list .item .sort-icon {cursor:move;}

/** Images uploader **/
.images-uploader {width:544px; position:relative;}
    .images-uploader .alert {margin-bottom:0;}
    .images-uploader .hidden-input {position:absolute; left:-10000px; opacity:0; width:1px; height:1px;}
    .images-uploader .files-list {width:556px;}
        .images-uploader .files-list .item {margin:0 10px 15px 0; float:left; width:174px;}
        .images-uploader .files-list .item:hover {background:#f1f1f1;}
            .images-uploader .files-list .item .img-polaroid {height:124px; margin-bottom:5px; overflow:hidden; display:block; position:relative;}
                .images-uploader .files-list .item .img-polaroid .sort-icon {position:absolute; top:10px; right:10px; border-radius:0; cursor:move; opacity:0; -webkit-transition:0.2s opacity linear; -moz-transition:0.2s opacity linear; -o-transition:0.2s opacity linear; -ms-transition:0.2s opacity linear; transition:0.2s opacity linear;}
                .images-uploader .files-list .item:hover .img-polaroid .sort-icon {opacity:1;}
            .images-uploader .files-list .item .btn-success {float:left;}
            .images-uploader .files-list .item .btn-danger {float:right;}
            .images-uploader .files-list .item input[type="text"] {width:160px; position:relative; left:0; -webkit-transition:0.2s all linear; -moz-transition:0.2s all linear; -o-transition:0.2s all linear; -ms-transition:0.2s all linear; transition:0.2s all linear;}
            .images-uploader .files-list .item input[type="text"]:focus {width:340px; z-index:1; left:-90px;}
        .images-uploader .files-list .placeholder {background:rgba(0,0,0,0.1); border-radius:2px;}

/** Video uploader **/
.video-uploader {width:544px; position:relative;}
    .video-uploader .alert {margin-bottom:0;}
    .video-uploader .hidden-input {position:absolute; left:-10000px; opacity:0; width:1px; height:1px;}
    .video-uploader .files-list {width:555px;}
        .video-uploader .files-list .item {margin:0 10px 15px 0; float:left; width:174px;}
        .video-uploader .files-list .item:hover {background:#f1f1f1;}
            .video-uploader .files-list .item .img-polaroid {height:124px; margin-bottom:5px; overflow:hidden; display:block;}
                .video-uploader .files-list .item .img-polaroid .sort-icon {position:absolute; top:10px; right:10px; border-radius:0; cursor:move; opacity:0; -webkit-transition:0.2s opacity linear; -moz-transition:0.2s opacity linear; -o-transition:0.2s opacity linear; -ms-transition:0.2s opacity linear; transition:0.2s opacity linear;}
                .video-uploader .files-list .item:hover .img-polaroid .sort-icon {opacity:1;}
            .video-uploader .files-list .item .btn-success {float:left;}
            .video-uploader .files-list .item .btn-info {float:left; margin-left:10px;}
            .video-uploader .files-list .item .btn-danger {float:right;}
            .video-uploader .files-list .item input[type="text"] {width:160px; position:relative; left:0; -webkit-transition:0.2s all linear; -moz-transition:0.2s all linear; -o-transition:0.2s all linear; -ms-transition:0.2s all linear; transition:0.2s all linear; margin-bottom:5px;}
            .video-uploader .files-list .item input[type="text"]:focus {width:340px; z-index:1; left:-90px;}
        .video-uploader .files-list .placeholder {background:rgba(0,0,0,0.1); border-radius:2px;}

