*[class^="icon-"] {display:inline-block; _overflow:hidden; *zoom:1; *display:inline; background:url(../../bundles/krdsite/i/sprite.png) no-repeat; vertical-align:middle; width:16px; height:16px;}

.icon-feedback {background-position:-400px -100px; width:13px;}
.icon-profile {background-position:-300px -100px;}
.icon-specialsite {background-position:-200px -100px; height:13px;}
.icon-mobilesite {background-position:-100px -100px; width:12px;}
.icon-sitemap {background-position:0 -100px; height:13px;}
.icon-english {background-position:-400px 0;}
.icon-twitter {background-position:-500px 0; width:19px;}
.icon-facebook {background-position:-600px 0;}
.icon-vkcom {background-position:-700px 0;}
.icon-googleplus {background-position:-800px 0;}
.icon-odnoklassniki {background-position:-900px 0;}
.icon-youtube {background-position:-500px -100px;}
.icon-rss {background-position:-600px -100px;}
.icon-logo {background-position:-700px -200px; width:46px; height:38px;}
.icon-very-good {background-position:-800px -200px; width:27px; height:24px;}
.icon-subscribe {background-position:-900px -200px; width:19px; height:22px;}
.icon-photo-mini {background-position:-800px -300px; width:14px; height:12px;}
.icon-video-mini {background-position:-900px -300px; width:14px; height:10px;}
