.ng-table th{text-align:left;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.ng-table th.sortable{cursor:pointer}
.ng-table th.sortable div{padding-right:18px;position:relative}
.ng-table th.sortable div:after{content:"";border-width:0 4px 4px;border-style:solid;border-color:#000 transparent;visibility:hidden;right:8px;top:50%;position:absolute;margin-top:-2px}
.ng-table th.sortable div:hover:after{visibility:visible}
.ng-table th.sortable.sort-desc,.ng-table th.sortable.sort-asc{background-color:rgba(141,192,219,.25);text-shadow:0 1px 1px rgba(255,255,255,.75)}
.ng-table th.sortable.sort-asc div:after,.ng-table th.sortable.sort-asc div:hover:after{visibility:visible;filter:alpha(opacity=60);-khtml-opacity:.6;-moz-opacity:.6;opacity:.6}
.ng-table th.sortable.sort-desc div:after{border-bottom:0;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #000;visibility:visible;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;filter:alpha(opacity=60);-khtml-opacity:.6;-moz-opacity:.6;opacity:.6}
.ng-table th.filter .input-filter{margin:0;display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.ng-table+.pagination{margin-top:0}

.ng-table .ui-sortable-helper td {background:#fff;}
