a:hover, button:hover, button.invert, a.invert {text-decoration:none;}
a, button, a.invert:hover, button.invert:hover {text-decoration:underline; cursor:pointer;}

b, strong {font-weight:bold;}

.clear {clear:both; display:block;}

.clearfix:before, .clearfix:after {content:""; display:table;}
.clearfix:after {clear:both;}
.clearfix{zoom:1;}

.text-align-right {text-align:right;}
.text-align-center {text-align:center;}
.text-align-left {text-align:left;}

textarea {resize:none; overflow-y:auto;}

/* Тело сайта в полную высоту */
html.full-height, html.full-height body {position:relative; height:100%;}
html.full-height #page {min-height:100%;}

/* Фикс кнопок в ФФ */
button {border:0 none; outline:none; margin:0;}
button::-moz-focus-inner {border:0;}

.hidden {display:none;}
