html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-family:Arial;
    text-rendering:optimizeSpeed;
}

body {
    -webkit-font-smoothing: subpixel-antialiased !important;
}

@font-face {
    font-family:'__PTSans';
    src: url('../../bundles/krdsite/css/fonts/ptsans-regular.eot');
    src: url('../../bundles/krdsite/css/fonts/ptsans-regular.eot?#iefix') format('embedded-opentype'),
         url('../../bundles/krdsite/css/fonts/ptsans-regular.woff') format('woff'),
         url('../../bundles/krdsite/css/fonts/ptsans-regular.ttf') format('truetype'),
         url('../../bundles/krdsite/css/fonts/ptsans-regular.svg#PlumbBold') format('svg');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'__PTSansBold';
    src: url('../../bundles/krdsite/css/fonts/ptsans-bold.eot');
    src: url('../../bundles/krdsite/css/fonts/ptsans-bold.eot?#iefix') format('embedded-opentype'),
         url('../../bundles/krdsite/css/fonts/ptsans-bold.woff') format('woff'),
         url('../../bundles/krdsite/css/fonts/ptsans-bold.ttf') format('truetype'),
         url('../../bundles/krdsite/css/fonts/ptsans-bold.svg#PlumbBold') format('svg');
    font-weight:normal;
    font-style:normal;
}


/** Chrome **/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:'__PTSans';
        src: url('../../bundles/krdsite/css/fonts/ptsans-regular.svg#PlumbBold') format('svg');
        font-weight:normal;
        font-style:normal;
    }

    @font-face {
        font-family:'__PTSansBold';
        src: url('../../bundles/krdsite/css/fonts/ptsans-bold.svg#PlumbBold') format('svg');
        font-weight:normal;
        font-style:normal;
    }
}

/** Opera **/
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:'__PTSans';
        src: url('../../bundles/krdsite/css/fonts/ptsans-regular.eot');
        src: url('../../bundles/krdsite/css/fonts/ptsans-regular.eot?#iefix') format('embedded-opentype'),
             url('../../bundles/krdsite/css/fonts/ptsans-regular.woff') format('woff'),
             url('../../bundles/krdsite/css/fonts/ptsans-regular.ttf') format('truetype'),
             url('../../bundles/krdsite/css/fonts/ptsans-regular.svg#PlumbBold') format('svg');
        font-weight:normal;
        font-style:normal;
    }

    @font-face {
        font-family:'__PTSansBold';
        src: url('../../bundles/krdsite/css/fonts/ptsans-bold.eot');
        src: url('../../bundles/krdsite/css/fonts/ptsans-bold.eot?#iefix') format('embedded-opentype'),
             url('../../bundles/krdsite/css/fonts/ptsans-bold.woff') format('woff'),
             url('../../bundles/krdsite/css/fonts/ptsans-bold.ttf') format('truetype'),
             url('../../bundles/krdsite/css/fonts/ptsans-bold.svg#PlumbBold') format('svg');
        font-weight:normal;
        font-style:normal;
    }
}
