{# Форма создания рассылки #}

<form method="post" ng-submit="submit()" entity-form="{{ path('cms_rest_krd_subscribe_letter_create') }}" class="form-horizontal" id="subscribe-create-form">
    <div>
        <div class="control-group">
            <label class="control-label required">Время отправки</label>
            <div class="controls">
                <div class="input-append">
                    <input type="text" name="date" datetime-picker="" class="input-xxlarge" value="{{ date.format('Y-m-d H:i:s') }}" style="width:457px;">
                    <div class="btn" subscribe-now-btn>Сейчас</div>
                </div>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label required">Заголовок рассылки</label>
            <div class="controls">
                <input type="text" name="title" class="input-xxlarge" value="">
            </div>
        </div>
    </div>
    <div>
        <div class="control-group">
            <h4 class="control-label">Блок новостей</h4>
        </div>

        <div class="control-group">
            <label class="control-label required">Заголовок блока</label>
            <div class="controls">
                <input type="text" name="news_title" class="input-xxlarge" value="Новости">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label required">Выберите новости</label>
            <div class="controls">
                <select selectpicker data-selected-text-format="count>0" name="news_list" class="input-xxlarge" multiple="multiple">
                    {% for item in newslist %}
                        <optgroup label="{{ item.node.getParent().getTitle() }} > {{ item.node.getTitle() }}">
                            {% for nItem in item.items %}
                                <option value="{{ nItem.getId() }}">{{ nItem.getDate().format('d.m.Y') }} - {{ nItem.getTitle()|truncate(75) }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="form-actions">
        <div class="btn btn-info" subscribe-add-content="subscribe-create-form">Добавить контентный блок</div>
        <button type="submit" id="submit" name="submit" class="btn-primary btn">Сгенерировать рассылку</button>
    </div>
</form>
