{# Комментарии пользователя #}

<div class="tabs-switcher x2 clearfix" tabs-switcher>
    <div class="item" data-target="write-comments-list">{% trans %}Комментарии{% endtrans %}</div>
    <div class="item" data-target="my-comments-list">{% trans %}Ваши комментарии{% endtrans %}</div>
</div>

{% set reporterPublications = appContainer.get('krd.site.modules.reporter').getLastPublications(0, 15) %}
{% set glavaNews = appContainer.get('krd.site.modules.glava').getLastNews(0, 10) %}
{% set glavaSpeech = appContainer.get('krd.site.modules.glava').getLastSpeech(0, 10) %}

{% macro reporter_list(list) %}
    <div class="item close" deep-content-menu-item>
        <div class="wrap-icon clearfix">
            <div class="icon">
                <i class="icon-content-menu-plus"></i>
                <i class="icon-content-menu-minus"></i>
            </div>
            <a href="javascript:void(0);" class="title">{% trans %}Городской репортер{% endtrans %}</a>
        </div>

        <div class="text-block clearfix">
            <div class="items-list bordered clearfix">
                {% for item in list %}
                    <div class="item">
                        <div class="headline clearfix">
                            <div class="date">{{ item.date|date('d.m.Y (H:i)') }}</div>
                        </div>
                        <a href="{{ item.url }}" class="title" target="_blank">{{ item.title }} (<b>{{ item.comments_count }}</b>)</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro glava_list(listLeft, listRight) %}
    <div class="item close" deep-content-menu-item>
        <div class="wrap-icon clearfix">
            <div class="icon">
                <i class="icon-content-menu-plus"></i>
                <i class="icon-content-menu-minus"></i>
            </div>
            <a href="javascript:void(0);" class="title">{% trans %}Сайт главы муниципального образования город Краснодар{% endtrans %}</a>
        </div>

        <div class="text-block clearfix">
            <div class="sitemap clearfix">
                <div class="l">
                    <div class="item">
                        <div class="title invert">События</div>

                        <div class="items-list bordered">
                            {% for item in listLeft %}
                                <div class="item">
                                    <div class="headline clearfix">
                                        <div class="date">{{ item.date|date('d.m.Y (H:i)') }}</div>
                                    </div>
                                    <a href="{{ item.url }}" target="_blank">{{ item.title|raw }} (<b>{{ item.comments_count }}</b>)</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="r">
                    <div class="item">
                        <div class="title invert">Прямая речь</div>

                        <div class="items-list bordered">
                            {% for item in listRight %}
                                <div class="item">
                                    <div class="headline clearfix">
                                        <div class="date">{{ item.date|date('d.m.Y (H:i)') }}</div>
                                    </div>
                                    <a href="{{ item.url }}" target="_blank">{{ item.title|raw }} (<b>{{ item.comments_count }}</b>)</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}


<div id="write-comments-list">
    <div class="well clearfix">
        <div class="page-title">{% trans %}Последние комментарии{% endtrans %}</div>

        {% set lastComments = appContainer.get('krd.user.modules.comments').getLastComments() %}

        {% if lastComments|length > 0 %}
            <div class="items-list bordered clearfix">
                {% for item in lastComments %}
                    <div class="item">
                        <div class="w">
                            <div class="headline clearfix">
                                <div class="date">{{ item.getCreated()|krd_date_format(true) }}</div>
                                <div class="theme">{{ item|comment_category }}</div>
                                <div class="comment">{{ appContainer.get('krd.user.modules.comments').getCountByPage(item.getPage())|declension(['комментарий'|trans, 'комментария'|trans, 'комментариев'|trans], true) }}</div>
                            </div>
                            <a href="{{ item.getUrl() }}" class="title">{{ item.getPageTitle()|truncate(270) }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="btn-group text-align-right">
                <a href="{{ controller_path(49, 'krd_user_comments_list') }}" class="btn btn-blue">Смотреть все</a>
            </div>
        {% else %}
            <div class="text-block">{% trans %}На сайте пока нет комментариев.{% endtrans %}</div>
        {% endif %}
    </div>

    <div class="page-title">{% trans %}Где написать комментарий{% endtrans %}</div>

    <div class="deep-content-menu">
        <div class="item close" deep-content-menu-item>
            <div class="wrap-icon clearfix">
                <div class="icon">
                    <i class="icon-content-menu-plus"></i>
                    <i class="icon-content-menu-minus"></i>
                </div>
                <a href="javascript:void(0);" class="title">{% trans %}Интернет-портал администрации муниципального образования город Краснодар и городской Думы Краснодара{% endtrans %}</a>
            </div>

            <div class="text-block clearfix">
                {{ appContainer.get('krd.user.modules.comments').renderWhereToWrite()|raw }}
            </div>
        </div>

        {{ _self.reporter_list(reporterPublications) }}
        {{ _self.glava_list(glavaNews, glavaSpeech) }}
    </div>
</div>

<div id="my-comments-list" ng-cloak>
    <div class="well clearfix">
        <div class="page-title">{% trans %}Уведомления{% endtrans %}</div>

        {% set myComments = appContainer.get('krd.user.modules.comments').getMyComments() %}

        {% if myComments|length > 0 %}
            <div class="items-list bordered clearfix">
                {% for item in myComments %}
                    <div class="item">
                        <div class="w">
                            <div class="headline clearfix">
                                <div class="date">{{ item.getCreated()|krd_date_format(true) }}</div>
                                <div class="theme">{{ item|comment_category }}</div>
                                <div class="comment">{{ appContainer.get('krd.user.modules.comments').getCountByPage(item.getPage())|declension(['комментарий'|trans, 'комментария'|trans, 'комментариев'|trans], true) }}</div>
                            </div>
                            <a href="{{ item.getUrl() }}" class="title">{{ item.getPageTitle()|truncate(270) }}</a>
                            {% set childs = item.getActiveChildren() %}
                            <div class="text-block">
                                {% if childs|length > 0 %}
                                    <b class="blue">{{ childs.0.getCreatedBy().getFullName() }}</b> {% trans %}прокомментировал ваш комментарий.{% endtrans %}
                                {% else %}
                                    {% trans %}Нет ответа{% endtrans %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="btn-group text-align-right">
                <a href="{{ controller_path(49, 'krd_user_comments_list_my') }}" class="btn btn-blue">Смотреть все</a>
            </div>
        {% else %}
            <div class="text-block">{% trans %}Вы не оставили ни одного комментария.{% endtrans %}</div>
        {% endif %}
    </div>

    <div class="page-title">{% trans %}Где написать комментарий{% endtrans %}</div>

    <div class="deep-content-menu">
        <div class="item close" deep-content-menu-item>
            <div class="wrap-icon clearfix">
                <div class="icon">
                    <i class="icon-content-menu-plus"></i>
                    <i class="icon-content-menu-minus"></i>
                </div>
                <a href="javascript:void(0);" class="title">{% trans %}Интернет-портал администрации муниципального образования город Краснодар и городской Думы Краснодара{% endtrans %}</a>
            </div>

            <div class="text-block clearfix">
                {{ appContainer.get('krd.user.modules.comments').renderWhereMy()|raw }}
            </div>
        </div>

        {{ _self.reporter_list(reporterPublications) }}
        {{ _self.glava_list(glavaNews, glavaSpeech) }}
    </div>
</div>
