{# Блок карты сайта с комментариями конкретного пользователя #}

<article class="item">
    <div class="title invert">{{ section.getFrontendTitle() }}</div>

    {% if not section.getMenuChildren() is empty %}
        <div class="text-block">
            <ul class="bordered">
                {% for item in section.getMenuChildren() %}
                    {% set cnt = appContainer.get('krd.user.modules.comments').getMyCountByPage(item.getUrl(true), true) %}

                    <li>
                        <a href="{{ controller_path(49, 'krd_user_comments_list_node', {id:item.getId()}) }}">{{ item.getFrontendTitle() }} (<b>{{ cnt }}</b>)</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</article>
