{# Блок где написать комментарий #}

{% macro item(item) %}
    <article class="item">
        <a href="{{ item.node.getUrl(true) }}" class="title invert">{{ item.node.getFrontendTitle() }}</a>

        {% if item.childs is not empty %}
            <div class="text-block">
                <ul class="bordered">
                    {% for child in item.childs %}
                        {% if isMy %}
                            {% set cnt = appContainer.get('krd.user.modules.comments').getMyCountByPage(child.getUrl(true), true) %}
                        {% else %}
                            {% set cnt = appContainer.get('krd.user.modules.comments').getCountByPage(child.getUrl(true), true) %}
                        {% endif %}

                        <li>
                            <a href="{{ child.getUrl(true) }}">{{ child.getFrontendTitle() }} (<b>{{ cnt }}</b>)</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </article>
{% endmacro %}

{% if list is not empty %}
    <section class="sitemap clearfix">
        <div class="l">
            {% for item in list %}
                {% if loop.index is odd %}
                    {{ _self.item(item) }}
                {% endif %}
            {% endfor %}
        </div>

        <div class="r">
            {% for item in list %}
                {% if loop.index is even %}
                    {{ _self.item(item) }}
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% else %}
    <p>{% trans %}Пока негде писать комментарии.{% endtrans %}</p>
{% endif %}
