{# Виджет в личном кабинете #}

{% if list %}
    <div class="items-list bordered">
        {% for item in list %}
            <div class="item">
                <div class="headline clearfix">
                    <div class="date">{{ item.getCreated()|krd_date_format(true) }}</div>
                    <div class="comment">{{ appContainer.get('krd.user.modules.comments').getCountByPage(item.getPage())|declension(['комментарий'|trans, 'комментария'|trans, 'комментариев'|trans], true) }}</div>
                </div>
                <a href="{{ item.getUrl() }}" class="title">{{ item.getPageTitle()|truncate(100) }}</a>
            </div>
        {% endfor %}
    </div>

    <a href="{{ controller_path(49, 'krd_user_comments') }}" class="btn btn-blue right-button" target="_blank">{% trans %}Смотреть все{% endtrans %}</a>
{% else %}
    <div class="widget-thumb">
        <div class="icon">
            <i class="icon-wt-comments"></i>
        </div>
        <div class="ttl">{% trans %}Вы еще не писали комментарии{% endtrans %}</div>
    </div>

    <a href="{{ controller_path(49, 'krd_user_comments') }}" class="btn btn-blue right-button" target="_blank">{% trans %}Подробнее{% endtrans %}</a>
{% endif %}
