{# Детальный контент руководителя города #}

<div class="page-title d-line nm">{{ item.getFio() }} {% if item.hasAnnounce() %}({{ item.getAnnounce() }}){% endif %}</div>

<div class="text-block clearfix">
    {% if item.hasImages() %}
        <img src="{{ item.getMainImage().getUrl('mayor_detail') }}" width="326" height="480" alt="{{ item.getFio() }}" class="img-left">
    {% endif %}
    {{ item.getContent()|raw }}
</div>
