{% extends 'QCoreBundle:Index:index.html.twig' %}

{% block title %}Very-Good CMS :: Пользователи и группы{% endblock %}

{% block content %}
    <h2>Пользователи и группы</h2>

    <tabs>
        <pane heading="Администраторы" url="/admin/">
            <div entity-list="{{ path('cms_rest_user') }}:id?admin=1" url="/admin/" columns="{id:{title:'#'}, username:{title:'Логин'}, email:{title:'E-mail', modifier:'el_email'}, name:{title:'Имя'}, lastname:{title:'Фамилия'}, groups:{title:'Группы', modifier:'el_list', by:'name'}, enabled:{title:'Активность', isBoolean:true}, locked:{title:'Заблокирован', isBoolean:true}}" btn-add="Добавить администратора" count="10"></div>
        </pane>

        <ghostpane heading="Новый администратор" url="/admin/create/" parent="0" template="{{ path('cms_rest_user_form_add') }}"></ghostpane>

        <ghostpane heading="Ред. администратора #{id}" url="/admin/edit/{id}" parent="0" template="{{ path('cms_rest_user_form_add') }}{id}"></ghostpane>

        <pane heading="Пользователи" url="/user/">
            <div entity-list="{{ path('cms_rest_user') }}:id?admin=0" url="/user/" columns="{id:{title:'#'}, username:{title:'Логин'}, email:{title:'E-mail', modifier:'el_email'}, name:{title:'Имя'}, lastname:{title:'Фамилия'}, groups:{title:'Группы', modifier:'el_list', by:'name'}, enabled:{title:'Активность', isBoolean:true}, locked:{title:'Заблокирован', isBoolean:true}}" btn-add="Добавить пользователя" count="10"></div>
        </pane>

        <ghostpane heading="Новый пользователь" url="/user/create/" parent="0" template="{{ path('cms_rest_user_form_add') }}"></ghostpane>

        <ghostpane heading="Ред. пользователя #{id}" url="/user/edit/{id}" parent="0" template="{{ path('cms_rest_user_form_add') }}{id}"></ghostpane>

        <pane heading="Группы" url="/usergroup/">
            <div entity-list="{{ path('cms_rest_usergroup') }}" url="/usergroup/" columns="{id:{title:'#'}, name:{title:'Название'}, roles:{title:'Глобальные привелегии', modifier:'el_list'}}" btn-add="Добавить группу" count="10"></div>
        </pane>

        <ghostpane heading="Новая группа" url="/usergroup/create/" parent="3" template="{{ path('cms_rest_usergroup_form_add') }}"></ghostpane>

        <ghostpane heading="Ред. группы #{id}" url="/usergroup/edit/{id}" parent="3" template="{{ path('cms_rest_usergroup_form_add') }}{id}"></ghostpane>

        <pane heading="Возможные привелегии" url="/roleshelp/">
            <div class="row-fluid">
                <div class="span9">
                    <dl>
                        <dt>ROLE_CMS</dt>
                        <dd>Доступ в панель администрирования. Редактирование контента сайта.</dd>
                    </dl>

                    <dl>
                        <dt>ROLE_CMS_ADMIN</dt>
                        <dd>Администрирование сайта.
                            <br />Управление пользователями сайта.
                            <br />Редактирование общих настроек, управление типами страниц, типами меню.
                            <br />Доступ к редактированию без ограничений.
                        </dd>
                    </dl>

                    <dl>
                        <dt>ROLE_VIEW_ALL</dt>
                        <dd>Возможность просматривать неопубликованные страницы</dd>
                    </dl>

                    <dl>
                        <dt>ROLE_CMS_SUBSCRIBE</dt>
                        <dd>Управление рассылками и подписчиками рассылок.</dd>
                    </dl>

                    <dl>
                        <dt>ROLE_CMS_BANNER</dt>
                        <dd>Управление баннерами.</dd>
                    </dl>

                    <dl>
                        <dt>ROLE_CMS_REDIRECT</dt>
                        <dd>Управление редиректами.</dd>
                    </dl>
                </div>
            </div>
        </pane>
    </tabs>
{% endblock %}
