{% extends 'QCoreBundle:Index:index.html.twig' %}

{% block title %}Very-Good CMS :: Статистика пользователей{% endblock %}

{% block content %}
    <h2>Статистика пользователей</h2>

    <tabs>
        <pane heading="Зарегистрированные пользователи" url="/registered-list/">
            <form action="{{ path('cms_profile_statistic_registered_list') }}" method="GET" target="_blank"
                  class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">Дата регистрации (от)</label>

                    <div class="controls">
                        <input type="text" name="date_from" class="input-xxlarge"
                               placeholder="Формат 13.07.2014 или оставить пустым">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Дата регистрации (до)</label>

                    <div class="controls">
                        <input type="text" name="date_to" class="input-xxlarge"
                               placeholder="Формат 13.07.2014 или оставить пустым">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Скачать отчет</button>
            </form>
        </pane>

        <pane heading="Комментарии" url="/comments/">
            <form action="{{ path('cms_profile_statistic_comments') }}" method="GET" target="_blank"
                  class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">Дата комментария (от)</label>

                    <div class="controls">
                        <input type="text" name="date_from" class="input-xxlarge"
                               placeholder="Формат 13.07.2014 или оставить пустым">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Дата комментария (до)</label>

                    <div class="controls">
                        <input type="text" name="date_to" class="input-xxlarge"
                               placeholder="Формат 13.07.2014 или оставить пустым">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Пользователь</label>

                    <div class="controls">
                        <select name="user">
                            <option value="">---</option>
                            {% for item in userWithComments %}
                                <option value="{{ item.getId() }}">{{ item.getFullName() }}[{{ item.getEmail() }}]
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Скачать отчет</button>
            </form>
        </pane>

        <pane heading="Интернет-приемная" url="/appeal/">
            <form action="{{ path('cms_profile_statistic_appeal') }}" method="GET" target="_blank"
                  class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">Дата обращения (от)</label>

                    <div class="controls">
                        <input type="text" name="date_from" class="input-xxlarge"
                               placeholder="Формат 13.07.2014 или оставить пустым">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Дата обращения (до)</label>

                    <div class="controls">
                        <input type="text" name="date_to" class="input-xxlarge"
                               placeholder="Формат 13.07.2014 или оставить пустым">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Пользователь</label>

                    <div class="controls">
                        <select name="user">
                            <option value="">---</option>
                            {% for item in userWithAppeals %}
                                <option value="{{ item.getId() }}">{{ item.getFullName() }}[{{ item.getEmail() }}]
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Статус обращения</label>

                    <div class="controls">
                        <select name="status">
                            <option value="">---</option>
                            <option value="новое">Новое</option>
                            <option value="отправлено">Отправлено</option>
                            <option value="экспортировано">Экспортировано</option>
                            <option value="черновик">Черновик</option>
                        </select>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Скачать отчет</button>
            </form>
        </pane>
    </tabs>
{% endblock %}
