{# Страница модуля структуры #}
{% extends 'QCoreBundle::extends/twoSides.html.twig' %}

{% block title %}{% spaceless %}
    Very-Good CMS :: [{{ currentNode.getId() }}] {{ currentNode.getTitle() }}
{% endspaceless %}{% endblock %}

{% block aside %}
    <ul class="node-tree unstyled" node-tree="" prefix="{{ path('cms_struct_index') }}" url="{{ path('cms_rest_node') }}" auto-expand="{{ treeExpanded }}"></ul>
{% endblock %}

{% block body %}
    <h3>[{{ currentNode.getId() }}] {{ currentNode.getTitle()|truncate(150) }}</h3>
    {% if nodeChildrenCount %}
        <h5 class="muted">Подразделов: {{ nodeChildrenCount }}</h5>
    {% endif %}
    {% if appContainer.get('qcore.routing.breadcrumb').hasItems() %}
        <ul class="breadcrumb">
            {% for item in appContainer.get('qcore.routing.breadcrumb').getItems() %}
                {% if not item.isLast() %}
                    <li>
                        <a href="{{ path('cms_struct_index', {'url':item.getUrl()}) }}" title="[] {{ item.getTitle() }}">{{ item.getTitle()|truncate(150) }}</a>&nbsp;<span class="divider">/</span>
                    </li>
                {% else %}
                    <li class="active" title="{{ item.getTitle() }}">{{ item.getTitle()|truncate(50) }}&nbsp;<a href="{{ item.getUrl() }}" target="_blank" tooltip="Посмотреть на сайте"><i class="icon-share"></i></a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    {% if currentNode.isGranted() %}
        <tabs>
            <pane heading="Ред. раздела" url="/nodeedit/">
                <div class="form-horizontal">
                    {% if currentNode.getCreatedBy() %}
                        <div class="control-group">
                            <label class="control-label">Создал</label>
                            <div class="controls" style="padding-top:5px;">
                                <b>{{ currentNode.getCreatedBy().getFullName() }} ({{ currentNode.getCreatedBy().getUsername() }}) {{ currentNode.getCreated().format('в H:i d.m.Y') }}</b>
                            </div>
                        </div>
                    {% endif %}

                    {% if currentNode.getCreatedBy() and currentNode.getUpdatedBy() and (currentNode.getCreatedBy().getId() != currentNode.getUpdatedBy().getId() or currentNode.getCreated().format('U') != currentNode.getUpdated().format('U')) %}
                        <div class="control-group">
                            <label class="control-label">Последнее изменение</label>
                            <div class="controls" style="padding-top:5px;">
                                <b>{{ currentNode.getUpdatedBy().getFullName() }} ({{ currentNode.getUpdatedBy().getUsername() }}) {{ currentNode.getUpdated().format('в H:i d.m.Y') }}</b>
                            </div>
                        </div>
                    {% endif %}
                </div>

                {% form_theme editForm "QCoreBundle:Form:Angular/theme.html.twig" %}
                {{ form(editForm) }}
            </pane>

            <pane heading="Подразделы" url="/node/">
                <div entity-list="{{ path('cms_rest_node') }}:id?parent={{ currentNode.getId() }}" url="/node/" columns="{id:{title:'#'}, title:{title:'Заголовок'}, url:{title:'URL', modifier:'el_cms_link', by:'{{ path(app.request.attributes.get('_route')) }}'}, controller:{title:'Тип страницы', modifier:'el_object', by:'name'}, menutype:{title:'Меню', modifier:'el_list', by:'title'}, active:{title:'Активность', isBoolean:true}}" btn-add="Добавить подраздел" count="10" on-update="updateTree" sortable disable-move></div>
            </pane>

            <ghostpane heading="Новый подраздел" url="/node/create/" parent="1" template="{{ path('cms_rest_node_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

            <ghostpane heading="Ред. подраздела #{id}" url="/node/edit/{id}" parent="1" template="{{ path('cms_rest_node_form_add') }}{id}"></ghostpane>

            {% if securityForm is not empty %}
                <pane heading="Управление доступом" url="/node_security/">
                    {% form_theme securityForm "QCoreBundle:Form:Angular/theme.html.twig" %}
                    {{ form(securityForm) }}
                </pane>
            {% endif %}

            <pane heading="Перенос раздела" url="/node_move/">
                <div node-move-block="{{ path('cms_rest_node_byurl') }}" move-url="{{ path('cms_rest_node_move', {id:currentNode.getId()}) }}" loading-container="loading" class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label">Куда переносить?<br/><small>Ссылка на раздел</small></label>
                        <div class="controls">
                            <input type="text" required="required" class="input-xxlarge" ng-model="url">
                        </div>
                    </div>

                    <div class="control-group" ng-show="node">
                        <label class="control-label"></label>
                        <div class="controls">
                            <p>Перенести раздел <a href="{{ currentNode.getUrl(true) }}" target="_blank">{{ currentNode.getTitle() }}</a> в {% raw %}<a ng-href="{{ node.url }}" target="_blank">{{ node.title }}</a>?{% endraw %}</p>
                            <p>
                                <span class="btn btn-primary btn-mini" style="width:215px; text-align:left;" ng-click="submitFirst()"><i class="icon-white icon-chevron-up"></i> Да, пусть будет первым подразделом</span>
                            </p>
                            <p>
                                <span class="btn btn-primary btn-mini" style="width:215px; text-align:left;" ng-click="submitLast()"><i class="icon-white icon-chevron-down"></i> Да, последним подразделом</span>
                            </p>
                        </div>
                    </div>
                </div>
            </pane>
        </tabs>

        {# Выводим модули страницы #}
        {% for module in currentNode.getController().getModules() %}
            {{ appContainer.get(module).renderAdminContent()|raw }}
        {% endfor %}
    {% else %}
        <div class="alert alert-error">
            <h3>Извините, но у вас нет доступа к редактированию данного раздела сайта.</h3>
        </div>
    {% endif %}
{% endblock %}
