{# Всплывающее окно добавления закладки #}

<script type="text/ng-template" id="user.bookmarks.add">
    <div class="page-title nm d-line">{% trans %}Добавление страницы в закладки{% endtrans %}</div>
    <div class="user-bookmarks-add" user-bookmarks-add loading-container="loading">
        <div class="row clearfix">
            <label>{% trans %}Название закладки{% endtrans %}:</label>
            <div class="input">
                <input type="text" class="stylized" ng-model="bookmark.title" placeholder="{% trans %}Введите имя закладки{% endtrans %}" rqeuired>
            </div>
        </div>

        <div class="row clearfix">
            <label>{% trans %}Ссылка{% endtrans %}:</label>
            <div class="input">
                <input type="text" class="stylized" ng-model="bookmark.url" placeholder="{% trans %}Ссылка{% endtrans %}" readonly>
            </div>
        </div>

        <div class="row clearfix">
            <div class="user-bookmarks-tree clearfix" user-bookmarks-tree="popup" model-directory="directory"></div>
        </div>

        <div class="row clearfix btn-group">
            <button class="btn btn-blue" user-bookmarks-tree-control="popup" ng-click="newDirectory()">Новая папка</button>
            <button class="btn btn-deep-blue" ng-disabled="!bookmark.title || !bookmark.url || !directory.id" ng-click="saveAll()">Сохранить</button>
        </div>
    </div>
</script>
