{# Всплывающее окно добавления документа #}

<script type="text/ng-template" id="user.documents.add">
    <div class="page-title nm d-line">{% trans %}Добавление текста в документ{% endtrans %}</div>
    <div class="user-documents-add" user-documents-add loading-container="loading">
        <div class="row clearfix">
            <div class="user-documents-tree clearfix" user-documents-tree="popup" model-document="document" model-directory="directory"></div>
        </div>

        <div class="row clearfix btn-group">
            <button class="btn btn-blue" user-documents-tree-control="popup" ng-click="newDirectory()">Новая папка</button>
            <button class="btn btn-blue" user-documents-tree-control="popup" ng-disabled="!directory.id" ng-click="newDocument(directory)">Новый документ</button>
            <button class="btn btn-deep-blue" ng-disabled="!document.id || !directory.id" ng-click="saveAll()">Сохранить</button>
        </div>
    </div>
</script>
