{# Верхняя панель профиля пользователя #}

{% if app.user and is_granted('ROLE_USER') %}
    <div class="panel-profile clearfix">
        <div class="page-wrap">
            <div class="wellcome-wrap clearfix">
                <div class="wellcome">{% trans %}Здравствуйте{% endtrans %}, <b>{{ app.user.getFullName() }}</b></div>
                <div class="btn-group">
                    <a href="{{ controller_path(43) }}" class="btn btn-blue">Личный кабинет</a>
                    <a href="{{ controller_path(43, 'krd_user_profile') }}" class="btn btn-blue">Профиль</a>
                    <a href="{{ controller_path(51, 'krd_user_support') }}" class="btn btn-blue">Техническая поддержка</a>
                    <a href="/lichnyy-kabinet/pomosch/" class="btn btn-blue">Помощь</a>
                    <a href="{{ path("fos_user_security_logout") }}" class="btn btn-blue">Выход</a>
                </div>

                <div class="close-btn" ng-click="hideProfile()"></div>
            </div>

            <nav class="profile-menu clearfix">
                <ul>
                    <li>
                        <a href="{{ controller_path(48, 'krd_user_conference') }}">
                            <i class="icon"><i class="icon-lk-pm-onlineconference"></i></i>
                            <span class="title"><i></i><span>Онлайн<br />конференции</span></span>
                        </a>
                    </li><!--
                    --><li>
                        <a href="{{ controller_path(49, 'krd_user_comments') }}">
                            <i class="icon"><i class="icon-lk-pm-comments"></i></i>
                            <span class="title"><i></i><span>Комментарии</span></span>
                        </a>
                    </li><!--
                    --><li>
                        <a href="{{ controller_path(47, 'krd_user_appeal') }}">
                            <i class="icon"><i class="icon-lk-pm-appeal"></i></i>
                            <span class="title"><i></i><span>Интернет-<br />приемная</span></span>
                        </a>
                    </li><!--
                    --><li>
                        <a href="{{ appContainer.getParameter('reporter.url') }}" target="_blank">
                            <i class="icon"><i class="icon-lk-pm-reporter"></i></i>
                            <span class="title"><i></i><span>Городской<br />репортер</span></span>
                        </a>
                    </li><!--
                    --><li>
                        <a href="{{ controller_path(46, 'krd_user_subscribes') }}">
                            <i class="icon"><i class="icon-lk-pm-subscribes"></i></i>
                            <span class="title"><i></i><span>Подписки</span></span>
                        </a>
                    </li><!--
                    --><li>
                        <a href="{{ controller_path(45, 'krd_user_bookmarks') }}">
                            <i class="icon"><i class="icon-lk-pm-bookmarks"></i></i>
                            <span class="title"><i></i><span>Закладки</span></span>
                        </a>
                    </li><!--
                    --><li>
                        <a href="{{ controller_path(44, 'krd_user_documents') }}">
                            <i class="icon"><i class="icon-lk-pm-documents"></i></i>
                            <span class="title"><i></i><span>Документы</span></span>
                        </a>
                    </li><!--
                    --><li>
                        <a href="{{ controller_path(52, 'krd_user_mobile') }}">
                            <i class="icon"><i class="icon-lk-pm-mobileapps"></i></i>
                            <span class="title"><i></i><span>Мобильные<br />приложения</span></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endif %}
