{% form_theme form "QCoreBundle:Form:Angular/theme.html.twig" %}

{% if entity is defined and entity.getCreated %}
    <div class="form-horizontal">
        {% if entity.getCreatedBy() %}
            <div class="control-group">
                <label class="control-label">Создал</label>
                <div class="controls" style="padding-top:5px;">
                    <b>{{ entity.getCreatedBy().getFullName() }} ({{ entity.getCreatedBy().getUsername() }}) {{ entity.getCreated().format('в H:i d.m.Y') }}</b>
                </div>
            </div>
        {% endif %}

        {% if entity.getCreatedBy() and entity.getUpdatedBy() and (entity.getCreatedBy().getId() != entity.getUpdatedBy().getId() or entity.getCreated().format('U') != entity.getUpdated().format('U')) %}
            <div class="control-group">
                <label class="control-label">Последнее изменение</label>
                <div class="controls" style="padding-top:5px;">
                    <b>{{ entity.getUpdatedBy().getFullName() }} ({{ entity.getUpdatedBy().getUsername() }}) {{ entity.getUpdated().format('в H:i d.m.Y') }}</b>
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}

{{form(form)}}
