{# Поиск по сайту #}

{% extends "KrdSiteBundle::layout-aside-r.html.twig" %}

{% block content %}
    <section class="page-content clearfix">
        {% include "KrdSiteBundle::blocks/breadcrumb.html.twig" %}
    </section>

    {{ parent() }}
{% endblock %}

{% block content_body %}
    <div class="page-title d-line nm">{{ searchword|default('Введите поисковый запрос')|trans }}</div>

    {% if not results %}
        <div class="text-block">
            {% trans %}По вашему запросу ничего не найдено.{% endtrans %}
        </div>
    {% else %}
        {% if results.error is empty and results.matches is defined %}
            <div class="page-title x-mini black">{% trans %}Найдено{% endtrans %} {{ results.total_found|declension(['совпадение'|trans, 'совпадения'|trans, 'совпадений'|trans], true) }}</div>

            {# Результаты поиска #}
            <section class="search-results items-list" id="search-results"{% if results.total_found > results.onpage %} data-has-more="true"{% endif %}>
                {% for itemArr in results.matches %}
                    {% if itemArr.entity is not empty%}
                        {% include
                            "KrdSearchBundle:Article:"
                                ~ itemArr.entity
                                    |get_class
                                    |replace({
                                        'Proxies\\__CG__\\': '',
                                        '\\Entity\\': '',
                                        '\\': ''
                                    })
                                ~ ".html.twig"
                            with {
                                item: itemArr.entity,
                                number: loop.index + (results.page - 1) * results.onpage
                            }
                        %}
                    {% else %}
                        <!-- ERROR -->
                    {% endif %}
                {% endfor %}
            </section>

            {% if results.total_found > results.onpage %}
                <div class="btn btn-blue btn-block next-page" search-more-btn="{{ app.request.getRequestUri() }}">{% trans %}Показать еще результаты поиска{% endtrans %}</div>
            {% endif %}
        {% else %}
            <div class="text-block">
                {% trans %}По вашему запросу{% endtrans %} <b>{{ searchword|default('') }}</b> {% trans %}ничего не найдено.{% endtrans %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content_aside %}
    {% if results %}
        {# Блок выбора диапазона даты #}
        <section class="block">
            <div class="page-title d-line">{% trans %}Выбрать период{% endtrans %}</div>

            <form class="search-date-form stylized clearfix" action="{{ app.request.getPathInfo() }}" method="GET" id="search-date-form">
                <input type="hidden" name="q" value="{{ searchword|default('') }}">
                <input type="hidden" name="sort" value="{{ app.request.query.get('sort', '') }}">

                <div class="form-row x1">
                    <div class="cell clearfix">
                        <div class="label"><b>{% trans %}с{% endtrans %}</b></div>
                        <input type="text" name="date-start" placeholder="{% trans %}дд.мм.гггг{% endtrans %}" ui-date ui-date-icon value="{{ app.request.query.get('date-start', '') }}" >
                    </div>
                </div>

                <div class="form-row x1">
                    <div class="cell clearfix">
                        <div class="label"><b>{% trans %}по{% endtrans %}</b></div>
                        <input type="text" name="date-end" placeholder="{% trans %}дд.мм.гггг{% endtrans %}" ui-date ui-date-icon value="{{ app.request.query.get('date-end', '') }}" >
                    </div>
                </div>

                <button type="submit"></button>
            </form>
        </section>

        {# Блок сортировки #}
        <section class="block search-sorting">
            <div class="page-title">{% trans %}Сортировать{% endtrans %}</div>

            {% set url = currentNode.getUrl(true) %}

            <ul>
                <li{% if app.request.query.get('sort') == 'relevance' %} class="active"{% endif %}>
                    <a href="{{ url }}?q={{ app.request.query.get('q') }}&sort=relevance&date-start={{ app.request.query.get('date-start', '') }}&date-end={{ app.request.query.get('date-end', '') }}">{% trans %}По релевантности{% endtrans %}</a>
                </li>
                <li{% if app.request.query.get('sort') == 'date' %} class="active"{% endif %}>
                    <a href="{{ url }}?q={{ app.request.query.get('q') }}&sort=date&date-start={{ app.request.query.get('date-start', '') }}&date-end={{ app.request.query.get('date-end', '') }}">{% trans %}По дате{% endtrans %}</a>
                </li>
            </ul>
        </section>
    {% endif %}
{% endblock %}
