{# Обращения пользователя #}

<div class="user-appeal-tabs clearfix" user-appeal-tabs>
    <div class="tabs-head clearfix">
        <div class="tab" data-name="pane-1">
            <div class="pane">
                <div class="title">Обращения в администрацию муниципального образования город Краснодар</div>
                <div class="btn-group">
                    <a href="{{ node_path(6443) }}" class="btn btn-blue">Написать</a>

                    {% if list1|length > 0 %}
                        <div class="btn btn-blue" ng-click="setActive('pane-1')" ng-hide="isActive('pane-1')">Ваши обращения<span class="append">{{ list1.getItemsCount() }}</span></div>
                        <div class="btn btn-deep-blue" ng-click="setNoActive()" ng-show="isActive('pane-1')">Закрыть</div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="tab" data-name="pane-2">
            <div class="pane">
                <div class="title">Обращения в Городскую Думу Краснодара</div>
                <div class="btn-group">
                    <a href="{{ node_path(10846) }}" class="btn btn-blue">Написать</a>

                    {% if list2|length > 0 %}
                        <div class="btn btn-blue"ng-click="setActive('pane-2')" ng-hide="isActive('pane-2')">Ваши обращения<span class="append">{{ list2.getItemsCount() }}</span></div>
                        <div class="btn btn-deep-blue" ng-click="setNoActive()" ng-show="isActive('pane-2')">Закрыть</div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="tab" data-name="pane-3">
            <div class="pane">
                <div class="title">Информация о фактах коррупционных проявлений в деятельности муниципальных служащих</div>
                <div class="btn-group">
                    <a href="{{ node_path(10849) }}" class="btn btn-blue">Написать</a>

                    {% if list3|length > 0 %}
                        <div class="btn btn-blue"ng-click="setActive('pane-3')" ng-hide="isActive('pane-3')">Ваши обращения<span class="append">{{ list3.getItemsCount() }}</span></div>
                        <div class="btn btn-deep-blue" ng-click="setNoActive()" ng-show="isActive('pane-3')">Закрыть</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="tabs-body">
        {% import _self as appeal %}
        {{ appeal.list(list1, 1, 6444) }}
        {{ appeal.list(list2, 2, 10846) }}
        {{ appeal.list(list3, 3, 10849) }}
    </div>
</div>

{# Список #}
{% macro list(list, paneIndex, nodeId) %}
    {% if list|length > 0 %}
        <div class="pane" data-name="pane-{{ paneIndex }}">
            <div class="items-list bordered clearfix">
                {% for item in list %}
                    {{ _self.list_item(item) }}
                {% endfor %}
            </div>

            {% if list.getPageCount() > 1 %}
                <div class="btn btn-blue btn-block next-page" more-btn="user-appeal-list-item" url="{{ path('ajax_user_appeal_list', {parent:nodeId}) }}">{% trans %}Показать еще{% endtrans %}</div>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}

{% macro list_item(item) %}
    <div class="item">
        <div class="headline clearfix">
            <div class="date">{{ item.getDate()|krd_date_format(true) }}</div>

            {% if item.isDraft() %}
                <div class="theme">Черновик</div>
                <div class="comment">
                    <a href="{{ currentNode.getUrl() }}?remove={{ item.getId() }}">Удалить</a>
                </div>
            {% else %}
                <div class="theme">Обращение</div>
            {% endif %}
        </div>
        {% if item.hasDestination() %}
            <b class="title">{{ item.getDestination().getTitle() }}</b>
        {% endif %}
        <a href="{{ controller_path(47, 'krd_user_appeal') }}view/{{ item.getId() }}" class="title">{{ item.getMessage()|truncate(300) }}</a>
    </div>
{% endmacro %}

{% raw %}
    <script type="text/ng-template" id="user-appeal-list-item">
        <div class="item">
            <div class="headline clearfix">
                <div class="date">{{ item.date }}</div>

                <div class="theme" ng-if="item.is_draft">Черновик</div>
                <div class="theme" ng-if="!item.is_draft">Обращение</div>
            </div>
            <b class="title" ng-if="item.destination">{{ item.destination.title }}</b>
            <a href="{% endraw %}{{ controller_path(47, 'krd_user_appeal') }}{% raw %}view/{{ item.id }}" class="title">{{ item.message }}</a>
        </div>
    </script>
{% endraw %}
