{# Виджет для личного кабинета #}

<div class="lk-widget-appeal">
    {% if list1|length > 0 or list2|length > 0 or list3|length > 0 %}
        <div class="items-list mini bordered">
            {% for item in list1 %}
                {{ _self.list_item(item) }}
            {% endfor %}

            {% for item in list2 %}
                {{ _self.list_item(item) }}
            {% endfor %}

            {% for item in list3 %}
                {{ _self.list_item(item) }}
            {% endfor %}
        </div>

        <a href="{{ controller_path(47, 'krd_user_appeal') }}" class="btn btn-blue right-button" target="_blank">{% trans %}Подробнее{% endtrans %}</a>
    {% else %}
        <div class="links">
            <a href="{{ node_path(6443) }}">{% trans %}Написать обращение в администрацию муниципального образования город Краснодар{% endtrans %}</a>
            <a href="{{ node_path(10846) }}">{% trans %}Написать обращение в Городскую Думу Краснодара{% endtrans %}</a>
            <a href="{{ node_path(10849) }}">{% trans %}Направить информацию о фактах коррупционных проявлений в деятельности муниципальных служащих{% endtrans %}</a>
        </div>
    {% endif %}
</div>

{% macro list_item(item) %}
    <div class="item">
        <div class="headline clearfix">
            <div class="date">{{ item.getDate()|krd_date_format(true) }}</div>

            {% if item.isDraft() %}
                <div class="theme">Черновик</div>
                <div class="comment">
                    <a href="{{ currentNode.getUrl() }}?remove={{ item.getId() }}">Удалить</a>
                </div>
            {% else %}
                <div class="theme">Обращение</div>
            {% endif %}
        </div>
        {% if item.hasDestination() %}
            <b class="title">{{ item.getDestination().getTitle() }}</b>
        {% endif %}
        <a href="{{ controller_path(47, 'krd_user_appeal') }}view/{{ item.getId() }}" class="title">{{ item.getMessage()|truncate(100) }}</a>
    </div>
{% endmacro %}
