{# Подробный блок с подпиской #}

<div class="page-title">{{ item.getTitle()|default('Информационная рассылка')|trans }} ({{ letter.getDate()|krd_date_format }})</div>

{% import "KrdSubscribeBundle:Email:letter.html.twig" as u %}

{% if letter.hasNews() %}
    {{ u.title(letter.getnewsTitle()) }}

    {% for item in letter.getSortedNews() %}
        <span style="font-size:10px">{{ item.getDate()|krd_date_format }}</span><br>
        <a href="{{ appContainer.getParameter('krd.url') }}{{ item.getUrl() }}" style="color:#09689f; font-size:18px; display:block; margin-bottom:5px" target="_blank"><b>{{ item.getTitle() }}</b></a>
        {{ item.getAnnounce() }}

        {% if not loop.last %}
            <div style="min-height:1px;font-size:0;line-height:1px;border-bottom:1px dotted #c4c4bb;margin:20px 0"></div>
        {% endif %}
    {% endfor %}
{% endif %}

{% if letter.hasContents() %}
    {% for item in letter.getContents() %}
        {{ u.title(item.getTitle()) }}

        <div class="text-block">{{ item.getContent()|letter_content|raw }}</div>
    {% endfor %}
{% endif %}

<div class="btn-group" style="margin-top:20px;">
    <a href="{{ currentNode.getUrl(true) }}" class="btn btn-blue">{% trans %}Назад к списку{% endtrans %}</a>
</div>
