{# Список подписок в ЛК #}

<div class="subscribe-list items-list bordered clearfix">
    {% for item in list %}
        <div class="item clearfix">
            <div class="headline clearfix">
                <div class="date">{{ item.getDate()|krd_date_format(true) }}</div>
                <a href="{{ controller_path(46, 'krd_user_subscribes_item', {id:item.getId()}) }}" class="title">{{ item.getTitle()|default('Информационная рассылка')|trans }}</a>
            </div>
        </div>
    {% endfor %}
</div>

{% if list.getPageCount() > 1 %}
    <div class="btn btn-blue btn-block next-page" more-btn="subscribe-list-item" url="{{ controller_path(46, 'krd_user_subscribes_list') }}">{% trans %}Показать еще{% endtrans %}</div>
{% endif %}

{% raw %}
<script type="text/ng-template" id="subscribe-list-item">
    <div class="item clearfix">
        <div class="headline clearfix">
            <div class="date">{{ item.date }}</div>
            <a ng-if="!item.title" href="{% endraw %}{{ controller_path(46, 'krd_user_subscribes') }}{% raw %}{{ item.id }}.html" class="title">{% endraw %}{% trans %}Информационная рассылка{% endtrans %}{% raw %}</a>
            <a ng-if="item.title" href="{% endraw %}{{ controller_path(46, 'krd_user_subscribes') }}{% raw %}{{ item.id }}.html" class="title">{{ item.title }}</a>
        </div>
    </div>
</script>
{% endraw %}
