{# Список подписок на репортера в ЛК #}

{% if list is not empty %}
    <div class="subscribe-list items-list bordered clearfix">
        {% for item in list %}
            <div class="item clearfix">
                <div class="headline clearfix">
                    <div class="date">{{ item.date|date('d.m.Y (H:i)') }}</div>
                    <a href="{{ item.url }}" target="_blank" class="title">{{ item.title }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
