{# Виджет для личного кабинета #}

{% if list %}
    <div class="items-list mini bordered">
        {% for item in list %}
            <div class="item clearfix">
                <div class="headline clearfix">
                    <div class="date">{{ item.getDate()|krd_date_format(true) }}</div>
                </div>
                <a href="{{ controller_path(46, 'krd_user_subscribes_item', {id:item.getId()}) }}" class="title">{{ item.getTitle()|default('Информационная рассылка')|trans|truncate(100) }}</a>
            </div>
        {% endfor %}
    </div>

    <a href="{{ controller_path(46, 'krd_user_subscribes') }}" class="btn btn-blue right-button" target="_blank">{% trans %}Подписаться{% endtrans %}</a>
{% else %}
    <div class="widget-thumb">
        <div class="icon">
            <i class="icon-wt-subscribe"></i>
        </div>
        <div class="ttl">{% trans %}У Вас еще нет подписок{% endtrans %}</div>
    </div>

    <a href="{{ controller_path(46, 'krd_user_subscribes') }}" class="btn btn-blue right-button" target="_blank">{% trans %}Подписаться{% endtrans %}</a>
{% endif %}
