{# Подробный вид новой информации #}

<div class="headline clearfix">
    <div class="date">{{ item.getDate()|krd_date_format }}</div>
</div>

<div class="page-title d-line">{{ item.getTitle() }}</div>

<div class="text-block clearfix">
    {{ item.getContent()|raw }}
</div>

{% if item.hasFiles() %}
    {% include "KrdSiteBundle::Module/content/files.html.twig" with {files:item.getFiles()} %}
{% endif %}

<div class="btn-group text-align-right">
    <a href="{{ item.getParent().getUrl(true) }}" class="btn btn-blue">{% trans %}Вернуться к списку{% endtrans %}</a>
</div>
