{# Список новой информации #}

<section class="items-list bordered clearfix">
    {% for item in list %}
        <article class="item clearfix">
            <div class="headline clearfix">
                <div class="date">{{ item.getDate()|krd_date_format(true) }}</div>
            </div>
            <a href="{{ item.getUrl() }}" class="title">{{ item.getTitle() }}</a>
        </article>
    {% else %}
        <div class="text-block">{% trans %}Раздел в стадии заполнения{% endtrans %}</div>
    {% endfor %}
</section>

{% if list.getPageCount() > 1 %}
    <div class="btn btn-blue btn-block next-page" more-btn="news-info-list-item" url="{{ path('ajax_news_info_list', {'parent':currentNode.getId()}) }}">{% trans %}Показать еще{% endtrans %}</div>
{% endif %}

{% raw %}
<script type="text/ng-template" id="news-info-list-item">
    <article class="item clearfix">
        <div class="headline clearfix">
                <div class="date">{{ item.date }}</div>
        </div>
        <a href="{{ item.url }}" class="title">{{ item.title }}</a>
    </article>
</script>
{% endraw %}
