{# Виджет на главной странице #}

{% if items is not empty %}
    <div class="item widget-new-information" multi-height="index-widgets">
        <div class="title"><i class="icon-new-information"></i>{{ node.getFrontendTitle() }}</div>

        <div class="w">
            <div class="items-list">
                {% for item in items %}
                    <div class="item">
                        <div class="date">{{ item.getDate()|krd_date_format(true) }}</div>
                        <a href="{{ item.getUrl() }}" class="title">{{ item.getTitle() }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% spaceless %}
            <div class="btn-group">
                <a class="btn btn-blue" href="{{ node.getUrl(true) }}">{% trans %}Смотреть все{% endtrans %}</a>
            </div>
        {% endspaceless %}
    </div>
{% endif %}
