{# Письмо с подтверждением регистрации #}

{% extends 'KrdSiteBundle:Email:default.html.twig' %}

{% block email %}
    <p>Уважаемый <b>{{ user.getFullName() }}</b>! Ваша учетная запись в личном кабинете интернет-портала администрации
        Краснодара активирована.</p>

    <p>
        {% trans %}Ваш логин{% endtrans %}: <b>{{ user.getUsername() }}</b><br/>
        {% trans %}Пароль{% endtrans %}: <b>в целях безопасности не указывается</b>
    </p>

    <p>Подробную информацию о работе с функционалом личного кабинета Вы можете получить в <a
                href="http://krd.ru/lichnyy-kabinet/pomosch/">разделе помощь</a></p>

    <p>Если у Вас остались вопросы или появились затруднения при работе с личным кабинетом - <a
                href="http://krd.ru/lichnyy-kabinet/tekhpodderzhka/#tab-support-create-list">напишите в техподдержку</a>
        и мы обязательно Вам поможем.</p>
    <p>
        {% trans %}С уважением, команда krd.ru.{% endtrans %}
    </p>
{% endblock %}






