{# Письмо с подтверждением регистрации #}

{% extends 'KrdSiteBundle:Email:default.html.twig' %}

{% block email %}
    <p>
        {% trans %}Здравствуйте{% endtrans %}, <b>{{ user.getFullName() }}</b>!
    </p>
    <p>
        {% trans %}Благодарим Вас за регистрацию в личном кабинете официального Интернет-портала администрации и городской Думы Краснодара.{% endtrans %}
    </p>
    <p>
        {% trans %}Логин{% endtrans %}: <b>{{ user.getUsername() }}</b><br />
        {% trans %}Пароль{% endtrans %}: <b>в целях безопасности не указывается</b>
    </p>
    <p>
        Дождитесь активации вашего аккаунта сотрудником техподдержки пользователей, вы получите уведомление об активации аккаунта.
    </p>
    <p>
        {% trans %}В случае возникновения затруднений в работе с личным кабинетом – воспользуйтесь подсказками в разделе <a
                href="http://krd.ru/lichnyy-kabinet/pomosch/">«Помощь»</a>.{% endtrans %}
    </p>
    <p>&nbsp;</p>
    <p>
        {% trans %}С уважением, команда krd.ru.{% endtrans %}
    </p>
{% endblock %}






