{# Уведомление о новом пароле #}

{% extends 'KrdSiteBundle:Email:default.html.twig' %}

{% block email %}
    <p>
        {% trans %}Здравствуйте{% endtrans %} <b>{{ user.getFullName() }}</b>, {% trans %}вы установили новый пароль для доступа на сайт{% endtrans %}.
    </p>
    <p>
        {% trans %}Логин{% endtrans %}: <b>{{ user.getUsername() }}</b><br />
        {% trans %}Пароль{% endtrans %}: <b>{{ user.getPlainPassword() }}</b>
    </p>
{% endblock %}
