{# Письмо со ссылкой на сброс пароля #}

{% extends 'KrdSiteBundle:Email:default.html.twig' %}

{% block email %}
    <p>
        {% trans %}Здравствуйте{% endtrans %}, <b>{{ user.getFullName() }}</b>!
    </p>
    <p>
        {% trans %}Вы отправили запрос на восстановление пароля личного кабинета пользователя на сайте krd.ru.{% endtrans %}
    </p>
    <p>
        {% trans %}Для того чтобы задать новый пароль, перейдите по ссылке и следуйте инструкциям на странице{% endtrans %}:<br />
        <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a>
    </p>
    <p>
        {% trans %}Если ссылка не открывается, сообщите нам об этом по электронной почте на <a href="mailto:support@krd.ru">support@krd.ru</a>.{% endtrans %}
    </p>
    <p>
        {% trans %}Ссылка будет активна в течение текущего месяца.{% endtrans %}
    </p>
    <p>
        {% trans %}Пожалуйста, проигнорируйте данное письмо, если оно попало к Вам по ошибке.{% endtrans %}
    </p>
    <p>
        {% trans %}С уважением{% endtrans %},<br />
        {% trans %}Служба поддержки пользователей krd.ru{% endtrans %}
    </p>
{% endblock %}
