{# Конференция «Открытый Краснодар: общественный транспорт» #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    <section class="page-content">
        <div class="block">
            {% include "KrdSiteBundle::blocks/breadcrumb.html.twig" %}

            {% if currentNode.getController().getId() != 18 %}
                {{ appContainer.get('krd.site.modules.content').renderIncontentMenuParent()|raw }}
            {% endif %}

            <div class="headline is-empty has-share-panel clearfix">
                {% include "KrdSiteBundle:blocks:headline-share.html.twig" with {nosubscribe:true} %}
            </div>
            {% include "KrdSiteBundle:blocks:share-panel-float.html.twig" with {nosubscribe:true} %}
            <div class="page-title">{{ currentNode.getFrontendTitle() }}</div>

            {% if currentNode.getController().getId() != 18 %}
                {{ appContainer.get('krd.site.modules.content').renderIncontentMenu()|raw }}
                {{ appContainer.get('krd.site.modules.content').renderContentTopMenu()|raw }}
            {% endif %}

            {# Выводим модули страницы #}
            {% for module in currentNode.getController().getModules() %}
                {{ appContainer.get(module).renderContent()|raw }}
            {% endfor %}

            {{ appContainer.get('krd.site.modules.content').renderContentBottomMenu()|raw }}
        </div>

        <div class="block">
            <div class="page-title">Оставить заявку на выступление на конференции</div>

            <div id="ok-conference-form-success" class="text-block">
                <b>Спасибо, ваша заявка успешно отправлена. Мы свяжемся с вами в блюжайшее время.</b>
            </div>

            {{ form_start(form, {attr:{class:'stylized ajax-form', 'ng-submit':'submit()', 'ng-controller':'okConferenceFormCtrl', id:'okconference-form', 'novalidate':''}}) }}
                <div class="form-row x3 clearfix">
                    <div class="cell clearfix">
                        <div class="label">Фамилия*:</div>
                        {{ form_widget(form.lastname) }}
                    </div>

                    <div class="cell clearfix">
                        <div class="label">Имя*:</div>
                        {{ form_widget(form.name) }}
                    </div>

                    <div class="cell clearfix">
                        <div class="label">Отчество*:</div>
                        {{ form_widget(form.midname) }}
                    </div>
                </div>

                <div class="form-row x2 clearfix">
                    <div class="cell clearfix">
                        <div class="label">Email*:</div>
                        {{ form_widget(form.email) }}
                    </div>

                    <div class="cell clearfix">
                        <div class="label">Телефон*:</div>
                        {{ form_widget(form.phone) }}
                    </div>
                </div>

                <div class="form-row x1 clearfix">
                    <div class="label">Тема выступления*:</div>
                    <div class="cell clearfix">
                        {{ form_widget(form.theme) }}
                    </div>
                </div>

                <div class="form-row x1 clearfix">
                    <div class="cell clearfix text-align-center">
                        <button type="submit" class="btn btn-blue">Отправить</button>&nbsp;&nbsp;<button type="reset" class="btn btn-deep-blue">Очистить</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </section>

    {% include "KrdSiteBundle::blocks/social-bottom.html.twig" %}
    {% include "KrdSiteBundle::blocks/footer-banners.html.twig" %}
    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}
