{# Список виджетов в личном кабинете #}

<div class="lk-widget-list clearfix" lk-sortable-widgets>
    {% for widget in widgets_show %}
        {% include "KrdUserBundle:Module:index/widget.html.twig" with {widget:widget} %}
    {% endfor %}

    {% if widgets_avail|length > 0 %}
        <div class="lk-widget add-button">
            <div class="info">
                <i></i>
                <span>{% trans %}Добавить виджет{% endtrans %}</span>
            </div>

            <div class="list">
                <i></i><div class="items">
                    {% for widget in widgets_avail %}
                        <a href="{{ controller_path(43, 'krd_user_add_widget', {id:widget.getId()}) }}"><i></i>{{ widget.getTitle() }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
</div>
