{# Шаблон виджета личного кабинета #}

<div class="lk-widget lk-widget-sortable" data-id="{{ widget.getId() }}">
    <div class="head">
        <i class="icon-lk-drag-widget"></i>
        <div class="title">{{ widget.getTitle() }}</div>
        <a href="{{ controller_path(43, 'krd_user_remove_widget', {id:widget.getId()}) }}" class="close" title="{% trans %}Убрать виджет{% endtrans %}"><i class="icon-lk-close-widget"></i></a>
    </div>

    <div class="body">
        <div class="wrap clearfix">
            {{ appContainer.get(widget.getModule()).renderUserWidget(widget)|raw }}
        </div>
    </div>
</div>
