{% extends 'QCoreBundle:Index:index.html.twig' %}

{% block title %}Very-Good CMS :: Комментарии{% endblock %}

{% block content %}
    <h2>Комментарии</h2>

    <tabs>
        <pane heading="Список" url="/comments/">
            <div entity-list="{{ path('cms_rest_krd_comments_comments') }}:id"
                 url="/comments/"
                 columns="{id:{title:'#'}, created:{title:'Дата/Время'}, page_title:{title:'Название страницы'}, page:{title:'URL', modifier:'el_cms_link', by:{title:'URL'}}, content_mini:{title:'Комментарий'}, ip:{title:'IP'}, active:{title:'Активность', isBoolean:true}}"
                 count="10"
                 disable-move="1"></div>
        </pane>

        <ghostpane heading="Ред. #{id}" url="/comments/edit/{id}" parent="0"
                   template="{{ path('cms_rest_krd_comments_comments_form_add') }}{id}"></ghostpane>
    </tabs>

{% endblock %}
