body {background:#eee;}
.well {position:fixed; left:50%; top:50%; margin:-125px 0 0 -220px; box-shadow:0 0 15px rgba(0,0,0,0.3);}
    .well > h2 {margin-top:0;}
    .well label.checkbox {display:inline-block; white-space:nowrap; margin-left:10px;}

