header.navbar-inverse .navbar-inner {border-radius:0;}

a {cursor:pointer;}
a.btn:hover {text-decoration:none !important;}

/** Иконки помощи **/
.icon-question-sign {cursor:help;}
.add-on .tooltip {text-shadow:none; white-space:normal;}

/** Дерево структуры **/
.ztree .popover {width:auto;}
.ztree li > .icon {cursor:pointer; opacity:0.7; margin-left:1px; -webkit-transition:0.2s opacity linear; -moz-transition:0.2s opacity linear; -o-transition:0.2s opacity linear; -ms-transition:0.2s opacity linear; transition:0.2s opacity linear;}
.ztree li > .icon:hover {opacity:1;}

/** Формочки в поповерахъ **/
.popover .form-actions {border-radius:0 0 5px 5px; text-align:right; padding:9px 25px 10px 10px;}
.popover .popover-inner .form-actions {margin:7px -15px -30px -15px;}
.popover-title {font-weight:bold;}

/** Формы структуры **/
.form-structure-edit {width:450px;}
	.form-structure-edit .span3 {padding-top:5px;}
	.form-structure-edit .span8, .form-structure-edit .span9 {margin-left:0;}
	.form-structure-edit .select2-container, .form-structure-edit .input-append {margin-bottom:10px;}

/** Сайдбар **/
aside .well > header {background:#eee; border-bottom:1px solid #e5e5e5; font-weight:bold; font-size:110%; color:#9da0a4;}
aside .well.well-small > header {margin:-9px -9px 10px -9px; padding:9px;}
