.header > .navigation > .user-menu li > a {width:80px;}
.bottom-social {display:none;}
.external-links > .item {width:175px;}
.text-block .images-menu > .item {margin-right:15px;}
.mayor-list > .item {margin-right:30px;}
.content-menu > ul > li {padding-right:20px;}
    .content-menu > ul > li > a {white-space:nowrap;}

.gallery-slider .big-preview > .icon > .loading {display:none;}
.gallery-slider .big-preview > .icon.busy > .loading {display:block;}

.gallery-list-wrap {position:relative;}

.human-list > .item {margin-right:20px;}

.departament-list {text-align:center;}

.gallery-index-detail .items-wrap {position:relative;}

.divide-50 > div {float:left; width:450px; margin-right:41px;}
.divide-50 > div + div {width:460px; margin-right:0;}

.documents-menu {background:#264c64;}

.banners-slider .controll > .item:hover {background:#888;}
.banners-slider .controll > .item.active {background:#333;}

#scroll-up-btn {display:none;}
#scroll-up-btn.visible {display:block;}

.widgets-list > .item > .btn-group > .btn + .btn {position:relative; top:2px;}
    .widgets-list > .item > .btn-group > .btn + .btn i {margin-top:5px;}

.icon-calendar {display:none;}

form.stylized .form-row.x3 > .cell {margin-right:10px;}
form.stylized .form-row.x2 > .cell {margin-right:10px;}
form.stylized .form-row > .cell input[type="text"], form.stylized .form-row > .cell select {width:90%;}
form.stylized .form-row > .cell input.date-mini {width:100px;}

.faq-block-interactive > .item .question .title {position:relative !important; left:0; top:0;}

.news-slider > .items .item {zoom:1;}

.bottom-banners {display:none;}


/** Text block table **/
.text-block table {width:100%; border-collapse:collapse;}
    .text-block table td {border:1px solid #d8dbdd; padding:10px 20px; background:#fff;}
    .text-block table tr:nth-child(even) td {background:#f7f7f7;}
    .text-block table td.th, .text-block table th {background:#09689f; color:#fff; font-weight:bold; padding:10px 20px;}
    .text-block table thead td, .text-block table tr:first-child th {background:#083857; color:#fff; font-weight:bold; padding:18px 20px;}
    .text-block table thead + tbody tr:first-child th {background:#09689f; padding:10px 20px;}

    .text-block table.mini td {padding:5px 10px; font-size:13px;}
    .text-block table.mini thead td {padding:9px 10px;}
    .text-block table .td-light {background:#09689f !important; color:#fff; font-weight:bold;}
    .text-block table .td-dark {background:#083857 !important; color:#fff; font-weight:bold;}


.headline .share-panel .dd-list .dd-wrap .yashare-auto-init .b-share a {display:block; height:41px;}
