/** Evacuation widget **/
.widget-evacuation > .title {padding-left:34px !important;}
.widget-evacuation .items-list .item {padding-bottom:9px; margin-bottom:10px;}
.widget-evacuation .items-list .item:last-child {padding-bottom:0; margin-bottom:0;}

.widget-evacuation .items-list {opacity:1; -webkit-transition:0.2s all linear; -moz-transition:0.2s all linear; -o-transition:0.2s all linear; -ms-transition:0.2s all linear; transition:0.2s all linear;}
.widget-evacuation .loading .items-list {opacity:0.3;}
