select {margin-top:0; margin-bottom:0;}

form.stylized {margin-bottom:20px; border-bottom:1px solid #d8dbdd; padding-bottom:20px;}
form.stylized.no-bottom-border {margin-bottom:0; border-bottom:0 none; padding-bottom:0;}
form.stylized:last-child {margin-bottom:0;}

form.stylized .form-row {margin-bottom:20px;}
form.stylized .form-row:last-child {margin-bottom:0;}

form.stylized .form-row.x3 > .cell {float:left; width:308px; margin-right:20px;}
form.stylized .form-row.x3 > .cell:last-child {margin-right:0;}

form.stylized .form-row.x2 > .cell {float:left; width:472px; margin-right:20px;}
form.stylized .form-row.x2 > .cell:last-child {margin-right:0;}

form.stylized .form-row.x1 > .cell > .label {float:left; width:135px; margin-right:5px; line-height:28px;}
form.stylized .form-row.x1 > .cell > .label + input[type="text"] {float:left; width:824px;}
form.stylized .form-row.x1 > .cell > .label + textarea {float:left; width:824px; height:80px;}

form.stylized .label {font-size:14px; color:#000; display:block; margin-bottom:7px;}

form.stylized input[type="text"], form.stylized select, form.stylized textarea {background:url(../bundles/krdsite/i/sprite.png) -1000px 0 no-repeat #fff; border:1px solid #d8dbdd; font-size:14px; padding:5px 5px; box-sizing:border-box; font-family:Arial;}
form.stylized input[type="text"].error, form.stylized select.error, form.stylized textarea.error {border-color:#c00;}
form.stylized select {padding:4px 5px 4px 0;}

form.stylized .form-row > .cell input[type="radio"] {margin-top:10px;}

form.stylized .form-row > .cell input[type="text"], form.stylized .form-row > .cell select {width:100%;}
form.stylized .form-row > .cell input[type="text"] + input[type="text"] {margin-top:10px;}

form.stylized .form-row > .cell input.date-mini {width:118px; margin-top:0 !important;}


/** Loading container **/
.loading-container {position:relative;}
    .loading-container > .preloader {position:absolute; left:0; top:0; width:100%; height:100%; background:url(../bundles/krdsite/i/preloader-92.gif) center no-repeat rgba(255,255,255,0.5); min-height:92px; min-width:92px;}
