/** Video **/
.mejs-overlay-button {width:52px; height:52px; margin:-26px 0 0 -26px; background:url(../bundles/krdsite/i/sprite.png) -900px -800px no-repeat;}
.mejs-overlay:hover .mejs-overlay-button {background-position:-1000px -800px;}
.icons-slider .mejs-controls {left:30px; right:30px; width:auto;}
