/** Tabs list **/
.tabs-list .tabs-headline {border-bottom:1px solid #d8dbdd; margin-bottom:20px;}
.tabs-list .tabs-headline .page-title {float:left; margin:16px 20px 0 0;}
.tabs-list .tabs-headline .page-title + .pane-list {float:left;}
    .tabs-list .tabs-headline .pane-list > .item {font-size:12px; line-height:14px; text-transform:uppercase; color:#09689f; float:left; cursor:pointer; padding:14px 20px 15px; position:relative; min-height:28px;}
    .locale-en .tabs-list .tabs-headline .pane-list > .item {font-size:11px;}
    .divide-50 .tabs-list .tabs-headline .pane-list > .item {padding:12px 16px 13px;}
    .locale-en .divide-50 .tabs-list .tabs-headline .pane-list > .item {padding:12px 14px 13px;}
        .tabs-list .tabs-headline .pane-list > .item .ajax-link {font-family:'__PTSans';}
        .tabs-list .tabs-headline .pane-list > .item.bold {padding-left:0; padding-right:0; padding-top:7px; padding-bottom:8px;}
        .tabs-list .tabs-headline .pane-list > .item.bold .ajax-link {color:#fff; border-bottom:0 none; background:#0b80b5; background:-moz-linear-gradient(top,  #0b80b5 0%, #09689f 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#0b80b5), color-stop(100%,#09689f)); background:-webkit-linear-gradient(top,  #0b80b5 0%,#09689f 100%); background:-o-linear-gradient(top,  #0b80b5 0%,#09689f 100%); background:-ms-linear-gradient(top,  #0b80b5 0%,#09689f 100%); background:linear-gradient(to bottom,  #0b80b5 0%,#09689f 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b80b5', endColorstr='#09689f',GradientType=0 ); display:block; padding:7px 20px; border-radius:2px;}
        .tabs-list .tabs-headline .pane-list > .item:hover .ajax-link {border-bottom:0 none;}
            .tabs-list .tabs-headline .pane-list > .item .ajax-link .icon-close-8 {display:none;}
            .tabs-list .tabs-headline .pane-list > .item.active .ajax-link .icon-close-8 {display:inline-block; _overflow:hidden; *zoom:1; *display:inline; margin:-2px 0 0 7px;}
            .tabs-list .tabs-headline .pane-list > .item.bold.active .ajax-link {background:none; color:#000;}
    .tabs-list .tabs-headline .pane-list > .item:after {position:absolute; top:17px; right:0; content:''; display:block; width:0; height:22px; border-right:1px solid #d8dbdd;}
    .tabs-list .tabs-headline .pane-list > .item:last-child:after {display:none;}
    .tabs-list .tabs-headline .pane-list > .item.active {color:#000; cursor:default; background:#f5f5f5; border-top:1px solid #d8dbdd; margin-top:-1px; background:-moz-linear-gradient(top,  #f5f5f5 0%, #ffffff 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#ffffff)); background:-webkit-linear-gradient(top,  #f5f5f5 0%,#ffffff 100%); background:-o-linear-gradient(top,  #f5f5f5 0%,#ffffff 100%); background:-ms-linear-gradient(top,  #f5f5f5 0%,#ffffff 100%); background:linear-gradient(to bottom,  #f5f5f5 0%,#ffffff 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ffffff',GradientType=0 );}
        .tabs-list .tabs-headline .pane-list > .item.active .ajax-link {border-bottom:0 none;}
        .tabs-list .tabs-headline .pane-list > .item.active:after {position:absolute; top:0; left:-1px; right:0; content:''; display:block; width:auto; height:100%; border-right:1px solid #d8dbdd; border-left:1px solid #d8dbdd;}
        .tabs-list .tabs-headline .pane-list > .item.active:before {position:absolute; bottom:-1px; left:0; right:0; content:''; display:block; width:auto; height:0; border-bottom:1px solid #fff;}
    .tabs-list.has-close-icon .tabs-headline .pane-list > .item.active {cursor:pointer;}
.tabs-list .tabs-headline .subscribe-btn {float:right; font-size:12px; line-height:14px; text-transform:uppercase; color:#09689f; cursor:pointer; padding:14px 30px 14px 20px; position:relative;}
    .tabs-list .tabs-headline .subscribe-btn .ajax-link {font-family:'__PTSans'; text-align:right; display:block;}
    .tabs-list .tabs-headline .subscribe-btn .icon-subscribe {position:absolute; top:17px; right:0;}

.tabs-list > .tab {position:relative;}
    .tabs-list > .tab > .adv_link {position:absolute; top:0; right:0; z-index:1; font-size:13px;}

/** Hide not first tabs by default **/
.tabs-list > .tab {display:none;}
.tabs-list .tabs-headline + .tab {display:block;}
