/** Sitemap **/
.sitemap > .l, .sitemap > .r {width:464px;}
.deep-content-menu .sitemap > .l, .deep-content-menu .sitemap > .r {width:433px;}
.sitemap > .l {float:left; margin-right:36px;}
.sitemap > .r {float:left;}

.sitemap .item {margin-bottom:30px;}
.sitemap .item:last-child {margin-bottom:0;}
    .sitemap .item > .title {font-size:22px; line-height:24px; color:#000; font-weight:bold; display:block; margin-bottom:10px;}
    .deep-content-menu .sitemap .item > .text-block {padding:0; border-top:0 none;}
    .sitemap .item > .title:after {content:''; background:url(../bundles/krdsite/i/sprite.png) -800px -100px no-repeat; display:inline-block; _overflow:hidden; *zoom:1; *display:inline; width:12px; height:8px; vertical-align:middle; margin:1px 0 0 11px;}
    .sitemap .item ul li > a {font-size:16px; line-height:18px;}
