/** Index yandex map **/
#index-regions-ymap {width:460px; height:383px; border:1px solid #d8dbdd;}
#index-regions-ymap.fullscreen {position:fixed; top:49px; left:0; right:0; bottom:0; z-index:100; width:auto; height:auto; border:0 none;}

#index-regions-ymap-tabs .tabs-headline {margin-bottom:0; border-bottom:0 none; margin-left:1px;}
