/** Icon slider **/
.icons-slider {width:400px; height:300px; position:relative;}
    .icons-slider > .item {position:absolute; top:0; left:0; width:100%; max-height:100%; overflow:hidden; text-align:center;}
        .icons-slider > .type {position:absolute; left:0; top:0; display:block; width:32px; height:32px; z-index:1; text-align:center;}
        .icons-slider > .type:before {content:''; position:absolute; left:0; top:0; width:100%; height:100%; background:#a3aeb5; opacity:0.8;}
            .icons-slider > .type > i {position:relative;}
            .icons-slider > .type > .icon-photo {margin-top:5px;}
            .icons-slider > .type > .icon-video {margin-top:6px;}

        .icons-slider > .arrow {position:absolute; z-index:1; bottom:0; display:block; width:30px; height:30px; z-index:1; text-align:center; background:#a4acb3; background:rgba(163, 174, 181, 0.8); cursor:pointer;}
        .icons-slider > .arrow > .icon-arrow-prev {margin-top:7px; display:none;}
        .icons-slider > .arrow > .icon-arrow-prev-mini {margin-top:6px;}
        .icons-slider > .arrow > .icon-arrow-next {margin-top:7px; display:none;}
        .icons-slider > .arrow > .icon-arrow-next-mini {margin-top:6px;}
        .icons-slider > .arrow:hover {background:rgba(163, 174, 181, 1); width:42px; height:42px;}
        .icons-slider > .arrow:hover > .icon-arrow-prev {display:inline-block; _overflow:hidden; *zoom:1; *display:inline;}
        .icons-slider > .arrow:hover > .icon-arrow-prev-mini {display:none;}
        .icons-slider > .arrow:hover > .icon-arrow-next {display:inline-block; _overflow:hidden; *zoom:1; *display:inline;}
        .icons-slider > .arrow:hover > .icon-arrow-next-mini {display:none;}
        .icons-slider > .arrow.prev {left:0;}
        .icons-slider > .arrow.next {right:0;}
        .icons-slider > .arrow.hidden {display:none;}
