/** Header panel **/
.header-panel > .panel-profile {background:#f5efe1; height:0; overflow:hidden; -webkit-transition:0.2s height linear; -moz-transition:0.2s height linear; -o-transition:0.2s height linear; -ms-transition:0.2s height linear; transition:0.2s height linear;}
.header-panel.panel-profile-open > .panel-profile {height:165px;}

.header-panel > .panel-profile .wellcome-wrap {padding:21px 0 30px 20px; position:relative;}
    .header-panel > .panel-profile .wellcome-wrap .wellcome {float:left; font-size:12px; text-transform:uppercase; color:#504f4d; font-family:'__PTSans'; line-height:28px; margin-right:20px;}
        .header-panel > .panel-profile .wellcome-wrap .wellcome b {font-size:12px; text-transform:uppercase; color:#504f4d; font-family:'__PTSansBold'; font-weight:normal;}
    .header-panel > .panel-profile .wellcome-wrap .btn-group {float:left;}
        .header-panel > .panel-profile .wellcome-wrap .btn-group .btn {float:left;}
        .header-panel > .panel-profile .wellcome-wrap .btn-group .btn + .btn {margin-left:6px;}
    .header-panel > .panel-profile .wellcome-wrap .close-btn {position:absolute; display:block; width:23px; height:23px; top:24px; right:20px; background:url(../bundles/krduser/i/s-lk.png) -400px -70px no-repeat; cursor:pointer;}
    .header-panel > .panel-profile .wellcome-wrap .close-btn:hover {background-position:-450px -70px;}

.header-panel .top-menu > .profile-btn {position:absolute; display:block; width:63px; height:49px; top:0; right:0px; background:url(../bundles/krduser/i/s-lk.png) 22px -487px no-repeat; cursor:pointer;}
.header-panel.panel-profile-open .top-menu > .profile-btn {background-color:#f5efe1; background-position:-28px -487px;}
.header-panel .top-menu > .profile-btn:hover {background-color:#f5efe1; background-position:-28px -487px;}
.header-panel.panel-profile-open .top-menu > .profile-btn:hover {background-color:#efe5ce; background-position:-28px -487px;}

.header-panel > .panel-profile .profile-menu ul {text-align:center; white-space:nowrap;}
    .header-panel > .panel-profile .profile-menu ul li {display:inline-block; _overflow:hidden; *zoom:1; *display:inline; height:55px; padding:0 20px; vertical-align:top;}
    .header-panel > .panel-profile .profile-menu ul li + li {border-left:1px dotted #d1cbbd;}
        .header-panel > .panel-profile .profile-menu ul li a {text-decoration:none; display:block; height:55px;}
            .header-panel > .panel-profile .profile-menu ul li a .icon {display:block; height:24px; margin-bottom:7px;}
            .header-panel > .panel-profile .profile-menu ul li a .title {display:block;}
                .header-panel > .panel-profile .profile-menu ul li a .title > i {width:0; height:29px; vertical-align:middle; display:inline-block; _overflow:hidden; *zoom:1; *display:inline;}
            .header-panel > .panel-profile .profile-menu ul li a .title > i + span {font-size:12px; text-transform:uppercase; font-family:'__PTSans'; line-height:1.2; white-space:normal; display:inline-block; _overflow:hidden; *zoom:1; *display:inline;}
            .header-panel > .panel-profile .profile-menu ul li a:hover .title > i + span {text-decoration:underline;}

/** Notifications **/
#user-notifications-container {display:block; width:250px; position:absolute; right:50px; top:100%; margin-top:10px;}
    #user-notifications-container > .item {padding:10px; border:3px solid #000; font-size:13px; line-height:1.2; font-weight:bold; color:#fff;}
    #user-notifications-container > .item.info {background:#0968a0; border-color:#083857;}
    #user-notifications-container > .item.warn {background:#cd8410; border-color:#9c640c;}
    #user-notifications-container > .item.error {background:#c00c11; border-color:#d22;}
    #user-notifications-container > .item + .item {margin-top:15px;}


/** Page padding **/
.header-panel + #page {padding-top:0; -webkit-transition:0.2s padding-top linear; -moz-transition:0.2s padding-top linear; -o-transition:0.2s padding-top linear; -ms-transition:0.2s padding-top linear; transition:0.2s padding-top linear;}
.header-panel.panel-profile-open + #page {padding-top:165px;}
.header-panel.panel-search-open + #page {padding-top:47px;}
.header-panel.panel-search-open.panel-profile-open + #page {padding-top:215px;}
