/** Sitemap **/
.sitemap > .l {float:left; width:464px; margin-right:36px;}
.sitemap > .r {float:left; width:464px;}

.sitemap .item {margin-bottom:30px;}
.sitemap .item:last-child {margin-bottom:0;}
    .sitemap .item > .title {font-size:22px; line-height:24px; color:#000; font-weight:bold; display:block; margin-bottom:10px;}
    .sitemap .item > .title:after {content:''; background:url(../bundles/krdsite/i/sprite.png) -800px -100px no-repeat; display:inline-block; _overflow:hidden; *zoom:1; *display:inline; width:12px; height:8px; vertical-align:middle; margin:1px 0 0 11px;}
    .sitemap .item ul li > a {font-size:16px; line-height:18px;}
