/** Print styles **/
.header-panel {display:none;}
.header-padding {display:none;}
#page {background:none;}
.page-wrap {padding:0; width:auto;}
.header {background:none; border:0 none;}
.header > .navigation {display:none;}
.breadcrumb {display:none;}
.headline .share-panel {display:none;}
.headline .theme {display:none;}
.headline .date {font-size:15px; background:none; color:#000; padding:0 !important; font-weight:bold;}
.page-title {color:#000 !important;}
.page-title:after {display:none;}
.text-block .icons-slider {display:none;}
.text-block img {display:none;}
.btn-group {display:none;}
.btn {display:none;}
.bottom-social {display:none;}
.bottom-banners {display:none;}
.bottom-menu {display:none;}
.external-links {display:none;}
.btn-group + .page-title {display:none;}
.news-slider {display:none;}
.footer {width:auto; padding-bottom:0;}
.footer-menu {display:none;}
.footer .very-good {display:none;}
.footer .icon-logo {display:none;}
.content-menu {display:none;}

html.full-height, html.full-height body {height:auto;}
html.full-height #page {min-height:10px;}

.deep-content-menu .item > .wrap-icon .icon {display:none !important;}
.deep-content-menu .item > .wrap-icon .title {padding-left:10px !important;}
.deep-content-menu > .item.close .text-block {display:block !important;}
