/** Buttons **/
.btn {color:#fff; font-size:12px; line-height:28px; text-align:center; text-transform:uppercase; font-family:'__PTSans';  padding:0 10px; text-decoration:none; display:inline-block; _overflow:hidden; *zoom:1; *display:inline; height:28px; cursor:pointer; border-radius:2px; position:relative; white-space:nowrap;}
a.btn:visited {color:#fff;}
.btn:not(.disabled):active {top:1px; left:1px;}
.btn-icon {padding:0 5px 0 5px;}
.btn-block {display:block; text-align:center;}
.btn > .icon-refresh {margin-top:-2px;}

.btn > .append {font-size:19px; font-family:'__PTSansBold'; color:#fff; background:#095b8c; display:inline-block; _overflow:hidden; *zoom:1; *display:inline; margin-right:-10px; padding:0 5px; border-radius:0 2px 2px 0; vertical-align:top; margin-left:10px;}

.btn-blue, .btn-blue.fx:hover {color:#fff; background:#0b81b6; background:-moz-linear-gradient(top,  #0b81b6 0%, #09689f 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#0b81b6), color-stop(100%,#09689f)); background:-webkit-linear-gradient(top,  #0b81b6 0%,#09689f 100%); background:-o-linear-gradient(top,  #0b81b6 0%,#09689f 100%); background:-ms-linear-gradient(top,  #0b81b6 0%,#09689f 100%); background:linear-gradient(to bottom,  #0b81b6 0%,#09689f 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b81b6', endColorstr='#09689f',GradientType=0);}
.btn-blue:hover, .btn-blue.fx {background:#09689f; background:-moz-linear-gradient(top,  #09689f 0%, #0b81b6 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#09689f), color-stop(100%,#0b81b6)); background:-webkit-linear-gradient(top,  #09689f 0%,#0b81b6 100%); background:-o-linear-gradient(top,  #09689f 0%,#0b81b6 100%); background:-ms-linear-gradient(top,  #09689f 0%,#0b81b6 100%); background:linear-gradient(to bottom,  #09689f 0%,#0b81b6 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#09689f', endColorstr='#0b81b6',GradientType=0);}

.btn-deep-blue, .btn-deep-blue.fx:hover {color:#fff; background:#0a456c; background:-moz-linear-gradient(top,  #0a456c 0%, #083857 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#0a456c), color-stop(100%,#083857)); background:-webkit-linear-gradient(top,  #0a456c 0%,#083857 100%); background:-o-linear-gradient(top,  #0a456c 0%,#083857 100%); background:-ms-linear-gradient(top,  #0a456c 0%,#083857 100%); background:linear-gradient(to bottom,  #0a456c 0%,#083857 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a456c', endColorstr='#083857',GradientType=0);}
.btn-deep-blue:hover, .btn-deep-blue.fx {background:#083857; background:-moz-linear-gradient(top,  #083857 0%, #0a456c 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#083857), color-stop(100%,#0a456c)); background:-webkit-linear-gradient(top,  #083857 0%,#0a456c 100%); background:-o-linear-gradient(top,  #083857 0%,#0a456c 100%); background:-ms-linear-gradient(top,  #083857 0%,#0a456c 100%); background:linear-gradient(to bottom,  #083857 0%,#0a456c 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#083857', endColorstr='#0a456c',GradientType=0);}

.btn-gray, .btn-gray.fx:hover {color:#888; background:#eaeaea; background:-moz-linear-gradient(top,  #eaeaea 0%, #d5d5d5 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#d5d5d5)); background:-webkit-linear-gradient(top,  #eaeaea 0%,#d5d5d5 100%); background:-o-linear-gradient(top,  #eaeaea 0%,#d5d5d5 100%); background:-ms-linear-gradient(top,  #eaeaea 0%,#d5d5d5 100%); background:linear-gradient(to bottom,  #eaeaea 0%,#d5d5d5 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#d5d5d5',GradientType=0 );}
.btn-gray:hover, .btn-gray.fx {background:#d5d5d5; background:-moz-linear-gradient(top,  #d5d5d5 1%, #d5d5d5 81%, #eaeaea 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(1%,#d5d5d5), color-stop(81%,#d5d5d5), color-stop(100%,#eaeaea)); background:-webkit-linear-gradient(top,  #d5d5d5 1%,#d5d5d5 81%,#eaeaea 100%); background:-o-linear-gradient(top,  #d5d5d5 1%,#d5d5d5 81%,#eaeaea 100%); background:-ms-linear-gradient(top,  #d5d5d5 1%,#d5d5d5 81%,#eaeaea 100%); background:linear-gradient(to bottom,  #d5d5d5 1%,#d5d5d5 81%,#eaeaea 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d5d5', endColorstr='#eaeaea',GradientType=0 );}

.btn.disabled, .btn[disabled] {background:#939393 !important; color:#ccc !important; cursor:default !important;}

.items-list + .btn-group {margin-top:20px;}
.btn-group > .btn-block-25 {float:left; width:22%;}
.btn-group > .btn-block-75 {float:left; width:72%;}
.btn-group > .btn-block-25 + .btn-block-75 {float:right;}
.btn-group > .btn-block-75 + .btn-block-25 {float:right;}
.btn-group > .btn-block-25:first-child:last-child {float:right;}

.btn-group > .btn-block-10 {float:left; width:12%;}
.btn-group > .btn-block-90 {float:left; width:83%;}
.btn-group > .btn-block-10 + .btn-block-90 {float:right;}
.btn-group > .btn-block-90 + .btn-block-10 {float:right;}
.btn-group > .btn-block-10:first-child:last-child {float:right;}
