select {margin-top:0; margin-bottom:0;}
textarea {font-family:Arial;}

form.stylized {margin-bottom:20px; border-bottom:1px solid #d8dbdd; padding-bottom:20px;}
form.stylized.no-bottom-border, form.stylized:last-child {margin-bottom:0; border-bottom:0 none; padding-bottom:0;}

.text-block + form.stylized {margin-top:20px;}
form.stylized.no-bottom-border + .page-title {margin-top:50px;}
.form-row + .page-title {margin-top:15px;}

form.stylized .form-row {font-size:14px;}
form.stylized .form-row + .form-row {margin-top:20px;}
form.stylized .form-row.error {color:#f00;}

form.stylized .form-row.x3 > .cell {float:left; width:308px; margin-right:20px;}
form.stylized .form-row.x3 > .cell:last-child {margin-right:0;}

form.stylized .form-row.x2 > .cell {float:left; width:472px; margin-right:20px;}
form.stylized .form-row.x2 > .cell:last-child {margin-right:0;}

form.stylized .form-row.x1 > .cell > .label {float:left; width:135px; margin-right:5px; line-height:28px;}
form.stylized .form-row.x1 > .cell > .label + input[type="text"], form.stylized .form-row.x1 > .cell > .label + input[type="email"], form.stylized .form-row.x1 > .cell > .label + input[type="password"] {float:left; width:824px;}
form.stylized .form-row.x1 > .cell > .label + input[type="text"][ui-date-icon] {width:814px;}
form.stylized .form-row.x1 > .cell > .label + input[type="text"] + .icon-calendar {margin-left:10px; vertical-align:top; margin-top:3px; cursor:pointer;}
form.stylized .form-row.x1 > .cell > textarea:first-child {float:none; width:964px; height:80px;}
form.stylized .form-row.x1 > .cell > .label + textarea {float:left; width:824px; height:80px;}

form.stylized .form-row > .cell > .checkbox {font-size:14px; cursor:pointer;}
    form.stylized .form-row > .cell > .checkbox > input[type="checkbox"] {vertical-align:middle;}

form.stylized .form-row.x-line > .cell {float:left;}
form.stylized .form-row.x-line > .cell + .cell {margin-left:20px; padding-left:20px; border-left:1px dotted #cccccc;}

form.stylized .label {font-size:14px; color:#000; display:block; margin-bottom:7px;}
    form.stylized .label > .required-star {color:#09689f; font-size:16px; font-weight:bold; position:relative; top:-1px;}

form.stylized input[type="text"], form.stylized input[type="email"], form.stylized input[type="password"], form.stylized select, form.stylized textarea, input[type="text"].stylized, input[type="email"].stylized, input[type="password"].stylized, select.stylized, textarea.stylized {background:url(../bundles/krdsite/i/frame.png) no-repeat #fff; border:1px solid #d8dbdd; font-size:14px; padding:5px 5px; box-sizing:border-box; font-family:Arial;}
form.stylized select, select.stylized {padding:4px 5px 4px 0;}

form.stylized .form-row > .cell input[type="radio"] {margin-top:10px;}

form.stylized .form-row > .cell input[type="text"], form.stylized .form-row > .cell input[type="email"], form.stylized .form-row > .cell input[type="password"], form.stylized .form-row > .cell select {width:100%;}
form.stylized .form-row > .cell input[type="text"] + input[type="text"] {margin-top:10px;}

form.stylized .form-row > .cell input.date-mini {width:112px; margin-top:0 !important;}
form.stylized .form-row > .cell input.date-mini + .icon-calendar {margin-left:9px; vertical-align:top; margin-top:3px; cursor:pointer;}

form.stylized .form-row.x3 > .cell .phone-input > .nn {color:#7d7d7d; font-size:40px; font-family:'__PTSansBold'; opacity:0.9; position:relative;}
form.stylized .form-row.x3 > .cell .phone-input > .nn.bracket-1 {margin-left:1px; top:-5px;}
form.stylized .form-row.x3 > .cell .phone-input > .nn.bracket-2 {margin-left:6px; top:-5px;}
form.stylized .form-row.x3 > .cell .phone-input > input.prefix {width:51px; margin-left:4px; position:relative; top:-9px;}
form.stylized .form-row.x3 > .cell .phone-input > input.number {width:170px; margin-left:5px; position:relative; top:-9px;}


form.stylized .form-row.horizontal > .label {text-align:right; float:left; width:331px; margin-right:9px; padding-top:6px;}
form.stylized .form-row.horizontal > .input {float:left; width:624px;}
    form.stylized .form-row.horizontal > .input > .help {margin-top:7px; font-size:12px; opacity:0.7;}
    form.stylized .form-row.horizontal > .input > input[type="text"], form.stylized .form-row.horizontal > .input > input[type="email"], form.stylized .form-row.horizontal > .input > input[type="password"] {width:436px;}
    form.stylized .form-row.horizontal > .input > .errors {margin-top:7px; font-size:12px; color:#f00;}

form.stylized .form-row.horizontal-full > .label {text-align:right; float:left; width:125px; margin-right:9px; padding-top:6px;}
form.stylized .form-row.horizontal-full > .input {float:left; width:830px;}
    form.stylized .form-row.horizontal-full > .input > .help {margin-top:7px; font-size:12px; opacity:0.7;}
    form.stylized .form-row.horizontal-full > .input > input[type="text"],
    form.stylized .form-row.horizontal-full > .input > input[type="email"],
    form.stylized .form-row.horizontal-full > .input > input[type="password"],
    form.stylized .form-row.horizontal-full > .input > textarea,
    form.stylized .form-row.horizontal-full > .input > select {width:830px;}
    form.stylized .form-row.horizontal-full > .input > textarea {height:200px;}

form.step-by-step .step-header {margin-bottom:20px;}
    form.step-by-step .step-header .step {float:left; background:#b7b7b7; border-radius:2px; font-size:12px; text-transform:uppercase; color:#fff; font-family:'__PTSans'; height:28px; line-height:28px;}
    form.step-by-step .step-header .step.inpast {background:#083857; cursor:pointer;}
    form.step-by-step .step-header .step.inpast:hover {background:#0d5a8e;}
    form.step-by-step .step-header .step.active {background:#096aa1;}
    form.step-by-step .step-header.count-3 .step {width:320px;}
    form.step-by-step .step-header.count-3 .step:last-child {width:321px;}
    form.step-by-step .step-header .step + .step {margin-left:1px;}
        form.step-by-step .step-header .step .number {font-size:18px; text-transform:uppercase; color:#fff; font-family:'__PTSansBold'; float:left; height:28px; line-height:28px; background:#dadada; border-radius:2px 0 0 2px; padding:0 10px 0 10px; margin-right:9px;}
        form.step-by-step .step-header .step.inpast .number {background:#096aa1;}
        form.step-by-step .step-header .step.active .number {background:#1d9dde;}


/** Loading container **/
.loading-container {position:relative;}
    .loading-container > .preloader {position:absolute; left:0; top:0; width:100%; height:100%; background:url(../bundles/krdsite/i/preloader-92.gif) center no-repeat rgba(255,255,255,0.5); min-height:92px; min-width:92px;}


/** Form bubble **/
.bubble {position:absolute; display:block; background:#fff; border:1px solid #ccc; padding:10px; color:#000; z-index:100000; opacity:0.9; font-size:12px; line-height:14px; box-shadow:2px 2px 2px rgba(0,0,0,0.2); cursor:pointer;}
.bubble.error {color:#fff; background:#f00; border:1px solid #fff; font-weight:bold;}
    .bubble .arrow {position:absolute; display:block; background:url(../bundles/krdsite/i/sprite.png) no-repeat;}
    .bubble.gravity-w .arrow {left:-6px; top:50%; margin-top:-5px; background-position:-1000px 0; width:7px; height:10px;}
