/** Подписка на новости **/

#subscriber-form-success {display:none;}
#subscriber-un-form-success {display:none;}

#subscriber-form .form-row {width:360px;}
#subscriber-form .form-row.last {margin-bottom:0;}
    #subscriber-form .form-row input[type="text"] {width:359px;}

