/** Tabs list **/
.tabs-list {margin-bottom:20px;}
.tabs-list .tabs-headline {border-bottom:1px solid #d8dbdd; margin-bottom:20px;}
.tabs-list .tabs-headline .page-title {float:left; margin:16px 20px 0 0;}
.tabs-list .tabs-headline .page-title + .pane-list {float:left;}
    .tabs-list .tabs-headline .pane-list > .item {font-size:12px; line-height:14px; text-transform:uppercase; color:#09689f; float:left; cursor:pointer; padding:14px 20px 15px; position:relative;}
    .divide-50 .tabs-list .tabs-headline .pane-list > .item {padding:12px 16px 13px;}
        .tabs-list .tabs-headline .pane-list > .item .ajax-link {font-family:'__PTSans';}
        .tabs-list .tabs-headline .pane-list > .item:hover .ajax-link {border-bottom:0 none;}
    .tabs-list .tabs-headline .pane-list > .item:after {position:absolute; top:17px; right:0; content:''; display:block; width:0; height:22px; border-right:1px solid #d8dbdd;}
    .tabs-list .tabs-headline .pane-list > .item:last-child:after {display:none;}
    .tabs-list .tabs-headline .pane-list > .item.active {color:#000; cursor:default; background:#f5f5f5; border-top:1px solid #d8dbdd; margin-top:-1px; background:-moz-linear-gradient(top,  #f5f5f5 0%, #ffffff 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#ffffff)); background:-webkit-linear-gradient(top,  #f5f5f5 0%,#ffffff 100%); background:-o-linear-gradient(top,  #f5f5f5 0%,#ffffff 100%); background:-ms-linear-gradient(top,  #f5f5f5 0%,#ffffff 100%); background:linear-gradient(to bottom,  #f5f5f5 0%,#ffffff 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ffffff',GradientType=0 );}
        .tabs-list .tabs-headline .pane-list > .item.active .ajax-link {border-bottom:0 none;}
        .tabs-list .tabs-headline .pane-list > .item.active:after {position:absolute; top:0; left:-1px; right:0; content:''; display:block; width:auto; height:100%; border-right:1px solid #d8dbdd; border-left:1px solid #d8dbdd;}
        .tabs-list .tabs-headline .pane-list > .item.active:before {position:absolute; bottom:-1px; left:0; right:0; content:''; display:block; width:auto; height:0; border-bottom:1px solid #fff;}
.tabs-list .tabs-headline .subscribe-btn {float:right; font-size:12px; line-height:14px; text-transform:uppercase; color:#09689f; cursor:pointer; padding:14px 30px 14px 20px; position:relative;}
    .tabs-list .tabs-headline .subscribe-btn .ajax-link {font-family:'__PTSans'; text-align:right; display:block;}
    .tabs-list .tabs-headline .subscribe-btn .icon-subscribe {position:absolute; top:17px; right:0;}
