.ui-datepicker {width:14em;}
    .ui-corner-all {border-radius:0 !important;}
    .ui-datepicker .ui-datepicker-calendar .ui-state-default {background:none; text-align:center; border:1px solid #d8dbdd; color:#09689f;}
    .ui-datepicker .ui-datepicker-calendar .ui-state-hover {border:1px solid #083857;}
    .ui-datepicker table {font-size:0.8em;}
    .ui-datepicker .ui-widget-header {background:#083857 !important; background-image:none !important; border:0 none;}
    .ui-datepicker .ui-datepicker .ui-datepicker-header {padding:.2em 0 .05em;}
    .ui-datepicker .ui-widget-content {border:1px solid #d8dbdd !important; background:#fff; background-image:none;}
    .ui-datepicker table {margin-bottom:.2em;}
