/** Humans anchors **/
ul.human-anchors {margin-bottom:26px; margin-top:-15px; background:#264c64; padding:16px 14px; text-align:center;}
    .human-anchors > li {display:inline-block; _overflow:hidden; *zoom:1; *display:inline; width:235px; margin-right:35px; padding-right:36px; text-align:center; vertical-align:top; position:relative;}
    .human-anchors > li:after {content:''; display:block; position:absolute; top:3px; right:0; width:1px; height:24px; background:#517083;}
        .human-anchors > li > a {font-size:12px; line-height:16px; font-family:'__PTSans'; text-transform:uppercase; color:#fff; text-decoration:none; display:block;}
        .human-anchors > li > a:hover {text-decoration:underline;}
    .human-anchors > li:last-child, .human-anchors > li:nth-child(3n) {margin-right:0; padding-right:0;}
    .human-anchors > li:last-child:after, .human-anchors > li:nth-child(3n):after {display:none;}

/** Humans list **/
.human-list.c-1 {text-align:center;}

.human-list > .item {display:inline-block; _overflow:hidden; *zoom:1; *display:inline; width:301px; margin-right:30px; padding-bottom:45px; text-align:left; vertical-align:top;}
.human-list > .item:last-child, .human-list > .item:nth-child(3n) {margin-right:0;}
    .human-list > .item > .icon {display:block; width:111px; height:148px; overflow:hidden; float:left; margin-right:20px;}
    .human-list > .item > .icon img {display:block; max-width:100%;}
    .human-list > .item > .icon + .w {width:169px; float:left;}
        .human-list > .item > .icon + .w .text-block {font-size:13px; line-height:16px;}
        .human-list > .item > .icon + .w .title {font-size:16px; line-height:18px; font-weight:bold; display:block;}
        .human-list.bigger > .item > .icon + .w .title {font-size:20px; line-height:22px;}
        .human-list > .item > .icon + .w .title + .text-block {margin-top:10px;}
        .human-list > .item > .w .children-show {font-size:13px; line-height:15px; white-space:nowrap;}


/** Human children **/
.human-children {display:none; background:url(../bundles/krdadministration/i/children-hl-bg-1.png) center top no-repeat; padding-top:41px; padding-bottom:20px; margin-top:-10px; position:relative;}
.human-children.c-0 {background-image:url(../bundles/krdadministration/i/children-hl-bg-0.png);}
.human-children.c-2 {background-image:url(../bundles/krdadministration/i/children-hl-bg-2.png);}
    .human-children > .close-button {position:absolute; left:0; right:0; bottom:20px; text-align:center;}
        .human-children > .close-button:before {content:''; position:absolute; display:block; left:0; right:0; top:50%; background:#d8dbdd; height:1px;}


/** Shedule link **/
.human-shedule-link {cursor:pointer; font-size:12px; line-height:22px; text-transform:uppercase;}
    .human-shedule-link > i {margin-right:10px;}
    .human-shedule-link:hover .ajax-link {border-bottom:none;}


/** Shedule window **/
.shedule-window-content .calendar-single {width:235px; float:left; margin-right:35px;}
.shedule-window-content .calendar-single:last-child {margin-right:0;}


/** Mayor list **/
.mayor-list {margin-bottom:-40px;}
.mayor-list > .item {float:left; width:160px; margin:0 41px 40px 0;}
.mayor-list > .item:nth-child(5n), .mayor-list > .item:last-child {margin-right:0;}
    .mayor-list > .item > .icon {display:block; height:212px; overflow:hidden; margin-bottom:4px;}
        .mayor-list > .item > .icon > img {width:100%;}
    .mayor-list > .item > .title {font-weight:bold; font-size:14px; line-height:16px;}
    .mayor-list > .item > .text-block {font-size:13px; line-height:15px; margin-top:3px;}
