html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-family:Arial;
}

body {min-width:1000px;}
.page-wrap {width:1000px; margin:0 auto;}
.affix {position:fixed;}
.hidden {display:none;}

.fancybox-skin {border-radius:0 !important; -webkit-border-radius:0 !important;}

a, .link-color {color:#09689f;}
.ajax-link {text-decoration:none; border-bottom:1px dashed #09689f; display:inline;}
a:hover > .ajax-link, .ajax-link:hover {border-bottom:0 none; padding-bottom:1px;}
p a:visited {color:#609;}


/** Header panel **/
.header-padding {height:49px;}
.header-panel {position:fixed; top:0; left:0; width:100%; z-index:10000; -webkit-transition:0.2s box-shadow linear; -moz-transition:0.2s box-shadow linear; -o-transition:0.2s box-shadow linear; -ms-transition:0.2s box-shadow linear; transition:0.2s box-shadow linear;}
.header-panel.shadow {box-shadow:0 2px 6px rgba(0,0,0,0.3);}
    .header-panel > .light {background:#0968a0; margin-bottom:-49px; overflow:hidden; -webkit-transition:0.2s margin-bottom linear; -moz-transition:0.2s margin-bottom linear; -o-transition:0.2s margin-bottom linear; -ms-transition:0.2s margin-bottom linear; transition:0.2s margin-bottom linear;}
    .header-panel > .dark {background:#083857; position:relative;}
    .header-panel.opened > .light {margin-bottom:0;}


/** Header panel topmenu **/
.header-panel .top-menu {display:block; position:relative; width:937px;}
    .header-panel .top-menu .root-level {display:block;}
        .header-panel .top-menu .root-level > li {float:left; position:relative;}
        .header-panel .top-menu .root-level > li:after {content:''; position:absolute; top:23px; right:13px; display:block; width:8px; height:5px; background:url(../bundles/krdsite/i/sprite.png) -100px 0 no-repeat;}
            .header-panel .top-menu .root-level > li > a {font-size:13px; line-height:15px; text-transform:uppercase; color:#fff; font-family:'__PTSans'; display:block; padding:17px 29px 17px 20px; text-decoration:none; white-space:nowrap;}
            .header-panel .top-menu .root-level > li:hover > a, .header-panel .top-menu .root-level > li > a:hover {background:#09689f;}
    .header-panel .top-menu .sub-level {display:none; position:absolute; top:100%; left:0; background:#09689f; padding:20px; box-shadow:0 5px 4px rgba(0,0,0,0.3);}
        .header-panel .top-menu .sub-level > li {display:block;}
            .header-panel .top-menu .sub-level > li > a {font-size:14px; line-height:17px; color:#fff; text-decoration:none; display:block; position:relative; padding:5px 9px 6px 9px; border-bottom:1px dotted #3a89b5; width:200px;}
            .header-panel .top-menu .sub-level > li > a:after {content:''; display:inline-block; _overflow:hidden; *zoom:1; *display:inline; width:5px; height:8px; vertical-align:middle; background:url(../bundles/krdsite/i/sprite.png) 0 0 no-repeat; margin-left:9px;}
            .header-panel .top-menu .sub-level > li:last-child > a {border-bottom:0 none;}
            .header-panel .top-menu .sub-level > li > a:hover {background:#083857; margin-top:-1px; padding-top:6px; border-bottom:0 none; padding-bottom:7px; border-radius:2px;}
            .header-panel .top-menu .sub-level > li:last-child > a:hover {padding-bottom:6px;}


/** Page **/
#page {background:url(../bundles/krdsite/i/background.png) center top repeat-y;}
.page-content {padding:0 18px;}
    .page-content > .left-column {float:left; width:700px;}
    .page-content > .left-column + aside {float:left; margin-left:30px; width:234px;}
    .page-content > .block {padding-top:30px; border-top:1px solid #d8dbdd; margin-top:30px;}
        .page-content > .block > .page-title:first-child {margin-top:-6px;}


/** Header **/
.header {background:#f4f4f4; border:1px solid #d8dbdd; border-top:0 none; padding:20px 20px 22px 15px;}
    .header > .alert {font-family:'__PTSans'; text-transform:uppercase; font-size:12px; color:#083857; text-align:center; margin:0 0 10px 0; padding:0 50px;}
    .header > .logo {float:left; text-decoration:none; width:450px; margin-top:2px;}
        .header > .logo > img {float:left; margin-right:17px;}
        .header > .logo > .gray {display:block; color:#888a8b; font-size:11px; line-height:13px; text-transform:uppercase; font-family:'__PTSans'; overflow:hidden; margin-top:6px;}
        .header > .logo > .title {display:block; color:#083857; font-size:18px; line-height:22px; text-transform:uppercase; font-family:'__PTSansBold'; overflow:hidden; margin-top:6px;}
    .header > .navigation {float:right; text-align:right; margin-top:-3px;}
        .header > .navigation > .user-menu {display:block; margin-right:-20px; white-space:nowrap;}
            .header > .navigation > .user-menu li {display:inline-block; _overflow:hidden; *zoom:1; *display:inline; text-align:center;}
                .header > .navigation > .user-menu li > a {font-size:11px; line-height:13px; display:block; padding:10px 21px 10px 19px; text-decoration:underline; position:relative;}
                .header > .navigation > .user-menu li > a:after {content:''; position:absolute; right:0; top:13px; display:block; width:0; height:41px; border-right:1px dotted #cccfd1;}
                .header > .navigation > .user-menu li > a:hover {background:#09689f; border-radius:2px; color:#fff; margin-left:-1px; padding-left:20px;}
                .header > .navigation > .user-menu li:last-child > a:after {display:none;}
                .header > .navigation > .user-menu li > a:hover:after {display:none;}

                .header > .navigation > .user-menu li > a *[class^="icon-"] {display:block; margin:3px auto 2px;}
                .header > .navigation > .user-menu li > a .icon-specialsite {margin-top:2px; margin-bottom:3px;}
                .header > .navigation > .user-menu li > a .icon-sitemap {margin-top:2px; margin-bottom:3px;}
        .header > .navigation > .social-menu {display:block; margin-top:7px; white-space:nowrap;}
            .header > .navigation > .social-menu li {display:inline-block; _overflow:hidden; *zoom:1; *display:inline; text-align:left; margin-left:10px;vertical-align:top;}
            .header > .navigation > .social-menu .sep {width:0; height:16px; border-right:1px dotted #cccfd1;}
                .header > .navigation > .social-menu li > a {font-size:11px; line-height:16px; display:block;}
                .header > .navigation > .social-menu li > a .icon-english {margin-left:10px;}


/** Files list **/
.files-list > .item {border-bottom:1px dotted #d8dbdd; margin-bottom:20px; padding-bottom:20px; padding-left:40px; position:relative; min-height:38px;}
.files-list > .item:last-child {border-bottom:0 none; margin-bottom:0; padding-bottom:0;}
    .files-list > .item > .icon-file {position:absolute; left:0; top:0;}
    .files-list > .item > .title {font-size:14px; line-height:16px;}


/** Any items list **/
.text-block + .items-list {margin-top:20px;}
    .items-list > .item {margin-bottom:40px;}
    .items-list > .item:last-child {margin-bottom:0 !important;}
        .items-list > .item > .icon {float:left; margin-right:20px;}
        .items-list > .item > .icon-list {display:block; width:200px; height:150px;}
        .items-list > .item > .icon + .w {overflow:hidden;}
            .items-list > .item > .w > .headline {margin-bottom:5px;}
            .items-list > .item > .w > .title, .items-list > .item > .title {font-size:14px; line-height:16px; display:block;}
            .font-size-1 .items-list > .item > .w > .title, .font-size-1 .items-list > .item > .title {font-size:13px;}
            .font-size-3 .items-list > .item > .w > .title, .font-size-3 .items-list > .item > .title {font-size:15px;}
            .items-list > .item > .w > .title + .text-block {margin-top:12px;}

.items-list.mini > .item {margin-bottom:20px;}
.items-list.mini > .item:last-child {margin-bottom:0;}

.items-list.bordered > .item {padding-bottom:20px; margin-bottom:20px; border-bottom:1px dotted #d8dbdd;}
.items-list.bordered > .item:last-child {padding-bottom:0; margin-bottom:0; border-bottom:0 none;}

.items-list.bordered-solid > .item {padding-bottom:20px; margin-bottom:20px; border-bottom:1px solid #d8dbdd;}
.items-list.bordered-solid > .item:last-child {padding-bottom:0; margin-bottom:0; border-bottom:0 none;}

.items-list > .item.node-item {padding-bottom:16px; margin-bottom:16px;}
.items-list.mini > .item.node-item {padding-bottom:10px; margin-bottom:10px;}
.items-list > .item.node-item > .title {font-size:15px; font-family:'__PTSansBold'; line-height:1.2; text-transform:uppercase; position:relative; display:block; padding-left:14px;}
.font-size-1 .items-list > .item.node-item > .title {font-size:14px;}
.font-size-3 .items-list > .item.node-item > .title {font-size:16px;}
.items-list > .item.node-item > .title:before {content:''; display:block; width:5px; height:8px; background:url(../bundles/krdsite/i/sprite.png) -500px -800px no-repeat; position:absolute; left:0; top:5px;}

.items-list + .next-page {margin-top:20px;}
.items-list + .text-align-right {margin-top:20px;}

.items-list .items-list .page-title {font-size:18px; line-height:21px; text-align:left;}
.font-size-1 .items-list .items-list .page-title {font-size:16px;}
.font-size-3 .items-list .items-list .page-title {font-size:20px;}
.items-list .items-list .page-title:after {display:none;}


/** Any block items list **/
.items-block-list {margin-right:-30px;}
    .items-block-list > .item {float:left; width:300px; margin:30px 30px 0 0;}
        .items-block-list > .item > .icon {display:block; width:100%; height:225px;}
            .items-block-list > .item > .icon img {display:block; width:100%; height:100%;}
            .items-block-list > .item > .headline {margin-top:10px;}
        .items-block-list > .item > .title {font-size:14px; line-height:16px;}
        .font-size-1 .items-block-list > .item > .title {font-size:13px;}
        .font-size-3 .items-block-list > .item > .title {font-size:15px;}
        .items-block-list > .item > .text-block {font-size:13px; line-height:16px; color:#000;}
    .items-block-list > .item:nth-child(3n+1) {clear:left;}
    .items-block-list > .item:first-child, .items-block-list > .item:first-child + .item, .items-block-list > .item:first-child + .item + .item {margin-top:0;}

.items-block-list + .text-align-right {margin-top:20px;}


/** Bottom-social **/
.bottom-social {padding-top:17px; border-top:1px solid #d8dbdd; margin:17px 0 0;}
    .bottom-social > .page-title {float:left; margin-bottom:0;}
    .bottom-social > ul {float:left; margin:2px 0 0 0;}
        .bottom-social > ul > li {float:left; margin-left:20px; padding-left:20px; position:relative;}
        .bottom-social > ul > li:before {content:''; position:absolute; top:3px; left:0; width:0; height:16px; border-left:1px solid #d8dbdd; display:block;}
            .bottom-social > ul > li > a {font-size:13px; text-decoration:none;}
            .bottom-social > ul > li > a.active .ajax-link {color:#000; border-bottom:0 none;}
                .bottom-social > ul > li > a > *[class^="icon-"] {margin-right:10px;}
                .bottom-social > ul > li > a.active > *[class^="icon-"] {background-position:-1100px -800px;}

.bottom-social .widget {margin-top:20px; opacity:0;}
.bottom-social .widget.loaded {opacity:1;}
#facebook-widget {border:1px solid #d8dbdd;}


/** Footer **/
#page {margin-bottom:-140px;}
    #page > .page-wrap {padding-bottom:140px;}

.footer {width:1000px; margin:10px auto 0; padding-top:20px; padding-bottom:20px; border-top:1px solid #d8dbdd; font-size:12px; line-height:14px; color:#585858;}
    .footer .copyright {width:340px; float:left; margin:6px 43px 0 19px;}
        .footer .copyright .icon-logo {float:left; margin:0 8px 13px 0;}
    .footer .footer-menu {float:left; width:400px;}
        .footer .footer-menu ul > li {float:left; margin-right:25px;}
            .footer .footer-menu ul > li > a {display:block; font-size:12px; line-height:14px; width:153px; padding:6px 9px 7px; border-radius:2px;}
            .footer .footer-menu ul > li > a:after {content:''; display:inline-block; _overflow:hidden; *zoom:1; *display:inline; vertical-align:middle; margin-left:3px; width:4px; height:5px; background:url(../bundles/krdsite/i/sprite.png) -600px -200px no-repeat;}
            .footer .footer-menu ul > li > a:hover {background:#09689f; color:#fff;}
            .footer .footer-menu ul > li > a:hover:after {background-position:-500px -200px; width:5px; height:4px; margin-top:-1px;}
    .footer .very-good {float:right; margin:6px 63px 0 0;}
        .footer .very-good .icon-very-good {float:left; margin:3px 7px 0 0;}


/** Index city information **/
* + .city-information {margin-top:20px;}
    .city-information > .banner {float:left; width:715px; height:160px; margin:-10px 0 0 -5px;}
    .city-information > .city-and-numbers {float:right;}


/** City and numbers **/
.city-and-numbers {background:#083857; padding:17px 20px; width:190px; height:116px; color:#fff; position:relative;}
    .city-and-numbers > .title {font-size:18px; line-height:20px; text-transform:uppercase; font-family:'__PTSansBold'; white-space:nowrap;}
    .city-and-numbers > .count {color:#f4efe0; font-family:'__PTSansBold'; font-size:26px; line-height:28px; text-transform:uppercase; white-space:nowrap; margin-top:11px; letter-spacing:-0.04em;}
    .city-and-numbers > .text-block {opacity:0.7; font-size:12px; line-height:14px; color:#fff;}
    .city-and-numbers .text-align-right {margin:8px -8px 0 0;}
    .city-and-numbers .btn {position:absolute; right:10px; bottom:10px;}
    .city-and-numbers .btn:active {left:auto; top:auto; right:9px; bottom:9px;}
        .city-and-numbers .btn > i {margin-left:2px;}


/** Divide 50/50 **/
* + .divide-50 {margin-top:16px;}
.divide-50 {position:relative;}
.divide-50 > div:first-child {float:left; width:460px; margin-right:41px;}
.divide-50 > div:first-child:after {content:''; display:block; position:absolute; top:0; bottom:0; left:50%; border-right:1px solid #d8dbdd;}
.divide-50 > div:last-child {float:left; width:460px;}


/** Horizontal scroll **/
.horizontal-scroll {overflow:hidden; position:relative; height:23px;}
    .horizontal-scroll > .arrow {position:absolute; top:0; background:url(../bundles/krdsite/i/sprite.png) no-repeat; width:17px; height:23px; display:block; -webkit-transition:0.1s left linear; -moz-transition:0.1s left linear; -o-transition:0.1s left linear; -ms-transition:0.1s left linear; transition:0.1s left linear;}
    .horizontal-scroll > .arrow.left {left:0; background-position:-194px -292px;}
    .horizontal-scroll > .arrow.right {right:0; background-position:-94px -292px;}
    .horizontal-scroll > .horizontal-slider {position:absolute; top:8px; left:16px; right:17px;height:5px; background:#f5f5f5; border:1px solid #d8dbdd; border-radius:5px;}
        .horizontal-scroll > .horizontal-slider > a {display:block; width:23px; height:23px; background:url(../bundles/krdsite/i/sprite.png) -300px -300px no-repeat; position:absolute; margin:-9px 0 0 -11px; z-index:1;}

    .widgets-list-wrap .horizontal-scroll {margin:0 20px 15px;}
        .widgets-list-wrap .horizontal-scroll > .horizontal-slider {background:#fff; border-color:#d0cbbf; cursor:pointer;}

.horizontal-scroll + .hs-btn-all {margin-top:20px; text-align:center;}


/** Departament services **/
.dservice-list-wrap + .text-align-right {margin-top:20px;}
.dservice-list-wrap {overflow:hidden;}
.dservice-list {margin-right:0; position:relative;}
    .dservice-list > .item {margin-top:0; clear:none !important;}
    .dservice-list > .item:last-child {margin-right:0;}
        .dservice-list > .item .text-block {padding-left:15px; position:relative;}
        .dservice-list > .item .text-block:before {content:''; display:block; width:10px; height:10px; background:url(../bundles/krdsite/i/sprite.png) -900px -600px no-repeat; position:absolute; left:0; top:3px;}
.dservice-list + .horizontal-scroll {margin-top:15px;}


/** Departament suborganization **/
.suborg-list-wrap + .text-align-right {margin-top:20px;}
.suborg-list {margin-right:0;}
    .suborg-list > .item {margin-top:0;}
    .suborg-list > .item:last-child {margin-right:0;}
        .suborg-list > .item .title {padding-left:15px; position:relative; display:block; margin-bottom:4px;}
        .suborg-list > .item .title:before {content:''; display:block; width:10px; height:10px; background:url(../bundles/krdsite/i/sprite.png) -900px -600px no-repeat; position:absolute; left:0; top:3px;}

/** Departament`s vacancy list **/
.vacancy-mini-list > .item .title {overflow:hidden; font-size:13px; line-height:15px; margin-left:10px;}


/** Departament list **/
.departament-list {text-align:center;}
.departament-list > .item {display:inline-block; _overflow:hidden; *zoom:1; *display:inline; width:159px; margin-right:41px; vertical-align:top; margin-top:40px; position:relative;}
.departament-list > .item:after {content:''; display:block; position:absolute; top:-21px; left:0; right:0; height:0; border-top:1px solid #d8dbdd;}
.departament-list > .item:before {content:''; display:block; position:absolute; top:0; bottom:0; right:-21px; width:0; border-right:1px solid #d8dbdd;}
.departament-list > .item:first-child, .departament-list > .item:first-child + .item, .departament-list > .item:first-child + .item + .item, .departament-list > .item:first-child + .item + .item + .item, .departament-list > .item:first-child + .item + .item + .item + .item {margin-top:0;}
.departament-list > .item:first-child:after, .departament-list > .item:first-child + .item:after, .departament-list > .item:first-child + .item + .item:after, .departament-list > .item:first-child + .item + .item + .item:after, .departament-list > .item:first-child + .item + .item + .item + .item:after {display:none;}
.departament-list > .item:nth-child(5n) {margin-right:0;}
.departament-list > .item:nth-child(5n):before {display:none;}
.departament-list > .item:nth-child(5n+1) {clear:left;}
.departament-list > .item:last-child {margin-right:0;}
.departament-list > .item:last-child:before {display:none;}
    .departament-list > .item > a {display:block; text-decoration:none;}
    .departament-list > .item .icon {display:block; height:159px; white-space:nowrap;}
        .departament-list > .item .icon s {display:inline-block; _overflow:hidden; *zoom:1; *display:inline; width:0; height:159px; vertical-align:middle;}
        .departament-list > .item .icon i {vertical-align:middle;}
    .departament-list > .item .title {display:block; font-family:'__PTSansBold'; text-transform:uppercase; font-size:13px; line-height:15px;}
    .departament-list > .item a:hover .title {color:#083857;}


/** External links in footer **/
.external-links {background:#f5f5f5; border:1px solid #d8dbdd; padding:9px 19px; position:relative; margin:10px 0 -20px;}
.divide-50 + .external-links {margin-top:20px;}
    .external-links > .item {float:left; width:176px; height:46px; text-decoration:none; padding:18px 0; position:relative; margin-right:20px; margin-top:-1px;}
    .external-links > .item:nth-child(5n) {margin-right:0;}
    .external-links > .item:nth-child(5n+1) {clear:left;}
    .external-links > .item:after {position:absolute; left:0; right:0; top:0; border-bottom:1px solid #d8dbdd; display:block; content:'';}
    .external-links > .item:first-child:after, .external-links > .item:first-child + .item:after, .external-links > .item:first-child + .item + .item:after, .external-links > .item:first-child + .item + .item + .item:after, .external-links > .item:first-child + .item + .item + .item + .item:after {display:none;}
        .external-links > .item .title {font-size:11px; line-height:15px; color:#000; text-transform:uppercase; display:block; height:30px;}
            .external-links > .item .title img {float:left; margin:-1px 3px 0 0;}
        .external-links > .item .link {display:block; text-decoration:underline; font-size:11px; line-height:13px;}
    .external-links > .item:hover {background:#fcfcfc; margin-left:-10px; padding-left:10px; padding-right:10px; margin-right:10px;}
    .external-links > .item:nth-child(5n):hover {margin-right:-10px;}
    .external-links > .item:hover:after {position:absolute; top:0; left:0; right:0; bottom:0; border:1px solid #d8dbdd; display:block; content:'';}
