body {min-width:1000px;}
.page-wrap {width:1000px; margin:0 auto;}

a {color:#09689f;}
.ajax-link {text-decoration:none; border-bottom:1px dashed #09689f; display:inline;}
a:hover > .ajax-link, .ajax-link:hover {border-bottom:0 none; padding-bottom:1px;}


/** Header panel **/
.header-padding {height:49px;}
.header-panel {position:fixed; top:0; left:0; width:100%; z-index:10000; -webkit-transition:0.2s box-shadow linear; -moz-transition:0.2s box-shadow linear; -o-transition:0.2s box-shadow linear; -ms-transition:0.2s box-shadow linear; transition:0.2s box-shadow linear;}
.header-panel.shadow {box-shadow:0 2px 6px rgba(0,0,0,0.3);}
    .header-panel > .light {background:#0968a0; margin-bottom:-49px; -webkit-transition:0.2s margin-bottom linear; -moz-transition:0.2s margin-bottom linear; -o-transition:0.2s margin-bottom linear; -ms-transition:0.2s margin-bottom linear; transition:0.2s margin-bottom linear;}
    .header-panel > .dark {background:#083857; position:relative;}
    .header-panel.opened > .light {margin-bottom:0;}


/** Header panel search **/
.header-panel .search-form {padding:10px 0 10px 20px; width:917px; position:relative;}
    .header-panel .search-form label {float:left; color:#fff; font-family:'__PTSans'; text-transform:uppercase; font-size:13px; line-height:29px; margin-right:20px; width:106px;}
    .header-panel .search-form input {border:0 none; background:#fff; border-radius:2px; padding:6px 9px 7px; width:703px; font-size:14px; float:left;}
    .header-panel .search-form .submit-btn {float:left; margin-left:10px; height:29px; background:#083857; font-size:13px; line-height:29px; text-transform:uppercase; color:#fff; font-family:'__PTSans'; text-decoration:none; border-radius:2px; width:60px; text-align:center;}
    .header-panel .search-form .close-btn {position:absolute; display:block; width:63px; height:49px; top:0; right:-63px; background:url(../bundles/krdsite/i/sprite.png) -180px 13px no-repeat;}
    .header-panel .search-form .close-btn:hover {background-color:#0b7abb;}
.header-panel .top-menu > .search-btn {position:absolute; display:block; width:63px; height:49px; top:0; right:-63px; background:url(../bundles/krdsite/i/sprite.png) -280px 13px no-repeat;}
.header-panel.opened .top-menu > .search-btn {background-color:#0968a0;}
.header-panel .top-menu > .search-btn:hover {background-color:#0968a0;}
.header-panel.opened .top-menu > .search-btn:hover {background-color:#0b7abb;}


/** Header panel topmenu **/
.header-panel .top-menu {display:block; position:relative; width:937px;}
    .header-panel .top-menu .root-level {display:block;}
        .header-panel .top-menu .root-level > li {float:left; position:relative;}
        .header-panel .top-menu .root-level > li:after {content:''; position:absolute; top:23px; right:13px; display:block; width:8px; height:5px; background:url(../bundles/krdsite/i/sprite.png) -100px 0 no-repeat;}
            .header-panel .top-menu .root-level > li > a {font-size:13px; line-height:15px; text-transform:uppercase; color:#fff; font-family:'__PTSans'; display:block; padding:17px 29px 17px 20px; text-decoration:none; white-space:nowrap;}
            .header-panel .top-menu .root-level > li:hover > a, .header-panel .top-menu .root-level > li > a:hover {background:#09689f;}
    .header-panel .top-menu .sub-level {display:none; position:absolute; top:100%; left:0; background:#09689f; padding:20px; box-shadow:0 5px 4px rgba(0,0,0,0.3);}
        .header-panel .top-menu .sub-level > li {display:block;}
            .header-panel .top-menu .sub-level > li > a {font-size:14px; line-height:17px; color:#fff; text-decoration:none; display:block; position:relative; padding:5px 9px 6px 9px; border-bottom:1px dotted #3a89b5; width:200px;}
            .header-panel .top-menu .sub-level > li > a:after {content:''; display:inline-block; _overflow:hidden; *zoom:1; *display:inline; width:5px; height:8px; vertical-align:middle; background:url(../bundles/krdsite/i/sprite.png) 0 0 no-repeat; margin-left:9px;}
            .header-panel .top-menu .sub-level > li:last-child > a {border-bottom:0 none;}
            .header-panel .top-menu .sub-level > li > a:hover {background:#083857; margin-top:-1px; padding-top:6px; border-bottom:0 none; padding-bottom:7px; border-radius:2px;}
            .header-panel .top-menu .sub-level > li:last-child > a:hover {padding-bottom:6px;}


/** Page **/
#page {background:url(../bundles/krdsite/i/background.png) center top repeat-y;}
.page-content {padding:0 18px;}
    .page-content > .left-column {float:left; width:700px;}
    .page-content > .left-column + aside {float:left; margin-left:30px; width:234px;}


/** Header **/
.header {background:#f4f4f4; border:1px solid #d8dbdd; border-top:0 none; padding:20px 20px 22px 15px;}
    .header > .logo {float:left; text-decoration:none; width:450px; margin-top:2px;}
        .header > .logo > img {float:left; margin-right:17px;}
        .header > .logo > .gray {display:block; color:#888a8b; font-size:11px; line-height:13px; text-transform:uppercase; font-family:'__PTSans'; overflow:hidden; margin-top:6px;}
        .header > .logo > .title {display:block; color:#083857; font-size:18px; line-height:22px; text-transform:uppercase; font-family:'__PTSansBold'; overflow:hidden; margin-top:6px;}
    .header > .navigation {float:right; text-align:right; margin-top:-3px;}
        .header > .navigation > .user-menu {display:block; margin-right:-20px; white-space:nowrap;}
            .header > .navigation > .user-menu li {display:inline-block; _overflow:hidden; *zoom:1; *display:inline; text-align:center;}
                .header > .navigation > .user-menu li > a {font-size:11px; line-height:13px; display:block; padding:10px 21px 10px 19px; text-decoration:underline; position:relative;}
                .header > .navigation > .user-menu li > a:after {content:''; position:absolute; right:0; top:13px; display:block; width:0; height:41px; border-right:1px dotted #cccfd1;}
                .header > .navigation > .user-menu li > a:hover {background:#09689f; border-radius:2px; color:#fff; margin-left:-1px; padding-left:20px;}
                .header > .navigation > .user-menu li:last-child > a:after {display:none;}
                .header > .navigation > .user-menu li > a:hover:after {display:none;}

                .header > .navigation > .user-menu li > a *[class^="icon-"] {display:block; margin:3px auto 2px;}
                .header > .navigation > .user-menu li > a .icon-specialsite {margin-top:2px; margin-bottom:3px;}
                .header > .navigation > .user-menu li > a .icon-sitemap {margin-top:2px; margin-bottom:3px;}
        .header > .navigation > .social-menu {display:block; margin-top:7px; white-space:nowrap;}
            .header > .navigation > .social-menu li {display:inline-block; _overflow:hidden; *zoom:1; *display:inline; text-align:left; margin-left:10px;vertical-align:top;}
            .header > .navigation > .social-menu .sep {width:0; height:16px; border-right:1px dotted #cccfd1;}
                .header > .navigation > .social-menu li > a {font-size:11px; line-height:16px; display:block;}
                .header > .navigation > .social-menu li > a .icon-english {margin-left:10px;}


/** Breadcrumb **/
.breadcrumb {padding:13px 0 17px; border-bottom:1px solid #d8dbdd; margin-bottom:17px;}
    .breadcrumb > ul {}
        .breadcrumb > ul > li {font-size:12px; line-height:14px; display:inline-block; _overflow:hidden; *zoom:1; *display:inline; margin-right:7px;}
        .breadcrumb > ul > li:after {content:''; background:url(../bundles/krdsite/i/sprite.png) -700px -100px no-repeat; display:inline-block; _overflow:hidden; *zoom:1; *display:inline; width:4px; height:5px; vertical-align:middle; margin-left:7px;}
        .breadcrumb > ul > li:last-child {margin-right:0;}
        .breadcrumb > ul > li:last-child:after {display:none;}
            .breadcrumb > ul > li > a {font-size:12px; line-height:14px;}


/** Page title **/
.page-title {font-size:22px; line-height:25px; color:#083857; font-family:'__PTSansBold'; text-transform:uppercase; margin-bottom:15px;}
.page-title.d-line {padding-bottom:12px; margin-bottom:20px; border-bottom:1px solid #d8dbdd;}
.page-title:after {content:''; background:url(../bundles/krdsite/i/sprite.png) -800px -100px no-repeat; display:inline-block; _overflow:hidden; *zoom:1; *display:inline; width:12px; height:8px; vertical-align:middle; margin:-5px 0 0 11px;}


/** Content menu **/
.content-menu {padding:13px 19px 17px; background:#09689f; margin-bottom:23px;}
    .content-menu > ul {}
        .content-menu > ul > li {float:left;}
        .content-menu > ul > li:after {content:''; width:0; height:13px; display:inline-block; _overflow:hidden; *zoom:1; *display:inline; border-right:1px solid #2e7fad; margin:1px 18px 0; vertical-align:middle;}
        .content-menu > ul > li:last-child:after {display:none;}
        .content-menu > ul > li > a{color:#fff; font-size:13px; line-height:15px;}


/** Text block **/
.text-block {font-size:14px; line-height:17px; color:#000;}
    .text-block > p {padding-bottom:15px;}
    .text-block > p:last-child {padding-bottom:0;}


/** Any items list **/
.items-list {}
    .items-list > .item {margin-bottom:40px;}
    .items-list > .item:last-child {margin-bottom:0;}
        .items-list > .item > .icon {float:left; margin-right:20px;}
        .items-list > .item > .icon-list {display:block; width:200px; height:150px;}
        .items-list > .item > .icon + .w {overflow:hidden;}
            .items-list > .item > .w > .news-headline {margin-bottom:5px;}
            .items-list > .item > .w > .title {font-size:14px; line-height:16px; display:block;}
            .items-list > .item > .w > .title + .text-block {margin-top:12px;}

.items-list + .next-page {margin-top:20px;}


/** Bottom-social **/
.bottom-social {padding-top:17px; border-top:1px solid #d8dbdd; margin:17px 0 0;}
    .bottom-social > .page-title {float:left;}
    .bottom-social > ul {float:left; margin:2px 0 0 0;}
        .bottom-social > ul > li {float:left; margin-left:20px; padding-left:20px; position:relative;}
        .bottom-social > ul > li:before {content:''; position:absolute; top:2px; left:0; width:0; height:16px; border-left:1px solid #d8dbdd; display:block;}
            .bottom-social > ul > li > a {font-size:13px;}
                .bottom-social > ul > li > a > *[class^="icon-"] {margin-right:10px;}


/** Bottom menu **/
.bottom-menu {padding:0 10px;}
    .bottom-menu .root-level {float:left; width:20%;}
        .bottom-menu .root-level > li > a {font-size:11px; text-transform:uppercase; font-family:'__PTSans'; display:block; padding:10px 10px; position:relative; margin-bottom:10px; color:#083857;}
        .bottom-menu .root-level > li > a:before {content:''; position:absolute; bottom:0; left:10px; right:10px; height:0; border-bottom:1px solid #d8dbdd;}
        .bottom-menu .root-level > li > a:after {content:''; display:inline-block; _overflow:hidden; *zoom:1; *display:inline; vertical-align:middle; margin:-2px 0 0 7px; width:8px; height:5px; background:url(../bundles/krdsite/i/sprite.png) -900px -100px no-repeat;}
    .bottom-menu .sub-level > li {display:block;}
        .bottom-menu .sub-level > li > a {display:block; font-size:12px; line-height:14px; color:#585858; padding:6px 10px 7px; border-radius:2px; text-decoration:none;}
        .bottom-menu .sub-level > li > a:after {content:''; display:inline-block; _overflow:hidden; *zoom:1; *display:inline; vertical-align:middle; margin-left:5px; width:4px; height:5px; background:url(../bundles/krdsite/i/sprite.png) -600px -200px no-repeat;}
        .bottom-menu .sub-level > li > a:hover {background:#09689f; color:#fff;}
        .bottom-menu .sub-level > li > a:hover:after {background-position:-500px -200px; width:5px; height:4px; margin-top:-1px;}


/** Footer **/
#page {margin-bottom:-140px;}
    #page > .page-wrap {padding-bottom:140px;}

.footer {width:1000px; margin:10px auto 0; padding-top:20px; padding-bottom:20px; border-top:1px solid #d8dbdd; font-size:12px; line-height:14px; color:#585858;}
    .footer .copyright {width:340px; float:left; margin:6px 43px 0 19px;}
        .footer .copyright .icon-logo {float:left; margin:0 8px 13px 0;}
    .footer .footer-menu {float:left; width:400px;}
        .footer .footer-menu ul > li {float:left; margin-right:25px;}
            .footer .footer-menu ul > li > a {display:block; font-size:12px; line-height:14px; width:153px; padding:6px 9px 7px; border-radius:2px;}
            .footer .footer-menu ul > li > a:after {content:''; display:inline-block; _overflow:hidden; *zoom:1; *display:inline; vertical-align:middle; margin-left:3px; width:4px; height:5px; background:url(../bundles/krdsite/i/sprite.png) -600px -200px no-repeat;}
            .footer .footer-menu ul > li > a:hover {background:#09689f; color:#fff;}
            .footer .footer-menu ul > li > a:hover:after {background-position:-500px -200px; width:5px; height:4px; margin-top:-1px;}
    .footer .very-good {float:right; margin:6px 63px 0 0;}
        .footer .very-good .icon-very-good {float:left; margin:3px 7px 0 0;}



/** Icon slider **/
.icons-slider {width:400px; height:300px; position:relative;}
    .icons-slider > .item {position:absolute; top:0; left:0; width:100%; height:100%; overflow:hidden;}
        .icons-slider > .item > img {width:400px; height:300px; display:block;}
        .icons-slider > .type {position:absolute; left:0; top:0; display:block; width:32px; height:32px; z-index:1; text-align:center;}
        .icons-slider > .type:before {content:''; position:absolute; left:0; top:0; width:100%; height:100%; background:#a3aeb5; opacity:0.8;}
            .icons-slider > .type > i {position:relative;}
            .icons-slider > .type > .icon-photo {margin-top:5px;}
            .icons-slider > .type > .icon-video {margin-top:6px;}

        .icons-slider > .arrow {position:absolute; z-index:1; bottom:0; display:block; width:32px; height:32px; z-index:1; text-align:center; background:rgba(163, 174, 181, 0.8); cursor:pointer;}
        .icons-slider > .arrow > .icon-arrow-prev {margin-top:7px; display:none;}
        .icons-slider > .arrow > .icon-arrow-prev-mini {margin-top:6px;}
        .icons-slider > .arrow > .icon-arrow-next {margin-top:7px; display:none;}
        .icons-slider > .arrow > .icon-arrow-next-mini {margin-top:6px;}
        .icons-slider > .arrow:hover {background:rgba(163, 174, 181, 1); width:42px; height:42px;}
        .icons-slider > .arrow:hover > .icon-arrow-prev {display:inline-block; _overflow:hidden; *zoom:1; *display:inline;}
        .icons-slider > .arrow:hover > .icon-arrow-prev-mini {display:none;}
        .icons-slider > .arrow:hover > .icon-arrow-next {display:inline-block; _overflow:hidden; *zoom:1; *display:inline;}
        .icons-slider > .arrow:hover > .icon-arrow-next-mini {display:none;}
        .icons-slider > .arrow.prev {left:0;}
        .icons-slider > .arrow.next {right:0;}
        .icons-slider > .arrow.hidden {display:none;}


/** News headline **/
.news-headline {margin-bottom:3px;}
    .news-headline > .type {float:left; margin-right:1px; width:20px; height:20px; background:#09689f; text-align:center; line-height:19px; font-size:1px;}
    .news-headline > .date {float:left; margin-right:1px; background:#264c64; height:20px; padding:0 9px; color:#fff; font-size:11px; line-height:20px;}
    .news-headline > .theme {float:left; margin-right:1px; background:#f5f5f5; height:20px; padding:0 9px; color:#000; font-size:11px; line-height:20px;}


/** News slider - Icons **/
.news-slider > .icon {background:#f5f5f5; border:1px solid #d8dbdd; border-right:0 none; padding:10px; width:400px; height:300px; float:left; position:relative;}
    .news-slider > .icon > .icons-slider {position:absolute; left:10px; top:10px;}


/** News slider - Items **/
.news-slider > .items {float:left; padding:35px 0; width:542px; height:252px; position:relative; overflow:hidden;}
.news-slider > .items:before {content:''; position:absolute; left:0; top:0; height:100%; border-left:1px solid #d8dbdd; display:block;}
    .news-slider > .items > .wrap {overflow:hidden; position:relative;}
    .news-slider > .items .item {border:1px solid #fff; padding:20px 20px 19px; cursor:pointer; position:relative; margin-left:1px;}
    .news-slider > .items .item:not(:last-child):after {content:''; display:block; position:absolute; left:20px; right:0; bottom:0; border-bottom:1px dotted #d8dbdd;}
    .news-slider > .items .item.active {background:#f5f5f5; border-color:#d8dbdd; border-left:1px solid #f5f5f5; margin-left:-1px; margin-top:-2px; margin-bottom:-2px; padding-left:22px; padding-top:22px; padding-bottom:21px;}
    .news-slider > .items .item.active:first-child {margin-top:0; padding-top:20px;}
    .news-slider > .items .item.active:last-child {margin-bottom:0; padding-bottom:19px;}
        .news-slider > .items .item > .title {font-size:13px; line-height:15px;}
        .news-slider > .items .item:hover > .title {text-decoration:none;}
        .news-slider > .items .item.active > .title {font-weight:bold;}

.news-slider > .items > .btn-block {position:absolute; z-index:1; bottom:0; left:20px; right:0; -webkit-transition:0.2s bottom linear; -moz-transition:0.2s bottom linear; -o-transition:0.2s bottom linear; -ms-transition:0.2s bottom linear; transition:0.2s bottom linear;}
.news-slider > .items > .btn-block:active {bottom:0; top:auto; left:20px;}
.news-slider > .items > .btn-block.hidden {bottom:-35px;}

.news-slider > .items > .arrow {display:block; height:35px; position:absolute; left:1px; right:0; cursor:pointer; background:#fff; -webkit-transition:0.2s opacity linear; -moz-transition:0.2s opacity linear; -o-transition:0.2s opacity linear; -ms-transition:0.2s opacity linear; transition:0.2s opacity linear;}
.news-slider > .items > .arrow.hidden {opacity:0; cursor:default;}
.news-slider > .items > .arrow.top {top:0;}
.news-slider > .items > .arrow.bottom {bottom:0;}
    .news-slider > .items > .arrow > i {display:block; width:24px; height:14px; position:absolute; left:50%; margin:0 0 0 -12px; background:url(../bundles/krdsite/i/sprite.png) no-repeat;}
    .news-slider > .items > .arrow.top > i {background-position:-600px -300px; top:0;}
    .news-slider > .items > .arrow.bottom > i {background-position:-500px -400px; bottom:0;}


/** Documents menu **/
.documents-menu > ul {display:block;}
    .documents-menu > ul > li {float:left;}
        .documents-menu > ul > li > a {display:block; height:33px; background:#264c64; line-height:33px; padding:18px 30px 20px; font-size:15px; text-transform:uppercase; color:#fff; font-family:'__PTSans'; text-decoration:none; white-space:nowrap; text-shadow:-1px -1px 0 rgba(0,0,0,0.5);}
        .documents-menu > ul > li > a:hover {background: #0b82b7;
background: -moz-linear-gradient(top,  #0b82b7 0%, #09689f 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0b82b7), color-stop(100%,#09689f));
background: -webkit-linear-gradient(top,  #0b82b7 0%,#09689f 100%); background: -o-linear-gradient(top,  #0b82b7 0%,#09689f 100%); background: -ms-linear-gradient(top,  #0b82b7 0%,#09689f 100%); background: linear-gradient(to bottom,  #0b82b7 0%,#09689f 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b82b7', endColorstr='#09689f',GradientType=0 );}
        .documents-menu > ul > li:nth-child(1) > a {width:134px;}
        .documents-menu > ul > li:nth-child(2) > a {width:162px;}
        .documents-menu > ul > li:nth-child(3) > a {width:218px;}
        .documents-menu > ul > li:nth-child(4) > a {width:246px;}
            .documents-menu > ul > li > a > *[class^="icon-"] {margin-right:15px;}
        .documents-menu > ul > li > a.is-bold {font-size:18px; line-height:21px; font-family:'__PTSansBold'; height:42px; padding-top:14px; padding-bottom:15px; text-shadow:none;}


/** Index city information **/
* + .city-information {margin-top:20px;}
    .city-information > .banner {float:left; width:715px; height:160px; margin:-10px 0 0 -5px;}
    .city-information > .city-and-numbers {float:right;}


/** City and numbers **/
.city-and-numbers {background:#083857; padding:17px 20px; width:190px; height:116px; color:#fff;}
    .city-and-numbers > .title {font-size:18px; line-height:20px; text-transform:uppercase; font-family:'__PTSansBold'; white-space:nowrap;}
    .city-and-numbers > .count {color:#f4efe0; font-family:'__PTSansBold'; font-size:26px; line-height:28px; text-transform:uppercase; white-space:nowrap; margin-top:11px; letter-spacing:-0.04em;}
    .city-and-numbers > .text-block {opacity:0.7; font-size:12px; line-height:14px; color:#fff;}
    .city-and-numbers .text-align-right {margin:8px -8px 0 0;}
    .city-and-numbers .btn > i {margin-left:2px;}


/** Divide 50/50 **/
* + .divide-50 {margin-top:16px;}
.divide-50 {position:relative;}
.divide-50 > div:first-child {float:left; width:460px; margin-right:41px;}
.divide-50 > div:first-child:after {content:''; display:block; position:absolute; top:0; bottom:0; left:50%; border-right:1px solid #d8dbdd;}
.divide-50 > div:last-child {float:left; width:460px;}


/** Horizontal scroll **/
.horizontal-scroll {overflow:hidden; position:relative; height:23px;}
    .horizontal-scroll > .arrow {position:absolute; top:0; background:url(../bundles/krdsite/i/sprite.png) no-repeat; width:17px; height:23px; display:block; -webkit-transition:0.1s left linear; -moz-transition:0.1s left linear; -o-transition:0.1s left linear; -ms-transition:0.1s left linear; transition:0.1s left linear;}
    .horizontal-scroll > .arrow.left {left:0; background-position:-194px -292px;}
    .horizontal-scroll > .arrow.right {right:0; background-position:-94px -292px;}
    .horizontal-scroll > .horizontal-slider {position:absolute; top:8px; left:16px; right:17px;height:5px; background:#f5f5f5; border:1px solid #d8dbdd; border-radius:5px;}
        .horizontal-scroll > .horizontal-slider > a {display:block; width:23px; height:23px; background:url(../bundles/krdsite/i/sprite.png) -300px -300px no-repeat; position:absolute; margin:-9px 0 0 -11px;}

    .widgets-list-wrap .horizontal-scroll {margin:0 20px 15px;}
        .widgets-list-wrap .horizontal-scroll > .horizontal-slider {background:#fff; border-color:#d0cbbf; cursor:pointer;}

.horizontal-scroll + .hs-btn-all {margin-top:20px; text-align:center;}


/** Gallery - border on hover **/
.icon.boh {position:relative;}
.icon.boh:after {content:''; position:absolute; top:0; left:0; right:0; bottom:0; border:4px solid #09689f; opacity:0; -webkit-transition:0.2s opacity linear; -moz-transition:0.2s opacity linear; -o-transition:0.2s opacity linear; -ms-transition:0.2s opacity linear; transition:0.2s opacity linear;}
.icon.boh:before {content:''; position:absolute; top:4px; left:4px; right:4px; bottom:4px; border:1px solid #fff; opacity:0; -webkit-transition:0.2s opacity linear; -moz-transition:0.2s opacity linear; -o-transition:0.2s opacity linear; -ms-transition:0.2s opacity linear; transition:0.2s opacity linear;}
.icon.boh:hover:after, .icon.boh:hover:before {opacity:1;}
.icon.boh.active:after, .icon.boh.active:before {opacity:1;}
.active > .icon.boh:after, .active > .icon.boh:before {opacity:1;}


/** Gallery - Index **/
.gallery-index-detail > .title {font-size:13px; line-height:15px; display:block;}
.gallery-index-detail > * + .title {margin-top:4px;}
.gallery-index-detail .items-wrap {overflow:hidden;}
.gallery-index-detail * + .items-wrap {margin-top:20px;}
    .gallery-index-detail .items-wrap > .items-list {margin-bottom:10px; position:relative;}
        .gallery-index-detail .items-wrap > .items-list > .item {width:460px; height:345px; float:left; margin-bottom:0;}
            .gallery-index-detail .items-wrap > .items-list > .item > img {max-width:100%; display:block;}


/** Gallery - list **/
.gallery-list-wrap {overflow:hidden;}
.gallery-list {position:relative;}
.gallery-list + .horizontal-scroll {margin-top:10px;}
.gallery-list > .item {float:left; width:210px; margin-right:40px;}
.gallery-list > .item:last-child {margin-right:0;}
    .gallery-list > .item > .icon {display:block; height:160px;}
        .gallery-list > .item > .icon > img {max-width:100%;}
    .gallery-list > .item > .news-headline {margin-top:1px;}
    .gallery-list > .item > .title {display:block; margin-top:4px; font-size:13px; line-height:15px;}
    .gallery-list > .item.active > .title {font-weight:bold; color:#000; text-decoration:none; cursor:default;}

.gallery-list.ww-off > .item {margin-top:35px;}
.gallery-list.ww-off > .item:first-child {margin-top:0;}
.gallery-list.ww-off > .item:first-child + .item {margin-top:0;}
.gallery-list.ww-off > .item:first-child + .item + .item {margin-top:0;}
.gallery-list.ww-off > .item:first-child + .item + .item + .item {margin-top:0;}
.gallery-list.ww-off > .item:nth-child(4n) {margin-right:0;}
.gallery-list.ww-off > .item:nth-child(4n + 1) {clear:left;}


/** Gallery - detail **/
.gallery-slider .big-preview {height:480px; position:relative;}
    .gallery-slider .big-preview > .arrow {display:block; position:absolute; top:0; bottom:0; width:125px; cursor:pointer;}
        .gallery-slider .big-preview > .arrow > i {display:block; width:33px; height:62px; position:absolute; top:50%; left:50%; margin:-31px 0 0 -16px; background:url(../bundles/krdsite/i/sprite.png) no-repeat;}
    .gallery-slider .big-preview > .arrow.left {left:0;}
        .gallery-slider .big-preview > .arrow.left > i {background-position:0 -300px;}
        .gallery-slider .big-preview > .arrow.left:hover > i {background-position:-200px -400px;}
    .gallery-slider .big-preview > .arrow.right {right:0;}
        .gallery-slider .big-preview > .arrow.right > i {background-position:0 -400px;}
        .gallery-slider .big-preview > .arrow.right:hover > i {background-position:-100px -400px;}
    .gallery-slider .big-preview > .icon {display:block; width:640px; height:480px; margin:0 auto; position:relative; cursor:pointer;}
        .gallery-slider .big-preview > .icon > .title {position:absolute; left:0; right:0; bottom:0; padding:14px 20px 15px 20px; background:#000; background:rgba(0,0,0,0.6); color:#fff; font-size:14px; line-height:16px; -webkit-transition:0.2s background-color linear; -moz-transition:0.2s background-color linear; -o-transition:0.2s background-color linear; -ms-transition:0.2s background-color linear; transition:0.2s background-color linear;}
        .gallery-slider .big-preview > .icon:hover > .title {background:rgba(0,0,0,0.8);}
    .gallery-slider .big-preview > .loading {position:absolute; left:0; top:0; right:0; bottom:0; display:block; background:url(../bundles/krdsite/i/preloader-92.gif) center no-repeat;}

.gallery-slider .big-preview + .preview-list {margin-top:20px;}

.gallery-slider .preview-list {position:relative;}
    .gallery-slider .preview-list > .arrow {position:absolute; display:block; top:0; width:35px; height:98px; cursor:pointer; background:#fff;}
    .gallery-slider .preview-list > .arrow > i {display:block; width:14px; height:24px; position:absolute; top:50%; left:50%; margin:-12px 0 0 -7px; background:url(../bundles/krdsite/i/sprite.png) no-repeat;}
    .gallery-slider .preview-list > .arrow.left {left:0;}
        .gallery-slider .preview-list > .arrow.left > i {background-position:-200px -500px;}
        .gallery-slider .preview-list > .arrow.left:hover > i {background-position:0 -600px;}
    .gallery-slider .preview-list > .arrow.right {right:0;}
        .gallery-slider .preview-list > .arrow.right > i {background-position:-100px -500px;}
        .gallery-slider .preview-list > .arrow.right:hover > i {background-position:0 -500px;}

.gallery-slider .preview-list .items-list-wrap {overflow:hidden; padding:0 35px; position:relative;}
.gallery-slider .preview-list .items-list {position:relative;}
    .gallery-slider .preview-list .items-list > .item {float:left; margin-right:4px; margin-bottom:0; cursor:pointer;}
    .gallery-slider .preview-list .items-list > .item:last-child {margin-right:0;}
.gallery-slider .preview-list .horizontal-scroll {margin:12px -35px 0 -35px;}
