/** Dialog windows **/

.dialog {position:fixed; left:50%; top:50%; z-index:20010; background:#fff; min-width:400px; max-width:1000px; min-height:200px;}
.dialog:after {position:absolute; content:''; display:block; left:0; right:0; bottom:-15px; height:15px;}
    .dialog > .close-btn {position:absolute; right:20px; top:21px; cursor:pointer;}
    .dialog > .w {padding:16px 20px;}
    .dialog > .w > .page-title:first-child {padding-right:40px;}


.dialog.no-max-width {max-width:1500px}

.dialog-overlay {position:fixed; top:0; right:0; bottom:0; left:0; background:#000; opacity:0.5; z-index:20000;}
.dialog-overlay + .l {display:block; width:92px; height:92px; background:url(../bundles/krdsite/i/preloader-92.gif) center no-repeat; position:fixed; left:50%; top:50%; margin:-46px 0 0 -46px; opacity:1; z-index:20001;}
