/** Single calendar **/
.calendar-single {position:relative;}
    .calendar-single > .selectors {text-align:center; white-space:nowrap; margin-bottom:10px;}
        .calendar-single > .selectors > .select {display:inline-block; _overflow:hidden; *zoom:1; *display:inline; padding:7px 10px 7px 9px; border:1px solid #fff; border-bottom:0 none; color:#09689f; text-align:left; position:relative; cursor:pointer; z-index:1;}
        .calendar-single > .selectors > .select.hidden {display:none;}
        .calendar-single > .selectors > .select.disabled {color:#083857; cursor:default;}
        .calendar-single > .selectors > .select:after {content:''; position:absolute; left:0; bottom:-1px; right:0; background:#fff; display:block; height:1px;}
            .calendar-single > .selectors > .select:hover {border-color:#d8dbdd;}
            .calendar-single > .selectors > .select.disabled:hover {border-color:#fff;}
            .calendar-single > .selectors > .select > .value {font-family:'__PTSansBold'; font-size:18px; line-height:20px; text-transform:uppercase; position:relative; padding-right:16px;}
            .calendar-single > .selectors > .select > .value:after {content:''; display:block; width:9px; height:6px; background:url(../bundles/krdsite/i/sprite.png) -600px -600px; position:absolute; right:0; top:7px;}
            .calendar-single > .selectors > .select > .list {position:absolute; top:100%;
                right:-1px; padding:10px 10px; border:1px solid #d8dbdd; display:none; background:#fff;}
            .calendar-single > .selectors > .select:hover > .list {display:block;}
            .calendar-single > .selectors > .select.disabled:hover > .list {display:none;}
                .calendar-single > .selectors > .select > .list > .item {font-size:12px; line-height:14px; font-family:'__PTSansBold'; text-transform:uppercase; padding:7px 7px 7px 18px; border-bottom:1px dotted #d8dbdd; cursor:pointer; position:relative;}
                .calendar-single > .selectors > .select > .list > .item:before {content:''; display:block; width:3px; height:5px; background:url(../bundles/krdsite/i/sprite.png) -700px -600px no-repeat; position:absolute; left:9px; top:12px;}
                .calendar-single > .selectors > .select > .list > .item:last-child {border-bottom:0 none; margin-bottom:0 !important;}
                .calendar-single > .selectors > .select > .list > .item:hover {background:#09689f; color:#fff; border-bottom:0 none; margin-bottom:1px; margin-top:-1px; padding-top:8px;}
                .calendar-single > .selectors > .select > .list > .item:hover:before {background-position:-800px -600px; width:5px; height:3px; top:14px;}

.calendar-single + .btn-group {margin-top:20px;}


/** Calendar **/
.calendar > table {width:100%; border-collapse:collapse;}
    .calendar > table td {width:1%; border:1px solid #d8dbdd; font-size:11px; color:#000; text-align:center; height:31px; vertical-align:middle; padding:0;}
        .calendar > table td > a {display:block; height:100%; line-height:31px;}
        .calendar > table td > .calendar-cell {display:block; height:100%; line-height:31px; position:relative; background:#09689f; color:#fff;}
            .calendar > table td > .calendar-cell > .comment {display:none; position:absolute; left:0; top:0; height:100%; line-height:31px; white-space:nowrap; background:#09689f; color:#fff; padding:0 7px; z-index:1;}
            .calendar > table td > .calendar-cell:hover > .comment {display:block;}
    .calendar > table td.link:hover {background:#09689f; color:#fff;}
        .calendar > table td.link:hover > * {color:#fff; text-decoration:none;}
    .calendar > table td.comment {background:#09689f; color:#fff;}
    .calendar > table td.inactive {color:#a3a3a3; border-color:#fff; background:#fff; cursor:default;}
    .calendar > table tr:first-child > td.inactive {border-bottom:1px solid #d8dbdd;}
    .calendar > table tr:first-child > td.lastinactive {border-right:1px solid #d8dbdd;}
    .calendar > table td.now {background:#f5efe1 !important; cursor:default !important;}
        .calendar > table td.now > a {color:#000; text-decoration:none;}
