/** Buttons **/
.btn {color:#fff; font-size:12px; line-height:28px; text-align:center; text-transform:uppercase; font-family:'__PTSans';  padding:0 10px; text-decoration:none; display:inline-block; _overflow:hidden; *zoom:1; *display:inline; height:28px; cursor:pointer; border-radius:2px; position:relative;}
.btn:not(.disabled):active {top:1px; left:1px;}
.btn-icon {padding:0 5px 0 5px;}
.btn-block {display:block; text-align:center;}
.btn > .icon-refresh {margin-top:-2px;}

.btn-blue {color:#fff; background:#0b81b6; background:-moz-linear-gradient(top,  #0b81b6 0%, #09689f 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#0b81b6), color-stop(100%,#09689f)); background:-webkit-linear-gradient(top,  #0b81b6 0%,#09689f 100%); background:-o-linear-gradient(top,  #0b81b6 0%,#09689f 100%); background:-ms-linear-gradient(top,  #0b81b6 0%,#09689f 100%); background:linear-gradient(to bottom,  #0b81b6 0%,#09689f 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b81b6', endColorstr='#09689f',GradientType=0);}
.btn-blue:hover {background:#09689f; background:-moz-linear-gradient(top,  #09689f 0%, #0b81b6 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#09689f), color-stop(100%,#0b81b6)); background:-webkit-linear-gradient(top,  #09689f 0%,#0b81b6 100%); background:-o-linear-gradient(top,  #09689f 0%,#0b81b6 100%); background:-ms-linear-gradient(top,  #09689f 0%,#0b81b6 100%); background:linear-gradient(to bottom,  #09689f 0%,#0b81b6 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#09689f', endColorstr='#0b81b6',GradientType=0);}

.btn-deep-blue {color:#fff; background:#0a456c; background:-moz-linear-gradient(top,  #0a456c 0%, #083857 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#0a456c), color-stop(100%,#083857)); background:-webkit-linear-gradient(top,  #0a456c 0%,#083857 100%); background:-o-linear-gradient(top,  #0a456c 0%,#083857 100%); background:-ms-linear-gradient(top,  #0a456c 0%,#083857 100%); background:linear-gradient(to bottom,  #0a456c 0%,#083857 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a456c', endColorstr='#083857',GradientType=0);}
.btn-deep-blue:hover {background:#083857; background:-moz-linear-gradient(top,  #083857 0%, #0a456c 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#083857), color-stop(100%,#0a456c)); background:-webkit-linear-gradient(top,  #083857 0%,#0a456c 100%); background:-o-linear-gradient(top,  #083857 0%,#0a456c 100%); background:-ms-linear-gradient(top,  #083857 0%,#0a456c 100%); background:linear-gradient(to bottom,  #083857 0%,#0a456c 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#083857', endColorstr='#0a456c',GradientType=0);}

.btn.disabled {background:#939393; color:#888; cursor:default;}
