/** Index widgets **/
.widgets-list-wrap {background:#f4efe0; overflow:hidden;}
    .widgets-list > .item {float:left; padding:17px 20px 65px; width:210px; position:relative;}
    .widgets-list > .item:after {content:''; position:absolute; top:20px; bottom:20px; right:0; width:0; border-right:1px solid #c3bfb3;}
    .widgets-list > .item:last-child:after {display:none;}
        .widgets-list > .item > .title {font-size:18px; color:#54524c; line-height:20px; text-transform:uppercase; font-family:'__PTSansBold'; position:relative; padding-left:30px; margin-bottom:16px;}
            .widgets-list > .item > .title > i {position:absolute; left:0; top:50%; margin-top:-12px;}
        .widgets-list > .item > .btn-group {position:absolute; bottom:20px; left:0; right:0; text-align:center;}
        .widgets-list > .item > .btn-group > .btn {margin-right:1px;}
        .widgets-list > .item > .btn-group > .btn:last-child {margin-right:0;}


/** Widget`s items **/
.widgets-list .items-list .item {padding-bottom:19px; margin-bottom:20px; border-bottom:1px dotted #c3bfb3;}
.widgets-list .items-list .item:last-child {padding-bottom:0; margin-bottom:0; border-bottom:0 none;}
    .widgets-list .items-list .item > .date {display:inline-block; _overflow:hidden; *zoom:1; *display:inline; background:#264c64; height:20px; padding:0 9px; color:#fff; font-size:11px; line-height:20px;}
    .widgets-list .items-list .item > * + .date {margin-top:10px;}
    .widgets-list .items-list .item > .title {display:block; font-size:13px; line-height:16px;}
    .widgets-list .items-list .item > * + .title {margin-top:4px;}
    .widgets-list .items-list .item > .text-block {color:#54524c; font-size:12px; line-height:14px;}


/** Reporter widget **/
.widget-reporter > .title {white-space:nowrap;}
.widget-reporter .w > .icon {display:block; height:156px;}
    .widget-reporter .w > .icon > img {max-width:100%;}
.widget-reporter .w > .date {display:inline-block; _overflow:hidden; *zoom:1; *display:inline; background:#264c64; height:20px; padding:0 9px; color:#fff; font-size:11px; line-height:20px;}
.widget-reporter .w > * + .date {margin-top:10px;}
.widget-reporter .w > .title {display:block; font-size:13px; line-height:15px;}
.widget-reporter .w > * + .title {margin-top:5px;}


/** New information widget **/
.widget-new-information > .title {white-space:nowrap; padding-left:20px !important;}


/** Polls widget **/
.widget-polls > .title {margin-bottom:11px;}
.widget-polls .question {font-size:13px; font-weight:bold; line-height:1.2; margin-bottom:17px;}
.widget-polls .list > .item {display:block; cursor:pointer; margin-bottom:10px; color:#54524c; font-size:13px; line-height:1.2; opacity:1; -webkit-transition:0.3s opacity linear; -moz-transition:0.3s opacity linear; -o-transition:0.3s opacity linear; -ms-transition:0.3s opacity linear; transition:0.3s opacity linear;}
.widget-polls .list.results > .item {cursor:default;}
    .widget-polls .list.results > .item b {color:#000;}
.widget-polls .list > .item.loading {opacity:0.6;}
    .widget-polls .list > .item input {vertical-align:top; margin-right:7px;}
