/** RSS list **/
.rss-list > .item > .title {float:left; padding-left:0 !important; margin-top:2px;}
.rss-list > .item > .title:before {display:none !important;}
.rss-list > .item > .buttons {float:right;}
    .rss-list > .item > .buttons > * {display:inline-block; _overflow:hidden; *zoom:1; *display:inline; margin-left:20px; vertical-align:top;}
    .rss-list > .item > .buttons > .google {margin-top:2px;}
    .rss-list > .item > .buttons > .rss {margin-top:2px;}
