/** Breadcrumb **/
.breadcrumb {padding:13px 0 17px; border-bottom:1px solid #d8dbdd; margin-bottom:17px;}
    .breadcrumb > ul {}
        .breadcrumb > ul > li {font-size:12px; line-height:14px; display:inline-block; _overflow:hidden; *zoom:1; *display:inline; margin-right:7px;}
        .breadcrumb > ul > li:after {content:''; background:url(../bundles/krdsite/i/sprite.png) -700px -100px no-repeat; display:inline-block; _overflow:hidden; *zoom:1; *display:inline; width:4px; height:5px; vertical-align:middle; margin-left:7px;}
        .breadcrumb > ul > li:last-child {margin-right:0;}
        .breadcrumb > ul > li:last-child:after {display:none;}
            .breadcrumb > ul > li > a {font-size:12px; line-height:14px;}
