/** Gallery - border on hover **/
.icon.boh {position:relative;}
.icon.boh:after {content:''; position:absolute; top:0; left:0; right:0; bottom:0; border:4px solid #09689f; opacity:0; -webkit-transition:0.2s opacity linear; -moz-transition:0.2s opacity linear; -o-transition:0.2s opacity linear; -ms-transition:0.2s opacity linear; transition:0.2s opacity linear;}
.icon.boh:before {content:''; position:absolute; top:4px; left:4px; right:4px; bottom:4px; border:1px solid #fff; opacity:0; -webkit-transition:0.2s opacity linear; -moz-transition:0.2s opacity linear; -o-transition:0.2s opacity linear; -ms-transition:0.2s opacity linear; transition:0.2s opacity linear;}
.icon.boh:hover:after, .icon.boh:hover:before {opacity:1;}
.icon.boh.active:after, .icon.boh.active:before {opacity:1;}
.active > .icon.boh:after, .active > .icon.boh:before {opacity:1;}


/** Gallery - Index **/
.gallery-index-detail {position:relative;}
    .gallery-index-detail > .btn {position:absolute; top:0; right:0;}
    .gallery-index-detail > .btn:active {position:absolute; top:1px; right:-1px; left:auto;}
    .gallery-index-detail > .title {font-size:13px; line-height:15px; display:block; width:75%;}
    .gallery-index-detail > * + .title {margin-top:4px;}
    .gallery-index-detail .items-wrap {overflow:hidden;}
    .gallery-index-detail * + .items-wrap {margin-top:20px;}
        .gallery-index-detail .items-wrap > .items-list {margin-bottom:10px; position:relative;}
            .gallery-index-detail .items-wrap > .items-list > .item {width:460px; height:345px; float:left; margin-bottom:0;}
                .gallery-index-detail .items-wrap > .items-list > .item > img {max-width:100%; display:block;}


/** Gallery - list **/
.gallery-list-wrap {overflow:hidden;}
.gallery-list {position:relative;}
.gallery-list + .horizontal-scroll {margin-top:10px;}
.gallery-list > .item {float:left; width:210px; margin-right:40px;}
.gallery-list > .item:last-child {margin-right:0;}
    .gallery-list > .item > .icon {display:block; height:160px;}
        .gallery-list > .item > .icon > img {max-width:100%;}
    .gallery-list > .item > .headline {margin-top:1px;}
    .gallery-list > .item > .title {display:block; margin-top:4px; font-size:13px; line-height:15px;}
    .gallery-list > .item.active > .title {font-weight:bold; color:#000; text-decoration:none; cursor:default;}

.gallery-list.ww-off > .item {margin-top:35px;}
.gallery-list.ww-off > .item:first-child {margin-top:0;}
.gallery-list.ww-off > .item:first-child + .item {margin-top:0;}
.gallery-list.ww-off > .item:first-child + .item + .item {margin-top:0;}
.gallery-list.ww-off > .item:first-child + .item + .item + .item {margin-top:0;}
.gallery-list.ww-off > .item:nth-child(4n) {margin-right:0;}
.gallery-list.ww-off > .item:nth-child(4n + 1) {clear:left;}


/** Gallery - detail **/
.gallery-slider + .page-title {margin-top:30px;}
.gallery-slider .big-preview {height:480px; position:relative;}
    .gallery-slider .big-preview > .arrow {display:block; position:absolute; top:0; bottom:0; width:125px; cursor:pointer;}
        .gallery-slider .big-preview > .arrow > i {display:block; width:33px; height:62px; position:absolute; top:50%; left:50%; margin:-31px 0 0 -16px; background:url(/bundles/krdsite/i/sprite.png) no-repeat; opacity:1; -webkit-transition:0.2s opacity linear; -moz-transition:0.2s opacity linear; -o-transition:0.2s opacity linear; -ms-transition:0.2s opacity linear; transition:0.2s opacity linear;}
    .gallery-slider .big-preview > .arrow.left {left:0;}
        .gallery-slider .big-preview > .arrow.left > i {background-position:0 -300px;}
        .gallery-slider .big-preview > .arrow.left:hover > i {background-position:-200px -400px;}
        .gallery-slider .big-preview.noprev > .arrow.left {opacity:0; cursor:default;}
    .gallery-slider .big-preview > .arrow.right {right:0;}
        .gallery-slider .big-preview > .arrow.right > i {background-position:0 -400px;}
        .gallery-slider .big-preview > .arrow.right:hover > i {background-position:-100px -400px;}
        .gallery-slider .big-preview.nonext > .arrow.right {opacity:0; cursor:default;}
    .gallery-slider .big-preview > .icon {display:block; width:640px; height:480px; margin:0 auto; position:relative; cursor:pointer; overflow:hidden;}
        .gallery-slider .big-preview > .icon > img {width:100%; opacity:1; -webkit-transition:0.2s opacity linear; -moz-transition:0.2s opacity linear; -o-transition:0.2s opacity linear; -ms-transition:0.2s opacity linear; transition:0.2s opacity linear;}
        .gallery-slider .big-preview > .icon.busy > img {opacity:0.3;}
        .gallery-slider .big-preview > .icon > .title {position:absolute; left:0; right:0; bottom:0; padding:14px 20px 15px 20px; background:#000; background:rgba(0,0,0,0.6); color:#fff; font-size:14px; line-height:16px; -webkit-transition:0.2s background-color linear; -moz-transition:0.2s background-color linear; -o-transition:0.2s background-color linear; -ms-transition:0.2s background-color linear; transition:0.2s background-color linear;}
        .gallery-slider .big-preview > .icon:hover > .title {background:rgba(0,0,0,0.8);}
        .gallery-slider .big-preview > .icon > .loading {position:absolute; left:0; top:0; right:0; bottom:0; display:block; background:url(/bundles/krdsite/i/preloader-92.gif) center no-repeat; background-color:#fff; background-color:rgba(255,255,255, 0.85); opacity:0; -webkit-transition:0.2s opacity linear; -moz-transition:0.2s opacity linear; -o-transition:0.2s opacity linear; -ms-transition:0.2s opacity linear; transition:0.2s opacity linear;}
        .gallery-slider .big-preview > .icon.busy > .loading {opacity:1;}

.gallery-slider .big-preview + .preview-list {margin-top:20px;}

.gallery-slider .preview-list {position:relative;}
    .gallery-slider .preview-list > .arrow {position:absolute; display:block; top:0; width:35px; height:98px; cursor:pointer; background:#fff;}
    .gallery-slider .preview-list > .arrow > i {display:block; width:14px; height:24px; position:absolute; top:50%; left:50%; margin:-12px 0 0 -7px; background:url(/bundles/krdsite/i/sprite.png) no-repeat; opacity:1; -webkit-transition:0.2s opacity linear; -moz-transition:0.2s opacity linear; -o-transition:0.2s opacity linear; -ms-transition:0.2s opacity linear; transition:0.2s opacity linear;}
    .gallery-slider .preview-list > .arrow.left {left:0;}
        .gallery-slider .preview-list > .arrow.left > i {background-position:-200px -500px;}
        .gallery-slider .preview-list > .arrow.left:hover > i {background-position:0 -600px;}
        .gallery-slider .preview-list.noprev > .arrow.left {cursor:default;}
            .gallery-slider .preview-list.noprev > .arrow.left > i {opacity:0;}
    .gallery-slider .preview-list > .arrow.right {right:0;}
        .gallery-slider .preview-list > .arrow.right > i {background-position:-100px -500px;}
        .gallery-slider .preview-list > .arrow.right:hover > i {background-position:0 -500px;}
        .gallery-slider .preview-list.nonext > .arrow.right {cursor:default;}
            .gallery-slider .preview-list.nonext > .arrow.right > i {opacity:0;}

.gallery-slider .preview-list .items-list-wrap {overflow:hidden; padding:0 35px; position:relative;}
.gallery-slider .preview-list .items-list {position:relative;}
    .gallery-slider .preview-list .items-list > .item {float:left; margin-right:4px; margin-bottom:0; cursor:pointer;}
    .gallery-slider .preview-list .items-list > .item:last-child {margin-right:0;}
.gallery-slider .preview-list .horizontal-scroll {margin:12px -35px 0 -35px;}
