.ng-table th{text-align:left;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.ng-table th.sortable{cursor:pointer}
.ng-table th.sortable div{padding-right:18px;position:relative}
.ng-table th.sortable div:after{content:"";border-width:0 4px 4px;border-style:solid;border-color:#000 transparent;visibility:hidden;right:8px;top:50%;position:absolute;margin-top:-2px}
.ng-table th.sortable div:hover:after{visibility:visible}
.ng-table th.sortable.sort-desc,.ng-table th.sortable.sort-asc{background-color:rgba(141,192,219,.25);text-shadow:0 1px 1px rgba(255,255,255,.75)}
.ng-table th.sortable.sort-asc div:after,.ng-table th.sortable.sort-asc div:hover:after{visibility:visible;filter:alpha(opacity=60);-khtml-opacity:.6;-moz-opacity:.6;opacity:.6}
.ng-table th.sortable.sort-desc div:after{border-bottom:0;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #000;visibility:visible;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;filter:alpha(opacity=60);-khtml-opacity:.6;-moz-opacity:.6;opacity:.6}
.ng-table th.filter .input-filter{margin:0;display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.ng-table+.pagination{margin-top:0}

header.navbar-inverse .navbar-inner {border-radius:0;}

a {cursor:pointer;}
a.btn:hover {text-decoration:none !important;}

/** Иконки помощи **/
.icon-question-sign {cursor:help;}
.add-on .tooltip {text-shadow:none; white-space:normal;}

/** Дерево структуры **/
.ztree .popover {width:auto;}
.ztree li > .icon {cursor:pointer; opacity:0.7; margin-left:1px; -webkit-transition:0.2s opacity linear; -moz-transition:0.2s opacity linear; -o-transition:0.2s opacity linear; -ms-transition:0.2s opacity linear; transition:0.2s opacity linear;}
.ztree li > .icon:hover {opacity:1;}

/** Формочки в поповерахъ **/
.popover .form-actions {border-radius:0 0 5px 5px; text-align:right; padding:9px 25px 10px 10px;}
.popover .popover-inner .form-actions {margin:7px -15px -30px -15px;}
.popover-title {font-weight:bold;}

/** Формы структуры **/
.form-structure-edit {width:450px;}
	.form-structure-edit .span3 {padding-top:5px;}
	.form-structure-edit .span8, .form-structure-edit .span9 {margin-left:0;}
	.form-structure-edit .select2-container, .form-structure-edit .input-append {margin-bottom:10px;}

/** Сайдбар **/
aside .well > header {background:#eee; border-bottom:1px solid #e5e5e5; font-weight:bold; font-size:110%; color:#9da0a4;}
aside .well.well-small > header {margin:-9px -9px 10px -9px; padding:9px;}

/** Индикация загрузки списка **/
.loading-container {position:relative;}
    .loading-container > .preloader {position:absolute; left:0; top:0; width:100%; height:100%; background:url(../i/preloader.gif) center no-repeat rgba(255,255,255,0.5); min-height:40px; min-width:40px;}

/** Списки сущностей **/
.entity-list > .btn-group {margin-bottom:10px;}
.entity-list .pagination {margin-top:0;}


/** Pagination from bootstrap 3.0 **/
.pagination {
  display: inline-block;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > .active > a,
.pagination > .active > span {
  background-color: #f5f5f5;
}

.pagination > .active > a,
.pagination > .active > span {
  color: #999999;
  cursor: default;
}

.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  cursor: default;
  background-color: #ffffff;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-left-width: 1px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination-large > li > a,
.pagination-large > li > span {
  padding: 14px 16px;
  font-size: 18px;
}

.pagination-large > li:first-child > a,
.pagination-large > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.pagination-large > li:last-child > a,
.pagination-large > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.pagination-small > li > a,
.pagination-small > li > span {
  padding: 5px 10px;
  font-size: 12px;
}

.pagination-small > li:first-child > a,
.pagination-small > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination-small > li:last-child > a,
.pagination-small > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
