@font-face {
    font-family:'__PTSans';
    src: url('../bundles/krdsite/css/fonts/ptsans-regular.eot');
    src: url('../bundles/krdsite/css/fonts/ptsans-regular.eot?#iefix') format('embedded-opentype'),
         url('../bundles/krdsite/css/fonts/ptsans-regular.woff') format('woff'),
         url('../bundles/krdsite/css/fonts/ptsans-regular.ttf') format('truetype'),
         url('../bundles/krdsite/css/fonts/ptsans-regular.svg#PlumbBold') format('svg');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'__PTSansBold';
    src: url('../bundles/krdsite/css/fonts/ptsans-bold.eot');
    src: url('../bundles/krdsite/css/fonts/ptsans-bold.eot?#iefix') format('embedded-opentype'),
         url('../bundles/krdsite/css/fonts/ptsans-bold.woff') format('woff'),
         url('../bundles/krdsite/css/fonts/ptsans-bold.ttf') format('truetype'),
         url('../bundles/krdsite/css/fonts/ptsans-bold.svg#PlumbBold') format('svg');
    font-weight:normal;
    font-style:normal;
}


/** Chrome **/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:'__PTSans';
        src: url('../bundles/krdsite/css/fonts/ptsans-regular.svg#PlumbBold') format('svg');
        font-weight:normal;
        font-style:normal;
    }

    @font-face {
        font-family:'__PTSansBold';
        src: url('../bundles/krdsite/css/fonts/ptsans-bold.svg#PlumbBold') format('svg');
        font-weight:normal;
        font-style:normal;
    }
}

/** Opera **/
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:'__PTSans';
        src: url('../bundles/krdsite/css/fonts/ptsans-regular.eot');
        src: url('../bundles/krdsite/css/fonts/ptsans-regular.eot?#iefix') format('embedded-opentype'),
             url('../bundles/krdsite/css/fonts/ptsans-regular.woff') format('woff'),
             url('../bundles/krdsite/css/fonts/ptsans-regular.ttf') format('truetype'),
             url('../bundles/krdsite/css/fonts/ptsans-regular.svg#PlumbBold') format('svg');
        font-weight:normal;
        font-style:normal;
    }

    @font-face {
        font-family:'__PTSansBold';
        src: url('../bundles/krdsite/css/fonts/ptsans-bold.eot');
        src: url('../bundles/krdsite/css/fonts/ptsans-bold.eot?#iefix') format('embedded-opentype'),
             url('../bundles/krdsite/css/fonts/ptsans-bold.woff') format('woff'),
             url('../bundles/krdsite/css/fonts/ptsans-bold.ttf') format('truetype'),
             url('../bundles/krdsite/css/fonts/ptsans-bold.svg#PlumbBold') format('svg');
        font-weight:normal;
        font-style:normal;
    }
}
