.mfc-map-scroller { width:100%; height:540px; position:relative; overflow:hidden; background:#afafaf; }
.mfc-map { position:relative; width:1366px; height:1466px; top:-500px; left:-400px; background:url('/bundles/krdmfc/i/tile2.png'); zoom:1;  }
.mfc-map-features { position:absolute; z-index:10; left:4px; top:363px; width:1304px; height:812px; }

.mfc-map2 { position:relative; width:1043px; height:802px; top:0; left:0; background:url('/bundles/krdmfc/i/tile2.2.png'); zoom:1;  }
.mfc-map2-features { position:absolute; z-index:10; left:11px; top:6px; width:1032px; height:789px; }

.mfc-map3 { position:relative; width:948px; height:540px; top:0; left:0; background:url('/bundles/krdmfc/i/tile3.png'); zoom:1;  }
.mfc-map3-features { position:absolute; z-index:10; left:96px; top:-15px; width:1032px; height:789px; }

.mfc-map4 { position:relative; width:948px; height:590px; top:0; left:0; background:url('/bundles/krdmfc/i/tile4.png'); zoom:1;  }
.mfc-map4-features { position:absolute; z-index:10; left:10px; top:8px; width:1024px; height:768px; }

.mfc-map5 { position:relative; width:948px; height:540px; top:0; left:0; background:url('/bundles/krdmfc/i/tile5.png'); zoom:1;  }
.mfc-map5-features { position:absolute; z-index:10; left:82px; top:6px; width:750px; height:521px; }

.mfc-map6 { position:relative; width:950px; height:638px; top:0; left:0; background:url('/bundles/krdmfc/i/tile6.png'); zoom:1;  }
.mfc-map6-features { position:absolute; z-index:10; left:83px; top:17px; width:830px; height:598px; }

.mfc-map7 { position:relative; width:948px; height:616px; top:0; left:0; background:url('/bundles/krdmfc/i/tile7.png'); zoom:1;  }
.mfc-map7-features { position:absolute; z-index:10; left:256px; top:55px; width:612px; height:505px; }

.mfc-map-mt, .mfc-map-mb, .mfc-map-ml, .mfc-map-mr { position:absolute; z-index:20; width:25px; height:25px; background:url('/bundles/krdmfc/i/nav.png'); cursor:pointer; }
.mfc-map-mt, .mfc-map-mb { left:50%; margin-left:-12px; }
.mfc-map-ml, .mfc-map-mr { top:50%; margin-top:-12px; }
.mfc-map-mt { top:10px; background-position:-25px -25px; }
.mfc-map-mb { bottom:10px; background-position:-25px 0; }
.mfc-map-ml { left:10px; }
.mfc-map-mr { right:10px; background-position:0 -25px; }

.mfc-address-item { float:left; width:320px; margin:0 10px 10px 0; }

.mfc-block, .mfc-block-fullscreen { border:1px solid #ccc; background:#ededed; padding:9px 9px; -moz-user-select:none; -webkit-user-select:none; }
.mfc-block-fullscreen { position:fixed; z-index:10001; top:0; left:0; right:0; bottom:0; padding:60px 9px 38px; margin:0; }
.mfc-block h2, .mfc-block-fullscreen h2 { position:relative; padding-right:100px; margin-bottom:10px; //zoom:1; }
.mfc-block-fullscreen h2 { height:40px; margin-top:-50px; }

.mfc-infobox {position:absolute;display:none; z-index:1000; background:#fff; padding:1px; margin:-20px 0 0 10px;}
.mfc-infobox-content { position:relative; background:#fff; padding:4px 10px 6px; white-space:nowrap; font-size:11px; }
.mfc-infobox-content b { position:absolute; z-index:1; top:50%; left:0; display:block; width:5px; height:7px; margin:-3px 0 0 -5px; background:url('/bundles/krdmfc/i/infobox-cs.png'); font-size:0; }

.rvml { zoom:1 }

.mfc-lists {  }
.mfc-lists li { float:left; width:312px; }

.mfc-expand, .mfc-collapse { position:absolute; z-index:1; top:0; right:0; }
