/** Header panel search **/
.header-panel .search-form {padding:10px 0 10px 20px; width:917px; position:relative;}
    .header-panel .search-form label {float:left; color:#fff; font-family:'__PTSans'; text-transform:uppercase; font-size:13px; line-height:29px; margin-right:20px; width:106px; white-space:nowrap;}
    .header-panel .search-form input {border:0 none; background:#fff; border-radius:2px; padding:6px 9px 7px; width:703px; font-size:14px; float:left;}
    .header-panel .search-form .submit-btn {float:left; margin-left:10px; height:29px; background:#083857; font-size:13px; line-height:29px; text-transform:uppercase; color:#fff; font-family:'__PTSans'; text-decoration:none; border-radius:2px; width:60px; text-align:center;}
    .header-panel .search-form .close-btn {position:absolute; display:block; width:63px; height:49px; top:0; right:-63px; background:url(/bundles/krdsite/i/sprite.png) -180px 13px no-repeat; cursor:pointer;}
    .header-panel .search-form .close-btn:hover {background-color:#0b7abb;}
.header-panel .top-menu > .search-btn {position:absolute; display:block; width:63px; height:49px; top:0; right:-63px; background:url(/bundles/krdsite/i/sprite.png) -280px 13px no-repeat; cursor:pointer;}
.header-panel.opened .top-menu > .search-btn {background-color:#0968a0;}
.header-panel .top-menu > .search-btn:hover {background-color:#0968a0;}
.header-panel.opened .top-menu > .search-btn:hover {background-color:#0b7abb;}

/** Search results **/
.search-results > .item > .number {float:left; color:#fff; font-size:11px; line-height:20px; height:20px; padding:0 4px; margin-right:10px; background:#264c64; min-width:12px; text-align:center;}
.search-results > .item > .title {overflow:hidden; line-height:20px !important;}
.search-results > .item > .text-block {margin-top:13px;}
    .search-results > .item > .text-block .img-left {margin-bottom:0;}
.search-results > .item > .bc {margin-top:13px;}
    .search-results > .item > .bc > .item {color:#083857; font-size:12px; line-height:14px;}
    .search-results > .item > .bc > .d {color:#bcbfc1; font-size:12px; line-height:14px; display:inline-block; _overflow:hidden; *zoom:1; *display:inline; padding:0 4px;}

/** Search aside **/
aside .block.search-sorting ul {display:block;}
    aside .block.search-sorting ul li {display:block; border:1px solid #d8dbdd; padding:5px 10px; margin-bottom:10px;}
    aside .block.search-sorting ul li:last-child {margin-bottom:0;}
        aside .block.search-sorting ul li a {font-size:14px; line-height:16px;}
        aside .block.search-sorting ul li.active a {color:#000; font-weight:bold; text-decoration:none; cursor:default;}

/** Aside search form **/
.search-date-form {margin-bottom:0 !important; padding-bottom:0 !important; border-bottom:0 none !important;}
.search-date-form .x1 .label {width:18px !important; margin:0 7px 0 0; float:left;}
.search-date-form .x1 .label + input[type="text"] {width:200px !important; float:left;}
