{# Тема для форм для ангуляровкой админки #}

{% block form_start %}
{% spaceless %}
    {% set method = method|upper %}
    {% if method in ["GET", "POST"] %}
        {% set form_method = method %}
    {% else %}
        {% set form_method = "POST" %}
    {% endif %}

    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-horizontal')|trim}) %}

    <form method="{{ form_method|lower }}" ng-submit="submit()" entity-form="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {% if form_method != method %}
        <input type="hidden" name="_method" value="{{ method }}" />
    {% endif %}
{% endspaceless %}
{% endblock form_start %}


{% block form_row %}
{% spaceless %}
    {% if prototype is defined and (not attr['data-prototype'] is defined) %}
        {% set attr = attr|merge({'data-prototype': form_widget(prototype) }) %}
    {% endif %}

    {% if not form.parent is empty %}
    <div class="control-group"{% for n, v in attr %} {{ n }}="{{ v }}"{% endfor %}>
        {{ form_label(form) }}
        {{ form_errors(form) }}

        <div class="controls">
    {% endif %}
            {{ form_widget(form) }}

    {% if not form.parent is empty %}
        </div>
    </div>
    {% endif %}
{% endspaceless %}
{% endblock form_row %}


{% block collection_widget %}
{% spaceless %}
    {% for child in form %}
        {{ form_widget(child) }}
    {% endfor %}
{% endspaceless %}
{% endblock collection_widget %}

{% block map_point_widget %}
{% spaceless %}
    <div yandex-map-point="{{ full_name }}" data="{{ value|serialize }}"{% if allow_add_polygon %} allow-add-polygon{% endif %}></div>
{% endspaceless %}
{% endblock map_point_widget %}

{% block text_collection_widget %}
{% spaceless %}
    <div class="collection-list clearfix">
        {% for child in form %}
            <div class="item clearfix">{{ form_widget(child) }}</div>
        {% endfor %}
    </div>

    {% if allow_add %}
        <div class="btn btn-mini btn-add"><i class="icon-plus"></i> Добавить</div>
    {% endif %}
{% endspaceless %}
{% endblock text_collection_widget %}

{% block worktime_collection_widget %}
{% spaceless %}
    <div class="collection-list worktime-collection clearfix">
        {% for child in form %}
            <div class="item clearfix">{{ form_widget(child) }}</div>
        {% endfor %}
    </div>

    {% if allow_add %}
        <div class="btn btn-mini btn-add"><i class="icon-plus"></i> Добавить рабочий день</div>&nbsp;&nbsp;<div class="btn btn-mini" tooltip="Добавляйте только рабочее время. Если нужно добавить перерыв создайте два одинаковых дня с разным временем."><i class="icon-question-sign"></i></div>
    {% endif %}
{% endspaceless %}
{% endblock worktime_collection_widget %}


{% block form_label %}
{% spaceless %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label')|trim}) %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}

            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}

        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}

        {% if not label is empty %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {{ label|trans({}, translation_domain)|raw }}
            </label>
        {% endif %}
    {% endif %}
{% endspaceless %}
{% endblock form_label %}


{% block form_widget_simple %}
{% spaceless %}
    {% set type = attr.type|default(type|default('text')) %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' input-xxlarge')|trim}) %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endspaceless %}
{% endblock form_widget_simple %}


{% block choice_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' input-xxlarge')|trim}) %}

    {% if expanded %}
        {{ block('choice_widget_expanded') }}
    {% else %}
        {{ block('choice_widget_collapsed') }}
    {% endif %}
{% endspaceless %}
{% endblock choice_widget %}


{% block choice_widget_collapsed %}
{% spaceless %}
    <select selectpicker data-selected-text-format="count>3" {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if empty_value is not none %}
            <option {% if required %} disabled="disabled"{% if value is empty %} selected="selected"{% endif %}{% else %} value=""{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('choice_widget_options') }}
            {% if choices|length > 0 and separator is not none %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {{ block('choice_widget_options') }}
    </select>
{% endspaceless %}
{% endblock choice_widget_collapsed %}


{% block button_row %}
{% spaceless %}
    <div class="form-actions">
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock button_row %}


{% block submit_widget %}
{% spaceless %}
    {% set type = type|default('submit') %}

    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn-primary')|trim}) %}

    {{ block('button_widget') }}
{% endspaceless %}
{% endblock submit_widget %}


{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}

    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn')|trim}) %}

    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
{% endspaceless %}
{% endblock button_widget %}


{% block files_widget %}
{% spaceless %}
    <files-list url="{{ path(route_name) }}" name="{{ full_name|replace({'[]': ''}) }}" files="{{ files }}" widget="{{ widget }}" {% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}></files-list>
{% endspaceless %}
{% endblock files_widget %}
