{# Отчет о переносе в архив МСП #}

{% extends 'KrdSiteBundle:Email:default.html.twig' %}

{% block email %}
    <p>Указанные ниже записи реестра МСП были перенесены в архив по истечении 3-х летнего периода:</p>

    <p>
        {% for item in archive %}
            <b>{{ item.recNum }}</b> от {{ item.dateInc.format('d.m.Y') }}, {{ item.llcTitle }}<br/>
        {% endfor %}
    </p>
{% endblock %}