{# Сообщение об ошибке на сайте #}

{% extends 'KrdSiteBundle:Email:default.html.twig' %}

{% block email %}
    <h2>{% trans %}Сообщение принято{% endtrans %}</h2>

    <p>
        Здравствуйте, Ваше сообщение об ошибке успешно принято к рассмотрению!
    </p>

    <p>Указанная вами информация:</p>
    <p>
        {% trans %}Контактная информация{% endtrans %}: <b>{{ feedback.getName() }}</b>
    </p>
    <p>
        {% trans %}E-mail{% endtrans %}: <b>{{ feedback.getEmail() }}</b>
    </p>

    <p>
        {% trans %}URL{% endtrans %}: <a href="{{ feedback.getUrl() }}"><b>{{ feedback.getUrl() }}</b></a>
    </p>

    <p>
        {% trans %}Характер ошибки{% endtrans %}: <b>{{ feedback.getError() }}</b>
    </p>

    <p>
        {% trans %}Сообщение{% endtrans %}: <b>{{ feedback.getMessage() }}</b>
    </p>

    <p>
        {% trans %}Дата/время сообщения{% endtrans %}: <b>{{ feedback.getCreated()|krd_date_format(true) }}</b>
    </p>

{% endblock %}