{# Подробная страница парка #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    <section class="page-content">
        {% include "KrdSiteBundle::blocks/breadcrumb.html.twig" %}

        <div class="headline is-empty has-share-panel clearfix">
            {% include "KrdSiteBundle:blocks:headline-share.html.twig" with {nosubscribe:true} %}
        </div>

        {% include "KrdSiteBundle:blocks:share-panel-float.html.twig" with {nosubscribe:true} %}

        {{ appContainer.get('krd.city.modules.park').renderDetailContent()|raw }}

        {% if currentNode.isCommentable() %}
            {{ krd_comments() }}
        {% endif %}
    </section>

    {% include "KrdSiteBundle::blocks/social-bottom.html.twig" %}
    {% include "KrdSiteBundle::blocks/footer-banners.html.twig" %}
    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}
