{# Письмо о новом обращении через интернет приемную для администратора #}

{% extends 'KrdSiteBundle:Email:default.html.twig' %}

{% block email %}
    <p>
        {% trans %}Откуда поступило{% endtrans %}: <b>{{ appeal.getGotFrom() }}</b>
    </p>
    <p>
        {% trans %}Адресат обращения{% endtrans %}: <b>{{ appeal.getDestination().getTitle() }}</b>
    </p>

    <p>
        {% trans %}ФИО{% endtrans %}: <b>{{ appeal.getFullName() }}</b>
    </p>

    <p>
        {% trans %}Телефон{% endtrans %}: <b>{{ appeal.getPhone() }}</b>
    </p>

    <p>
        E-mail: <b>{{ appeal.getEmail() }}</b>
    </p>

    <p>
        {% trans %}Адрес{% endtrans %}: <b>{{ appeal.getAddress() }}</b>
    </p>

    <p>
        {% trans %}Сообщение{% endtrans %}: <b>{{ appeal.getMessage()|raw }}</b>
    </p>

    <p>
        {% trans %}Дата/время вопроса{% endtrans %}: <b>{{ appeal.getDate()|krd_date_format(true) }}</b>
    </p>

    <p>
        {% trans %}Направить ответ{% endtrans %}: <b>{{ appeal.getReplyType() }}</b>
    </p>

    <p>
        {% trans %}Прикрепленные файлы{% endtrans %}: <div>{{ filesMsg|raw }}</div>
    </p>

    <p>
        <a href="{{ app.request.getScheme() }}://{{ app.request.getHost() }}/{{ appContainer.getParameter('cms_prefix') }}/struct{{ appeal.getParent().getUrl(false) }}#!/appeal/edit/{{ appeal.getId() }}">Перейти в панель управления</a>
    </p>
{% endblock %}
