{# Виджет для личного кабинета #}

<div class="lk-widget-reporter">
    <a href="{{ item.url }}" target="_blank" class="image">
        <img src="{{ item.image }}" alt="{{ item.title }}">
        <span class="date">{{ item.date|date('d.m.Y (H:i)') }}</span>
    </a>
    <a href="{{ item.url }}" target="_blank" class="title">{{ item.title }}</a>
</div>

<a href="{{ appContainer.getParameter('reporter.url') }}" class="btn btn-blue left-button" target="_blank">Посетить сайт</a>
<a href="{{ appContainer.getParameter('reporter.url') }}/личный_кабинет/" class="btn btn-blue right-button" target="_blank">{% trans %}Личный кабинет{% endtrans %}</a>
