{# Страница списка событий (новости) #}

{% extends "KrdGlavaBundle::layout.html.twig" %}


{% block layout_content %}
	<div class="page-container clearfix">
		{{ appContainer.get('krd.glava.modules.speech').renderDetailContent()|raw }}
		<div class="buttons">
			<a href="{{ currentNode.getUrl() }}" class="btn btn-blue">{% trans %}Вернуться к списку{% endtrans %}</a>
		</div>
	</div>
{% endblock %}