{# Уведомление пользователя о том, что его вопрос получен #}

{% extends 'KrdSiteBundle:Email:default.html.twig' %}

{% block email %}
    <p>
        {% trans %}Здравствуйте{% endtrans %}, <b>{{ who.getFullName() }}</b>!
    </p>

    <p>
        {% trans %}Ваше обращение в службу технической поддержки сайта krd.ru получено.{% endtrans %}
    </p>

    <p>
        {% trans %}Наши специалисты сделают все возможное для решения Вашего вопроса.{% endtrans %}
    </p>

    <p>
        {% trans %}Ответ на обращение вы получите на указанный при регистрации адрес электронной почты. Также ответ будет доступен в разделе «Мои вопросы» в личном кабинете.{% endtrans %}
    </p>

    <p>
        {% trans %}С уважением{% endtrans %},
        {% trans %}Служба поддержки пользователей krd.ru{% endtrans %}
    </p>
{% endblock %}
