{# Письмо о новом сообщении в сапорт #}

{% extends 'KrdSiteBundle:Email:default.html.twig' %}

{% block email %}
    <p>
        {% trans %}Автор сообщения{% endtrans %}: <b>{{ message.getCreatedBy().getFullName() }}</b>
    </p>

    <p>
        {% trans %}Тема{% endtrans %}: <b>{{ message.getRootMessage().getTheme() }}</b>
    </p>

    <p>
        {% trans %}Заголовок{% endtrans %}: <b>{{ message.getRootMessage().getTitle() }}</b>
    </p>

    <p>
        {% trans %}Сообщение{% endtrans %}: <b>{{ message.getContent()|nl2br|raw }}</b>
    </p>

    <p>
        <a href="{{ app.request.getScheme() }}://{{ app.request.getHost() }}{{ message.getUrl() }}">Перейти к сообщению</a>
    </p>
{% endblock %}
