{# Письмо о новом сообщении в сапорт пользователю #}

{% extends 'KrdSiteBundle:Email:default.html.twig' %}

{% block email %}
    <p>
        {% trans %}Здравствуйте{% endtrans %}, <b>{{ who.getFullName() }}</b>!
    </p>
    <p>
        {% trans %}Сотрудник техподдержки ответил на ваш вопрос.{% endtrans %}
    </p>
    <p>
        {% trans %}Тема{% endtrans %}: <b>{{ message.getRootMessage().getTheme() }}</b>
    </p>

    <p>
        {% trans %}Заголовок{% endtrans %}: <b>{{ message.getRootMessage().getTitle() }}</b>
    </p>

    <p>
        {% trans %}Сообщение{% endtrans %}: <b>{{ message.getContent()|nl2br|raw }}</b>
    </p>

    <p>
        <a href="{{ app.request.getScheme() }}://{{ app.request.getHost() }}{{ message.getUrl() }}">Перейти к сообщению</a>
    </p>

    <p>
        {% trans %}С уважением{% endtrans %},
        {% trans %}Служба поддержки пользователей krd.ru{% endtrans %}
    </p>
{% endblock %}
