{# Страница с информацией об обращении #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    <section class="page-content">
        {% include "KrdSiteBundle::blocks/breadcrumb.html.twig" %}

        <div class="page-title">{% trans %}Ваше обращение{% endtrans %}</div>

        <div class="text-block">
            <p><b>{% trans %}Дата обращения{% endtrans %}:</b> {{ appeal.getDate()|krd_date_format(true) }}</p>
            <p><b>{% trans %}Адресат обращения{% endtrans %}:</b> {{ appeal.getDestination().getTitle() }}</p>
            <p><b>{% trans %}Сообщение{% endtrans %}:</b><br />{{ appeal.getMessage() }}</p>
        </div>
    </section>

    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}
