{# Страница списка событий (новости) #}

{% extends "KrdGlavaBundle::layout.html.twig" %}


{% block layout_content %}
	<div class="page-container clearfix">
		<div class="left-column">
			<div class="page-title d-line">Прямая речь</div>
			
		
		    {# Выводим модули страницы #}
		    {% for module in currentNode.getController().getModules() %}
		        {{ appContainer.get(module).renderContent()|raw }}
		    {% endfor %}
		</div>
		
		<aside>
			{{ appContainer.get('krd.glava.modules.speech').renderAsideCalendar()|raw }}
			
			<a href="#" class="date-range-btn" dialog-show="{{ path('ajax_glava_speech_range', {parent:currentNode.getId(),date_begin:app.request.get('date_begin'),date_end:app.request.get('date_end')}) }}" ><i></i><span>Выбрать период</span></a>
		</aside>
	</div>
{% endblock %}