{# Блок карты сайта #}

<article class="item">
    <a href="{{ section.getUrl(true) }}" class="title invert">{{ section.getFrontendTitle() }}</a>

    {% if not section.getMenuChildren() is empty %}
        <div class="text-block">
            <ul class="bordered">
                {% for item in section.getMenuChildren() %}
                    <li>
                        <a href="{{ item.getUrl(true) }}">{{ item.getFrontendTitle() }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</article>
