{# Карта сайта #}

<section class="sitemap clearfix">
    <div class="l">
        {% if menu_0 %}
            {% include itemTemplate with {section:menu_0} %}
        {% endif %}

        {% if menu_1 %}
            {% include itemTemplate with {section:menu_1} %}
        {% endif %}
    </div>
    <div class="r">
        {% if menu_2 %}
            {% include itemTemplate with {section:menu_2} %}
        {% endif %}

        {% if menu_3 %}
            {% include itemTemplate with {section:menu_3} %}
        {% endif %}

        {% if menu_4 %}
            {% include itemTemplate with {section:menu_4} %}
        {% endif %}
    </div>
</section>
