{# Подтверждение подписки на рассылку #}

<p>
    Вы подписались на новости сайта {{ appConfig.getTitle() }}.
</p>

<p>
    Для активации подписки перейдите по ссылке:<br />
    <a href="{{ url('krd_subscribe_confirm', {id:subscriber.getId(), key:subscriber.getConfirmKey()}) }}">{{ url('krd_subscribe_confirm', {id:subscriber.getId(), key:subscriber.getConfirmKey()}) }}</a>
</p>
