{# Подтверждение подписки на рассылку экстренных новостей #}

<p>
    Вы подписались на экстренные новости сайта {{ appConfig.getTitle() }}.
</p>

<p>
    Для активации подписки перейдите по ссылке:<br />
    <a href="{{ url('krd_e_subscribe_confirm', {id:subscriber.getId(), key:subscriber.getConfirmKey()}) }}">{{ url('krd_e_subscribe_confirm', {id:subscriber.getId(), key:subscriber.getConfirmKey()}) }}</a>
</p>
