{# Пиьсьмо для рассылки экстренных новостей #}

<table cellpadding="0" cellspacing="0" style="width:100%; min-width:600px; font-family:'Trebuchet MS'; font-size:14px;">
    <tr>
        <th valign="middle" align="left"
            style="color:#fff;font-size:24px;padding:10px 30px;height:94px;background-color:#083857;">
            {{ appConfig.getTitle() }}
        </th>
    </tr>

    <tr>
        <td style="padding:10px 20px 30px 20px">
            <h2 style="color:#084278; font-size:20px; text-transform:uppercase; padding:10px; border:1px solid #ccc; background-color:#dfdfdf;">
                Срочные сообщения</h2>
            {% for item in news %}
                <span style="font-size:10px">{{ item.getDate()|krd_date_format(true) }}</span><br>
                <a href="{{ appContainer.getParameter('krd.url') }}{{ item.getParent().getUrl() }}"
                   style="color:#09689f; font-size:18px; display:block; margin-bottom:5px"
                   target="_blank"><b>{{ item.getTitle() }}</b></a>
                <p>{{ item.getMessage() }}</p>

                {% if not loop.last %}
                    <div style="min-height:1px;font-size:0;line-height:1px;border-bottom:1px dotted #c4c4bb;margin:20px 0"></div>
                {% endif %}
            {% endfor %}
        </td>
    </tr>

    <tr>
        <td style="background-color:#0f4d87;height:40px;color:#fff;font-size:18px;padding:16px 20px">
            <table border="0" cellpadding="0" cellspacing="0" style="float:right">
                <tr>
                    <td valign="middle" align="center" colspan="3">
                        <h4 style="font-size:13px;margin:5px 0; color:#fff;">читайте нас в социальных сетях</h4>
                    </td>
                </tr>

                <tr>
                    <td style="padding:0 5px" align="center">
                        {% if appConfig.hasTwitter() %}
                            <a href="{{ appConfig.getTwitter() }}" target="_blank">
                                <img src="{{ appContainer.getParameter('krd.url') }}/bundles/krdsubscribe/i/twitter.png"
                                     alt="twitter" width="45" height="45">
                            </a>
                        {% endif %}
                    </td>

                    <td style="padding:0" align="center">
                        {% if appConfig.hasFacebook() %}
                            <a href="{{ appConfig.getFacebook() }}" target="_blank">
                                <img src="{{ appContainer.getParameter('krd.url') }}/bundles/krdsubscribe/i/facebook.png"
                                     alt="facebook" width="45" height="45">
                            </a>
                        {% endif %}
                    </td>

                    <td style="padding:0 5px" align="center">
                        {% if appConfig.hasVkcom() %}
                            <a href="{{ appConfig.getVkcom() }}" target="_blank">
                                <img src="{{ appContainer.getParameter('krd.url') }}/bundles/krdsubscribe/i/vkcom.png"
                                     alt="vkontakte" width="45" height="45">
                            </a>
                        {% endif %}
                    </td>
                </tr>
            </table>

            {{ appConfig.getTitle() }}

            <br><br>

            <span style="font-size:14px">Вы можете отписаться от рассылки через форму подписки на сайте <a
                        style="color:#f5f10a" href="{{ appContainer.getParameter('krd.url') }}"
                        target="_blank">{{ appContainer.getParameter('krd.domain') }}</a></span>
        </td>
    </tr>
</table>
