{# Подтверждение подписки на рассылку репортера #}

<p>
    Вы подписались на новые публикации сайта Городской репортер.
</p>

<p>
    Для активации подписки перейдите по ссылке:<br />
    <a href="{{ url('krd_r_subscribe_confirm', {id:r_subscriber.getId(), key:r_subscriber.getConfirmKey()}) }}">{{ url('krd_r_subscribe_confirm', {id:r_subscriber.getId(), key:r_subscriber.getConfirmKey()}) }}</a>
</p>
