{# Контентная страница. Заголовок отделен линией #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    <section class="page-content">
        {% include "KrdSiteBundle::blocks/breadcrumb.html.twig" %}

        <div class="headline is-empty has-share-panel clearfix">
            {% include "KrdSiteBundle:blocks:headline-share.html.twig" with {nosubscribe:true} %}
        </div>
        {% include "KrdSiteBundle:blocks:share-panel-float.html.twig" with {nosubscribe:true} %}
        <div class="page-title d-line">{{ currentNode.getFrontendTitle() }}</div>

        {% if currentNode.getController().getId() != 18 %}
            {{ appContainer.get('krd.site.modules.content').renderIncontentMenu()|raw }}
            {{ appContainer.get('krd.site.modules.content').renderContentTopMenu()|raw }}
        {% endif %}

        {% if isUnderPassword %}
            <div class="text-block">
                <p>Cтраница в стадии разработки</p>
                <p>&nbsp;</p>
            </div>
            <form action="{{ app.request.getPathInfo() }}" method="post" enctype="multipart/form-data" class="stylized no-bottom-border" style="margin:75px auto; width:350px;">
                <input type="text" name="just_password" placeholder="Пароль для доступа к странице" class="stylized" style="width:250px;">
                <button type="submit" class="btn btn-blue">Отправить</button>
            </form>
        {% else %}
            {# Выводим модули страницы #}
            {% for module in currentNode.getController().getModules() %}
                {{ appContainer.get(module).renderContent()|raw }}
            {% endfor %}
        {% endif %}

        {{ appContainer.get('krd.site.modules.content').renderContentBottomMenu()|raw }}

        {% if not isUnderPassword and currentNode.isCommentable() %}
            {{ krd_comments() }}
        {% endif %}
    </section>

    {% include "KrdSiteBundle::blocks/social-bottom.html.twig" %}
    {% include "KrdSiteBundle::blocks/footer-banners.html.twig" %}
    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}
