{# Админская часть модуля Краснодар и цифры #}

<h3>Краснодар и цифры</h3>

<tabs>
    <pane heading="Список" url="/citynum/">
        <div entity-list="{{ path('cms_rest_krd_site_citynum') }}:id?parent={{ currentNode.getId() }}" url="/citynum/" columns="{id:{title:'#'}, title:{title:'Заголовок'}, subtitle:{title:'Подзаголовок'}}" btn-add="Добавить" count="10" disable-move></div>
    </pane>

    <ghostpane heading="Добавление" url="/citynum/create/" parent="0" template="{{ path('cms_rest_krd_site_citynum_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Ред. #{id}" url="/citynum/edit/{id}" parent="0" template="{{ path('cms_rest_krd_site_citynum_form_add') }}{id}"></ghostpane>
</tabs>
