{# Админская часть модуля Контент #}

<h3>Контент</h3>

<tabs>
    <pane heading="Список контента" url="/content/">
        <div entity-list="{{ path('cms_rest_content') }}:id?parent={{ currentNode.getId() }}" url="/content/" columns="{id:{title:'#'}, title:{title:'Заголовок'}, name:{title:'Системное имя'}, created:{title:'Создано'}, updated:{title:'Изменено'}, hidedate:{title:'Не выводить дату размещения', isBoolean:true}}" btn-add="Добавить контент" count="10"></div>
    </pane>

    <ghostpane heading="Новый контент" url="/content/create/" parent="0" template="{{ path('cms_rest_content_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Ред. контента #{id}" url="/content/edit/{id}" parent="0" template="{{ path('cms_rest_content_form_add') }}{id}"></ghostpane>
</tabs>
