{# Админская часть модуля Предоставляемые услуги (Департамент) #}

<h3>Предоставляемые услуги</h3>

<tabs>
    <pane heading="Список" url="/dservice/">
        <div sortable entity-list="{{ path('cms_rest_krd_dservice') }}:id?parent={{ currentNode.getId() }}" url="/dservice/" columns="{id:{title:'#'}, title:{title:'Название'}, active:{title:'Активность', isBoolean:true}}" btn-add="Добавить услугу" count="10"></div>
    </pane>

    <ghostpane heading="Новая услуга" url="/dservice/create/" parent="0" template="{{ path('cms_rest_krd_dservice_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Ред. услуги #{id}" url="/dservice/edit/{id}" parent="0" template="{{ path('cms_rest_krd_dservice_form_add') }}{id}"></ghostpane>
</tabs>
