{# Админская часть модуля FAQ #}

<h3>FAQ</h3>

<tabs>
    <pane heading="Список" url="/faq/">
        <div entity-list="{{ path('cms_rest_krd_faq') }}:id?parent={{ currentNode.getId() }}" url="/faq/" columns="{id:{title:'#'}, title:{title:'Вопрос'}, active:{title:'Активность', isBoolean:true}}" btn-add="Добавить вопрос" count="10"></div>
    </pane>

    <ghostpane heading="Создание вопроса" url="/faq/create/" parent="0" template="{{ path('cms_rest_krd_faq_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Ред. вопроса #{id}" url="/faq/edit/{id}" parent="0" template="{{ path('cms_rest_krd_faq_form_add') }}{id}"></ghostpane>
</tabs>
