{# Админская часть модуля Ссылки #}

<h3>Ссылки</h3>

<tabs>
    <pane heading="Список" url="/link/">
        <div entity-list="{{ path('cms_rest_krd_site_link') }}:id?parent={{ currentNode.getId() }}" url="/link/" columns="{id:{title:'#'}, title:{title:'Заголовок'}, url:{title:'Ссылка'}, active:{title:'Активность', isBoolean:true}, favicon:{title:'Показывать фавиконку?', isBoolean:true}}" btn-add="Добавить" count="10" sortable></div>
    </pane>

    <ghostpane heading="Добавление" url="/link/create/" parent="0" template="{{ path('cms_rest_krd_site_link_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Ред. #{id}" url="/link/edit/{id}" parent="0" template="{{ path('cms_rest_krd_site_link_form_add') }}{id}"></ghostpane>
</tabs>
