{# Админская часть модуля MSP #}

<h3>Реестр МСП</h3>

<tabs>
    <pane heading="Список" url="/msp/">
        <div entity-list="{{ path('cms_rest_krd_msp') }}:id?parent={{ currentNode.getId() }}&archive=0" url="/msp/"
             columns="{id:{title:'#'}, rec_num:{title:'Номер реестровой записи'}, date_inc:{title:'Дата вкл.'}, llc_title:{title:'Наименование юридического лица или ФИО'}, active:{title:'Активность', isBoolean:true}, archive:{title:'Архив', isBoolean:true}}"
             btn-add="Добавить" count="10"></div>
    </pane>

    <pane heading="Архив" url="/msp/archive/">
        <div entity-list="{{ path('cms_rest_krd_msp') }}:id?parent={{ currentNode.getId() }}&archive=1" url="/msp/"
             columns="{id:{title:'#'}, rec_num:{title:'Номер реестровой записи'}, date_inc:{title:'Дата вкл.'}, llc_title:{title:'Наименование юридического лица или ФИО'}, active:{title:'Активность', isBoolean:true}, archive:{title:'Архив', isBoolean:true}}"
             btn-add="Добавить" count="10"></div>
    </pane>

    <ghostpane heading="Новая запись" url="/msp/create/" parent="0"
               template="{{ path('cms_rest_krd_msp_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Ред. #{id}" url="/msp/edit/{id}" parent="0"
               template="{{ path('cms_rest_krd_msp_form_add') }}{id}"></ghostpane>

    <pane heading="Импорт" url="/msp/import/">
        <p>Для импорта из CSV необходимо:</p>
        <ul>
            <li>Запаковать CSV файл в <b>ZIP архив</b>.</li>
            <li>Загрузить файл в форму ниже.</li>
        </ul>

        <form action="{{ path('cms_rest_krd_msp_upload', {parent: currentNode.getId()}) }}" method="POST"
              enctype="multipart/form-data" class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Прикрепите файл</label>
                <div class="controls">
                    <input type="file" name="file" required="required">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </div>
        </form>
    </pane>
</tabs>
