{# Список вариантов ответов для опроса #}

<div entity-list="{{ path('cms_rest_krd_conference_pollanswer') }}:id?parent={{ parentId }}" url="/pollanswer/" columns="{id:{title:'#'}, title:{title:'---'}, counter:{title:'Результат'}, active:{title:'Активность', isBoolean:true}}" btn-add="Добавить" add-id="{{ parentId }}" count="10" sortable disable-move></div>
