{# Админская часть модуля PollRoad #}

<h3>Ремонтируемые улицы</h3>

<tabs>
    <pane heading="Список" url="/poll_road/">
        <div sortable entity-list="{{ path('cms_rest_krd_poll_road') }}:id?parent={{ currentNode.getId() }}" url="/poll_road/" columns="{id:{title:'#'}, title:{title:'Заголовок'}, vote1:{title:'Гол. 1'}, vote2:{title:'Гол. 2'}, vote3:{title:'Гол. 3'}, vote4:{title:'Гол. 4'}, vote5:{title:'Гол. 5'}, votes:{title:'Гол. общ.'}, active:{title:'Активность', isBoolean:true}}" btn-add="Добавить" count="10"></div>
    </pane>

    <ghostpane heading="Новая улица" url="/poll_road/create/" parent="0" template="{{ path('cms_rest_krd_poll_road_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Ред. улицы #{id}" url="/poll_road/edit/{id}" parent="0" template="{{ path('cms_rest_krd_poll_road_form_add') }}{id}"></ghostpane>
</tabs>
