{# Админская часть модуля Poll #}

<h3>Опросы</h3>

<tabs>
    <pane heading="Список опросов" url="/poll/">
        <div entity-list="{{ path('cms_rest_krd_conference_poll') }}:id?parent={{ currentNode.getId() }}" url="/poll/" columns="{id:{title:'#'}, title:{title:'Заголовок'}, active:{title:'Активность', isBoolean:true}}" actions="[{tooltip:'Список вариантов ответов', url:'/pollanswer/list/{id}', icon:'question-sign', type:'info'}]" btn-add="Добавить" count="10" disable-move></div>
    </pane>

    <ghostpane heading="Добавление опроса" url="/poll/create/" parent="0" template="{{ path('cms_rest_krd_conference_poll_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Ред. опроса #{id}" url="/poll/edit/{id}" parent="0" template="{{ path('cms_rest_krd_conference_poll_form_add') }}{id}"></ghostpane>

    <!--  -->

    <ghostpane heading="Список ответов #{id}" url="/pollanswer/list/{id}" template="{{ path('cms_rest_krd_conference_pollanswer_list') }}/{id}"></ghostpane>

    <ghostpane heading="Добавление ответа #{id}" url="/pollanswer/create/{id}" parent="3" template="{{ path('cms_rest_krd_conference_pollanswer_form_add') }}?parent={id}"></ghostpane>

    <ghostpane heading="Ред. ответа #{id}" url="/pollanswer/edit/{id}" parent="3" template="{{ path('cms_rest_krd_conference_pollanswer_form_add') }}{id}"></ghostpane>
</tabs>
