{# Админская часть модуля Senderror #}

<h3>Сообщения об ошибке</h3>

<tabs>
    <pane heading="Список сообщений" url="/senderror/">
        <div entity-list="{{ path('cms_rest_krd_site_senderror') }}:id" url="/senderror/" columns="{id:{title:'#'}, name:{title:'Контактные данные'}, url:{title:'URL'}, error:{title:'Характер ошибки'}, message:{title:'Описание'}, created:{title:'Создано'}}" count="10"></div>
    </pane>

    <ghostpane heading="Ред. #{id}" url="/senderror/edit/{id}" parent="0" template="{{ path('cms_rest_krd_site_senderror_form_add') }}{id}"></ghostpane>
</tabs>
