{# Админская часть модуля Подведомственные организации #}

<h3>Подведомственные организации</h3>

<tabs>
    <pane heading="Список" url="/suborganization/">
        <div sortable entity-list="{{ path('cms_rest_krd_suborganization') }}:id?parent={{ currentNode.getId() }}" url="/suborganization/" columns="{id:{title:'#'}, title:{title:'Заголовок'}, name:{title:'Системное имя'}, active:{title:'Активность', isBoolean:true}}" btn-add="Добавить организацию" count="10"></div>
    </pane>

    <ghostpane heading="Новая организация" url="/suborganization/create/" parent="0" template="{{ path('cms_rest_krd_suborganization_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Ред. организации #{id}" url="/suborganization/edit/{id}" parent="0" template="{{ path('cms_rest_krd_suborganization_form_add') }}{id}"></ghostpane>
</tabs>
