{# Админская часть модуля Вакансии #}

<h3>Вакансии</h3>

<tabs>
    <pane heading="Список" url="/vacancy/">
        <div entity-list="{{ path('cms_rest_krd_vacancy') }}:id?parent={{ currentNode.getId() }}" url="/vacancy/" columns="{id:{title:'#'}, title:{title:'Заголовок'}, name:{title:'Системное имя'}, active:{title:'Активность', isBoolean:true}}" btn-add="Добавить вакансию" count="10"></div>
    </pane>

    <ghostpane heading="Новая вакансия" url="/vacancy/create/" parent="0" template="{{ path('cms_rest_krd_vacancy_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Ред. вакансии #{id}" url="/vacancy/edit/{id}" parent="0" template="{{ path('cms_rest_krd_vacancy_form_add') }}{id}"></ghostpane>
</tabs>
