{# Список новостей на главной департамента #}

{% if list is not empty %}
    <div class="page-title mini">{{ newsNode.getFrontendTitle() }}</div>

    {% include "KrdNewsBundle::Module/news/list-block.html.twig" %}

    <div class="text-align-right">
        <a class="btn btn-blue" href="{{ newsNode.getUrl(true) }}">{% trans %}Смотреть все{% endtrans %}</a>
    </div>
{% endif %}
