{# Список новостей на главной #}

{% if categories|length > 0 %}
    <section class="page-content index-news-slider clearfix">
        {% if categories|length > 1 %}
            <div class="tabs-list">
                <div class="tabs-headline clearfix">
                    <div class="page-title">{% trans %}Новости{% endtrans %}</div>
                    <div class="pane-list">
                        {% for item in categories if item.news is not empty %}
                            <div class="item{% if item.bold %} bold{% endif %}">
                                <div class="ajax-link">{{ item.node.getFrontendTitle()|replace({' ':'<br />'})|raw }}</div>
                            </div>
                        {% endfor %}
                    </div>

                    {% if app.request.locale == 'ru' and is_path_exists('krd_subscribe_form') %}
                        <div class="subscribe-btn" dialog-show="{{ path('krd_subscribe_form') }}"><div class="ajax-link">{% trans %}Подписка<br />на новости{% endtrans %}</div><i class="icon-subscribe"></i></div>
                    {% endif %}
                </div>

                {% for item in categories if item.news is not empty %}
                    <div class="tab">
                        {% if item.adv_link %}
                            <a href="{{ item.adv_link.url }}" class="adv_link" target="_blank">{{ item.adv_link.title }}</a>
                        {% endif %}
                        {{ _self.news_slider(item) }}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="page-title">{{ categories.0.node.getFrontendTitle() }}</div>
            {{ _self.news_slider(categories.0) }}
        {% endif %}
    </section>
{% endif %}

{% macro news_slider(item) %}
    <div class="news-slider no-selection clearfix">
        <div class="icon">
            {% for newsItem in item.news %}
                <div class="icons-slider">
                    {% if newsItem.getContentType() is not empty %}
                        <div class="type"><i class="icon-{{ newsItem.getContentType() }}"></i></div>
                    {% endif %}

                    {% for video in newsItem.getVideoConverted() %}
                        <div class="item">
                            {% include "KrdSiteBundle:blocks:video.html.twig" with {size:'news_preview', video:video} %}
                        </div>
                    {% endfor %}

                    {% for image in newsItem.getImages() %}
                        <a href="{{ newsItem.getUrl() }}" class="item fancybox" title="{{ image.getTitle() }}" rel="news-{{ newsItem.getId() }}">
                            <img data-original="{{ image.getUrl('news_preview') }}" class="lazy-image" alt="{{ image.getTitle() }}">
                        </a>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <div class="items">
            <div class="wrap">
                {% for newsItem in item.news %}
                    <div class="item">
                        <div class="headline clearfix">
                            {% if newsItem.getContentType() is not empty %}
                                <div class="type"><i class="icon-{{ newsItem.getContentType() }}-mini"></i></div>
                            {% endif %}
                            <div class="date">{{ newsItem.getDate()|krd_date_format }}</div>
                            {% for theme in newsItem.getThemes() %}
                                <div class="theme">
                                    <a href="{{ newsItem.getParent().getUrl() }}?themes[]={{ theme.getId() }}">{{ theme.getTitle() }}</a>
                                </div>
                            {% endfor %}
                        </div>
                        <a href="{{ newsItem.getUrl() }}" class="title">{{ newsItem.getTitle() }}</a>
                    </div>
                {% endfor %}
            </div>

            <a href="{{ item.node.getUrl(true) }}" class="btn btn-blue btn-block">{% trans %}Смотреть все{% endtrans %}</a>
        </div>
    </div>
{% endmacro %}
