{# Список новостей в виде блоков #}

{% if list is not empty %}
    <section class="items-block-list clearfix">
        {% for item in list %}
            <article class="item clearfix">
                {% if item.hasImages() %}
                <div class="icon icons-slider">
                        {% if item.getContentType() is not empty %}
                            <div class="type"><i class="icon-{{ item.getContentType() }}"></i></div>
                        {% endif %}

                        {% for image in item.getImages() %}
                            <a href="{{ item.getUrl() }}" class="item fancybox" title="{{ image.getTitle() }}" rel="news-{{ item.getId() }}">
                                <img src="{{ image.getUrl('block_preview') }}" alt="{{ image.getTitle() }}">
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="headline clearfix">
                    {% if item.getContentType() is not empty %}
                        <div class="type"><i class="icon-{{ item.getContentType() }}-mini"></i></div>
                    {% endif %}
                    <div class="date">{{ item.getDate()|krd_date_format }}</div>
                    {% for theme in item.getThemes() %}
                        <div class="theme">
                            <a href="{{ item.getParent().getUrl() }}?themes[]={{ theme.getId() }}">{{ theme.getTitle() }}</a>
                        </div>
                    {% endfor %}
                </div>

                <a href="{{ item.getUrl() }}" class="title">{{ item.getTitle() }}</a>
            </article>
        {% endfor %}
    </section>
{% endif %}
