{# Список новостей #}

<section class="items-list">
    {% for item in list.getItems() %}
        <article class="item clearfix">
            <a href="{{ item.getUrl() }}" class="icon icon-list" title="{{ item.getTitle() }}">
                {% if item.hasImages() %}
                    <img src="{{ item.getMainImage().getUrl('news_list') }}" alt="{{ item.getTitle() }}">
                {% elseif item.hasVideo() %}
                    {% set video = item.getVideo() %}
                    <img src="{{ video[0].getImage().getUrl('news_list') }}" alt="{{ item.getTitle() }}">
                {% else %}
                    <img src="{{ asset('bundles/krdnews/i/no-photo-150.png') }}" alt="{{ item.getTitle() }}">
                {% endif %}
            </a>

            <div class="w">
                <div class="headline clearfix">
                    {% if item.getContentType() is not empty %}
                        <div class="type"><i class="icon-{{ item.getContentType() }}-mini"></i></div>
                    {% endif %}
                    <div class="date">{{ item.getDate()|krd_date_format }}</div>
                    {% for theme in item.getThemes() %}
                        <div class="theme">
                            <a href="{{ currentNode.getUrl() }}?themes[]={{ theme.getId() }}">{{ theme.getTitle() }}</a>
                        </div>
                    {% endfor %}
                </div>
                <a href="{{ item.getUrl() }}" class="title">{{ item.getTitle() }}</a>

                <div class="text-block">{{ item.getAnnounce() }}</div>
            </div>
        </article>
    {% else %}
        <div class="text-block">{% trans %}По Вашему запросу новости не найдены{% endtrans %}</div>
    {% endfor %}
</section>

{% if list.getPageCount() > 1 %}
    <div class="btn btn-blue btn-block next-page" more-btn="news-list-item"
         url="{{ path('ajax_news_news_list', {'parent':currentNode.getId(), 'date':nowDate.format('d-m-Y')|default(''), 'themes':themes, 'date_begin': date_begin.format('d-m-Y')|default(''), 'date_end' : date_end.format('d-m-Y')|default('')}) }}">{% trans %}
        Показать еще новости{% endtrans %}</div>
{% endif %}

{% raw %}
<script type="text/ng-template" id="news-list-item">
    <article class="item clearfix">
        <a href="{{ item.url }}" class="icon icon-list" title="{{ item.title }}">
            <img ng-src="{{ item.image_main.size.news_list }}" ng-if="!!item.image_main" alt="{{ item.title }}">
            <img ng-src="{{ item.video.0.image.size.news_list }}" ng-if="!item.image_main && !!item.video" alt="{{ item.title }}">
            <img ng-src="{% endraw %}{{ asset('bundles/krdnews/i/no-photo-150.png') }}{% raw %}" ng-if="!item.image_main && !item.video" alt="{{ item.title }}">
        </a>

        <div class="w">
            <div class="headline clearfix">
                <div class="type">
                    <div class="icon-{{ item.content_type }}-mini"></div>
                </div>
                <div class="date">{{ item.date }}</div>
                <div class="theme" ng-repeat="theme in item.themes">
                    <a href="{% endraw %}{{ currentNode.getUrl() }}{% raw %}?themes[]={{ theme.id }}">{{ theme.title }}</a>
                </div>
            </div>
            <a href="{{ item.url }}" class="title">{{ item.title }}</a>

            <div class="text-block" ng-show="item.announce">{{ item.announce }}</div>
        </div>
    </article>
</script>
{% endraw %}
