{# Блок "Также по теме" на странице новости #}

{% if items is not empty %}
    <div class="page-title d-line">{% trans %}Также по теме{% endtrans %}</div>

    <div class="news-slider similar-list no-selection clearfix" on-page="4" no-active>
        <div class="items">
            <div class="wrap">
                {% for newsItem in items %}
                    <div class="item">
                        <div class="headline clearfix">
                            {% if newsItem.getContentType() %}
                                <div class="type"><div class="icon-{{ newsItem.getContentType() }}-mini"></div></div>
                            {% endif %}
                            <div class="date">{{ newsItem.getDate()|krd_date_format }}</div>
                            {% for theme in newsItem.getThemes() %}
                                <div class="theme">
                                    <a href="{{ newsItem.getParent().getUrl() }}?themes[]={{ theme.getId() }}">{{ theme.getTitle() }}</a>
                                </div>
                            {% endfor %}
                            <a href="{{ newsItem.getUrl() }}" class="title">{{ newsItem.getTitle() }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
