{# Страница авторизации #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    <section class="page-content">
        <div class="page-title d-line">{{ currentNode.getFrontendTitle() }}</div>

        <form action="{{ path("fos_user_security_check") }}" method="POST" class="stylized no-bottom-border" id="auth-form">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <input type="hidden" name="_target_path" value="krd_user_authorization_path" />
            <input type="hidden" name="_failure_path" value="krd_user_authorization_path" />

            {% if error %}
                <div class="form-row x1 error clearfix">
                    <div class="cell">{{ error|trans }}</div>
                </div>
            {% endif %}

            <div class="form-row x3 clearfix">
                <div class="cell">
                    <label for="auth-username" class="label">{{ 'security.login.username'|trans }}:</label>
                    <input type="text" id="auth-username" name="_username" value="{{ last_username }}" required />
                </div>

                <div class="cell">
                    <label for="auth-password" class="label">{{ 'security.login.password'|trans }}</label>
                    <input type="password" id="auth-password" name="_password" required />
                </div>

                <div class="cell">
                    <div class="label">&nbsp;</div>
                    <button type="submit" class="btn btn-blue">{{ 'security.login.submit'|trans }}</button>&nbsp;&nbsp;<a href="{{ controller_path(42) }}" class="btn btn-deep-blue">{{ 'registration.link'|trans }}</a>
                </div>
            </div>

            <div class="form-row x-line clearfix">
                <div class="cell">
                    <label for="auth-remember_me" class="checkbox">
                        <input type="checkbox" id="auth-remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}
                    </label>
                </div>

                <div class="cell">
                    <a href="{{ controller_path(41, 'krd_user_password_forgot') }}">{{ 'security.login.resetpassword'|trans }}</a>
                </div>
            </div>
        </form>

        {% set content = appContainer.get('krd.site.modules.content').getContent('content') %}

        <div class="page-title d-line">{{ content.getTitle() }}</div>

        <div class="text-block clearfix">
           {{ content.getContent()|raw }}
        </div>

        <div class="lk-widgets-preview clearfix">
            {% for item in appContainer.get('krd.site.modules.content').getContents() if item.getName() != 'content' %}
                <div class="item">
                    <div class="icon">
                        <i class="icon-lk-{{ item.getName() }}"></i>
                    </div>
                    <div class="title">{{ item.getTitle() }}</div>
                    <div class="text-block">
                        {{ item.getContent()|raw }}
                    </div>
                </div>
            {% endfor %}

            <div class="item item-img"><a href="{{ controller_path(42) }}"><i class="icon-lk-registerbanner"></i></a></div>
        </div>
    </section>

    {% include "KrdSiteBundle::blocks/social-bottom.html.twig" %}
    {% include "KrdSiteBundle::blocks/footer-banners.html.twig" %}
    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}
