{# Страница восстановления пароля #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    <section class="page-content">
        <div class="page-title d-line">{{ currentNode.getFrontendTitle() }} - {% trans %}Восстановление пароля{% endtrans %}</div>

        {% if not error %}
            <form action="{{ app.request.getPathInfo() }}" method="POST" enctype="multipart/form-data" class="stylized clearfix">
                <div class="form-row horizontal clearfix">
                    <div class="label">{% trans %}Введите ваш e-mail{% endtrans %}:</div>
                    <div class="input">
                        <input type="text" name="email" value="{{ email }}"{% if email and step >= 1 %} readonly{% endif %}>
                    </div>
                </div>

                {% if email and step < 1 %}
                    <div class="form-row horizontal error clearfix">
                        <div class="label">&nbsp;</div>
                        <div class="input">{% trans %}Пользователь с таким e-mail не найден{% endtrans %}</div>
                    </div>
                {% endif %}

                {% if step >= 1 %}
                    <div class="form-row horizontal clearfix">
                        <div class="label">{{ user.getCquestion() }}</div>
                        <div class="input">
                            <input type="text" name="creply" value="{{ creply }}"{% if creply and step >= 2 %} readonly{% endif %}>
                        </div>
                    </div>

                    {% if creply and step < 2 %}
                        <div class="form-row horizontal error clearfix">
                            <div class="label">&nbsp;</div>
                            <div class="input">{% trans %}Ответ на контрольный вопрос не верен{% endtrans %}</div>
                        </div>
                    {% endif %}
                {% endif %}

                {% if step < 2 %}
                    <div class="form-row horizontal clearfix">
                        <div class="label">&nbsp;</div>
                        <div class="input">
                            <button type="submit" class="btn btn-blue">{% trans %}Отправить{% endtrans %}</button>
                        </div>
                    </div>
                {% else %}
                    <div class="form-row horizontal clearfix">
                        <div class="label">&nbsp;</div>
                        <div class="input">
                            <div class="text-block">
                                <p>На указанный e-mail отправлено письмо со ссылкой для смены пароля.</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </form>
        {% endif %}

        {% if error == 'toofast' %}
            <div class="text-block">
                <p>Вы слишком часто пытаетесь восстановить пароль, попробуйте чуть позже.</p>
            </div>
        {% endif %}
    </section>

    {% include "KrdSiteBundle::blocks/social-bottom.html.twig" %}
    {% include "KrdSiteBundle::blocks/footer-banners.html.twig" %}
    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}
