{# Установка нового пароля #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    <section class="page-content">
        <div class="page-title d-line">{% trans %}Сброс пароля{% endtrans %}</div>

        {% if not success %}
            <form action="{{ app.request.getPathInfo() }}" method="POST" enctype="multipart/form-data" class="stylized clearfix" ng-disabled="rpass1.length < 6 || rpass1 != rpass2">
                <div class="form-row horizontal clearfix">
                    <div class="label">{% trans %}Введите ваш новый пароль{% endtrans %}:</div>
                    <div class="input">
                        <input type="password" name="password" ng-model="rpass1">
                    </div>
                </div>

                <div class="form-row horizontal clearfix">
                    <div class="label">{% trans %}Еще раз{% endtrans %}:</div>
                    <div class="input">
                        <input type="password" name="password2" ng-model="rpass2">
                    </div>
                </div>

                <div class="form-row horizontal clearfix" ng-show="rpass1.length >= 6 && rpass1 == rpass2">
                    <div class="label">&nbsp;</div>
                    <div class="input">
                        <button type="submit" class="btn btn-blue">{% trans %}Изменить пароль{% endtrans %}</button>
                    </div>
                </div>

                <div class="form-row horizontal error clearfix" ng-show="rpass1.length < 6 || rpass1 != rpass2">
                    <div class="label">&nbsp;</div>
                    <div class="input">
                        Введен пароль меньше 6 символов или пароли не совпадают.
                    </div>
                </div>
            </form>
        {% else %}
            <div class="text-block">
                <p>{% trans %}Ваш пароль успешно изменен{% endtrans %}. {% trans %}Теперь вы можете{% endtrans %} <a href="{{ controller_path(41) }}">{% trans %}авторизоваться{% endtrans %}</a>.</p>
            </div>
        {% endif %}
    </section>

    {% include "KrdSiteBundle::blocks/social-bottom.html.twig" %}
    {% include "KrdSiteBundle::blocks/footer-banners.html.twig" %}
    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}
