{# Layout страницы главы #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    <section class="page-content clearfix">
        {% include "KrdSiteBundle::blocks/breadcrumb.html.twig" %}
    </section>

    <section class="page-content clearfix">
        <div class="layout-header">
            <div class="left-col">
                <div class="layout-title">
                    <div class="title">Евланов Владимир Лазаревич</div>
                    <div class="post-title">Глава муниципального образования город Краснодар <strong>(c 2004 по 2016 год)</strong></div>
                </div>
{#                <div class="layout-container">#}
{#                    <a href="/administratsiya/struktura-administratsii/#node-title-2214" class="layout-item assist"><i></i><span>ЗАМЕСТИТЕЛИ ГЛАВЫ</span></a>#}
{#                    <a href="#" class="layout-item schedule dashed" dialog-show="{{ path("krd_glava_content_contacts") }}"><i></i><span>График проведения приёмов граждан и контактная информация</span></a>#}
                    {#<a href="https://twitter.com/vladimirevlanov" target="_blank" class="layout-item twitter"><i></i><span>официальный twitter аккаунт (@vladimirevlanov)</span></a>#}
{#                </div>#}
            </div>
            <div class="right-col">
                <img src="{{ asset('bundles/krdglava/i/photo.jpg') }}" />
            </div>
            <div class="clear"></div>
            <nav>
                <ul>
                    {% for rootItem in appContainer.get('qcore.front.menu').getMenu('glavamenu') %}
                        <li{% if rootItem.getMenuActive() and currentNode.getLevel() == 3 %} class="active"{% endif %}><a href="{{ rootItem.getUrl(true) }}"><span>события</span></a></li>
                    {% for item in rootItem.getMenuChildren() %}
                        <li{% if item.getMenuActive() %} class="active"{% endif %}><a href="{{ item.getUrl(true) }}"><span>{{ item.getFrontendTitle() }}</span></a></li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </nav>
        </div>


        <div class="layout-content">
            {% block layout_content %}{% endblock %}
        </div>
    </section>

    {% include "KrdSiteBundle::blocks/social-bottom.html.twig" %}
    {% include "KrdSiteBundle::blocks/footer-banners.html.twig" %}
    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}


