{# Галерея на главной департамента #}

<div class="block">
    <div class="headline has-share-panel clearfix">
        <div class="date">{{ item.getDate()|krd_date_format }}</div>
        <div class="theme">{% trans %}Количество фото{% endtrans %}: {{ item.getImagesCount() }}</div>

        {% if hasBtn %}
            <a href="{{ item.getUrl() }}" class="btn btn-blue fr">{% trans %}Смотреть все{% endtrans %}</a>
        {% endif %}
    </div>

    <div class="page-title">{{ item.getTitle() }}</div>

    <div class="gallery-slider" gallery-slider>
        {% for image in item.getImages() %}
            <div class="item icon boh" data-preview="{{ image.getUrl('gallery_bigpreview') }}" data-fancybox="{{ image.getUrl('fancybox') }}" title="{{ image.getTitle() }}">
                <img src="{{ image.getUrl('gallery_mini') }}" alt="">
            </div>
        {% endfor %}
    </div>
</div>
