{# Слайдер подробного вида галереи #}

<div class="headline has-share-panel clearfix">
    <div class="date">{{ item.getDate()|krd_date_format }}</div>
    <div class="theme">{% trans %}Количество фото{% endtrans %}: {{ item.getImagesCount() }}</div>

    {% include "KrdSiteBundle:blocks:headline-share.html.twig" with {nofontchange:true, noprint:true, noread:true, nosubscribe:true} %}
</div>

{% include "KrdSiteBundle:blocks:share-panel-float.html.twig" with {nofontchange:true, noprint:true, noread:true, nosubscribe:true} %}

<div class="page-title d-line">{{ item.getTitle() }}</div>

<div class="gallery-slider" gallery-slider>
    {% for image in item.getImages() %}
        <div class="item icon boh" data-preview="{{ image.getUrl('gallery_bigpreview') }}" data-fancybox="{{ image.getUrl('fancybox') }}" title="{{ image.getTitle() }}">
            <img src="{{ image.getUrl('gallery_mini') }}" alt="{{ image.getTitle() }}">
        </div>
    {% endfor %}
</div>
