{# Галерея на главной #}

<div class="gallery-index-detail">
    <div class="headline clearfix">
        <div class="date">{{ gallery.getDate()|krd_date_format }}</div>
        <div class="theme">{% trans %}Количество фото{% endtrans %}: {{ gallery.getImagesCount() }}</div>
    </div>

    <a href="{{ gallery.getUrl() }}" class="btn btn-deep-blue">{% trans %}Смотреть все{% endtrans %}</a>

    <a href="{{ gallery.getUrl() }}" class="title">{{ gallery.getTitle() }}</a>

    <div class="items-wrap" horizontal-scroll horizontal-scroll-items=".items-list > .item" horizontal-scroll-wrap=".items-list" step="item">
        <div class="items-list clearfix">
            {% for image in gallery.getImages()|slice(0, 10) %}
                <a href="{{ gallery.getUrl() }}" class="item" title="{{ image.getTitle() }}">
                    <img src="{{ image.getUrl('gallery_index') }}" alt="{{ image.getTitle() }}">
                </a>
            {% endfor %}
        </div>
    </div>
</div>
