{# Список фотогалерей #}

<div class="page-title d-line">{% trans %}Архив фотогалерей{% endtrans %}</div>

<div class="gallery-list-wrap" horizontal-scroll horizontal-scroll-items=".gallery-list > .item" horizontal-scroll-wrap=".gallery-list" step="item" btn-all="{% trans %}Смотреть все альбомы{% endtrans %}" item-active=".active">
    <div class="gallery-list clearfix">
        {% for item in list %}
            <div class="item{% if item.getCurrent() %} active{% endif %}">
                <a href="{{ item.getUrl() }}" class="icon boh" title="{{ item.getTitle() }}">
                    <img src="{{ item.getMainImage().getUrl('gallery_preview') }}" width="210" height="160" alt="{{ item.getTitle() }}">
                </a>

                <div class="headline clearfix">
                    <div class="date">{{ item.getDate()|krd_date_format }}</div>
                    <div class="theme">{% trans %}Количество фото{% endtrans %}: {{ item.getImagesCount() }}</div>
                </div>

                <a href="{{ item.getUrl() }}" class="title">{{ item.getTitle() }}</a>
            </div>
        {% endfor %}
    </div>
</div>
