{# Список департаментов #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    <section class="page-content">
        {% include "KrdSiteBundle::blocks/breadcrumb.html.twig" %}

        <div class="page-title d-line">{{ currentNode.getFrontendTitle() }}</div>

        {% spaceless %}
        <div class="departament-list clearfix">
            {% for item in list %}
                <article class="item" multi-height="dl-{{ loop.index0 // 5 }}">
                    <a href="{{ item.getUrl(true) }}">
                        <span class="icon">
                            <s></s>
                            <i class="icon-{{ item.getName() }}"></i>
                        </span>
                        <span class="title">{{ item.getTitle() }}</span>
                    </a>
                </article>
            {% endfor %}
        </div>
        {% endspaceless %}
    </section>

    {% include "KrdSiteBundle::blocks/social-bottom.html.twig" %}
    {% include "KrdSiteBundle::blocks/footer-banners.html.twig" %}
    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}
