{# Инициализация elFinder для tinyMCE4 #}

<script type="text/javascript">
    window.elFinderBrowserUrl = '{{ url('elfinder') }}';

    function elFinderBrowser (field_name, url, type, win) {
        tinymce.activeEditor.windowManager.open({
            file:"{{ url('elfinder') }}",
            title: 'elFinder 2.0',
            width: 1000,
            height: 550,
            resizable: 'yes'
        }, {
            setUrl: function (url) {
                var self = window.location.protocol + '//' + window.location.host;

                if (url.toString().indexOf(self) === 0) {
                    url = url.toString().substr(self.length);
                }

                win.document.getElementById(field_name).value = url;
            }
        });
        return false;
    }
</script>
