{# Комментарии пользователя #}

<div class="tabs-switcher x2 clearfix" tabs-switcher hash-on>
    <div class="item" data-target="support-create-list">{% trans %}Написать вопрос{% endtrans %}</div>
    <div class="item" data-target="support-list">
        {% if app.user and is_granted('ROLE_CMS') %}
            {% trans %}Все вопросы{% endtrans %}
        {% else %}
            {% trans %}Мои вопросы{% endtrans %}
        {% endif %}
    </div>
</div>

<div id="support-create-list" ng-cloak>
    {% form_theme form_create "KrdUserBundle:Module:support/_form-theme.html.twig" %}

    <div id="support-create-success" class="text-block" style="display:none">
        {% trans %}Ваше сообщение успешно отправлено. Вам ответят в ближайшее время.{% endtrans %}
    </div>

    {{ form_start(form_create, {attr:{class:'stylized ajax-form', 'ng-submit':'submit()', 'ng-controller':'SupportCreateFormCtrl', id:'appeal-submit-form', 'novalidate':''}}) }}
        {{ form_row(form_create.theme) }}
        {{ form_row(form_create.title) }}
        {{ form_row(form_create.content) }}

        <div class="form-row x1 clearfix">
            <div class="cell clearfix text-align-right">
                {% spaceless %}
                    <button type="reset" class="btn btn-deep-blue">{% trans %}Очистить{% endtrans %}</button>
                    &nbsp;&nbsp;
                    {{ form_widget(form_create.submit, {attr:{class:'btn btn-blue'}}) }}
                {% endspaceless %}
            </div>
        </div>
    {{ form_end(form_create) }}
</div>

<div id="support-list" ng-cloak>
    {% set list = appContainer.get('krd.user.modules.support').getMyMessages() %}

    {% if list|length > 0 %}
        <div class="items-list bordered clearfix">
            {% for item in list %}
                <div class="item">
                    <div class="w">
                        <div class="headline clearfix">
                            {% if not item.getReaded() %}
                                <div class="label-2"><i class="icon-lk-new-mail"></i>&nbsp;&nbsp;{% trans %}Новые сообщения{% endtrans %}</div>
                            {% endif %}
                            <div class="date">{{ item.getCreated()|krd_date_format(true) }}</div>
                            <div class="theme">{{ item.getTheme() }}</div>
                            {% if app.user and is_granted('ROLE_CMS') %}
                                <div class="comment">{{ item.getCreatedBy().getFullName() }}</div>
                            {% endif %}
                        </div>
                        <a href="{{ item.getUrl() }}" class="title">{{ item.getTitle() }}</a>
                        <div class="text-block">{{ item.getContent()|truncate(300)|nl2br }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if list.getPageCount() > 1 %}
            <div class="btn btn-blue btn-block next-page" more-btn="support-list-item" url="{{ controller_path(51, 'ajax_krd_user_support_list') }}">{% trans %}Показать еще{% endtrans %}</div>
        {% endif %}

        {% raw %}
        <script type="text/ng-template" id="support-list-item">
            <div class="item">
                <div class="w">
                    <div class="headline clearfix">
                        <div class="label-2" ng-if="!item.readed"><i class="icon-lk-new-mail"></i>&nbsp;&nbsp;{% endraw %}{% trans %}Новые сообщения{% endtrans %}{% raw %}</div>
                        <div class="date">{{ item.created }}</div>
                        <div class="theme">{{ item.theme }}</div>
                    </div>
                    <a href="{{ item.url }}" class="title">{{ item.title }}</a>
                    <div class="text-block" ng-bind-html="item.content_short|nl2br"></div>
                </div>
            </div>
        </script>
        {% endraw %}
    {% else %}
        <div class="text-block">{% trans %}Вы не задавали вопросов.{% endtrans %}</div>
    {% endif %}
</div>
