<div class="poll-road" poll-road="{{ currentNode.getId() }}">
    <div class="title">Проекты улиц, подлежащих ремонту</div>

    <div class="list">
        {% for item in list %}
            <div class="item clearfix" data-id="{{ item.getId() }}">
                <div class="icon icons-slider">
                    {% for image in item.getImages() %}
                        <a href="{{ image.getUrl('fancybox') }}" class="item fancybox" title="{{ image.getTitle() }}"
                           rel="poll-road-{{ item.getId() }}">
                            <img src="{{ image.getUrl('pollroad_list_item') }}" alt="{{ image.getTitle() }}">
                        </a>
                    {% endfor %}
                </div>

                <div class="w">
                    <div class="title">{{ item.getTitle() }}</div>
                    <div class="text-block">{{ item.getAnnounce() }}</div>
                    {% if not isVoted %}
                        <div class="poll clearfix">
                            <div class="ttl">Определите приоритет по пятибальной шкале:</div>
                            <label class="variant">
                                <input type="radio" ng-model="pollRoad['id{{ item.getId() }}']" value="1"><span
                                        class="label">1</span>
                            </label>
                            <label class="variant">
                                <input type="radio" ng-model="pollRoad['id{{ item.getId() }}']" value="2"><span
                                        class="label">2</span>
                            </label>
                            <label class="variant">
                                <input type="radio" ng-model="pollRoad['id{{ item.getId() }}']" value="3"><span
                                        class="label">3</span>
                            </label>
                            <label class="variant">
                                <input type="radio" ng-model="pollRoad['id{{ item.getId() }}']" value="4"><span
                                        class="label">4</span>
                            </label>
                            <label class="variant">
                                <input type="radio" ng-model="pollRoad['id{{ item.getId() }}']" value="5"><span
                                        class="label">5</span>
                            </label>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="submit-button">
        {% if isVoted %}
            <div class="text-block">
                <p>Вы уже проголосовали, ваш голос будет учтен, спасибо.</p>
            </div>
        {% else %}
            <div class="btn btn-blue" ng-disabled="!canVote()" ng-click="vote()">Проголосовать</div>
        {% endif %}
    </div>
</div>