{% extends 'QCoreBundle:Index:index.html.twig' %}

{% block title %}Very-Good CMS :: Рассылка{% endblock %}


{% block content %}
    {% javascripts  combine=true output="cms/js/script.subscribe.js"
            '@KrdSubscribeBundle/Resources/public/js/cms/script.js'
        %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <h2>Управление рассылками</h2>

    <tabs>
        <pane heading="Список рассылок" url="/letter/">
            <div entity-list="{{ path('cms_rest_krd_subscribe_letter') }}:id" url="/letter/" columns="{id:{title:'#'}, news_title:{title:'Заголовок новостей'}, date:{title:'Дата'}, state:{title:'Состояние'},  active:{title:'Активность', isBoolean:true}}" btn-add="Добавить рассылку" count="10" disable-move></div>
        </pane>

        <ghostpane heading="Новая рассылка" url="/letter/create/" parent="0" template="{{ path('cms_rest_krd_subscribe_letter_form_add') }}"></ghostpane>

        <ghostpane heading="Просмотр рассылки #{id}" url="/letter/edit/{id}" parent="0" template="{{ path('cms_rest_krd_subscribe_letter_form_add') }}{id}"></ghostpane>

        <pane heading="Список подписчиков" url="/subscriber/">
            <div entity-list="{{ path('cms_rest_krd_subscribe_subscriber') }}:id" url="/subscriber/" columns="{id:{title:'#'}, email:{title:'Email'}, date:{title:'Дата'},  active:{title:'Активность', isBoolean:true}}" btn-add="Добавить подписчика" count="10" disable-move></div>
        </pane>

        <ghostpane heading="Новый подписчик" url="/subscriber/create/" parent="3" template="{{ path('cms_rest_krd_subscribe_subscriber_form_add') }}"></ghostpane>

        <ghostpane heading="Ред. подписчика #{id}" url="/subscriber/edit/{id}" parent="3" template="{{ path('cms_rest_krd_subscribe_subscriber_form_add') }}{id}"></ghostpane>
    </tabs>
{% endblock %}

