{# Админская часть модуля Emergency #}

<h3>Срочные сообщения</h3>

<tabs>
    <pane heading="Список" url="/emergency/">
        <div entity-list="{{ path('cms_rest_krd_news_emergency') }}:id?parent={{ currentNode.getId() }}" url="/emergency/" columns="{id:{title:'#'}, title:{title:'Заголовок'}, date:{title:'Дата'}, active:{title:'Активность', isBoolean:true}}" btn-add="Добавить" count="10"></div>
    </pane>

    <ghostpane heading="Создание" url="/emergency/create/" parent="0" template="{{ path('cms_rest_krd_news_emergency_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Ред. #{id}" url="/emergency/edit/{id}" parent="0" template="{{ path('cms_rest_krd_news_emergency_form_add') }}{id}"></ghostpane>
</tabs>
