{# Админская часть модуля Info #}

<h3>Новая информация</h3>

<tabs>
    <pane heading="Список" url="/info/">
        <div entity-list="{{ path('cms_rest_krd_news_info') }}:id?parent={{ currentNode.getId() }}" url="/info/" columns="{id:{title:'#'}, title:{title:'Заголовок'}, date:{title:'Дата'}, active:{title:'Активность', isBoolean:true}}" btn-add="Добавить" count="10"></div>
    </pane>

    <ghostpane heading="Создание" url="/info/create/" parent="0" template="{{ path('cms_rest_krd_news_info_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Ред. #{id}" url="/info/edit/{id}" parent="0" template="{{ path('cms_rest_krd_news_info_form_add') }}{id}"></ghostpane>
</tabs>
