{# Админская часть модуля Новости #}

<h3>Новости</h3>

<tabs>
    <pane heading="Список новостей" url="/news/">
        <div entity-list="{{ path('cms_rest_krd_news') }}:id?parent={{ currentNode.getId() }}" url="/news/" columns="{id:{title:'#'}, title:{title:'Заголовок'}, date:{title:'Дата'}, themes:{title:'Темы', modifier:'el_list', by:'title'}, active:{title:'Активность', isBoolean:true}, rssdisabled:{title:'Выкл. RSS', isBoolean:true}}" btn-add="Добавить новость" count="10"></div>
    </pane>

    <ghostpane heading="Создание новости" url="/news/create/" parent="0" template="{{ path('cms_rest_krd_news_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Ред. новости #{id}" url="/news/edit/{id}" parent="0" template="{{ path('cms_rest_krd_news_form_add') }}{id}"></ghostpane>

    <!--  -->

    {% if is_granted('ROLE_CMS_ADMIN') %}
        <pane heading="Темы" url="/newstheme/">
            <div entity-list="{{ path('cms_rest_krd_newstheme') }}:id" url="/newstheme/" columns="{id:{title:'#'}, title:{title:'Заголовок'}, disabled:{title:'Не использовать', isBoolean:true}}" btn-add="Добавить тему" count="50" disable-move></div>
        </pane>

        <ghostpane heading="Добавить тему" url="/newstheme/create/" parent="3" template="{{ path('cms_rest_krd_newstheme_form_add') }}"></ghostpane>

        <ghostpane heading="Ред. темы #{id}" url="/newstheme/edit/{id}" parent="3" template="{{ path('cms_rest_krd_newstheme_form_add') }}{id}"></ghostpane>
    {% endif %}
</tabs>
