{# Админская часть модуля Видео #}

<h3>Глава видео</h3>

<tabs>
    <pane heading="Список видео" url="/video/">
        <div entity-list="{{ path('cms_rest_krd_glava_video') }}:id?parent={{ currentNode.getId() }}" url="/video/" columns="{id:{title:'#'}, title:{title:'Заголовок'}, date:{title:'Дата'}, themes:{title:'Темы', modifier:'el_list', by:'title'}, active:{title:'Активность', isBoolean:true}, rssdisabled:{title:'Выкл. RSS', isBoolean:true}}" btn-add="Добавить видео" count="10"></div>
    </pane>

    <ghostpane heading="Создание видео" url="/video/create/" parent="0" template="{{ path('cms_rest_krd_glava_video_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Ред. видео #{id}" url="/video/edit/{id}" parent="0" template="{{ path('cms_rest_krd_glava_video_form_add') }}{id}"></ghostpane>
</tabs>
