{# Помощь в разделе #}

<div class="bookmark-help clearfix">
    <div class="item" dialog-show="bookmark-help-save-template">
        <i class="icon-lk-bookmark-help-save"></i>
        <div class="w">
            <div class="title">{% trans %}Сохраняйте любую страницу портала, используя кнопку{% endtrans %}<i class="icon-lk-bookmark-help-zoom"></i></div>
        </div>

        <script type="text/ng-template" id="bookmark-help-save-template">
            <div class="page-title nm d-line">{% trans %}Сохранение страницы{% endtrans %}</div>
            <img width="560" height="420" src="{{ asset('/bundles/krduser/i/bookmark-help-save.png') }}" />
        </script>
    </div>

    <div class="item" dialog-show="bookmark-help-create-template">
        <i class="icon-lk-bookmark-help-create"></i>
        <div class="w">
            <div class="title">{% trans %}Создавайте папки для удобства доступа к ссылкам{% endtrans %}<i class="icon-lk-bookmark-help-zoom"></i></div>
        </div>

        <script type="text/ng-template" id="bookmark-help-create-template">
            <div class="page-title nm d-line">{% trans %}Создавайте папки{% endtrans %}</div>
            <img width="611" height="560" src="{{ asset('/bundles/krduser/i/bookmark-help-create.png') }}" />
        </script>
    </div>

    <div class="item" dialog-show="bookmark-help-controll-template">
        <i class="icon-lk-bookmark-help-controll"></i>
        <div class="w">
            <div class="title" style="white-space:nowrap;">{% trans %}Управляйте закладками{% endtrans %}<i class="icon-lk-bookmark-help-zoom"></i></div>
        </div>

        <script type="text/ng-template" id="bookmark-help-controll-template">
            <div class="page-title nm d-line">{% trans %}Управляйте закладками{% endtrans %}</div>
            <img width="900" height="553" src="{{ asset('/bundles/krduser/i/bookmark-help-controll.png') }}" />
        </script>
    </div>
</div>
