{# Закладки в личном кабинете #}

{% if directories %}
    <div class="user-bookmarks clearfix" user-bookmarks data-url-remove="{{ controller_path(45, 'krd_user_bookmarks_bookmark_remove') }}" ng-cloak>
        <div class="btn btn-blue remove-selected-btn">{% trans %}Удалить выбранные элементы{% endtrans %}</div>

        {% for directory in directories %}
            <div class="item close" user-bookmarks-item data-directory-element="{{ directory.getId() }}">
                <div class="directory clearfix" user-bookmarks-editable data-title="{{ directory.getTitle() }}" data-url="{{ controller_path(45, 'krd_user_bookmarks_directory_edit', {id:directory.getId()}) }}">
                    <div class="icon">
                        <i class="icon-content-menu-plus"></i>
                        <i class="icon-content-menu-minus"></i>
                    </div>
                    <div class="directory-name">
                        <input type="checkbox" class="checkbox" data-id="{{ directory.getId() }}" data-type="directory">
                        <div class="real-name">{% raw %}{{ title }} ({{ count() }}){% endraw %}<i class="icon-lk-edit-mini" title="{% trans %}Редактировать{% endtrans %}"></i></div>
                        <div class="edit-name"><textarea ng-model="title_edit" class="name-textarea" textarea-adjust></textarea><i class="icon-lk-edit-confirm-mini" title="{% trans %}Сохранить{% endtrans %}"></i></div>
                    </div>
                </div>

                <div class="bookmarks-list">
                    {% for bookmark in directory.getBookmarks() %}
                        <div class="bookmark" user-bookmarks-editable data-title="{{ bookmark.getTitle() }}" data-url="{{ controller_path(45, 'krd_user_bookmarks_bookmark_edit', {id:bookmark.getId()}) }}" data-bookmark-element="{{ bookmark.getId() }}">
                            <input type="checkbox" class="checkbox" data-id="{{ bookmark.getId() }}" data-type="bookmark">
                            <div class="date">{{ bookmark.getCreated()|krd_date_format(true) }}</div>
                            <div class="real-name"><a href="{{ bookmark.getUrl() }}" target="_blank">{% raw %}{{ title }}{% endraw %}</a><i class="icon-lk-edit-mini" title="{% trans %}Редактировать{% endtrans %}"></i></div>
                            <div class="edit-name"><textarea ng-model="title_edit" class="name-textarea" textarea-adjust></textarea><i class="icon-lk-edit-confirm-mini" title="{% trans %}Сохранить{% endtrans %}"></i></div>
                        </div>
                    {% else %}
                        <div class="text-block">{% trans %}Папка пуста{% endtrans %}</div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="bookmark-help-bottom-slide">
        <div class="btn-group text-align-right clearfix">
            <div class="btn btn-blue" ng-click="open()">{% trans %}Для чего нужен раздел "закладки"?{% endtrans %}</div>
        </div>

        <div class="slide">
            <div class="page-title d-line">{% trans %}Для чего нужен раздел "закладки"?{% endtrans %}</div>

            {% include "KrdUserBundle:Module:bookmark/help.html.twig" %}

            <div class="btn-group text-align-center clearfix">
                <a href="/lichnyy-kabinet/pomosch/" class="btn btn-blue">Подробнее</a>
                &nbsp;<div class="btn btn-deep-blue" ng-click="close()">Закрыть</div>
            </div>
        </div>
    </div>
{% else %}
    {% include "KrdUserBundle:Module:bookmark/help.html.twig" %}

    <div class="btn-group text-align-center clearfix">
        <a href="/lichnyy-kabinet/zakladki/pomosch/" class="btn btn-blue">Подробнее</a>
    </div>
{% endif %}
