{# Виджет для личного кабинета #}

{% if list %}
    <div class="items-list mini bordered">
        {% for item in list %}
            <div class="item">
                <div class="headline clearfix">
                    <div class="date">{{ item.getCreated()|krd_date_format(true) }}</div>
                </div>
                <a href="{{ item.getUrl() }}" target="_blank" class="title">{{ item.getTitle()|truncate(120) }}</a>
            </div>
        {% endfor %}
    </div>

    <a href="{{ controller_path(45, 'krd_user_bookmarks') }}" class="btn btn-blue right-button" target="_blank">{% trans %}Смотреть все{% endtrans %}</a>
{% else %}
    <div class="widget-thumb">
        <div class="icon">
            <i class="icon-wt-bookmark"></i>
        </div>
        <div class="ttl">{% trans %}У Вас еще нет закладок {% endtrans %}</div>
    </div>

    <a href="{{ controller_path(45, 'krd_user_bookmarks') }}" class="btn btn-blue right-button" target="_blank">{% trans %}Подробнее{% endtrans %}</a>
{% endif %}
