{# Главная страница #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    {% if appContainer.has('krd.news.modules.news') %}
        {% cache '@KrdSiteBundle:Index:index.html.twig::news' 30 %}
            {{ appContainer.get('krd.news.modules.news').renderIndexContent()|raw }}
        {% endcache %}
    {% endif %}

    {% if app.request.locale == 'ru' and appContainer.has('krd.document.modules.document') %}
        {% cache '@KrdSiteBundle:Index:index.html.twig::documents' 30 %}
            {% include "KrdDocumentBundle::blocks/documents-menu.html.twig" %}
        {% endcache %}

        {% include "KrdSiteBundle::blocks/index-widgets.html.twig" %}
    {% endif %}


    {% cache '@KrdSiteBundle:Index:index.html.twig::ici' 30 %}
        {% include "KrdSiteBundle::blocks/index-city-information.html.twig" %}
    {% endcache %}

    <div class="page-content divide-50 clearfix">
        <div>
            <div class="page-title">{% trans %}Наш город{% endtrans %}</div>

            <div id="index-regions-ymap-tabs" class="tabs-list has-close-icon" no-active>
                <div class="tabs-headline clearfix">
                    <div class="pane-list">
                        <div class="item">
                            <div class="ajax-link">{% trans %}Западный<br />округ{% endtrans %}<i class="icon-close-8"></i></div>
                        </div>
                        <div class="item">
                            <div class="ajax-link">{% trans %}Центральный<br />округ{% endtrans %}<i class="icon-close-8"></i></div>
                        </div>
                        <div class="item">
                            <div class="ajax-link">{% trans %}Прикубанский<br />округ{% endtrans %}<i class="icon-close-8"></i></div>
                        </div>
                        <div class="item">
                            <div class="ajax-link">{% trans %}Карасунский<br />округ{% endtrans %}<i class="icon-close-8"></i></div>
                        </div>
                    </div>
                </div>

                <div id="index-regions-ymap" index-district-map></div>
            </div>
        </div>

        {% if appContainer.has('krd.gallery.modules.gallery') %}
            {% cache '@KrdSiteBundle:Index:index.html.twig::gallery' 30 %}
                <div>
                    <div class="page-title">{% trans %}Фотогалерея{% endtrans %}</div>
                    {{ appContainer.get('krd.gallery.modules.gallery').renderIndexContent()|raw }}
                </div>
            {% endcache %}
        {% endif %}
    </div>

    {% cache '@KrdSiteBundle:Index:index.html.twig::fbbm' 30 %}
        {% include "KrdSiteBundle::blocks/footer-banners.html.twig" %}
        {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
    {% endcache %}
{% endblock %}


{% block addscripts %}
    <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang={{ app.request.locale }}" type="text/javascript"></script>
{% endblock %}
