{# Окно с формой сообщения об ошибке #}

{% form_theme form "KrdSiteBundle:Index:_form-theme.html.twig" %}

<div class="page-title d-line">{% trans %}Сообщить об ошибке{% endtrans %}</div>

{{ form_start(form, {attr:{id:'senderror-form', 'ng-controller':'SenderrorFormCtrl', 'style':'width:445px;'}}) }}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.url) }}
    {{ form_row(form.error) }}
    {{ form_row(form.message, {attr:{style:'width:100%; height:120px;'}}) }}

<div class="form-row x1 clearfix">
    <div class="cell clearfix text-align-center">
        {{ form_widget(form.submit, {attr:{class:'btn btn-blue'}}) }}
    </div>
</div>

<style>
    #site_senderror_url + a {
        font-size:16px;
        font-family:'Roboto';
        text-decoration:none;
        cursor:default;
    }
</style>

{{ form_end(form) }}

