{# Список ссылок Link пере футером #}

{% if items is not empty %}
    <div class="external-links clearfix">{% spaceless %}
        {% for item in items %}
            <a href="{{ item.getUrl() }}" target="_blank" class="item">
                <span class="title clearfix">
                    {% if item.hasImages() %}
                        <img src="{{ item.getMainImage().getFile().path }}" alt="{{ item.getTitle() }}">
                    {% elseif item.getFavicon() %}
                        <img src="{{ item.getUrl() }}favicon.ico" alt="{{ item.getTitle() }}" width="16" height="16">
                    {% endif %}
                    {{ item.getTitle() }}
                </span>
                <span class="link">{{ item.getUrlPrintable() }}</span>
            </a>
        {% endfor %}
    {% endspaceless %}</div>
{% endif %}
