{# Подробный вид новости #}

<div class="headline has-share-panel clearfix">
    <div class="date">{{ item.getDate()|krd_date_format }}</div>
    {% for theme in item.getThemes() %}
        <div class="theme"><a href="{{ currentNode.getUrl() }}?themes[]={{ theme.getId() }}">{{ theme.getTitle() }}</a></div>
    {% endfor %}

    {% include "KrdSiteBundle:blocks:headline-share.html.twig" %}
</div>

{% include "KrdSiteBundle:blocks:share-panel-float.html.twig" %}

<div class="page-title d-line">{{ item.getTitle() }}</div>

<div class="text-block clearfix">
    {% if item.hasImages() or item.hasVideoConverted() %}
        <div class="icons-slider img-left">
            {% if item.getContentType() is not empty %}
                <div class="type"><i class="icon-{{ item.getContentType() }}"></i></div>
            {% endif %}

            {% for video in item.getVideoConverted() %}
                <div class="item">
                    {% include "KrdSiteBundle:blocks:video.html.twig" with {size:'news_preview', video:video} %}
                </div>
            {% endfor %}

            {% for image in item.getImages() %}
                <a href="{{ image.getUrl('fancybox') }}" class="item fancybox" title="{{ image.getTitle() }}" rel="news-{{ item.getId() }}">
                    <img src="{{ image.getUrl('news_preview') }}" alt="{{ image.getTitle() }}">
                </a>
            {% endfor %}
        </div>
    {% endif %}

    {{ item.getContent()|raw }}
</div>

{% if item.hasFiles() %}
    {% include "KrdSiteBundle::Module/content/files.html.twig" with {files:item.getFiles()} %}
{% endif %}

<div class="btn-group text-align-center">
    <a href="{{ currentNode.getUrl(true) }}" class="btn btn-blue">{% trans %}Вернуться к списку{% endtrans %}</a>
</div>
