{# Структура администрации - список #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    <section class="page-content">
        {% include "KrdSiteBundle::blocks/breadcrumb.html.twig" %}

        {{ appContainer.get('krd.site.modules.content').renderIncontentMenuParent()|raw }}

        <div class="headline is-empty has-share-panel clearfix">
            {% include "KrdSiteBundle:blocks:headline-share.html.twig" with {nosubscribe:true} %}
        </div>
        <div class="page-title">{{ currentNode.getFrontendTitle() }}</div>

        {{ appContainer.get('krd.site.modules.content').renderIncontentMenu()|raw }}
        {{ appContainer.get('krd.site.modules.content').renderContentTopMenu()|raw }}

        {{ appContainer.get('krd.administration.modules.human').renderContent()|raw }}

        {{ appContainer.get('krd.site.modules.content').renderContentBottomMenu()|raw }}
    </section>

    {% include "KrdSiteBundle::blocks/social-bottom.html.twig" %}
    {% include "KrdSiteBundle::blocks/footer-banners.html.twig" %}
    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}
