{# Страница с подробной онлайн конференцией #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    <section class="page-content">
        {% include "KrdSiteBundle::blocks/breadcrumb.html.twig" %}

        {{ appContainer.get('krd.conference.modules.online').renderDetailContent()|raw }}
    </section>

    {% include "KrdSiteBundle::blocks/social-bottom.html.twig" %}
    {% include "KrdSiteBundle::blocks/footer-banners.html.twig" %}
    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}
