{# Список онлайн конференций #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    <section class="page-content">
        {% include "KrdSiteBundle::blocks/breadcrumb.html.twig" %}

        <div class="page-title d-line">{{ currentNode.getTitle() }}</div>

        {{ appContainer.get('krd.site.modules.content').renderIncontentMenu()|raw }}
        {{ appContainer.get('krd.site.modules.content').renderContentTopMenu()|raw }}

        {# Выводим модули страницы #}
        {% for module in currentNode.getController().getModules() %}
            {{ appContainer.get(module).renderContent()|raw }}
        {% endfor %}

        {{ appContainer.get('krd.site.modules.content').renderContentBottomMenu()|raw }}
    </section>

    {% include "KrdSiteBundle::blocks/social-bottom.html.twig" %}
    {% include "KrdSiteBundle::blocks/footer-banners.html.twig" %}
    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}
