{# Нижний список баннеров #}

{% if items is not empty %}{% spaceless %}
    <div class="bottom-banners">
        <div class="items-wrap" horizontal-scroll horizontal-scroll-items=".banner-list > .item" horizontal-scroll-wrap=".banner-list" step="item">
            <div class="banner-list clearfix">
                {% for item in items %}
                    <a href="{{ item.getUrl() }}"{% if item.getBlank() %} target="_blank"{% endif %} class="item">
                        <img src="{{ item.getImage().getFile().path }}" alt="">
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endspaceless %}{% endif %}
