{# Баннеры на главной под виджетами #}

{% if items is not empty %}
    <div class="banners-slider">
        {% for item in items %}
            <a href="{{ item.getUrl()|default('#') }}" class="item" title="{{ item.getTitle() }}"{% if item.getMarginTop() > 0 %} style="top:{{ item.getMarginTop() }}px"{% endif %}>
                <img src="{{ item.getImage().getFile().path }}" {% if item.getImage().getFile().width %}width="{{ item.getImage().getFile().width }}"{% endif %} {% if item.getImage().getFile().height %}height="{{ item.getImage().getFile().height }}"{% endif %} alt="{{ item.getTitle() }}">
            </a>
        {% endfor %}
    </div>
{% endif %}
