{# Виджет Краснодар и цифры на главной странице #}

{% if item is defined and item %}
    <div class="city-and-numbers" url="{{ path('krd_site_citynum_random') }}" count="{{ count }}" id="{{ item.id }}">
        <div class="title">{{ item.getTitle() }}</div>
        <div class="count">{{ item.getSubtitle() }}</div>
        <div class="text-block">{{ item.getContent() }}</div>
        <div class="btn btn-update">{% trans %}Смотреть еще{% endtrans %} <i class="icon-refresh"></i></div>
    </div>
{% endif %}
