{# Список мобильных приложений #}

<div class="text-block clearfix">
    <table class="no-design">
        <tbody>
        <tr>
            <td rowspan="2"><img style="margin-right: 10px; display: block; margin-left: auto;" src="/files/mobile/krd.png" height="116" width="116" /></td>
            <td rowspan="2">
                <h1>&nbsp; &nbsp;Краснодар</h1>
                <h4>Мобильное приложение &laquo;Краснодар&raquo;&nbsp;</h4>
            </td>
            <td><a href="https://play.google.com/store/apps/details?id=ru.krd"><img style="display: block; margin-left: auto; margin-right: auto;" src="/files/mobile/google_play.png" height="35" width="98" /></a></td>
            <td><a href="https://itunes.apple.com/us/app/administracia-krasnodara/id906493327?l=ru&amp;ls=1&amp;mt=8"><img style="display: block; margin-left: auto; margin-right: auto;" src="/files/mobile/app_store.png" height="35" width="118" /></a></td>
            <td><a href="http://www.krd.ru/wp"><img src="/files/mobile/win_phone.png" width="103" height="35" style="display: block; margin-left: auto; margin-right: auto;" /></a><a href="http://www.windowsphone.com/ru-ru/store/app/%D0%BC%D1%84%D1%86-%D0%BA%D1%80%D0%B0%D1%81%D0%BD%D0%BE%D0%B4%D0%B0%D1%80%D0%B0/851eb8b1-3204-43ae-9ced-6736483ff67f"> </a><a href="http://www.windowsphone.com/ru-ru/store/app/%D0%BC%D1%84%D1%86-%D0%BA%D1%80%D0%B0%D1%81%D0%BD%D0%BE%D0%B4%D0%B0%D1%80%D0%B0/851eb8b1-3204-43ae-9ced-6736483ff67f"> </a><a href="http://www.windowsphone.com/ru-ru/store/app/%D0%BC%D1%84%D1%86-%D0%BA%D1%80%D0%B0%D1%81%D0%BD%D0%BE%D0%B4%D0%B0%D1%80%D0%B0/851eb8b1-3204-43ae-9ced-6736483ff67f"> </a></td>
        </tr>
        <tr>
            <td><img style="display: block; margin-left: auto; margin-right: auto;" src="/files/mobile/krd_android.png" alt="" height="116" width="116" /></td>
            <td><img style="display: block; margin-left: auto; margin-right: auto;" src="/files/mobile/krd_apple.png" height="116" width="116" /></td>
            <td><img src="/files/mobile/wp.png" width="95" height="95" style="display: block; margin-left: auto; margin-right: auto;" /></td>
        </tr>
        <tr>
            <td colspan="5">
                <ul>
                    <li>Мгновенный доступ к последним новостям Кубанской столицы:</li>
                    <ul>
                        <li>новости экономики, политики, экологии, спорта, науки, культуры</li>
                        <li>фотоленты по актуальным событиям</li>
                        <li>актуальные видеосюжеты</li>
                    </ul>
                    <li>Мобильное приложение &laquo;Краснодар&raquo; позволит ознакомиться с историей Краснодара от основания до наших дней;</li>
                    <li>Гости кубанской столицы получат информацию о транспортной инфраструктуре, гостиницах, достопримечательностях и многом другом;</li>
                    <li>Приложение позволяет получить информацию о структуре администрации, руководителях структурных подразделений;</li>
                    <li>С помощью мобильной приёмной можно отправить официальное обращение главе города, его заместителям и главам внутригородских округов Краснодара;</li>
                    <li>В случае эвакуации Вашего автомобиля на территории Краснодара приложение поможет узнать, когда и на какую штрафстоянку доставлен автомобиль. Для этого разработана удобная система поиска транспортного средства;</li>
                    <li>Позволит горожанам в режиме онлайн получать информацию о расписании движения общественного транспорта, узнавать о времени прихода трамвая, троллейбуса или автобуса на конкретную остановку, а также проложить маршрут до пункта назначения.</li>
                </ul>
                <p>Разработчик приложения: <strong>Администрация г.Краснодара</strong></p>
                <hr />
                <p></p>
                <p></p>
            </td>
        </tr>
        <tr>
            <td rowspan="2"><img style="margin-right: 10px; display: block; margin-left: auto;" src="/files/mobile/icon175x175.jpeg" height="116" width="116" /></td>
            <td rowspan="2">
                <h1>&nbsp; &nbsp;ГОРОДСКИЕ ПАРКОВКИ</h1>
                <h4>Мобильное приложение городских парковок Краснодара</h4>
            </td>
            <td><a href="https://play.google.com/store/apps/details?id=ru.lanityug.parkingkrd"><img style="display: block; margin-left: auto; margin-right: auto;" src="/files/mobile/google_play.png" height="35" width="98" /></a></td>
            <td><a href="https://itunes.apple.com/us/app/gorodskie-parkovki-krasnodara/id925330865?l=ru&amp;ls=1&amp;mt=8"><img style="display: block; margin-left: auto; margin-right: auto;" src="/files/mobile/app_store.png" height="35" width="118" /></a></td>
            <td></td>
        </tr>
        <tr>
            <td><br /><img style="display: block; margin-left: auto; margin-right: auto;" src="/files/mobile/p_android.png" height="95" width="95" /></td>
            <td><br /><img style="display: block; margin-left: auto; margin-right: auto;" src="/files/mobile/p_apple.png" height="95" width="95" /></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="5">
                <p><br />В мобильном приложении пользователям доступна карта, с помощью которой можно найти ближайшую платную городскую парковку, просмотреть информацию о ней, проложить маршрут.<br /><br /></p>
                <p>Приложение позволяет оплатить парковку и контролировать состояние и историю платежей со счета мобильного телефона, который является основным расчётным счетом для оплаты парковки через сайт, мобильное приложение, с помощью СМС.&nbsp;<br /><br /></p>
                <p>Разработчик приложения: <strong>Компания &laquo;Городские парковки&raquo;</strong></p>
                <hr />
                <p></p>
                <p></p>
            </td>
        </tr>
        <tr>
            <td rowspan="2"><img style="margin-right: auto; display: block; margin-left: auto;" src="/files/mobile/mfc.png" height="116" width="116" /></td>
            <td rowspan="2">
                <h1>&nbsp; &nbsp;МФЦ Краснодар</h1>
                <h4>Предоставление государственных и муниципальных услуг</h4>
            </td>
            <td><a href="https://play.google.com/store/apps/details?id=ru.krd.mfc"><img style="display: block; margin-left: auto; margin-right: auto;" src="/files/mobile/google_play.png" height="35" width="98" /></a></td>
            <td><a href="https://itunes.apple.com/ru/app/id400628503?mt=8"><img style="display: block; margin-left: auto; margin-right: auto;" src="/files/mobile/app_store.png" height="35" width="118" /></a></td>
            <td><a href="http://www.windowsphone.com/ru-ru/store/app/%D0%BC%D1%84%D1%86-%D0%BA%D1%80%D0%B0%D1%81%D0%BD%D0%BE%D0%B4%D0%B0%D1%80%D0%B0/851eb8b1-3204-43ae-9ced-6736483ff67f"><img style="display: block; margin-left: auto; margin-right: auto;" src="/files/mobile/win_phone.png" height="35" width="103" /></a></td>
        </tr>
        <tr>
            <td><img style="display: block; margin-left: auto; margin-right: auto;" src="/files/mobile/mfc_android.png" alt="" height="116" width="116" /></td>
            <td><img style="display: block; margin-left: auto; margin-right: auto;" src="/files/mobile/mfc_apple.png" alt="" height="116" width="116" /></td>
            <td><img style="display: block; margin-left: auto; margin-right: auto;" src="/files/mobile/mfc_win_phone.png" alt="" height="116" width="116" /></td>
        </tr>
        <tr>
            <td colspan="5">
                <p>Мобильные приложения "МФЦ Краснодар" предназначено для помощи&nbsp;посетителям на основных этапах исполнения оказываемых в МФЦ услуг. Благодаря удобным интерактивным сервисам, подключенным к различным базам данных, повышается удобство взаимодействия с МФЦ, своевременность и оперативность предоставления информации посетителям.</p>
                <ul>
                    <li>
                        <p>Проверка состояния выполнения заявки по регистрационному номеру заявления, указанному в расписке в получении документов, выданной в МФЦ.</p>
                    </li>
                    <li>
                        <p>Проверка состояния талона посетителя в очереди по номеру, указанному в распечатке, выданной в МФЦ.</p>
                    </li>
                    <li>
                        <p>Предварительная запись в МФЦ на оказание муниципальной услуги на 30 дней.</p>
                    </li>
                    <li>
                        <p>Информирование посетителей о работе МФЦ (почтовые адреса, фамилии и адреса э-почты руководителей и персонала, телефоны, время работы).</p>
                    </li>
                    <li>
                        <p>Выбор отдела МФЦ из списка пяти отделов городского многофункционального центра (пять отдельных баз данных), подключенных к единой интеграционной системе.</p>
                    </li>
                    <li>
                        <p>Отправка сообщения в службу поддержки через функцию обратной связи независимо от настроек электронной почты на телефоне.</p>
                    </li>
                </ul>
                <p>Разработчик приложения: <strong>МКУ &laquo;Электронный Краснодар&raquo;</strong></p>
                <hr />
                <p></p>
            </td>
        </tr>
        <tr>
            <td rowspan="2"><img style="margin-right: auto; display: block; margin-left: auto;" src="/files/mobile/gid.jpg" height="116" width="116" /></td>
            <td rowspan="2">
                <h1><strong><span class="title">&nbsp; &nbsp;Гид по Краснодару</span></strong></h1>
                <h4>&nbsp; &nbsp;Гид по Краснодару &mdash; ваш лучший путеводитель!</h4>
            </td>
            <td><a href="https://play.google.com/store/apps/details?id=ru.spider.krasnodargid"><img style="display: block; margin-left: auto; margin-right: auto;" src="/files/mobile/google_play.png" height="35" width="98" /></a></td>
            <td><a href="https://itunes.apple.com/us/app/gid-po-krasnodaru/id558829124?l=ru&amp;ls=1&amp;mt=8"><img style="display: block; margin-left: auto; margin-right: auto;" src="/files/mobile/app_store.png" height="35" width="118" /></a></td>
            <td></td>
        </tr>
        <tr>
            <td><img style="display: block; margin-left: auto; margin-right: auto;" src="/files/mobile/gid_android.png" alt="" height="116" width="116" /></td>
            <td><img style="display: block; margin-left: auto; margin-right: auto;" src="/files/mobile/gid_apple.png" alt="" height="116" width="116" /></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="5">
                <ul>
                    <li>С помощью Гида можно узнать об истории и культуре Краснодара, его отелях, ресторанах, кафе и многом другом. Кроме этого, приложение содержит полезную справочную информацию, включающую телефоны и адреса основных служб города. Также здесь вы найдёте перечень актуальных инвестиционных проектов Краснодара.</li>
                    <li>Занятный бонус &laquo;Гида по Краснодару&raquo; &mdash; возможность сфотографироваться с самыми известными скульптурами Краснодара: Императрице Екатерине II, &laquo;Казакам &mdash; основателям земли Кубанской&raquo;, &laquo;Аврора&raquo; и &laquo;Влюблённые собаки&raquo;, а так же выложить фотографию в социальные сети или отправить другу по электронной почте.</li>
                </ul>
                <p>Разработчик приложения: <strong>Компания &laquo;Спайдер Груп&raquo;</strong></p>
                <hr />
                <p></p>
            </td>
        </tr>
        <tr>
            <td rowspan="2"><img style="display: block; margin-left: auto; margin-right: auto;" src="/files/mobile/e_krasnodar.png" height="116" width="116" /></td>
            <td rowspan="2">
                <h1>&nbsp; &nbsp;Электронный Краснодар</h1>
                <h4>Система приема информации от граждан</h4>
            </td>
            <td><a href="https://play.google.com/store/apps/details?id=ru.krd.newgis"><img style="display: block; margin-left: auto; margin-right: auto;" src="/files/mobile/google_play.png" height="35" width="98" /></a></td>
            <td><a href="https://itunes.apple.com/us/app/elektronnyj-krasnodar/id505967777?mt=8"><img style="display: block; margin-left: auto; margin-right: auto;" src="/files/mobile/app_store.png" height="35" width="118" /></a></td>
            <td></td>
        </tr>
        <tr>
            <td><img style="display: block; margin-left: auto; margin-right: auto;" src="/files/mobile/e_krd_android.gif" height="116" width="116" /></td>
            <td><img style="display: block; margin-left: auto; margin-right: auto;" src="/files/mobile/e_krd_apple.gif" alt="" height="116" width="116" /></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="5">
                <p>С помощью приложения "Электронный Краснодар" Вы сможете получить информацию об объектах строительства на территории города, проверить, является стройка законной или нет, уведомить администрацию муниципального образования город Краснодар о новых строящихся объектах, направить в администрацию муниципального образования город Краснодар сведения о значимых для Вас проблемах городской инфраструктуры, указав на карте их местоположения, проверить состояние талона в очереди в МФЦ, осуществить предварительную запись в МФЦ, направить обращение директору МФЦ, или главе МО г. Краснодар.<br /><br /></p>
                <p>Вся информация автоматически будет доставлена в структурное подразделение администрации, отвечающее за интересующий Вас вопрос. Управление делами администрации муниципального образования город Краснодар осуществляет дополнительный контроль работы структурных подразделений с поступившей информацией.<br /><br /></p>
                Разработчик приложения:&nbsp;<strong>МКУ &laquo;Электронный Краснодар&raquo;</strong>
                <p></p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
