{# Виджет в личном кабинете #}

<div class="items-list bordered lk-widget-mobile-apps">
    <div class="item">
        <div class="app">
            <div class="info clearfix">
                <img src="{{ asset('/bundles/krduser/i/mobile-app-mfc.png') }}" alt=""><a href="http://mfc.krd.ru/mobileapp#.U4MdJ_l_t7Z" class="title" target="_blank">МФЦ</a>
            </div>
            <div class="badges clearfix">
                <a href="http://www.windowsphone.com/ru-ru/store/app/%D0%BC%D1%84%D1%86-%D0%BA%D1%80%D0%B0%D1%81%D0%BD%D0%BE%D0%B4%D0%B0%D1%80%D0%B0/851eb8b1-3204-43ae-9ced-6736483ff67f" target="_blank"><i class="icon-lk-badge-windows-phone"></i></a>
                <a href="https://play.google.com/store/apps/details?id=ru.krd.mfc" target="_blank"><i class="icon-lk-badge-google-play"></i></a>
                <a href="https://itunes.apple.com/ru/app/id400628503?mt=8" target="_blank"><i class="icon-lk-badge-app-store"></i></a>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="app">
            <div class="info clearfix">
                <img src="{{ asset('/bundles/krduser/i/mobile-app-gidkrd.png') }}" alt=""><a href="https://itunes.apple.com/us/app/gid-po-krasnodaru/id558829124?l=ru&ls=1&mt=8" class="title" target="_blank">Гид по Краснодару</a>
            </div>
            <div class="badges clearfix">
                <a href="https://itunes.apple.com/us/app/gid-po-krasnodaru/id558829124?l=ru&ls=1&mt=8" target="_blank"><i class="icon-lk-badge-app-store"></i></a>
            </div>
        </div>
    </div>
</div>

<a href="{{ controller_path(52, 'krd_user_mobile') }}" class="btn btn-blue right-button">Смотреть все</a>
