{# Форма создания обращения #}

{% form_theme form.destination "KrdAppealBundle:Module:appeal/theme.html.twig" %}

{{ form_start(form, {attr:{class:'stylized ajax-form', 'ng-submit':'submit()', 'ng-controller':'AppealFormCtrl', id:'appeal-submit-form', 'novalidate':''}}) }}
    <div id="appeal-submit-form-success" class="text-block hidden"></div>

    {{ form_widget(form.destination) }}

    <div class="page-title mini nm">{% trans %}Персональные данные{% endtrans %}</div>

    <div class="form-row x3 clearfix">
        <div class="cell clearfix">
            <div class="label">{% trans %}Фамилия{% endtrans %}*:</div>
            {{ form_widget(form.lastname) }}
        </div>

        <div class="cell clearfix">
            <div class="label">{% trans %}Имя{% endtrans %}*:</div>
            {{ form_widget(form.name) }}
        </div>

        <div class="cell clearfix">
            <div class="label">{% trans %}Отчество{% endtrans %}*:</div>
            {{ form_widget(form.midname) }}
        </div>
    </div>

    <div class="form-row x3 clearfix">
        <div class="cell clearfix">
            <div class="label">{% trans %}Телефон{% endtrans %}:</div>
            {{ form_widget(form.phone) }}
        </div>

        <div class="cell clearfix">
            <div class="label">{% trans %}E-mail{% endtrans %}*:</div>
            {{ form_widget(form.email) }}
        </div>

        <div class="cell">
            <!-- Empty -->
        </div>
    </div>

    <div class="page-title mini nm">{% trans %}Направить ответ{% endtrans %}*:</div>

    <div class="form-row x1 clearfix">
        <div class="cell clearfix">
            {{ form_widget(form.replyType) }}
        </div>
    </div>

    <div class="page-title mini nm">{% trans %}Почтовый адрес{% endtrans %}</div>

    <div class="form-row x3 clearfix">
        <div class="cell clearfix">
            <div class="label">{% trans %}Индекс{% endtrans %}*:</div>
            {{ form_widget(form.postcode) }}
        </div>

        <div class="cell clearfix">
            <div class="label">{% trans %}Город{% endtrans %}*:</div>
            {{ form_widget(form.city) }}
        </div>

        <div class="cell clearfix">
            <div class="label">{% trans %}Район{% endtrans %}:</div>
            {{ form_widget(form.district) }}
        </div>
    </div>

    <div class="form-row x3 clearfix">
        <div class="cell clearfix">
            <div class="label">{% trans %}Улица{% endtrans %}*:</div>
            {{ form_widget(form.street) }}
        </div>

        <div class="cell clearfix">
            <div class="label">{% trans %}Дом/корпус{% endtrans %}*:</div>
            {{ form_widget(form.house) }}
        </div>

        <div class="cell clearfix">
            <div class="label">{% trans %}Квартира{% endtrans %}:</div>
            {{ form_widget(form.room) }}
        </div>
    </div>

    <div class="page-title mini nm">{% trans %}Текст вашего обращения{% endtrans %}*:</div>

    <div class="form-row x1 clearfix">
        <div class="cell clearfix">
            {{ form_widget(form.message) }}
        </div>
    </div>

    {% if app.request.cookies.has('dddd') %}

    <div class="page-title mini nm">{% trans %}Прикрепить файл{% endtrans %}:</div>

    <div class="form-row x1 clearfix">
        <div class="cell clearfix">
            <span class="fileinput-button btn-blue">
                <span>Выбрать файл</span>
                <input id="fileupload" type="file" name="appealFiles">
            </span>
            <span class="fileinput-info">
                <span>Размер файла должен быть до 5 мб.</span>
                <br>
                <span>
                    Разрешенные к загрузке типы файлов: <b>txt,doc,docx,rtf,xls,xlsx,pps,ppt,pdf,jpg,bmp,png,tif,pcx</b>
                </span>
            </span>
            <div id="progress" class="progress">
                <div class="progress-bar progress-bar-success"></div>
            </div>
            <div id="appeal_errors"></div>
            <div id="files" class="files"></div>
                {{ form_widget(form.appealFiles) }}
        </div>
    </div>

    {% endif %}

    <div class="form-row x1 clearfix">
        <div class="text-block">
            <p>
                {% trans %}В целях защиты персональных данных граждан, отправка обращений через Интернет-приемную администрации муниципального образования город Краснодар производится по шифрованному каналу передачи данных, используя шифрование SSL.{% endtrans %}
            </p>
            <p>
                {% trans %}Безопасность передаваемых данных подтверждена сертификатом безопасности.{% endtrans %}
            </p>
        </div>
    </div>

    <div class="form-row x1 clearfix">
        <div class="cell clearfix text-align-center">
            {% spaceless %}
                <button type="submit" class="btn btn-blue">{% trans %}Отправить{% endtrans %}</button>
                {% if app.user and is_granted('ROLE_USER') %}
                    &nbsp;&nbsp;<div class="btn btn-blue" ng-click="saveDraft()">{% trans %}Сохранить черновик{% endtrans %}</div>
                {% endif %}
                &nbsp;&nbsp;<button type="button" ng-click="clearForm()" class="btn btn-deep-blue">{% trans %}Очистить{% endtrans %}</button>
            {% endspaceless %}
        </div>
    </div>
{{ form_end(form) }}
