{# Темы формы для обращений #}

{#{% block files_widget_expanded %}
{% spaceless %}
    <files-list url="{{ path(route_name) }}" name="{{ full_name|replace({'[]': ''}) }}" files="{{ files }}" widget="{{ widget }}" {% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}></files-list>
{% endspaceless %}
{% endblock files_widget_expanded %}#}

{% block choice_widget_expanded %}
    {% spaceless %}
    <div class="appeal-destination-field" selected-title="{% trans %}Адресат вашего обращения{% endtrans %}: %value%">
        <div class="item close">
            <div class="wrap-icon clearfix">
                <div class="icon">
                    <i class="icon-content-menu-plus"></i>
                    <i class="icon-content-menu-minus"></i>
                </div>
                <a href="#" class="title">{% trans %}Выберите адресата вашего обращения{% endtrans %}</a>
            </div>

            <div class="text-block clearfix">
                <div class="appeal-destination-list">
                {% set lastGroup = 0 %}

                {% for child in form %}
                    {% if child.vars.entity.getGroup() != lastGroup %}
                        {% set lastGroup = child.vars.entity.getGroup() %}
                        <div class="group-name">{{ child.vars.entity.getGroupFullName() }}:</div>
                    {% endif %}
                    <label class="group-{{ lastGroup }}">
                        {% if lastGroup != 2 %}
                            {{ form_widget(child) }}&nbsp;<span class="name">{{ child.vars.entity.getTitle() }}</span> - {{ child.vars.entity.getAnnounce() }}
                        {% else %}
                            {{ form_widget(child) }}&nbsp;{{ child.vars.entity.getAnnounce() }} - <span class="name">{{ child.vars.entity.getTitle() }}</span>
                        {% endif %}
                    </label>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}
