{# Список вакансий на главной департамента #}

{% if list is not empty %}
    <div class="page-title mini">{{ node.getFrontendTitle() }}</div>

    <section class="items-list vacancy-mini-list bordered clearfix">
        {% for item in list %}
            <div class="item">
                <div class="headline clearfix">
                    <div class="date">{{ item.getDate()|krd_date_format }}</div>
                    <a href="{{ item.getUrl() }}" class="title">{{ item.getTitle() }}</a>
                </div>
            </div>
        {% endfor %}
    </section>

    <div class="text-align-right">
        <a class="btn btn-blue" href="{{ node.getUrl(true) }}">Все вакансии</a>
    </div>
{% endif %}
