{# Подробный вид вакансии #}

<div class="headline clearfix">
    <div class="date">{{ item.getDate()|krd_date_format }}</div>
</div>

<div class="page-title d-line">{{ item.getTitle() }}</div>

<div class="text-block clearfix">
    {% if item.hasImages() %}
        <div class="icons-slider img-left">
            {% for image in item.getImages() %}
                <a href="{{ image.getUrl('fancybox') }}" class="item fancybox" title="{{ image.getTitle() }}" rel="vacancy-{{ item.getId() }}">
                    <img src="{{ image.getUrl('news_preview') }}" alt="{{ image.getTitle() }}">
                </a>
            {% endfor %}
        </div>
    {% endif %}

    {{ item.getContent()|raw }}
</div>

{% if item.hasFiles() %}
    {% include "KrdSiteBundle::Module/content/files.html.twig" with {files:item.getFiles()} %}
{% endif %}
