{# Список вакансий #}

<section class="items-list clearfix">
    {% for item in list %}
        <article class="item clearfix">
            {% if item.hasImages() %}
                <a href="{{ item.getUrl() }}" class="icon icon-list" title="{{ item.getTitle() }}">
                    <img src="{{ item.getMainImage().getUrl('news_list') }}" alt="{{ item.getTitle() }}">
                </a>
            {% endif %}

            <div class="w">
                <div class="headline clearfix">
                    <div class="date">{{ item.getDate()|krd_date_format }}</div>
                </div>
                <a href="{{ item.getUrl() }}" class="title">{{ item.getTitle() }}</a>
                <div class="text-block">{{ item.getAnnounce() }}</div>
            </div>
        </article>
    {% else %}
        <div class="text-block">Страница в разработке</div>
    {% endfor %}
</section>
