{# Модуль обращений интернет приемной #}

<h3>Интернет приемная</h3>

<tabs>
    <pane heading="Список обращений" url="/appeal/">
        <div entity-list="{{ path('cms_rest_krd_appeal_appeal') }}:id?parent={{ currentNode.getId() }}" url="/appeal/" columns="{id:{title:'#'}, name:{title:'Имя'}, lastname:{title:'Фамилия'}, midname:{title:'Отчество'}, date:{title:'Дата'}, destination:{title:'Адресат', modifier:'el_object', by:'title'}, status:{title:'Статус'}, got_from:{title:'Откуда'}, reply_type:{title:'Направить ответ'}}" count="10" disable-move></div>
    </pane>

    <ghostpane heading="Ред. обращения #{id}" url="/appeal/edit/{id}" parent="0" template="{{ path('cms_rest_krd_appeal_appeal_form_add') }}{id}"></ghostpane>

    <!--  -->

    <pane heading="Список адресатов" url="/destination/">
        <div entity-list="{{ path('cms_rest_krd_appeal_destination') }}:id?parent={{ currentNode.getId() }}" url="/destination/" columns="{id:{title:'#'}, title:{title:'Заголовок'}, emails:{title:'Email', modifier:'el_list'}, group_name:{title:'Группа'}, active:{title:'Активность', isBoolean:true}, export:{title:'Экспортировать?', isBoolean:true}}" btn-add="Добавить" count="10" sortable disable-move></div>
    </pane>

    <ghostpane heading="Новый адресат" url="/destination/create/" parent="2" template="{{ path('cms_rest_krd_appeal_destination_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Ред. адресата #{id}" url="/destination/edit/{id}" parent="2" template="{{ path('cms_rest_krd_appeal_destination_form_add') }}{id}"></ghostpane>
</tabs>
