{# Страница списка фотоальбомов #}

{% extends "KrdGlavaBundle::layout.html.twig" %}

{% block layout_content %}
	<div class="media-container clearfix">
		<div class="headline has-share-panel clearfix">
			<div class="date">{{ gallery.getDate()|krd_date_format }}</div>
			 {% include "KrdSiteBundle:blocks:headline-share.html.twig" with {nosubscribe:true} %}
		</div>
        {% include "KrdSiteBundle:blocks:share-panel-float.html.twig" with {nosubscribe:true} %}
		<div class="page-title d-line">{{ gallery.getTitle() }}</div>
		<div class="glava-flybox dark-theme">
		<div light-box noshare="true">
		    {% for image in gallery.getImages() %}
		        <div class="item" preview="{{ image.getUrl('glava800x600') }}" socialimg="{{ image.getUrl('socialimg') }}" fancybox="{{ image.getUrl('fancybox') }}" original="{{ image.getFile().path }}" size="{{ image.getFile().size }}" dimension="{{ image.getFile().width }}x{{ image.getFile().height }}" title="{{ image.getTitle()|default(item.getTitle()) }}">
		            <img src="{{ image.getUrl('gallery_mini') }}" alt="{{ image.getTitle() }}">
		        </div>
		    {% endfor %}
		</div>
		</div>
	</div>
{% endblock %}