{# Интерактивная схема свободных земельных участков предназначенных для предоставления гражданам, имеющим трёх и более детей в пос. Лазурном #}

{% stylesheets  filter="cssrewrite, ?catchamonkey_cssmin" output="css/style.mfc.css"
                'bundles/krdmfc/css/style.css'
                %}
    <link rel="stylesheet" href="{{ asset_url }}" media="all">
{% endstylesheets %}

{% javascripts  output="js/script.mfc8.js"
                '@KrdSiteBundle/Resources/public/vendor/jquery/jquery-1.8.min.js'
                '@KrdMfcBundle/Resources/public/js/raphael-min.js'
                '@KrdMfcBundle/Resources/public/js/map8.js'
                '@KrdMfcBundle/Resources/public/js/block2-v2.js'
            %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

<div class="mfc-block block" id="mfc-block-fullscreen">
    <div class="mfc-map-scroller" id="mfc-map-scroller">
        <div class="btn btn-gray btn-fullscreen" title="{% trans %}На весь экран{% endtrans %}"><i class="icon-fullscreen"></i></div>
        <div class="mfc-map-mt"></div>
        <div class="mfc-map-mb"></div>
        <div class="mfc-map-ml"></div>
        <div class="mfc-map-mr"></div>
        <div class="mfc-map8" id="mfc-map" map:address-loader="{{ path('krd_mfc_load', {map:8, action:''}) }}" map:limit="-7500,-3500,500,500" infobox:offset-x="10" infobox:offset-y="0">
            <div class="mfc-infobox" id="mfc-infobox">
                <div class="mfc-infobox-content"><b></b>
                    <span id="mfc-infobox-info"></span>
                </div>
            </div>
            <div class="mfc-map8-features" id="mfc-map-features"></div>
        </div>
    </div>

    <div class="legend" align="center" style="margin:13px 0 4px"><img src="{{ asset('/bundles/krdmfc/i/legend.png') }}"/></div>
</div>

<div class="block">
    <div class="page-title" id="mfc-list-free-title">Свободные земельные участки</div>
    <div class="mfc-lists clearfix">
        <ul id="mfc-list-free"></ul>
    </div>
</div>
