{# Схема территориального планирования муниципального образования город Краснодар #}

{% stylesheets  filter="cssrewrite, ?catchamonkey_cssmin" output="css/style.mfc.css"
                'bundles/krdmfc/css/style.css'
                %}
    <link rel="stylesheet" href="{{ asset_url }}" media="all">
{% endstylesheets %}

{% javascripts  output="js/script.mfc-scheme.js"
                '@KrdSiteBundle/Resources/public/vendor/jquery/jquery-1.8.min.js'
            %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

<div class="mfc-block" id="mfc-block-fullscreen">
    <div class="mfc-block-description">
        <div id="mfc0-map" style="width:100%;height:600px;border: 1px solid #CCC;"></div>
    </div>
</div>

<div class="block">
    <div class="page-title">Условные обозначения</div>
    <div class="clearfix">
        <img src="{{ asset('/bundles/krdmfc/i/scheme-legend-l.jpg') }}" style="float:left;"/><img src="{{ asset('/bundles/krdmfc/i/scheme-legend-r.jpg') }}"/>
    </div>
</div>

{% raw %}
    <script src="http://api-maps.yandex.ru/1.1/index.xml?key=AKL-OE8BAAAAAXArXgIAzvpVoLcyGoIxWLotLGNypRUz0Q4AAAAAAAAAAAAmMhFOlvoiCqQL7mFMBCSha917Zg==" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
            var options = {
                tileUrlTemplate: "/bundles/krdmfc/i/scheme/%z/tile-%x-%y.jpg",
                controls: {
                    typeControl: false,
                    miniMap: false,
                    toolBar: false,
                    scaleLine: false
                },
                scrollZoomEnabled: false,
                mapCenter: new YMaps.GeoPoint(-175.345050048828, 84.7519913740477),
                backgroundMapType: YMaps.MapType.NONE,
                mapZoom: 8,
                isTransparent: true,
                smoothZooming: false,
                layerKey: "my#layer",
                mapType: {
                    name: "mfc0",
                    textColor: "#000000"
                },
                copyright: ""
            },
            map = new YMaps.Map(document.getElementById("mfc0-map")),
            myData = new YMaps.TileDataSource(options.tileUrlTemplate, options.isTransparent, options.smoothZooming);

            myData.getTileUrl = function (tile, zoom) {
                return this.getTileUrlTemplate().replace(/%x/i, tile.x).replace(/%y/i, tile.y).replace(/%z/i, zoom);
            }

            var MyLayer = function () {
                return new YMaps.Layer(myData);
            }
            YMaps.Layers.add(options.layerKey, MyLayer);

            var mapLayers = options.backgroundMapType ? options.backgroundMapType.getLayers() : [],
                myMapType = new YMaps.MapType(YMaps.jQuery.merge(mapLayers, [ options.layerKey ]), options.mapType.name, { textColor: options.mapType.textColor });

            map.setCenter(options.mapCenter, options.mapZoom, myMapType);

            map.setMinZoom(8);
            map.setMaxZoom(10);
            map.enableScrollZoom();
            map.addControl(new YMaps.Zoom({noTips: true}));
        });
    </script>
{% endraw %}
