{# Список объектов города #}

<section class="items-block-list city-object-list clearfix">
    {% for item in list %}
        <article class="item clearfix" city-object-item="{{ path('ajax_city_city_object_detail', {id:item.getId()}) }}" city-object-name="{{ item.getName() }}">
            {% if item.hasImages() %}
                <a href="{{ item.getUrl() }}" class="icon icon-list city-object-link" title="{{ item.getTitle() }}">
                    <img src="{{ item.getMainImage().getUrl('block_preview') }}" alt="{{ item.getTitle() }}">
                </a>
            {% endif %}

            <a href="{{ item.getUrl() }}" class="title ajax-link city-object-link">{{ item.getTitle() }}</a>
            <div class="clear"></div>
            <div class="text-block">{{ item.getAnnounce()|raw }}</div>
        </article>
    {% else %}
        <div class="text-block">{% trans %}Раздел в стадии заполнения{% endtrans %}</div>
    {% endfor %}
</section>
