{# Список RSS лент #}

{% spaceless %}
    {% if list is not empty %}
        <div class="items-list mini rss-list bordered">
            {% for item in list %}
                <div class="item node-item clearfix">
                    <a href="{{ item.getNodeUrl() }}" class="title">{{ item.getTitle() }}</a>

                    <div class="buttons">
                        <a target="_blank" class="google" href="http://fusion.google.com/add?source=atgs&amp;feedurl={{ appContainer.getParameter('krd.url')|url_encode }}{{ item.getUrl()|url_encode }}"><img src="http://buttons.googlesyndication.com/fusion/add.gif" border="0" alt="Add to Google"></a>
                        <a target="_blank" class="yandex" href="http://lenta.yandex.ru/settings.xml?name=feed&amp;url={{ appContainer.getParameter('krd.url')|url_encode }}{{ item.getUrl()|url_encode }}"><img src="http://lenta.yandex.ru/i/addfeed.gif" border="0" alt="Читать в Яндекс.Ленте"></a>
                        <a target="_blank" class="rss" href="{{ item.getUrl() }}"><i class="icon-rss"></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endspaceless %}
