{# Форма подписки в контентном поле #}

<div class="well clearfix subscribe-well {% if unsubscribe %}subscriber-exists{% else %}subscriber-new{% endif %}">
    {% if unsubscribe %}
        <div class="page-title">{% trans %}Вы подписаны на рассылку новостей и в любой момент можете{% endtrans %}</div>
    {% else %}
        <div class="page-title">{% trans %}Подписка на городской репортер{% endtrans %}</div>
    {% endif %}

    {{ form_start(form, {
        attr:{
            class:'stylized ajax-form',
            'ng-submit':'submit()',
            'ng-controller':'subscribeFormCtrl',
            id:form_id,
            'novalidate':'',
            'message-subscribe':'На указанный Email отправлено письмо с инструкцией по подтверждению подписки. Спасибо.'|trans,
            'message-unsubscribe':'Вы успешно отписаны от рассылки.'|trans
        }
    }) }}

    <div class="form-row{% if unsubscribe %} hidden{% endif %}">
        {{ form_widget(form.email) }}
    </div>

    <div class="form-row">
        {% if unsubscribe %}
            <div class="btn btn-blue" ng-click="unsubscribe() || reload()">{% trans %}Отписаться{% endtrans %}</div>
        {% else %}
            <button type="submit" class="btn btn-blue">{% trans %}Подписаться{% endtrans %}</button>
        {% endif %}
    </div>

    {{ form_end(form) }}
</div>
