{# Админская часть модуля Галерея #}

<h3>Галереи</h3>

<tabs>
    <pane heading="Список галерей" url="/gallery/">
        <div entity-list="{{ path('cms_rest_krd_gallery_gallery') }}:id?parent={{ currentNode.getId() }}" url="/gallery/" columns="{id:{title:'#'}, title:{title:'Заголовок'}, name:{title:'Системное имя'}, active:{title:'Активность', isBoolean:true}}" btn-add="Добавить галерею" count="10"></div>
    </pane>

    <ghostpane heading="Новая галерея" url="/gallery/create/" parent="0" template="{{ path('cms_rest_krd_gallery_gallery_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Ред. галереи #{id}" url="/gallery/edit/{id}" parent="0" template="{{ path('cms_rest_krd_gallery_gallery_form_add') }}{id}"></ghostpane>
</tabs>
