{# Меню документов на главной под виджетами #}

{% spaceless %}
    <div id="documents-menu-anchor"></div>
    <div class="documents-menu" documents-menu floating="49" floating-state="isEnabledFloating()">
        <ul class="clearfix">
            <li>
                <span class="hoverable" data-id="1969">
                    <s></s><i class="icon-doc-ordinance"></i><span class="title-text">Документы</span>
                </span>
            </li>

            <li>
                <span class="hoverable" data-id="1971">
                    <s></s><i class="icon-doc-public-hearings"></i><span class="title-text">Публичные слушания</span>
                </span>
            </li>

            <li>
                <span class="hoverable" data-id="1972">
                    <s></s><i class="icon-doc-auctions"></i><span class="title-text">Аукционы, конкурсы, торги</span>
                </span>
            </li>

            <li>
                <a class="hoverable" href="/dokumenty/dokumenty-administratsii/administrativnaya-reforma/">
                    <s></s><i class="icon-doc-anticorruption"></i><span class="title-text">Антикоррупционная экспертиза</span>
                </a>
            </li>
        </ul>
    </div>

    {{ appContainer.get('krd.document.modules.document').renderIndexPreview(1969)|raw }}
    {{ appContainer.get('krd.document.modules.document').renderIndexPreview(1971)|raw }}
    {{ appContainer.get('krd.document.modules.document').renderIndexPreview(1972)|raw }}

    <div id="documents-menu-end-anchor"></div>
{% endspaceless %}
