{# Города-побратимы #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    <section class="page-content">
        {% include "KrdSiteBundle::blocks/breadcrumb.html.twig" %}

        <div class="headline is-empty has-share-panel clearfix">
            {% include "KrdSiteBundle:blocks:headline-share.html.twig" with {nosubscribe:true} %}
        </div>
        {% include "KrdSiteBundle:blocks:share-panel-float.html.twig" with {nosubscribe:true} %}
        <div class="page-title">{{ currentNode.getFrontendTitle() }}</div>

        <div class="brother-city-wrap clearfix">
            {{ appContainer.get('krd.site.modules.content').renderContentTopMenu()|raw }}

            <div id="brother-city-map" class="locale-{{ app.request.locale }}">
                <a class="i1" title="{% trans %}Ноттингем{% endtrans %}" href="/upravlenie-delami/mezhdunarodnye-svyazi/partnerskie-svyazi/goroda-pobratimy/nottingham/">{% trans %}Ноттингем{% endtrans %}<s></s></a>

                <a class="i2" title="{% trans %}Карлсруэ{% endtrans %}" href="/upravlenie-delami/mezhdunarodnye-svyazi/partnerskie-svyazi/goroda-pobratimy/karlsrue/">{% trans %}Карлсруэ{% endtrans %}<s></s></a>

                <a class="i3" title="{% trans %}Феррара{% endtrans %}" href="/upravlenie-delami/mezhdunarodnye-svyazi/partnerskie-svyazi/goroda-pobratimy/ferrara/">{% trans %}Феррара{% endtrans %}<s></s></a>

                <a class="i4" title="{% trans %}Харбин{% endtrans %}" href="/upravlenie-delami/mezhdunarodnye-svyazi/partnerskie-svyazi/goroda-pobratimy/harbin/">{% trans %}Харбин{% endtrans %}<s></s></a>

                <a class="i5" title="{% trans %}Таллахасси{% endtrans %}" href="/upravlenie-delami/mezhdunarodnye-svyazi/partnerskie-svyazi/goroda-pobratimy/tallahassee/">{% trans %}Таллахасси{% endtrans %}<s></s></a>

                <a class="i6" title="{% trans %}Бургас{% endtrans %}" href="/upravlenie-delami/mezhdunarodnye-svyazi/partnerskie-svyazi/goroda-pobratimy/burgas/">{% trans %}Бургас{% endtrans %}<s></s></a>

                <a class="i7" title="{% trans %}Сухум{% endtrans %}" href="/upravlenie-delami/mezhdunarodnye-svyazi/partnerskie-svyazi/goroda-pobratimy/suhum/">{% trans %}Сухум{% endtrans %}<s></s></a>

                <a class="i8" title="{% trans %}Ереван{% endtrans %}" href="/upravlenie-delami/mezhdunarodnye-svyazi/partnerskie-svyazi/goroda-pobratimy/erevan/">{% trans %}Ереван{% endtrans %}<s></s></a>
            </div>
        </div>

        {# Выводим модули страницы #}
        {% for module in currentNode.getController().getModules() %}
            {{ appContainer.get(module).renderContent()|raw }}
        {% endfor %}

        {{ appContainer.get('krd.site.modules.content').renderContentBottomMenu()|raw }}
    </section>

    {% include "KrdSiteBundle::blocks/social-bottom.html.twig" %}
    {% include "KrdSiteBundle::blocks/footer-banners.html.twig" %}
    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}
