{# Успешное подтверждение подписки #}

{% extends "KrdSiteBundle:Content:index.line.html.twig" %}

{% block content %}
    <section class="page-content">

        <div class="page-title">Подтверждение подписки</div>

        <div class="text-block">
            <p>
                Подписка на новости для E-mail <b>{{ subscriber.getEmail() }}</b> успешно подтверждена
            </p>
        </div>
    </section>

    {% include "KrdSiteBundle::blocks/social-bottom.html.twig" %}
    {% include "KrdSiteBundle::blocks/footer-banners.html.twig" %}
    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}
