{# Форма подписки на новости #}

<div class="page-title d-line nm">{% trans %}Подписка на новости{% endtrans %}</div>

<div class="text-block clearfix">
    {{ form_start(form, {
        attr:{
            class:'stylized ajax-form',
            'ng-submit':'submit()',
            'ng-controller':'subscribeFormCtrl',
            id:'subscriber-form',
            'novalidate':'',
            'message-subscribe':'На указанный Email отправлено письмо с инструкцией по подтверждению подписки. Спасибо.'|trans,
            'message-unsubscribe':'Указанный Email успешно отписан от рассылки.'|trans
        }
    }) }}

    <div class="form-row clearfix">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
    </div>

    <div class="form-row last clearfix">
        <div class="cell clearfix text-align-center">
            <div class="btn btn-deep-blue" ng-click="unsubscribe()">{% trans %}Отписаться{% endtrans %}</div>&nbsp;&nbsp;<button type="submit" class="btn btn-blue">{% trans %}Подписаться{% endtrans %}</button>
        </div>
    </div>

    {{ form_end(form) }}
</div>

<div class="page-title d-line nm">{% trans %}Срочные сообщения{% endtrans %}</div>

<div class="text-block clearfix">
    {{ form_start(eform, {
        attr:{
            class:'stylized ajax-form',
            'ng-submit':'submit()',
            'ng-controller':'subscribeFormCtrl',
            id:'subscriber-form',
            'novalidate':'',
            'message-subscribe':'На указанный Email отправлено письмо с инструкцией по подтверждению подписки. Спасибо.'|trans,
            'message-unsubscribe':'Указанный Email успешно отписан от рассылки.'|trans
        }
    }) }}

    <div class="form-row clearfix">
        {{ form_label(eform.email) }}
        {{ form_widget(eform.email) }}
    </div>

    <div class="form-row last clearfix">
        <div class="cell clearfix text-align-center">
            <div class="btn btn-deep-blue" ng-click="unsubscribe()">{% trans %}Отписаться{% endtrans %}</div>&nbsp;&nbsp;<button type="submit" class="btn btn-blue">{% trans %}Подписаться{% endtrans %}</button>
        </div>
    </div>

    {{ form_end(eform) }}
</div>


