{# Связь с администрацией сайта #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    <section class="page-content">
        {% include "KrdSiteBundle::blocks/breadcrumb.html.twig" %}

        <div class="page-title d-line">{{ currentNode.getFrontendTitle() }}</div>

        <div class="contacts-circle clearfix">
            <div class="c-left">
                {% set content = appContainer.get('krd.site.modules.content').getContent('block-1') %}

                {% if content is not empty %}
                    <div class="one bt-1">
                        <i class="icon-email-large icon"></i>
                        <div class="page-title nm">{{ content.getTitle() }}</div>
                        <div class="text-block">
                            {{ content.getContent()|raw }}
                        </div>
                    </div>
                {% endif %}

                <div class="clearfix"></div>

                {% set content = appContainer.get('krd.site.modules.content').getContent('block-2') %}

                {% if content is not empty %}
                    <div class="two bt-2">
                        <i class="icon-shedule-hands-large icon"></i>
                        <div class="page-title nm">{{ content.getTitle() }}</div>
                        <div class="text-block">
                            {{ content.getContent()|raw }}
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="c-middle">
                <div class="star"><div class="fix"></div></div>

                {% set content = appContainer.get('krd.site.modules.content').getContent('block-3') %}

                {% if content is not empty %}
                    <div class="three-wrap">
                        <div class="three bt-1">
                            <i class="icon-humans-large icon"></i>
                            <div class="page-title nm">{{ content.getTitle() }}</div>
                            <div class="text-block">
                                {{ content.getContent()|raw }}
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="clearfix"></div>

                {% set content = appContainer.get('krd.site.modules.content').getContent('block-4') %}

                {% if content is not empty %}
                    <div class="four bt-2">
                        <i class="icon-mail-large icon"></i>
                        <div class="page-title nm">{{ content.getTitle() }}</div>
                        <div class="text-block">
                            {{ content.getContent()|raw }}
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="c-right">

                {% set content = appContainer.get('krd.site.modules.content').getContent('block-5') %}

                {% if content is not empty %}
                    <div class="five bt-1">
                        <i class="icon-browser-large icon"></i>
                        <div class="page-title nm">{{ content.getTitle() }}</div>
                        <div class="text-block">
                            {{ content.getContent()|raw }}
                        </div>
                    </div>
                {% endif %}

                <div class="clearfix"></div>

                {% set content = appContainer.get('krd.site.modules.content').getContent('block-6') %}

                {% if content is not empty %}
                    <div class="six bt-2">
                        <i class="icon-phone-large icon"></i>
                        <div class="page-title nm">{{ content.getTitle() }}</div>
                        <div class="text-block">
                            {{ content.getContent()|raw }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    {% include "KrdSiteBundle::blocks/social-bottom.html.twig" %}
    {% include "KrdSiteBundle::blocks/footer-banners.html.twig" %}
    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}
