{# Детальный контент объекта города #}

<div class="page-title d-line nm">{{ item.getTitle() }}</div>

<div class="text-block clearfix">
    {% if item.hasImages() %}
        <img src="{{ item.getMainImage().getUrl('block_preview') }}" width="300" height="225" alt="{{ item.getTitle() }}" class="img-left">
    {% endif %}
    {{ item.getContent()|raw }}
</div>
