
<div id="media-container" data-source="{{ currentNode.getUrl(true) }}source">
	<div class="list-row clearfix" id="row-1">
		<div class="previewSlider" preview-slider>
		</div>
		<div class="list-view clearfix">
			{% for item in list.getItems() %}
				<div class="item" id="{{ item.getid() }}">
					<div class="item-area">
						<a href="#show:{{ item.getId() }}" class="icon">
							<div class="loading"></div>
							<img src="{{ item.getMainImage().getUrl('glava292x219') }}" />
						</a>
						<div class="headline clearfix">
							<div class="date">{{ item.getDate()|krd_date_format }}</div>
							<div class="theme">Количество фото: {{ item.getImagesCount() }}</div>
						</div>
						<a href="#show:{{ item.getId() }}" class="title">{{ item.getTitle() }}</a>
					</div>
				</div>
				{% if not loop.last %}
					{% if loop.index is divisibleby(3) %}
					</div></div><div class="list-row clearfix" id="row-{{ loop.index }}"><div class="previewSlider" preview-slider></div><div class="list-view clearfix">
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>

<div class="clear" style="height: 30px"></div>
{% if list.getPageCount() > 1 %}
    <div class="btn btn-blue btn-block next-page" more-btn-body="media-container" more-btn-ex url="{{ path('ajax_glava_gallery_list', {'parent':currentNode.getId()}) }}">{% trans %}Показать еще{% endtrans %}</div>
{% endif %}

<script type="text/javascript" src="http://yastatic.net/share/share.js" charset="utf-8"></script> 

{% raw %} 
<script type="text/ng-template" id="glava-list-item">
	<div class="list-row clearfix">
		<div class="previewSlider" preview-slider>
		</div>
		<div class="list-view clearfix">
			<div class="item" ng-repeat="item in items" id="{{ item.id }}">
				<div class="item-area">
					<a href="#show:{{ item.id }}" class="icon">
						<div class="loading"></div>
						<img src="{{ item.image_main.size.glava292x219 }}" />
					</a>
					<div class="headline clearfix">
						<div class="date">{{ item.date }}</div>
						<div class="theme">Количество фото: {{ item.images.length }}</div>
					</div>
					<a href="#show:{{ item.id }}" class="title">{{ item.title }}</a>
				</div>
			</div>
		</div>
	</div>
</script>
{% endraw %}