<div light-box data-id="{{ item.getId() }}" data-current="{{ currentIndex }}">
    {% for image in item.getImages() %}
        <div class="item" preview="{{ image.getUrl('glava800x600') }}" socialimg="{{ image.getUrl('socialimg') }}" fancybox="{{ image.getUrl('fancybox') }}" original="{{ image.getFile().path }}" size="{{ image.getFile().size }}" dimension="{{ image.getFile().width }}x{{ image.getFile().height }}" title="{{ image.getTitle()|default(item.getTitle()) }}">
            <img src="{{ image.getUrl('gallery_mini') }}" alt="{{ image.getTitle() }}">
        </div>
    {% endfor %}
</div>