<!doctype html>
<html lang="{{ app.request.locale }}" class="full-height locale-{{ app.request.locale }} ng-app:krd" ng-app="krd" id="ng-app" xmlns:ng="http://angularjs.org">
<head>
    <meta charset="UTF-8">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="apple-itunes-app" content="app-id=906493327">
    <meta name="google-play-app" content="app-id=ru.krd">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@krdru">
    
    <meta name="robots" content="noyaca"/>
	<meta name="robots" content="noodp"/>

    {% if appContainer.get('qcore.seo.manager').hasKeywords() %}
        <meta name="keywords" content="{{ appContainer.get('qcore.seo.manager').getKeywords() }}">
    {% endif %}

    {% if appContainer.get('qcore.seo.manager').hasDescription() %}
        <meta name="description" content="{{ appContainer.get('qcore.seo.manager').getDescription() }}">
        <meta name="twitter:description" content="{{ appContainer.get('qcore.seo.manager').getDescription() }}">
        <meta property="og:description" content="{{ appContainer.get('qcore.seo.manager').getDescription() }}">
    {% endif %}

    {% if appContainer.get('qcore.seo.manager').hasImage() %}
        <meta property="og:image" content="{{ appContainer.get('qcore.seo.manager').getImage() }}">
        <meta name="twitter:image" content="{{ appContainer.get('qcore.seo.manager').getImage() }}">
        <link rel="image_src" href="{{ appContainer.get('qcore.seo.manager').getImage() }}" />
    {% endif %}
	
	<meta property="og:title" content="Администрация и городская Дума Краснодара krd.ru" />
	
    <meta property="og:title" content="{{ appContainer.get('qcore.seo.manager').getTitlePrint() }}">
    <meta name="twitter:title" content="{{ appContainer.get('qcore.seo.manager').getTitlePrint() }}">

    <meta property="og:url" content="{{ app.request.getUri() }}">
    <meta name="twitter:url" content="{{ app.request.getUri() }}">

    <meta name="norton-safeweb-site-verification" content="ue5-ts0qqpi2y1gvjzars6lvwlojsj3afc0z0wn5z1j7ktr01j9sf76imu1lx8ft-ftl581osbsgr7-zou3s91syy7t1pwimv7fwuokt7bl29daqq8b58wts6lkijcok">

    <meta name='yandex-verification' content='4db1b2b3556434ca' />
    <meta name="google-site-verification" content="rEWmF5SdhmlZnjF4wHWbwZJLlBlXgqFnEUdYDM1v9wg" />

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    {% stylesheets  filter="cssrewrite, ?catchamonkey_cssmin" output="css/style-1.v1.css" combine=true
                    'bundles/krdsite/css/jqueryui/*.css'
                    %}
        <link rel="stylesheet" href="{{ asset_url }}" media="all">
    {% endstylesheets %}

    {% stylesheets  filter="cssrewrite, ?catchamonkey_cssmin" output="css/style-2.v2.css" combine=true
                    '@krd_css'
                    %}
        <link rel="stylesheet" href="{{ asset_url }}" media="all">
    {% endstylesheets %}

    {% stylesheets  filter="cssrewrite, ?catchamonkey_cssmin" output="css/style.print.css"
                    '@krd_css_print'
                    %}
        <link rel="stylesheet" href="{{ asset_url }}" media="print">
    {% endstylesheets %}

    {% stylesheets filter="cssrewrite, ?catchamonkey_cssmin"
                'bundles/krdsite/css/ie7.css'
                %}
        <!--[if lte IE 7]><link rel="stylesheet" href="{{ asset_url }}" media="all"><![endif]-->
    {% endstylesheets %}

    {% block addstyles %}{% endblock %}

    {% javascripts '@KrdSiteBundle/Resources/public/vendor/mashajs/js/ierange.js'
                %}
        <!--[if lt IE 9]><script src="{{ asset_url }}"></script><![endif]-->
    {% endjavascripts %}

    {% javascripts '@KrdSiteBundle/Resources/public/js/iefix/ie9.js'
                %}
        <!--[if (lt IE 9) & (gte IE 8)]><script src="{{ asset_url }}"></script><![endif]-->
    {% endjavascripts %}

    {% javascripts '@KrdSiteBundle/Resources/public/js/iefix/html5shiv.js'
                %}
        <!--[if lte IE 7]><script src="{{ asset_url }}"></script><![endif]-->
    {% endjavascripts %}

    <!--[if lte IE 8]>
    <script>
        document.createElement('ng-view');
    </script>
    <![endif]-->

    <title>{% spaceless %}
        {% block title %}
            {{ appContainer.get('qcore.seo.manager').getTitlePrint() }}
        {% endblock %}
    {% endspaceless %}</title>
</head>
<body themeble-body ng-class="getClass()">
    <div id="fb-root"></div>

    {{ appContainer.get('krd.site.modules.content').renderAsideMenu()|raw }}

    {% include "KrdSiteBundle::blocks/header-panel.html.twig" %}

    <!-- Content -->
    <div id="page">
        <div class="header-padding"></div>
        <div class="page-wrap">
            {% include "KrdSiteBundle::blocks/header.html.twig" %}

            {% block content %}{% endblock %}

            {{ appContainer.get('krd.site.modules.link').renderPreFooter()|raw }}
        </div>
    </div>

    {% include "KrdSiteBundle::blocks/footer.html.twig" %}

    <div id="upmsg-selectable">
        <div class="wrap">
            <p>Вы можете отметить интересные вам фрагменты текста, которые будут доступны по уникальной ссылке в адресной строке браузера.</p>
            <a href="#" class="upmsg_closebtn"></a>
        </div>
    </div>

    {% if app.user and is_granted('ROLE_USER') %}
        <div id="txtselect_marker" class="user_txtselect_marker">
            <a href="#" class="button masha" title="{% trans %}Отметить фрагмент текста{% endtrans %}"><i class="icon-lk-mashajs"></i></a>
            <div class="button documents" dialog-show="user.documents.add" title="{% trans %}Добавить в документы{% endtrans %}"><i class="icon-lk-adddocument"></i></div>
        </div>

        {% include "KrdUserBundle::blocks/add-document.window.html.twig" %}
        {% include "KrdUserBundle::blocks/add-bookmark.window.html.twig" %}
    {% endif %}

    <div id="scroll-up-btn" scroll-up-btn><i class="icon-scroll-up"></i></div>

    <script>
        window.locale = '{{ app.request.locale }}';
        {% if app.user and is_granted('ROLE_USER') %}
            window.___user = {{ app.user|serialize|raw }};
            window.__route = {
                'krd_user_documents_list': '{{ controller_path(44, 'krd_user_documents_list') }}',
                'krd_user_documents_directory_create': '{{ controller_path(44, 'krd_user_documents_directory_create') }}',
                'krd_user_documents_document_create': '{{ controller_path(44, 'krd_user_documents_document_create') }}',
                'krd_user_documents_document_edit': '{{ controller_path(44, 'krd_user_documents_document_edit', {id:'00000'})|replace({'00000':':id'}) }}',

                'krd_user_bookmarks_list': '{{ controller_path(45, 'krd_user_bookmarks_list') }}',
                'krd_user_bookmarks_directory_create': '{{ controller_path(45, 'krd_user_bookmarks_directory_create') }}',
                'krd_user_bookmarks_bookmark_create': '{{ controller_path(45, 'krd_user_bookmarks_bookmark_create') }}',
                'krd_user_bookmarks_bookmark_edit': '{{ controller_path(45, 'krd_user_bookmarks_bookmark_edit', {id:'00000'})|replace({'00000':':id'}) }}',

                'krd_comments_activate': '{{ path('krd_comments_activate', {id:'00000'})|replace({'00000':':id'}) }}',
                'krd_comments_deactivate': '{{ path('krd_comments_deactivate', {id:'00000'})|replace({'00000':':id'}) }}',
                'krd_comments_delete': '{{ path('krd_comments_delete', {id:'00000'})|replace({'00000':':id'}) }}',
                'krd_user_sort_widgets': '{{ controller_path(43, 'krd_user_sort_widgets') }}'
            };
        {% endif %}
    </script>

    {% javascripts  output="js/all.v3.js" combine=true
                    '@krd_js'
                %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <script type="text/javascript" src="//vk.com/js/api/openapi.js?105"></script>

    {% block addscripts %}{% endblock %}

    {% raw %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28800844-1']);
      _gaq.push(['_setDomainName', 'krd.ru']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <!-- Yandex.Metrika counter  -->
    <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter7863286 = new Ya.Metrika({id:7863286, enableAll: true, webvisor:true});
            } catch(e) {}
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/7863286" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter  -->
    {% endraw %}
</body>
</html>
