{# Двухколоночный макет. Сайдбар справа #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    <section class="page-content clearfix">
        <div class="left-column">
            {% block content_body %}{% endblock %}
        </div>

        <aside>
            {% block content_aside %}{% endblock %}
        </aside>
    </section>

    {% include "KrdSiteBundle::blocks/social-bottom.html.twig" %}
    {% include "KrdSiteBundle::blocks/footer-banners.html.twig" %}
    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}
