{# Список руководителей города #}

{% if items is not empty %}
    <section class="mayor-list clearfix">
        {% for item in items %}
            <article class="item" mayor-item="{{ path('ajax_administration_mayor_detail', {id:item.getId()}) }}" mayor-name="{{ item.getName() }}" multi-height="mayor-row-{{ loop.index0 // 5 }}">
                {% if item.hasImages() %}
                    <a href="{{ item.getUrl() }}" class="icon mayor-link">
                        <img src="{{ item.getMainImage().getUrl('mayor_preview') }}" alt="{{ item.getFio() }}">
                    </a>
                {% endif %}
                <a href="{{ item.getUrl() }}" class="title mayor-link ajax-link">{{ item.getFio() }}</a>
                {% if item.hasAnnounce() %}
                    <div class="text-block">({{ item.getAnnounce() }})</div>
                {% endif %}
            </article>
        {% endfor %}
    </section>
{% endif %}
