/** Future online list **/
.items-list.online-future > .item > .icon {margin-right:0; margin-left:10px;}
.items-list.online-future > .item > .icon:first-child {margin-left:0;}
.items-list.online-future > .item > .icon + .w {padding-left:20px;}
.items-list.online-future > .item > .w > .title {font-size:18px; line-height:20px;}


/** Partners list **/
.online-partners-list table {width:100%; table-layout:fixed;}
    .online-partners-list table td {width:1%; padding:0 10px; vertical-align:middle;}
    .online-partners-list table td:first-child {padding-left:0;}
    .online-partners-list table td:last-child {padding-right:0;}
        .online-partners-list table td a {display:block; width:100%; text-align:center;}
        .online-partners-list table td:first-child a {text-align:left;}
        .online-partners-list table td:last-child a {text-align:right;}
            .online-partners-list table td a img {max-width:100%;}


/** Conference questions list **/
.conference-question-item .text-block {margin-top:12px;}
.conference-question-item .reply {margin:16px 0 0 0; padding-left:40px;}
    .conference-question-item .reply > .icon {float:left; margin-right:25px;}
    .conference-question-item .reply > .w {overflow:hidden;}

.conference-question-item .headline > .date {margin-right:10px;}
.conference-question-item .headline > .title {float:none; overflow:hidden; margin:0;}

