.offset-top-2 { margin: 20px 0 0; }

/* gallery/video */
.media-container .list-row {padding: 42px 0 0;}
.media-container .list-row:first-child {padding:0;}

.media-container .list-row .list-view .item .title {color: #09689f; font: 14px/1 Arial, Helvetica, sans-serif;}
	.media-container .list-row .list-view .item .icon {display:block;}
		.media-container .list-row .list-view .item .icon img {display:block;}
	.media-container .list-row .list-view .item .headline {padding: 10px 0 8px;}
	.media-container .list-row .list-view .item .item-area { zoom: 1; width: 293px; }
	.media-container .list-row .list-view .item {margin: 0 0 0 42px; cursor: pointer; display: block; position: relative; float: left; min-height: 304px; width: 293px;}
	.media-container .list-row .list-view .item:first-child {margin:0;}
.media-container .list-row .list-view .item.active .item-area {z-index: 200; position: absolute; top: -20px; left: -20px; right: -20px; bottom: -20px; border: 1px solid #d8dbdd; border-top: none; padding: 0 19px 19px; background: #f5f5f5;} 
	.media-container .list-row .list-view .item.active .item-area .icon {display: none;} 
	.media-container .list-row .list-view .item.active .item-area .title {font-size: 22px;} 
	.media-container .list-row .list-view .item.active .item-area .headline {padding-top: 1px;}
		.media-container .list-row .list-view .item.active .item-area .headline .theme {background: #fff;}
		
		.media-container .list-row .list-view .item .icon { position: relative; display: block; }
		.media-container .list-row .list-view .item .loading {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			display: block;
			background: url(/bundles/krdsite/i/preloader-92.gif) center no-repeat;
			background-color: #fff;
			background-color: rgba(255,255,255,0.85);
			opacity: 0;
			filter: alpha(opacity=0);
			-webkit-transition: 0.2s opacity linear;
			-moz-transition: 0.2s opacity linear;
			-o-transition: 0.2s opacity linear;
			-ms-transition: 0.2s opacity linear;
			transition: 0.2s opacity linear;
		}
		
		.media-container .list-row .list-view .item.clicked .loading { opacity: 1; filter: alpha(opacity=0);}
				
		.media-container .list-row .preview-container {padding: 23px 19px 20px; margin: 0 -19px 19px -20px; border: 1px solid #d8dbdd; background: #f5f5f5; position: relative;}
			.media-container .list-row .preview-container .prev {z-index: 10; height: 300px; width: 53px; display: block; position: absolute; top: 55px; left: 19px;}
				.media-container .list-row .preview-container .prev.hidden { display: none; }
				.media-container .list-row .preview-container .prev i {width: 33px; height: 62px; background: url(../i/sprite.png) -40px -78px no-repeat; display: block; position: absolute; top: 131px; left: 0;}
				.media-container .list-row .preview-container .prev:hover i {background-position: -113px -78px;}
			.media-container .list-row .preview-container .next {z-index: 10; height: 300px; width: 53px; display: block; position: absolute; top: 55px; right: 19px;}
				.media-container .list-row .preview-container .next i {width: 33px; height: 62px; background: url(../i/sprite.png) -77px -78px no-repeat; display: block; position: absolute; top: 131px; right: 0;}
				.media-container .list-row .preview-container .next:hover i {background-position: -154px -78px;}
				.media-container .list-row .preview-container .next.hidden { display: none; }
				
			.media-container .list-row .preview-container .slider {width: 855px; height: 300px; overflow: hidden; margin: 0 53px;}
			
				.media-container .list-row .preview-container .slider .flow {width: 10000000px; height: 300px; }
					.media-container .list-row .preview-container .slider .viewport {float: left;}
						.media-container .list-row .preview-container .slider .slide {float: left;position: relative;height: 300px;width: 400px;}
							.media-container .list-row .preview-container .slider .slide a { display: block; position: relative; }
							.media-container .list-row .preview-container .slider .slide a i { display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: #fff; opacity: 0.4; filter: alpha(opacity=40); content: ''; }
							.media-container .list-row .preview-container .slider .slide.active a i { display: none; }
							
		.media-container .title-container {z-index: 100; margin:0 0 19px; position: relative;}
			.media-container .title-container .counter {font: 18px/1 Arial, Helvetica, sans-serif; letter-spacing: -1px; color:#a0a0a0; float: left; margin: 0 20px 0 0;}
				.media-container .title-container .counter span {font-size:24px; font-weight: bold; color: #083857;}
			.media-container .title-container .title {float: left; color: #000; font: 14px Arial, Helvetica, sans-serif; padding: 2px 0 0; }
				
.page-container {}
	.page-container .left-column { float: left; width: 700px; }
	.page-container .left-column + aside { width: 234px; float: left; margin-left: 30px; }
	
	.page-container .headline { margin: 0 0 9px; position: relative; }
		.page-container .headline .date {padding: 0 10px; float: left; font: 11px/20px Arial, Helvetica, sans-serif; color: #fff; background: #264c64;}
		.page-container .headline .q { margin: 0 1px 0 0; width: 20px; height: 20px; display: block; float: left; background: url(../i/sprite.png) -122px 0 no-repeat; }
		
	.page-container .speech-block { }
		.page-container .speech-block p { padding-left: 29px; padding-bottom: 20px; font: normal 400 14px/19px Arial, Helvetica, sans-serif; }
		.page-container .speech-block p:last-child { padding-bottom: 0; }
			
	.page-container .dialog-question,
	.page-container .speech-block h3 { padding-left: 29px; font: italic 400 14px/19px Arial, Helvetica, sans-serif; color: #083857; position: relative; }
		.page-container .speech-block p.dialog-question,
		.page-container .speech-block h3 { font-style: italic; }
		.page-container .dialog-question:before,
		.page-container .speech-block h3:before { content: ''; width: 20px; height: 20px; display: block; background: url(../i/sprite.png) -122px 0 no-repeat; position: absolute; top: 0; left: 0; }
	
	.page-container .buttons { margin: 27px 0 0; text-align: center; }
		.page-container .buttons .btn { display: inline-block; }
	
	.page-container .item-list { }
		.page-container .item-list .item { }
			.page-container .item-list .item .faq-title { font: normal 14px/17px Arial, Helvetica, sans-serif; color: #09689f; }
			.page-container .item-list .faq-item .faq-title { font: italic 400 14px/17px Arial, Helvetica, sans-serif; color: #09689f; text-decoration: none; border-bottom: 0 none;}
			.page-container .item-list .faq-item .faq-title.active {border:0 none; color: #083857;}
			.page-container .item-list .faq-item .faq-title:hover { border-bottom: 1px dashed #09689f;}
			.page-container .item-list .faq-item .faq-title.active:hover { border-bottom: 0 none; }
			
			.page-container .item-list .faq-item .faq-container {display:none;position: relative;margin:16px 0 0; padding: 18px 19px; border: 1px solid #d8dbdd; background-color: #fbfbfc;}
				.page-container .item-list .faq-item .faq-container:before {width:7px;height: 8px;background: url(../i/sprite.png) -8px -49px no-repeat;content:'';display: block; position: absolute; top: -8px; left:-1px;}
				.page-container .item-list .faq-item .faq-container .close { position: absolute; top: 6px; right: 6px; background: url(../i/sprite.png) -69px -9px no-repeat; display: block; width: 7px; height: 7px; }
				.page-container .item-list .faq-item .text-container {}
					.page-container .item-list .faq-item .text-container p {padding-bottom:20px;font: normal 400 14px/17px Arial, Helvetica, sans-serif; }
					.page-container .item-list .faq-item .text-container p:last-child {padding:0;}
			
		.page-container .item-list .s-line { height: 41px; background: url(../i/s-line.png) 0 50% repeat-x; clear: both; }


.layout-header { min-height: 323px; position: relative; }
	.layout-header .left-col { float: left; width: 581px; min-height: 255px;position: relative; }
	.layout-header .right-col { float: left; width: 380px; min-height: 255px;position: relative; }
		.layout-header .right-col img { display: block; margin-top: -10px; }
		
		.layout-header .layout-title { padding-top: 25px; }
			.layout-header .title { font: 36px/1 'Roboto', sans-serif; font-weight:bold; color: #083857; }
			.layout-header .post-title { font: 16px/1 'Roboto', sans-serif; color: #737373; margin-top: 12px; }
			
		.layout-header .layout-container { margin-top: 32px; }
			.layout-header .layout-container .layout-item { color: #09689f; font: 12px/1 'Roboto', sans-serif; text-transform: uppercase; display: block; margin-bottom: 20px; }
				.layout-header .layout-container .layout-item { text-decoration: none; }
				.layout-header .layout-container .layout-item span { color: #09689f; font: 12px/1 'Roboto', sans-serif; text-decoration: none; border-bottom: 1px solid #09689f; display: inline-block; }
				.layout-header .layout-container .layout-item:hover span { border: 0 none; }
				.layout-header .layout-container .layout-item.dashed span { border-style: dashed; }
				.layout-header .layout-container .layout-item i { width: 23px; height: 22px; margin-right: 8px; display: inline-block; vertical-align: middle; background: url(../i/sprite.png) 0 0 no-repeat; }
				.layout-header .layout-container .layout-item.assist i { background-position: -2px -23px; }
				.layout-header .layout-container .layout-item.schedule i { background-position: -29px -23px; }
				.layout-header .layout-container .layout-item.twitter i { background-position: -53px -23px; }
			.layout-header .layout-container .layout-item:last-child {margin:0;}
	
	.layout-header nav { background: #0968a0; height: 51px; display: block; position: relative; text-align: center; }
		.layout-header nav > ul { display: inline-block; height: 51px; }
			.layout-header nav > ul > li { display: inline-block; height: 51px; background: url(../i/v-line.png) 0 50% no-repeat; }
			.layout-header nav > ul > * + li { margin-left: -5px; }
			.layout-header nav > ul > li:first-child { background: none; }
				.layout-header nav > ul > li a { padding: 0 30px; height: 51px; display: block; position: relative; line-height: 50px; color: #fff;text-decoration: none;}
				.layout-header nav > ul > li a:hover span { border-bottom: 1px solid #fff; }
					.layout-header nav > ul > li a span { position: relative; z-index: 200; font-weight:bold; font: 15px/1 'Roboto', sans-serif; color: #fff; text-transform: uppercase; }
				
				.layout-header nav > ul > li.active + li { background: none;}	
				.layout-header nav > ul > li.active a { height: 58px; margin-top: -6px; line-height: 58px; }
					.layout-header nav > ul > li.active a span { color: #083857; }
					.layout-header nav > ul > li.active a:before { z-index: 2; display: block; content: ''; position: absolute; width: 31px; top: 0; left: 0; bottom: 0; background: url(../i/sprite.png) 0 -81px no-repeat;}
					.layout-header nav > ul > li.active a:after { z-index: 1; display: block; content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url(../i/sprite.png) 100% -141px no-repeat;}

.layout-content { padding: 20px 0 0; }

.layout-footer { margin-top: 9px; }
	.layout-footer .f-line { background: url(../i/f-line.png) 0 50% repeat-x; height: 42px; }
	.layout-footer .page-title { float: left; }
	.layout-footer .group-links { float: left; margin-left: 20px; margin-top: 3px; }
		.layout-footer .group-links a { float: left; display: block; position: relative; padding: 0 0 0 21px; margin: 0 20px 0 0; text-decoration: none; }
			.layout-footer .group-links a span { display: inline-block; vertical-align: middle; border-bottom: 1px dashed #09689f; color: #09689f; font: 13px/15px Arial, Helvetica, sans-serif }
			.layout-footer .group-links a:hover span { border: 0 none; position: relative; top: -1px; }
			.layout-footer .group-links a:before { content: ''; display: block;  position: absolute; top: 0; left: 0; width: 1px; bottom: 0; background: url(../i/sprite.png) -19px -49px no-repeat; }
			.layout-footer .group-links a i { display: inline-block; top: -1px; position: relative; vertical-align: middle; width: 16px; height: 16px; background: url(../i/sprite.png) 0 0 no-repeat; margin: 0 10px 0 0;}
		.layout-footer .group-links .tw i { background-position: -4px 0; width: 19px; }
		.layout-footer .group-links .fb i { background-position: -28px 0; }
		.layout-footer .group-links .vk i { background-position: -49px 0; }

 
.news-aside {}
	.news-aside .display-block { display: block; margin-top: 10px; }

.news-theme-form { width: 776px; } 
	.news-theme-form .row { }
	.news-theme-form .row.flow-content { height: 328px; overflow: hidden; }
	.news-theme-form .set-title { font: 18px/1 'Roboto', sans-serif; font-weight:bold; color: #083857; text-transform: uppercase; margin-bottom: 18px; }
	.news-theme-form .span2 { width: 127px; float: left; margin-top: 9px; }
	.news-theme-form .span10 { width: 649px; float: left; }
		.news-theme-form .span10 > input { width: 569px; min-height: 32px; border: 1px solid #d9d9d9; display: inline-block; vertical-align: top; }
		.news-theme-form .span10 button { height: 32px;margin-left:16px; margin-right: -5px; }
		.news-theme-form .row ul { margin-top: -10px; }
			.news-theme-form .row ul li { padding: 10px 10px 0; float: left;  width: 238px; }
				.news-theme-form .row ul li:before { display: none; }
			.news-theme-form .row ul li label {  position: relative; display: block; padding-left: 23px; }
			.news-theme-form .row ul li label span { color: #09689f; text-decoration: underline; }
				.news-theme-form .row ul li label input { position: absolute; top: 2px; left: 0; }
	.news-theme-form .scroll { position: absolute; bottom: 20px; right: 11px; height: 326px; background: url(../i/scrollbar.png) 0 0 no-repeat; border: 0 none; }
		.news-theme-form .scroll a { background: url(../i/slide-handle.png) 0 0 no-repeat; width: 23px; height: 23px; left: -8px; margin: 0 0 -11px; border: 0 none; }
	
	.news-theme-form .tagsinput { border: 1px solid #d9d9d9; display: inline-block; vertical-align: top; }
		.news-theme-form .tagsinput input { display: block; float: left; width: 80px; height: 32px; border: 0 none; padding-left: 6px; }
		.news-theme-form .tagsinput input:focus { outline: none; }
		.news-theme-form .tagsinput span.tag { cursor: pointer; display: block; position: relative; padding: 0 14px 0 9px; float: left; margin: 2px; border: 1px solid #d9d9d9; height: 26px; line-height: 26px; }
			.news-theme-form .tagsinput span.tag span { line-height: 1; display: inline-block; }
			.news-theme-form .tagsinput span.tag a { width: 7px; height: 7px; background: url(../i/sprite.png) -69px 0 no-repeat; display: block; position: absolute; top: 9px; right: 9px }
		.news-theme-form .tagsinput span.tag {
			background: rgb(255,255,255);background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIyJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2Y0ZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 22%, rgba(243,244,244,1) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(22%,rgba(254,254,254,1)), color-stop(100%,rgba(243,244,244,1))); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(254,254,254,1) 22%,rgba(243,244,244,1) 100%);background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(254,254,254,1) 22%,rgba(243,244,244,1) 100%);background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(254,254,254,1) 22%,rgba(243,244,244,1) 100%);background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(254,254,254,1) 22%,rgba(243,244,244,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f4f4',GradientType=0 );
		}
		
	.news-theme-form .flow-content.loading {
		/*position: absolute;*/
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		display: block;
		background: url(/bundles/krdsite/i/preloader-92.gif) center no-repeat;
		background-color: #fff;
		background-color: rgba(255,255,255,0.85);
	}
	
	.pos-right { float: right; }

/*
.layout-content .dd-wrap .yashare-auto-init .b-share {
	padding: 0 !important;
}

.layout-content .dd-wrap .yashare-auto-init .b-share a {
	display: block;
	padding: 0 !important;
	float: none;
}

.layout-content .dd-wrap .yashare-auto-init .b-share .b-share-icon_twitter {
	background: url(/bundles/krdsite/i/sprite.png) no-repeat;
	background-position: -1300px -400px;
	width: 41px;
	height: 41px;
}

.layout-content .dd-wrap .yashare-auto-init .b-share .b-share-icon_facebook {
	background: url(/bundles/krdsite/i/sprite.png) no-repeat;
	background-position: -1300px -500px;
	width: 41px;
	height: 41px;
}

.layout-content .dd-wrap .yashare-auto-init .b-share .b-share-icon_vkontakte {
	background: url(/bundles/krdsite/i/sprite.png) no-repeat;
	background-position: -1200px -500px;
	width: 41px;
	height: 41px;
}

.layout-content .dd-list {
	position: relative;
}

.layout-content .dd-wrap {
	position: absolute;
	top: -11px;
	left: -10px;
	display: none;
}*/

.dialog.gallery-popup {
	background: none;
}

.theme-block { margin: 0 0 20px; }
	.theme-block a { font-size: 12px; margin: 1px; display: block; float: left; height: 20px; border: 1px solid #d8dbdd; padding: 6px 23px 0 9px; position: relative; }
		.theme-block a i { width: 7px; height: 7px; background: url(../i/sprite.png) -69px 0 no-repeat; display: block; position: absolute; top: 9px; right: 9px }
	.theme-block a {background: rgb(255,255,255);background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIyJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2Y0ZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 22%, rgba(243,244,244,1) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(22%,rgba(254,254,254,1)), color-stop(100%,rgba(243,244,244,1))); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(254,254,254,1) 22%,rgba(243,244,244,1) 100%);background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(254,254,254,1) 22%,rgba(243,244,244,1) 100%);background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(254,254,254,1) 22%,rgba(243,244,244,1) 100%);background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(254,254,254,1) 22%,rgba(243,244,244,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f4f4',GradientType=0 );}

.gallery-popup .icon-close {
	width: 21px;
	height: 22px;
	z-index: 1000;
	background: url(../i/sprite.png) -148px 0 no-repeat;
}

.preview-social { 
	position: absolute; 
	top: 11px;
	right: 89px;
	z-index: 2000;
}

.preview-social .item {
	display: block;
	width: 23px;
	height: 23px;
}

.preview-social .icon-share-panel-share {
	display: block;
	background: url(/bundles/krdsite/i/sprite.png) -1200px -300px no-repeat;
}
.preview-social .icon-share-dd-share {
	background: url(/bundles/krdsite/i/sprite.png) -1200px -400px no-repeat;
	display: block;
}

.glava-flybox {
	width: 962px;
}
	.glava-flybox .glava-flybox-big-preview {
		width: 800px;
		padding: 53px 81px 31px;
		position: relative;
	}
	
	.glava-flybox .glava-flybox-big-preview .preview-title {
		position: absolute;
		top: 14px;
		left: 150px;
		font: 14px/1 Arial, Helvetica, sans-serif;
		color: #fff;
		width: 520px;
	}
	
	.glava-flybox.dark-theme .preview-title {
		color: #333;
	}
	
	.glava-flybox .preview-count { 
		position: absolute;
		top: 14px; 
		left: 77px;
		font: 18px/1 'Roboto', sans-serif;
		color: #adadad;
	}
		.glava-flybox .preview-count span {
			color: #fff;
			font: 24px/1 'Roboto', sans-serif;
			font-weight:bold;
		}
		
		.glava-flybox.dark-theme .preview-count span {
			color: #333;
		}
	
	.glava-flybox .preview-download {
		display: block; 
		position: absolute;
		top: 0;
		left: 670px;
		color: #fff;
		background: #09689f;
		padding: 6px 6px 7px;
		white-space: nowrap;
		text-decoration: none;
	}
	
		.glava-flybox .preview-download .dw-title {
			position: relative;
			font: 14px/1 'Roboto', sans-serif;
			text-transform: uppercase;
			font-weight:bold;
		}
		
		.glava-flybox .preview-download span,
		.glava-flybox .preview-download b {
			color: #ccd9e5;
			font: 12px/1 Arial, Helvetica, sans-serif;
		}
		
		.glava-flybox .preview-download b {
			font-weight: bold;
		}
		
	.glava-flybox .glava-flybox-preview-list {
		width: 1000000px;
	}
	
	.glava-flybox .glava-flybox-big-preview {
		position: relative;
	}
	
	.glava-flybox .glava-flybox-small-preview {
		position: relative;
		padding: 0 33px;
	}
		.glava-flybox .glava-flybox-small-preview .arrow {
			position: absolute;
			display: block;
			width: 33px; 
			bottom: 0;
			top: 0;
			cursor: pointer;
		}
		
		.glava-flybox .glava-flybox-small-preview .arrow.left {
			left: 0;
		}
		
		.glava-flybox .glava-flybox-small-preview .arrow.right {
			right: 0;
		}
		
			.glava-flybox .glava-flybox-small-preview .arrow i {
				background: url(../i/sprite.png) 0 0 no-repeat;
				width: 13px;
				height: 22px;
				display: block;
				position: absolute;
				top: 50%;
				margin-top: -7px;
			}
			
			.glava-flybox .glava-flybox-small-preview .arrow.left i {
				background-position: -179px 0;
			}
			
			.glava-flybox .glava-flybox-small-preview .arrow.right i {
				background-position: -198px 0;
				right: 0;
			}
			
			.glava-flybox .glava-flybox-small-preview .arrow.left:hover i {
				background-position: -217px 0;
			}
			
			.glava-flybox .glava-flybox-small-preview .arrow.right:hover i {
				background-position: -236px 0;
			}
			
		.glava-flybox .glava-flybox-big-preview .arrow {
			position: absolute;
			display: block;
			width: 33px; 
			bottom: 0;
			top: 0;
			cursor: pointer;
		}
		
		.glava-flybox .glava-flybox-big-preview .arrow.left {
			left: 0;
		}
		
		.glava-flybox .glava-flybox-big-preview .arrow.right {
			right: 0;
		}
		
			.glava-flybox .glava-flybox-big-preview .arrow i {
				background: url(../i/sprite.png) 0 0 no-repeat;
				width: 33px;
				height: 62px;
				display: block;
				position: absolute;
				top: 50%;
				margin-top: -7px;
			}
			
			.glava-flybox .glava-flybox-big-preview .arrow.left i {
				background-position: -40px -78px;
			}
			
			.glava-flybox .glava-flybox-big-preview .arrow.right i {
				background-position: -77px -78px;
			}
			
			.glava-flybox .glava-flybox-big-preview .arrow.left:hover i {
				background-position: -113px -78px;
			}
			
			.glava-flybox .glava-flybox-big-preview .arrow.right:hover i {
				background-position: -154px -78px;
			}
	
	.glava-flybox .glava-flybox-preview-list .item {
		float: left;
		cursor: pointer;
	}
	
	.glava-flybox .glava-flybox-preview {
		width: 800px;
		height: 600px;
		position: relative;
		text-align: center; 
	}
	
	.glava-flybox .glava-flybox-preview img {
		margin: 0 auto;
	}
	
	.glava-flybox .glava-flybox-preview  .loading {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		display: block;
		background: url(/bundles/krdsite/i/preloader-92.gif) center no-repeat;
		background-color: #fff;
		background-color: rgba(255,255,255,0.85);
		opacity: 0;
		-webkit-transition: 0.2s opacity linear;
		-moz-transition: 0.2s opacity linear;
		-o-transition: 0.2s opacity linear;
		-ms-transition: 0.2s opacity linear;
		transition: 0.2s opacity linear;
	}
	.glava-flybox .glava-flybox-preview.loading .loading {
		opacity: 1;
	}
	
	.glava-flybox.dark-theme .glava-flybox-preview.loading .loading {
		background-color: rgba(0, 0,0, 0.7);
		opacity: 1;
	}
	
	.glava-flybox .glava-flybox-slider {
		overflow: hidden;
		height: 96px;
	}
	
	.glava-flybox .glava-flybox-preview-list .viewport {
		float: left;
	}
	
	.glava-flybox.disableprev .arrow.left {
		display: none;
	}
	
	.glava-flybox.disablenext .arrow.right {
		display: none;
	}
	
	.speech-block sup { font-size: 10px; }
	.speech-block ul{ padding-left: 29px; overflow:hidden;padding-bottom:15px}
	.speech-block ul:last-child{padding-bottom:0}
	.speech-block ul ul{padding-left: 0; margin-left:15px}
	.speech-block ul ol{padding-left: 0;margin-left:15px}
	.speech-block ul > li{padding:2px 0 2px 15px;position:relative;font: normal 400 14px/19px Arial,Helvetica,sans-serif;}
	.speech-block ul > li:before{content:'';display:block;width:5px;height:8px;position:absolute;left:0;top:6px;background:url(/bundles/krdsite/i/sprite.png) -500px -800px no-repeat}
	

.preview-social .dd-wrap .yashare-auto-init .b-share {
	padding: 0 !important;
}

.preview-social .dd-wrap .yashare-auto-init .b-share a {
	display: block;
	padding: 0 !important;
	float: none;
}

.preview-social .dd-wrap .yashare-auto-init .b-share .b-share-icon_twitter {
	background: url(/bundles/krdsite/i/sprite.png) no-repeat;
	background-position: -1300px -400px;
	width: 41px;
	height: 41px;
}

.preview-social .dd-wrap .yashare-auto-init .b-share .b-share-icon_facebook {
	background: url(/bundles/krdsite/i/sprite.png) no-repeat;
	background-position: -1300px -500px;
	width: 41px;
	height: 41px;
}

.preview-social .dd-wrap .yashare-auto-init .b-share .b-share-icon_vkontakte {
	background: url(/bundles/krdsite/i/sprite.png) no-repeat;
	background-position: -1200px -500px;
	width: 41px;
	height: 41px;
}

.preview-social .dd-list {
	position: relative;
}

.preview-social .dd-wrap {
	position: absolute;
	top: -11px;
	left: -10px;
	display: none;
}

.glava-flybox .glava-flybox-preview-list .item {
	position: relative;
	margin-left: 4px;
}

.glava-flybox .glava-flybox-preview-list .item:first-child {
	margin-left: 0;
}

.glava-flybox .glava-flybox-preview-list .item img {
	display: block; 
}

.glava-flybox .glava-flybox-preview-list .item.active:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 4px solid #09689f;
}

.glava-flybox .glava-flybox-preview-list .item.active:after {
	content: '';
	display: block;
	position: absolute;
	top: 4px;
	right: 4px;
	bottom: 4px;
	left: 4px;
	border: 1px solid #fff;
}

.faq-headline .share-panel {display:none;}
.faq-headline.active .share-panel { display: block; }
.faq-headline .author { float: left; margin-left: 10px; font-size: 85%; margin-top: 4px; }
.btn-faq { margin-right: 20px; }

.format-switcher {
	position: absolute;
	top: 23px;
	left: 19px;
	right: 22px;
	bottom: 22px;
	z-index: 100;
	background: rgba(0, 0, 0, 0.9);
}

.format-switcher div  {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 130px;
	height: 52px;
	margin: -26px 0 0 -58px;
}

.format-switcher div a {
	margin-left: 1px;
	background: #a8aeb5;
	background: rgba(163, 174, 181, 0.8);
	display: block;
	float: left;
	padding: 16px 11px;
	text-decoration: none;
	font: 28px/1 'Roboto', sans-serif;
	color: #fff;
	font-weight:bold;
}

.format-switcher div a:hover {
	background: rgba(163, 174, 181, 1);
}

.detail-video {
	position: relative;
}

.layout-content .page-content {
	padding: 0;
}

.actionbar {
	margin-top: 27px;
}

.actionbar .action-bar-status {
	float: left;
	margin-top: 7px;
}

.actionbar .btn {
	float: right;
}

.daterange-picker {
	margin-top: 17px;
}

.daterange-picker .daterange-month {
	float: left;
}

.daterange-picker * + .daterange-month {
	margin-left: 40px;
}

.daterange-picker .daterange-month-name {
	color: #083857;
	margin-bottom: 20px;
	font: 17px/1 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight:bold;
}

.daterange-picker .daterange-month-name:after {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	width: 9px;
	height: 6px;
	background: url(../i/sprite.png) -126px -23px no-repeat;
	content: '';
}

.daterange-picker table {
	border-spacing: 0;
	border-collapse: collapse;
}


.daterange-picker table tr {
	
}


.daterange-picker table tr td {
	border: 1px solid #d8dbdd;
	width: 32px;
	height: 32px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}

.daterange-picker .daterange-selected {
	background: #09689f;
	color: #fff;
}
.daterange-picker .daterange-start {
	background: #09689f;
	color: #fff;
}

.daterange-timesheet {
	position: relative;
}

.daterange-timesheet .prev {
	position: absolute;
	top: 33px;
	left: 0;
	height: 166px;
	width: 34px;
}

.daterange-timesheet .prev i {
	width: 15px;
	height: 26px;
	display: block;
	left: 0;
	top: 69px;
	position: absolute;
	background: url(../i/sprite.png) -184px -29px no-repeat;
}

.daterange-timesheet {
	padding-right: 40px;
}

.daterange-timesheet .prev:hover i {
	background-position: -149px -29px;
}

.daterange-timesheet .next {
	position: absolute;
	top: 33px;
	right: 0;
	height: 166px;
	width: 34px;
}

.daterange-timesheet .next i {
	width: 15px;
	height: 26px;
	display: block;
	right: 0;
	top: 69px;
	position: absolute;
	background: url(../i/sprite.png) -202px -29px no-repeat;
}

.daterange-timesheet .next:hover i {
	background-position: -167px -29px;
}

.date-range-btn {
	padding-left: 30px;
	position: relative;
	text-decoration: none;
	margin: 13px 0;
	display: inline-block;
}

.date-range-btn i {
	width: 21px;
	height: 22px;
	background: url(../i/sprite.png) -102px -23px no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}

.date-range-btn span {
	border-bottom: 1px dashed #09689f;
	color: #09689f;
	font-family:'Roboto';
	text-transform:uppercase;
	font-size:12px;
	position:relative;
	top:1px;
}

.daterange-day-wrapper { display: inline-block; font-size: 12px; }
.daterange-available .daterange-day-wrapper {
	color: #09689f;
	text-decoration: underline;
}
.daterange-start .daterange-day-wrapper,
.daterange-selected .daterange-day-wrapper {
	color: #fff;
}

.daterange-disabled,
.daterange-disabled .daterange-day-wrapper {
	opacity: 0.7;
	color: #ccc;
	text-decoration: none;
}

.headline .comments {
	font-size: 11px;
	color: #585858;
	margin-top: 5px;
	margin-left: 11px;
	float: left;
}

.daterange-single {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	padding-left: 21px;
	border-left: 1px solid #d8dbdd;
}

.daterange-single:after {
	background: url(../i/sprite.png) -126px -25px no-repeat;
	display: inline-block;
	vertical-align: middle;
	width: 9px;
	height: 6px;
	content: '';
}

.daterange-single .selectors {
	display: inline-block;
	vertical-align: middle;
	line-height: 16px;
}

.daterange-single .selectors .select {
	display: inline-block;
	_overflow: hidden;
	border: 1px solid #fff;
	top: -2px;
	border-bottom: 0 none;
	color: #09689f;
	text-align: left;
	position: relative;
	cursor: pointer;
	z-index: 1;
}

.daterange-single > .selectors > .select > .value {
	font-family: 'Roboto';
	font-weight:bold;
	font-size: 18px;
	line-height: 16px;
	text-transform: uppercase;
	position: relative;
}

.daterange-single > .selectors > .select > .list {
	position: absolute;
	top: 100%;
	right: -13px;
	padding: 10px 10px;
	border: 1px solid #d8dbdd;
	display: none;
	background: #fff;
}


.daterange-single .selectors .select:hover .list {
	display: block;
}

.daterange-single > .selectors > .select > .list > .item {
	font-size: 12px;
	line-height: 14px;
	font-family: 'Roboto';
	font-weight:bold;
	text-transform: uppercase;
	padding: 7px;
	border-bottom: 1px dotted #d8dbdd;
	cursor: pointer;
	position: relative;
}
