{# Хлебные крошки для элементов поиска #}
{% if bc is not empty %}{% spaceless %}
    <div class="bc clearfix">
        {% for bcI in bc %}
            <a href="{{ bcI.getUrl() }}" class="item">{{ bcI.getTitle() }}</a>
            {% if not loop.last %}
                <span class="d">/</span>
            {% endif %}
        {% endfor %}
    </div>
{% endspaceless %}{% endif %}
