{# Результато поиска для KrdConferenceBundle:Question #}

<article class="item clearfix" data-id="{{ item.getId() }}" data-type="KrdConferenceBundle:Question">
    <span class="number">{{ number }}</span><a href="{{ item.getUrl() }}" class="title">{{ item.getFioAsk()|sphinx_highlight('KrdConferenceQuestionIndex', searchword, {limit:1000}) }}</a>
    <div class="clearfix"></div>

    <div class="text-block">
        {{ item.getQuestion()|striptags('<br>')|sphinx_highlight('KrdConferenceQuestionIndex', searchword) }}
    </div>

    {% set bc = appContainer.get('qcore.routing.breadcrumb').buildForNode(item.getParent().getParent(), true, true) %}
    {% include "KrdSearchBundle:Article:block.breadcrumb.html.twig" with {bc:bc} %}
</article>
