{# Результато поиска для KrdGalleryBundle:Gallery #}

<article class="item clearfix" data-id="{{ item.getId() }}" data-type="KrdGalleryBundle:Gallery">
    <span class="number">{{ number }}</span><a href="{{ item.getUrl() }}" class="title">{{ item.getTitle()|sphinx_highlight('KrdGalleryGalleryIndex', searchword, {limit:1000}) }}</a>
    <div class="clearfix"></div>

    <div class="text-block clearfix">
        {% for img in item.getImages() %}
            {% if loop.index <= 3 %}
                <a href="{{ item.getUrl() }}"><img src="{{ img.getUrl('gallery_preview') }}" alt="{{ img.getTitle() }}" class="img-left"></a>
            {% endif %}
        {% endfor %}
    </div>

    {% set bc = appContainer.get('qcore.routing.breadcrumb').buildForNode(item.getParent(), true, true) %}
    {% include "KrdSearchBundle:Article:block.breadcrumb.html.twig" with {bc:bc} %}
</article>
