{# Результато поиска для KrdGlavaBundle:Video #}

<article class="item clearfix" data-id="{{ item.getId() }}" data-type="KrdGlavaBundle:Video">
    <span class="number">{{ number }}</span><a href="{{ item.getUrl() }}" class="title">{{ item.getTitle()|sphinx_highlight('KrdGlavaVideoIndex', searchword, {limit:1000}) }}</a>
    <div class="clearfix"></div>

    {% set bc = appContainer.get('qcore.routing.breadcrumb').buildForNode(item.getParent(), true, true) %}
    {% include "KrdSearchBundle:Article:block.breadcrumb.html.twig" with {bc:bc} %}
</article>
