{# Результато поиска для KrdNewsBundle:News #}

<article class="item clearfix" data-id="{{ item.getId() }}" data-type="KrdNewsBundle:News">
    <span class="number">{{ number }}</span><a href="{{ item.getUrl() }}" class="title">{{ item.getTitle()|sphinx_highlight('KrdNewsNewsIndex', searchword, {limit:1000}) }}</a>
    <div class="clearfix"></div>

    <div class="text-block">
        {{ item.getContent()|striptags('<br>')|sphinx_highlight('KrdNewsNewsIndex', searchword) }}
    </div>

    {% set bc = appContainer.get('qcore.routing.breadcrumb').buildForNode(item.getParent(), true, true) %}
    {% include "KrdSearchBundle:Article:block.breadcrumb.html.twig" with {bc:bc} %}
</article>
