{# Результато поиска для KrdSiteBundle:Faq #}

<article class="item clearfix" data-id="{{ item.getId() }}" data-type="KrdSiteBundle:Faq">
    <span class="number">{{ number }}</span><a href="{{ item.getParent().getUrl(true) }}" class="title">{{ item.getTitle()|sphinx_highlight('KrdSiteFaqIndex', searchword, {limit:1000}) }}</a>
    <div class="clearfix"></div>

    {% if item.hasReply() %}
        <div class="text-block">
            <p>
                {{ item.getReply()|striptags('<br>')|sphinx_highlight('KrdSiteFaqIndex', searchword) }}
            </p>
        </div>
    {% endif %}

    {% set bc = appContainer.get('qcore.routing.breadcrumb').buildForNode(item.getParent(), true, true) %}
    {% include "KrdSearchBundle:Article:block.breadcrumb.html.twig" with {bc:bc} %}
</article>
