{# Результато поиска для KrdSiteBundle:SubOrganization #}

<article class="item clearfix" data-id="{{ item.getId() }}" data-type="KrdSiteBundle:SubOrganization">
    <span class="number">{{ number }}</span><a href="{{ item.getUrl() }}" class="title">{{ item.getTitle()|sphinx_highlight('KrdSiteSuborganizationIndex', searchword, {limit:1000}) }}</a>
    <div class="clearfix"></div>

    <div class="text-block">
        <span class="gray">{% trans %}Адрес{% endtrans %}:</span> {{ item.getAddress()|striptags|sphinx_highlight('KrdSiteSuborganizationIndex', searchword) }}
        <br /><span class="gray">{% trans %}Телефон{% endtrans %}:</span> {{ item.getPhone()|striptags|sphinx_highlight('KrdSiteSuborganizationIndex', searchword) }}
        <br />
        <br />{{ item.getContent()|striptags('<br>')|sphinx_highlight('KrdSiteSuborganizationIndex', searchword) }}
    </div>

    {% set bc = appContainer.get('qcore.routing.breadcrumb').buildForNode(item.getParent(), true, true) %}
    {% include "KrdSearchBundle:Article:block.breadcrumb.html.twig" with {bc:bc} %}
</article>
