{# Результато поиска для QCoreBundle:Content #}

<article class="item clearfix" data-id="{{ item.getId() }}" data-type="QCoreBundle:Content">
    <span class="number">{{ number }}</span><a href="{{ item.getParent().getUrl(true) }}" class="title">{{ item.getParent().getTitle()|sphinx_highlight('QCoreNodeIndex', searchword, {limit:1000}) }}</a>
    <div class="clearfix"></div>

    <div class="text-block">
        <p>
            {{ item.getContent()|striptags('<br>')|sphinx_highlight('QCoreContentIndex', searchword) }}
        </p>

        {% if item.hasFiles() %}
            <div class="clearfix"></div>
            <p>
                {% trans %}Файлов для скачивания{% endtrans %}: <b>{{ item.getFiles()|length }}</b>
            </p>
        {% endif %}
    </div>

    {% set bc = appContainer.get('qcore.routing.breadcrumb').buildForNode(item.getParent(), true, true) %}

    {% include "KrdSearchBundle:Article:block.breadcrumb.html.twig" with {bc:bc} %}
</article>
