{# Результато поиска для QCoreBundle:Node #}

<article class="item clearfix" data-id="{{ item.getId() }}" data-type="QCoreBundle:Node">
    <span class="number">{{ number }}</span><a href="{{ item.getUrl(true) }}" class="title">{{ item.getTitle()|sphinx_highlight('QCoreNodeIndex', searchword, {limit:1000}) }}</a>
    <div class="clearfix"></div>

    {% set content = item.getFirstContent() %}

    {% if content %}
        <div class="text-block">
            <p>
                {{ content.getContent()|striptags('<br>')|sphinx_highlight('QCoreContentIndex', searchword) }}
            </p>

            {% if content.hasFiles() %}
                <div class="clearfix"></div>
                <p>
                    {% trans %}Файлов для скачивания{% endtrans %}: <b>{{ content.getFiles()|length }}</b>
                </p>
            {% endif %}
        </div>
    {% endif %}

    {% set bc = appContainer.get('qcore.routing.breadcrumb').buildForNode(item, false, true) %}

    {% include "KrdSearchBundle:Article:block.breadcrumb.html.twig" with {bc:bc} %}
</article>
