/** Bottom menu **/
.bottom-menu {padding:0 10px;}
* + .bottom-menu {margin-top:20px;}
.bottom-menu.line {padding-top:15px; margin-top:20px; border-top:1px solid #d8dbdd;}
    .bottom-menu .root-level {float:left; width:20%;}
        .bottom-menu .root-level > li > a {font-size:11px; text-transform:uppercase; font-family:'Roboto'; display:block; padding:10px 10px; position:relative; margin-bottom:10px; color:#083857;}
        .bottom-menu .root-level > li.active > a {font-weight:bold;}
        .bottom-menu .root-level > li > a:before {content:''; position:absolute; bottom:0; left:10px; right:10px; height:0; border-bottom:1px solid #d8dbdd;}
        .bottom-menu .root-level > li > a:after {content:''; display:inline-block; _overflow:hidden; *zoom:1; *display:inline; vertical-align:middle; margin:-2px 0 0 7px; width:8px; height:5px; background:url(../i/sprite.png) -900px -100px no-repeat;}
    .bottom-menu .sub-level > li {display:block;}
        .bottom-menu .sub-level > li > a {display:block; letter-spacing: -0.01em; font-size:13px; font-family:'Roboto'; line-height:1.2; color:#585858; padding:6px 0 7px 10px; border-radius:2px; text-decoration:none;}
        .bottom-menu .sub-level > li > a:after {content:''; display:inline-block; _overflow:hidden; *zoom:1; *display:inline; vertical-align:middle; margin-left:5px; width:4px; height:5px; background:url(../i/sprite.png) -600px -200px no-repeat;}
        .bottom-menu .sub-level > li.active > a {background:#264c64; color:#fff;}
        .bottom-menu .sub-level > li.active > a:after {background-position:-500px -200px; width:5px; height:4px; margin-top:-1px;}
        .bottom-menu .sub-level > li > a:hover {background:#09689f; color:#fff;}
        .bottom-menu .sub-level > li > a:hover:after {background-position:-500px -200px; width:5px; height:4px; margin-top:-1px;}
