/** Contacts circle **/
.contacts-circle .page-title {font-size:19px; line-height:21px; display:block; margin-bottom:11px; margin-top:-3px;}
.contacts-circle .text-block {font-size:13px; line-height:15px;}

.contacts-circle > .c-left {float:left; width:300px; position:relative;}
.contacts-circle > .c-middle {float:left; width:300px; margin-left:30px; position:relative; }
.contacts-circle > .c-right {float:left; width:300px; margin-left:30px; position:relative;}

.contacts-circle > .c-left > .one {position:absolute; left:0; top:170px;}
.contacts-circle > .c-left > .two {margin-top:410px; position:relative;}

.contacts-circle > .c-middle > .three-wrap {position:relative; height:200px;}
.contacts-circle > .c-middle > .three-wrap > .three {position:absolute; left:0; bottom:15px;}
.contacts-circle > .c-middle > .four {margin-top:335px; position:relative;}
    .contacts-circle > .c-middle > .four .page-title {padding-top:8px; margin-bottom:3px;}
.contacts-circle > .c-middle > .star {background:url(../i/contacts-center.png) no-repeat; position:absolute; left:0; top:200px; display:block; width:300px; height:316px;}
    .contacts-circle > .c-middle > .star > .fix {display:block; width:10px; height:100px; position:absolute; left:0; top:50%; margin-top:-50px; background:#fff;}

.contacts-circle > .c-right > .five {position:absolute; left:0; top:170px;}
.contacts-circle > .c-right > .six {margin-top:410px; position:relative;}


/** Block type one **/
.contacts-circle .bt-1 {padding-left:80px; width:220px;}
.contacts-circle .bt-1 > .icon {position:absolute; left:0; top:0;}

/** Block type two **/
.contacts-circle .bt-2 > .page-title {padding-left:80px; min-height:56px;}
.contacts-circle .bt-2 > .icon {position:absolute; left:0; top:0;}

/** Interactive block **/
.contacts-circle .faq-block-interactive > .item .question .title {padding:5px 0 6px 38px; font-size:13px;}
.contacts-circle .faq-block-interactive > .item .question .icon {width:27px;}
    .contacts-circle .faq-block-interactive > .item .question .icon * {margin-top:-5px; margin-left:-5px;}
    .contacts-circle .faq-block-interactive > .item .question .icon .icon-minus-11 {margin-top:-1px;}
    .contacts-circle .faq-block-interactive > .item.close .icon-minus-11  {display:none;}
    .contacts-circle .faq-block-interactive > .item.open .icon-plus-11  {display:none;}
.contacts-circle .faq-block-interactive > .item .reply {padding:15px 19px 18px 19px}
.contacts-circle .faq-block-interactive .reply.text-block p {padding-bottom:9px; margin-bottom:9px; border-bottom:1px dotted #d9dadc;}
.contacts-circle .faq-block-interactive .reply.text-block p:last-child {padding-bottom:0; margin-bottom:0; border-bottom:0 none;}
