/** Alphabetical dictionary **/
.dictionary-alphabet {margin-bottom:20px; border:1px solid #d8dbdd; background:#f4f4f4; padding:10px 15px 8px;}
.dictionary-alphabet.floating {width:934px; z-index:1;}
    .dictionary-alphabet > .item {font-family:'Roboto'; font-weight:bold; font-size:20px; line-height:1.2; color:#09689f; text-transform:uppercase; float:left; margin-right:10px; cursor:pointer; text-decoration:none;}
.dictionary-alphabet > .item:hover {text-decoration:underline;}

.dictionary-list {margin-bottom:20px;}
.dictionary-list:last-child {margin-bottom:0;}
    .dictionary-list > .letter {font-family:'Roboto'; font-weight:bold; font-size:20px; line-height:1.2; color:#09689f; text-transform:uppercase; margin-bottom:10px;}
    .dictionary-list > .item {margin-bottom:15px;}
    .dictionary-list > .item:last-child {margin-bottom:0;}
        .dictionary-list > .item > a {display:block; padding:0 0 0 15px; position:relative; font-size:16px;}
        .dictionary-list > .item > a:before {content:''; display:block; width:5px; height:8px; position:absolute; left:0; top:5px; background:url(../i/sprite.png) -500px -800px no-repeat;}
        .dictionary-list > .item > .text-block {margin-top:10px; display:none;}
