/** FAQ list **/
.faq-list {font-size:14px; line-height:16px;}
    .faq-list > .item > .question .text-block {font-weight:bold; padding-top:4px; overflow:hidden;}
    .faq-list > .item > .question > .icon-question {float:left; margin-right:10px;}
    .faq-list > .item > .reply {padding-left:40px;}
    .faq-list > .item > .question + .reply {margin-top:25px;}
        .faq-list > .item > .reply > .icon-reply {float:left; margin-right:10px;}
        .faq-list > .item > .reply > .text-block {overflow:hidden;}


/** FAQ interactive block **/
.faq-block-interactive + .text-align-right {margin-top:20px;}
.faq-block-interactive > .item {border:1px solid #dbdbdb; font-size:14px; line-height:16px; margin-bottom:1px;}
.faq-block-interactive > .item:last-child {margin-bottom:0;}
    .faq-block-interactive > .item .question {position:relative; cursor:pointer;}
    .faq-block-interactive > .item .question:hover {background:#f5f5f5;}
        .faq-block-interactive > .item .question .icon {width:38px; height:100%; background:#f5f5f5; border-right:1px solid #dbdbdb; position:absolute; left:0; top:0;}
        .faq-block-interactive > .item .question:hover .icon {background:#f0f0f0;}
            .faq-block-interactive > .item .question .icon * {position:absolute; left:50%; top:50%; margin-top:-11px;}
            .faq-block-interactive > .item .question .icon .icon-question-e {margin-left:-7px;}
            .faq-block-interactive > .item .question .icon .icon-reply-e {margin-left:-2px;}
        .faq-block-interactive > .item .question .title {display:block; padding:15px 0 15px 60px; font-family:'Roboto';}
        .faq-block-interactive > .item .question:hover .title {text-decoration:none;}
    .faq-block-interactive > .item .reply {padding:28px 30px 30px 30px; border-top:1px solid #dbdbdb;}
.faq-block-interactive > .item.close .reply {display:none;}
.faq-block-interactive > .item.close .icon-reply-e {display:none;}
.faq-block-interactive > .item.open .question {background:#f5f5f5;}
.faq-block-interactive > .item.open .icon {background:#fff;}
.faq-block-interactive > .item.open:hover .icon {background:#f8f8f8;}
    .faq-block-interactive > .item.open .icon-question-e {display:none;}
.faq-block-interactive > .item.open .title {color:#000; font-weight:bold; text-decoration:none;}
