*[class^="icon-"] {display:inline-block; _overflow:hidden; *zoom:1; *display:inline; background:url(../i/sprite.png) no-repeat; vertical-align:middle; width:16px; height:16px;}


.icon-feedback {background-position:-400px -100px; width:13px;}
a:hover .icon-feedback {background-position:-400px -200px;}
.icon-profile {background-position:-300px -100px;}
a:hover .icon-profile {background-position:-300px -200px;}
.icon-specialsite {background-position:-200px -100px; height:13px;}
a:hover .icon-specialsite {background-position:-200px -200px;}
.icon-mobilesite {background-position:-100px -100px; width:12px;}
a:hover .icon-mobilesite {background-position:-100px -200px;}
.icon-sitemap {background-position:0 -100px; height:13px;}
a:hover .icon-sitemap {background-position:0 -200px;}

.icon-scroll-up {background-position:-1100px -900px; width:54px; height:54px;}
.icon-scroll-up:hover {background-position:-1200px -900px;}

.icon-close-8 {background-position:-900px -900px; width:8px; height:8px;}

.icon-fullscreen {background:url(../i/ymap-fullscreen.png) no-repeat; width:18px; height:18px;}

.icon-english {background-position:-400px 0; width:18px;}
.icon-russian {background-position:-428px 0; width:18px;}
.icon-twitter {background-position:-500px 0; width:19px;}
.icon-facebook {background-position:-600px 0;}
.icon-vkcom {background-position:-700px 0;}
.icon-googleplus {background-position:-800px 0;}
.icon-odnoklassniki {background-position:-900px 0;}
.icon-youtube {background-position:-500px -100px;}
.icon-instagram {background-position:-300px -960px;}
.icon-rss {background-position:-600px -100px;}
.icon-logo {background-position:-700px -200px; width:46px; height:38px;}
.icon-very-good {background-position:-800px -200px; width:27px; height:24px;}
.icon-subscribe {background-position:-900px -200px; width:19px; height:22px;}
.icon-photo {background-position:-400px -300px; width:26px; height:22px;}
.icon-photo-mini {background-position:-800px -300px; width:14px; height:12px;}
.icon-video {background-position:-500px -300px; width:26px; height:20px;}
.icon-video-mini {background-position:-900px -300px; width:14px; height:10px;}
.icon-arrow-prev {background-position:-700px -400px; width:16px; height:28px;}
.icon-arrow-prev-mini {background-position:-800px -400px; width:12px; height:20px;}
.icon-arrow-next {background-position:-600px -400px; width:16px; height:28px;}
.icon-arrow-next-mini {background-position:-900px -400px; width:12px; height:20px;}

.icon-doc-ordinance {background-position:-700px -500px; width:28px; height:33px;}
.active > .icon-doc-ordinance {background-position:-700px -700px; width:28px; height:33px;}
.icon-doc-public-hearings {background-position:-800px -500px; width:40px; height:33px;}
.active > .icon-doc-public-hearings {background-position:-800px -700px; width:40px; height:33px;}
.icon-doc-auctions {background-position:-900px -500px; width:33px; height:33px;}
.active > .icon-doc-auctions {background-position:-900px -700px; width:33px; height:33px;}
.icon-doc-anticorruption {background-position:-1400px -600px; width:32px; height:32px;}
.active > .icon-doc-anticorruption {background-position:-1400px -700px; width:32px; height:32px;}

.icon-reporter {background-position:-600px -500px; width:26px; height:24px;}
.icon-new-information {background-position:-500px -500px; width:9px; height:23px;}
.icon-emergency {background-position:-400px -960px; width:23px; height:23px;}
.icon-evacuation {background-position:-400px -500px; width:25px; height:22px;}
.icon-polls {background-position:-300px -500px; width:25px; height:24px;}
.icon-conference-online {background-position:-1000px -100px; width:25px; height:24px;}
.icon-refresh {background-position:-300px -400px; width:18px; height:18px;}
.icon-question {background-position:0 -700px; width:25px; height:25px;}
.icon-question-mini-white {background-position:-1000px -600px; width:9px; height:14px;}
.icon-question-e {background-position:-100px -800px; width:14px; height:22px;}
.icon-reply {background-position:-100px -700px; width:25px; height:25px;}
.icon-reply-mini-white {background-position:-1000px -700px; width:3px; height:14px;}
.icon-reply-e {background-position:0 -800px; width:4px; height:22px;}
.icon-content-link {background-position:-400px -800px; width:9px; height:14px;}
.icon-content-menu-plus {background-position:-200px -800px; width:14px; height:14px;}
.icon-content-menu-minus {background-position:-300px -795px; width:14px; height:14px;}
.icon-calendar {background-position:-1000px -300px; width:21px; height:22px;}
.icon-close {background-position:-1000px -400px; width:11px; height:11px;}
.icon-close:hover {background-position:-1000px -500px;}
.icon-plus-11 {background-position:-700px -800px; width:11px; height:11px;}
.icon-minus-11 {background-position:-800px -800px; width:11px; height:11px;}

/** Contacts icons **/
.icon-email-large {background-position:-1100px -200px; width:62px; height:60px;}
.icon-shedule-hands-large {background-position:-1100px -300px; width:68px; height:58px;}
.icon-humans-large {background-position:-1100px -400px; width:64px; height:56px;}
.icon-mail-large {background-position:-1100px -500px; width:60px; height:56px;}
.icon-browser-large {background-position:-1100px -600px; width:60px; height:56px;}
.icon-phone-large {background-position:-1100px -700px; width:61px; height:56px;}


/** Departaments icons **/
.icon-departament-finansov {background-image:url(../i/sprite-dep.png); background-position:0 0; width:111px; height:111px;}
.icon-upravlenie-torgovli-i-bytovogo-obsluzhivaniya-naseleniya {background-image:url(../i/sprite-dep.png); background-position:-200px 0; width:116px; height:111px;}
.icon-upravlenie-tsen-i-tarifov {background-image:url(../i/sprite-dep.png); background-position:-400px 0; width:117px; height:89px;}
.icon-upravlenie-informatsionno-kommunikatsionnykh-tekhnologiy-i-svyazi {background-image:url(../i/sprite-dep.png); background-position:-600px 0; width:82px; height:107px;}
.icon-upravlenie-po-svyazyam-s-obschestvennostyu {background-image:url(../i/sprite-dep.png); background-position:-800px 0; width:101px; height:107px;}

.icon-upravlenie-delami {background-image:url(../i/sprite-dep.png); background-position:0 -200px; width:109px; height:111px;}
.icon-upravlenie-po-vzaimodeystviyu-s-pravookhranitelnymi-organami {background-image:url(../i/sprite-dep.png); background-position:-200px -200px; width:160px; height:91px;}
.icon-informatsionno-analiticheskoe-upravlenie {background-image:url(../i/sprite-dep.png); background-position:-400px -200px; width:109px; height:111px;}
.icon-upravlenie-dorozhno-mostovogo-khozyaystva {background-image:url(../i/sprite-dep.png); background-position:-600px -200px; width:109px; height:111px;}
.icon-upravlenie-transporta {background-image:url(../i/sprite-dep.png); background-position:-800px -200px; width:99px; height:111px;}

.icon-upravlenie-po-fizicheskoy-kulture-i-sportu {background-image:url(../i/sprite-dep.png); background-position:0 -400px; width:110px; height:110px;}
.icon-pravovoe-upravlenie {background-image:url(../i/sprite-dep.png); background-position:-200px -400px; width:102px; height:110px;}
.icon-departament-munitsipalnoy-sobstvennosti-i-gorodskikh-zemel {background-image:url(../i/sprite-dep.png); background-position:-400px -400px; width:109px; height:109px;}
.icon-upravlenie-munitsipalnogo-kontrolya {background-image:url(../i/sprite-dep.png); background-position:-600px -400px; width:121px; height:112px;}
.icon-upravlenie-zdravookhraneniya {background-image:url(../i/sprite-dep.png); background-position:-800px -400px; width:109px; height:109px;}

.icon-upravlenie-kultury {background-image:url(../i/sprite-dep.png); background-position:0 -600px; width:112px; height:103px;}
.icon-departament-obrazovaniya {background-image:url(../i/sprite-dep.png); background-position:-200px -600px; width:134px; height:91px;}
.icon-upravlenie-po-sotsialnym-voprosam {background-image:url(../i/sprite-dep.png); background-position:-400px -600px; width:151px; height:103px;}
.icon-upravlenie-po-delam-molodezhi {background-image:url(../i/sprite-dep.png); background-position:-600px -600px; width:81px; height:102px;}
.icon-upravlenie-po-voprosam-semi-i-detstva {background-image:url(../i/sprite-dep.png); background-position:-800px -600px; width:94px; height:107px;}

.icon-upravlenie-promyshlennosti-i-selskogo-khozyaystva {background-image:url(../i/sprite-dep.png); background-position:0 -800px; width:129px; height:111px;}
.icon-departament-gorodskogo-khozyaystva-i-toplivno-energeticheskogo-kompleksa {background-image:url(../i/sprite-dep.png); background-position:-200px -800px; width:97px; height:109px;}
.icon-upravlenie-po-zhilischnym-voprosam {background-image:url(../i/sprite-dep.png); background-position:-400px -800px; width:102px; height:109px;}
.icon-departament-stroitelstva {background-image:url(../i/sprite-dep.png); background-position:-600px -800px; width:98px; height:109px;}
.icon-departament-arkhitektury-i-gradostroitelstva {background-image:url(../i/sprite-dep.png); background-position:-800px -800px; width:109px; height:111px;}

.icon-departament-ekonomicheskogo-razvitiya-investitsiy-i-vneshnikh-svyazey {background-image:url(../i/sprite-dep.png); background-position:0 -1000px; width:111px; height:103px;}
.icon-upravlenie-po-razmescheniyu-zakaza-dlya-munitsipalnykh-nuzhd {background-image:url(../i/sprite-dep.png); background-position:-200px -1000px; width:109px; height:93px;}
.icon-upravlenie-grazhdanskoy-zaschity {background-image:url(../i/sprite-dep.png); background-position:-400px -1000px; width:91px; height:110px;}
.icon-upravlenie-kadrovoy-politiki-i-munitsipalnoy-sluzhby {background-image:url(../i/sprite-dep.png); background-position:-600px -1000px; width:94px; height:109px;}
.icon-otdel-po-mobilizatsionnoy-rabote {background-image:url(../i/sprite-dep.png); background-position:-800px -1000px; width:101px; height:112px;}

.icon-upravlenie-po-delam-kazachestva-i-voennosluzhaschikh {background-image:url(../i/sprite-dep.png); background-position:0 -1200px; width:106px; height:107px;}
.icon-upravlenie-finansovogo-kontrolya {background-image:url(../i/sprite-dep.png); background-position:-200px -1200px; width:111px; height:111px;}


/** Departaments icons hovers **/
a:hover .icon-departament-finansov {background-position:0 -1400px;}
a:hover .icon-upravlenie-torgovli-i-bytovogo-obsluzhivaniya-naseleniya {background-position:-200px -1400px;}
a:hover .icon-upravlenie-tsen-i-tarifov {background-position:-400px -1400px;}
a:hover .icon-upravlenie-informatsionno-kommunikatsionnykh-tekhnologiy-i-svyazi {background-position:-600px -1400px;}
a:hover .icon-upravlenie-po-svyazyam-s-obschestvennostyu {background-position:-800px -1400px;}

a:hover .icon-upravlenie-delami {background-position:0 -1600px;}
a:hover .icon-upravlenie-po-vzaimodeystviyu-s-pravookhranitelnymi-organami {background-position:-200px -1600px;}
a:hover .icon-informatsionno-analiticheskoe-upravlenie {background-position:-400px -1600px;}
a:hover .icon-upravlenie-dorozhno-mostovogo-khozyaystva {background-position:-600px -1600px;}
a:hover .icon-upravlenie-transporta {background-position:-800px -1600px;}

a:hover .icon-upravlenie-po-fizicheskoy-kulture-i-sportu {background-position:0 -1800px;}
a:hover .icon-pravovoe-upravlenie {background-position:-200px -1800px;}
a:hover .icon-departament-munitsipalnoy-sobstvennosti-i-gorodskikh-zemel {background-position:-400px -1800px;}
a:hover .icon-upravlenie-munitsipalnogo-kontrolya {background-position:-600px -1800px;}
a:hover .icon-upravlenie-zdravookhraneniya {background-position:-800px -1800px;}

a:hover .icon-upravlenie-kultury {background-position:0 -2000px;}
a:hover .icon-departament-obrazovaniya {background-position:-200px -2000px;}
a:hover .icon-upravlenie-po-sotsialnym-voprosam {background-position:-400px -2000px;}
a:hover .icon-upravlenie-po-delam-molodezhi {background-position:-600px -2000px;}
a:hover .icon-upravlenie-po-voprosam-semi-i-detstva {background-position:-800px -2000px;}

a:hover .icon-upravlenie-promyshlennosti-i-selskogo-khozyaystva {background-position:0 -2200px;}
a:hover .icon-departament-gorodskogo-khozyaystva-i-toplivno-energeticheskogo-kompleksa {background-position:-200px -2200px;}
a:hover .icon-upravlenie-po-zhilischnym-voprosam {background-position:-400px -2200px;}
a:hover .icon-departament-stroitelstva {background-position:-600px -2200px;}
a:hover .icon-departament-arkhitektury-i-gradostroitelstva {background-position:-800px -2200px;}

a:hover .icon-departament-ekonomicheskogo-razvitiya-investitsiy-i-vneshnikh-svyazey {background-position:0 -2400px;}
a:hover .icon-upravlenie-po-razmescheniyu-zakaza-dlya-munitsipalnykh-nuzhd {background-position:-200px -2400px;}
a:hover .icon-upravlenie-grazhdanskoy-zaschity {background-position:-400px -2400px;}
a:hover .icon-upravlenie-kadrovoy-politiki-i-munitsipalnoy-sluzhby {background-position:-600px -2400px;}
a:hover .icon-otdel-po-mobilizatsionnoy-rabote {background-position:-800px -2400px;}

a:hover .icon-upravlenie-po-delam-kazachestva-i-voennosluzhaschikh {background-position:0 -2600px;}
a:hover .icon-upravlenie-finansovogo-kontrolya {background-position:-200px -2600px;}


/** Files **/
.icon-file, *[class^="icon-file"] {background-position:-300px -900px; width:29px; height:38px;}
.icon-file-xls, .icon-file-xlsx {background-position:0 -900px;}
.icon-file-doc, .icon-file-docx {background-position:-100px -900px;}
.icon-file-pdf {background-position:-200px -900px;}
.icon-file-tif, .icon-file-tiff {background-position:-400px -900px;}
.icon-file-jpg, .icon-file-jpeg {background-position:-500px -900px;}
.icon-file-ppt, .icon-file-pptx {background-position:-600px -900px;}
.icon-file-rar {background-position:-700px -900px;}
.icon-file-zip, .icon-file-7z, .icon-file-tar, .icon-file-gz {background-position:-800px -900px;}
.icon-file-api {background-position:0 -960px;}
.icon-file-xml {background-position:-100px -960px;}
.icon-file-csv {background-position:-200px -960px;}


/** Share panel **/
.icon-share-panel-font-small {background-position:-1100px -100px; width:14px; height:14px;}
.icon-share-panel-font-large {background-position:-1200px 0; width:21px; height:20px;}
.icon-share-panel-print {background-position:-1200px -100px; width:23px; height:22px;}
.icon-share-panel-function {background-position:-1200px -200px; width:19px; height:22px;}
.icon-share-panel-share {background-position:-1200px -300px; width:19px; height:22px;}

.icon-share-panel-float-font-small {background-position:-1400px -400px; width:14px; height:14px;}
.icon-share-panel-float-font-large {background-position:-1400px 0; width:21px; height:20px;}
.icon-share-panel-float-print {background-position:-1400px -100px; width:23px; height:22px;}
.icon-share-panel-float-function {background-position:-1400px -200px; width:19px; height:22px;}
.icon-share-panel-float-share {background-position:-1400px -300px; width:19px; height:22px;}
.icon-share-panel-float-bookmark {background-position:-1400px -500px; width:25px; height:22px;}

.icon-share-panel-font-small:hover:not(.disabled) {background-position:-1100px 0;}
.icon-share-panel-font-large:hover:not(.disabled) {background-position:-1300px 0;}
.icon-share-panel-print:hover:not(.disabled) {background-position:-1300px -100px;}
.icon-share-panel-function:hover:not(.disabled) {background-position:-1300px -200px;}
.icon-share-panel-share:hover:not(.disabled) {background-position:-1300px -300px;}

.icon-share-panel-font-small.disabled {opacity:0.4; cursor:default !important;}
.icon-share-panel-font-large.disabled {opacity:0.4; cursor:default !important;}
.icon-share-panel-printabled {opacity:0.4; cursor:default !important;}
.icon-share-panel-function.disabled {opacity:0.4; cursor:default !important;}
.icon-share-panel-share.disabled {opacity:0.4; cursor:default !important;}

.icon-share-dd-share {background-position:-1200px -400px; width:41px; height:43px;}
.icon-share-dd-function {background-position:-1200px -800px; width:41px; height:43px;}
.icon-share-dd-twitter {background-position:-1300px -400px; width:41px; height:41px;}
.icon-share-dd-facebook {background-position:-1300px -500px; width:41px; height:41px;}
.icon-share-dd-vkcom {background-position:-1200px -500px; width:41px; height:41px;}
.icon-share-dd-pocket {background-position:-1300px -700px; width:41px; height:41px;}
.icon-share-dd-evernote {background-position:-1300px -600px; width:41px; height:41px;}
.icon-share-dd-readability {background-position:-1200px -600px; width:41px; height:41px;}
.icon-share-dd-instapaper {background-position:-1200px -700px; width:41px; height:41px;}
