/** Page title **/
.page-title {font-size:30px; line-height:1.2; color:#083857; font-family:'Roboto'; font-weight:500; margin-bottom:15px; word-wrap:break-word; letter-spacing:-0.01em;}
.font-size-1 .page-title {font-size:27px;}
.font-size-3 .page-title {font-size:32px;}

.headline.is-empty.has-share-panel + .page-title {padding-right:200px;}
.page-title.black {color:#000;}

.page-title.x-large {font-size:36px; line-height:38px;}
.font-size-1 .page-title.x-large {font-size:34px;}
.font-size-3 .page-title.x-large {font-size:38px;}

.page-title.midi {font-size:26px; line-height:23px;}
.font-size-1 .page-title.midi {font-size:25px;}
.font-size-3 .page-title.midi {font-size:27px;}

.page-title.mini {font-size:20px; line-height:23px;}
.font-size-1 .page-title.mini {font-size:18px;}
.font-size-3 .page-title.mini {font-size:22px;}

.page-title.x-mini {font-size:18px; line-height:21px;}
.font-size-1 .page-title.x-mini {font-size:16px;}
.font-size-3 .page-title.x-mini {font-size:20px;}

.page-title.center {text-align:center;}
.page-title.d-line {padding-bottom:12px; margin-bottom:20px; border-bottom:1px solid #d8dbdd;}
.page-title.d-line-top {padding-top:12px; margin-top:18px !important; border-top:1px solid #d8dbdd;}

.page-title:before {content:''; background:url(../i/sprite.png) -1000px -900px no-repeat; display:inline-block; _overflow:hidden; *zoom:1; *display:inline; width:5px; height:21px; vertical-align:middle; margin:-5px 10px 0 0;}
.page-title.nm:before {display:none;}


.page-title.with-arrow-bottom {padding-bottom:16px; margin-bottom:44px; border-bottom:1px solid #d8dbdd; position:relative;}
    .page-title.with-arrow-bottom:before {content:''; display:block; position:absolute; bottom:-9px; left:50%; margin-left:-8px; width:17px; height:9px; background:url(../i/sprite.png) -1000px -200px no-repeat;}

a.page-title {text-decoration:none;}
a.page-title:hover {color:#09689f;}

.page-content > .page-title:first-child {margin-top:20px;}


/** Page sub title **/
.page-sub-title {color:#737373; font-family:'Roboto'; font-size:14px; line-height:16px; text-transform:uppercase; margin-bottom:15px;}
.font-size-1 .page-sub-title {font-size:12px;}
.font-size-3 .page-sub-title {font-size:16px;}

.page-title + .page-sub-title {margin-top:-14px;}
    .page-sub-title a {font-family:'Roboto'; font-size:14px;}
    .font-size-1 .page-sub-title a {font-size:12px;}
    .font-size-3 .page-sub-title a {font-size:16px;}
.page-sub-title.d-line {padding-bottom:18px; margin-bottom:25px; border-bottom:1px solid #d8dbdd;}


/** Page title collapsible **/
.page-title.collapsible {color:#09689f; cursor:pointer;}
.page-title.collapsible:hover {color:#083857;}
.page-title.collapsible:after {content:''; display:inline-block; _overflow:hidden; *zoom:1; *display:inline; width:14px; height:14px; background:url(../i/sprite.png) -1320px -900px no-repeat; margin-left:10px;}
.page-title.collapsible.open:after {background-position:-1300px -900px;}


/** Page title Hint **/
.page-title > .hint {font-size:13px; font-family:'Roboto'; font-weight:normal; color:#000; display:block; margin-top:9px; line-height:1.2;}


/** Title headline **/
.headline {margin-bottom:3px; font-family:'Roboto';}
.headline.has-share-panel {margin-bottom:6px; padding-top:4px;}
.headline.is-empty {margin:0; padding:0; height:0;}
    .headline > .type {float:left; margin-right:1px; width:20px; height:20px; background:#09689f; text-align:center; line-height:19px; font-size:1px;}
    .headline > .label {font-family:'Roboto'; float:left; background:#09689f; height:20px; padding:0 6px; color:#fff; font-size:11px; line-height:20px; text-transform:uppercase;}
    .headline > .label.red {background:#ee0e0f; color:#fff;}
    .headline > .label-2 {font-family:'Roboto'; float:left; background:#0968a2; height:20px; padding:0 6px; color:#fff; font-size:11px; line-height:20px;}
    .headline > .fr {float:right;}
    .headline.has-share-panel > .label {padding:1px 6px;}
    .headline > .date {font-family:'Roboto'; float:left; margin-right:1px; background:#264c64; height:20px; padding:0 9px; color:#fff; font-size:12px; line-height:20px;}
    .headline.has-share-panel > .date {padding:1px 9px;}
    .headline > .theme {font-family:'Roboto'; float:left; margin-right:1px; background:#f5f5f5; height:20px; padding:0 9px; color:#000; font-size:12px; line-height:20px;}
        .headline > .theme a {font-family:'Roboto';}
    .well .headline > .theme {background:#fff;}
    .headline > .comment {float:left; margin-right:1px; height:20px; padding:0 9px; color:#000; font-size:11px; line-height:20px; opacity:0.8;}
    .headline.has-share-panel > .theme {padding:1px 9px;}
    .headline > .title {font-family:'Roboto'; float:left; margin-left:10px; color:#000; font-size:18px; line-height:20px;}
    .headline > a.title {color:#09689f;}
    .headline > * > .icon-question-mini-white {position:relative; top:-1px; margin-right:3px;}

/** Title share panel **/
.headline .share-panel {float:right; margin-top:-2px; position:relative; top:1px;}
.headline.is-empty .share-panel {top:3px;}
    .headline .share-panel > .item {display:inline-block; _overflow:hidden; *zoom:1; *display:inline; vertical-align:top; height:23px; padding:0 9px 0 10px; border-left:1px dotted #d8dbdd;}
    .headline .share-panel > .item:first-child {border-left:0 none;}
    .headline .share-panel > .item:last-child {padding-right:0;}
        .headline .share-panel > .item > i {cursor:pointer;}
        .headline .share-panel > .item .subscribe-btn {font-size:12px; line-height:14px; text-transform:uppercase; color:#09689f; cursor:pointer; padding:0 30px 0 0; position:relative; top:-3px;}
        .headline .share-panel > .item .subscribe-btn .ajax-link {font-family:'Roboto'; text-align:right; display:block; white-space:nowrap; border-bottom:0 none;}
        .headline .share-panel > .item .subscribe-btn:hover .ajax-link {border-bottom:1px dashed;}
        .headline .share-panel > .item .subscribe-btn .icon-subscribe {position:absolute; top:3px; right:0;}
    .headline .share-panel > .dd-list {position:relative;}
        .headline .share-panel > .dd-list > .dd-wrap {position:absolute; top:-11px; left:-1px; display:none;}
        .headline .share-panel > .dd-list:hover > .dd-wrap {display:block; z-index:100;}
            .headline .share-panel > .dd-list:hover > .dd-wrap i {cursor:pointer;}

.headline .share-panel > .dd-list > .dd-wrap .yashare-auto-init .b-share {padding:0 !important;}
    .headline .share-panel > .dd-list > .dd-wrap .yashare-auto-init .b-share a {display:block; padding:0 !important; float:none;}
        .headline .share-panel > .dd-list > .dd-wrap .yashare-auto-init .b-share .b-share-icon_vkontakte {background:url(../i/sprite.png) no-repeat; background-position:-1200px -500px; width:41px; height:41px;}
        .headline .share-panel > .dd-list > .dd-wrap .yashare-auto-init .b-share .b-share-icon_facebook {background:url(../i/sprite.png) no-repeat; background-position:-1300px -500px; width:41px; height:41px;}
        .headline .share-panel > .dd-list > .dd-wrap .yashare-auto-init .b-share .b-share-icon_twitter {background:url(../i/sprite.png) no-repeat; background-position:-1300px -400px; width:41px; height:41px;}
