/** Крупные синие табы **/
.tabs-switcher {padding-bottom:1px; border-bottom:1px solid #d8dbdd; margin-bottom:20px;}
.header + .page-content > .tabs-switcher {margin-top:20px;}
* + .tabs-switcher {margin-top:20px;}
    .tabs-switcher > .item {cursor:pointer; float:left; border:1px solid #0b81b6; font-size:22px; text-transform:uppercase; color:#fff; font-family:'Roboto'; font-weight:bold; padding:17px 18px 15px; background:#0b81b6; background:-moz-linear-gradient(top,  #0b81b6 0%, #09689f 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#0b81b6), color-stop(100%,#09689f)); background:-webkit-linear-gradient(top,  #0b81b6 0%,#09689f 100%); background:-o-linear-gradient(top,  #0b81b6 0%,#09689f 100%); background:-ms-linear-gradient(top,  #0b81b6 0%,#09689f 100%); background:linear-gradient(to bottom,  #0b81b6 0%,#09689f 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b81b6', endColorstr='#09689f',GradientType=0 );}
    .tabs-switcher > .item:hover {background:#09689f; background:-moz-linear-gradient(top,  #09689f 0%, #0b81b6 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#09689f), color-stop(100%,#0b81b6)); background:-webkit-linear-gradient(top,  #09689f 0%,#0b81b6 100%); background:-o-linear-gradient(top,  #09689f 0%,#0b81b6 100%); background:-ms-linear-gradient(top,  #09689f 0%,#0b81b6 100%); background:linear-gradient(to bottom,  #09689f 0%,#0b81b6 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#09689f', endColorstr='#0b81b6',GradientType=0 );}
    .tabs-switcher > .item.active {background:#fff; border:1px solid #d8dbdd; border-bottom:3px solid #fff; color:#083857; margin-bottom:-2px;}
    .tabs-switcher > .item + .item {margin-left:1px;}
    .tabs-switcher.x2 > .item {width:443px;}
