/** Text block **/
.text-block {font-size:16px; line-height:1.2; font-family:'Roboto'; color:#000;}
.text-block a,
.text-block b,
.text-block p {
    font-size:inherit;
    font-family:inherit;
}
.font-size-1 .text-block {font-size:15px;}
.font-size-3 .text-block {font-size:17px;}
    .text-block > p {padding-bottom:15px;}
    .text-block > p:last-child {padding-bottom:0;}
    .text-block img[style*="float:left"], .text-block img[style*="float: left"], .text-block .img-left {float:left; margin:0 20px 15px 0;}
    .text-block img[style*="float:right"], .text-block img[style*="float: right"], .text-block .img-right {float:left; margin:0 0 15px 20px;}
    .text-block .btn-group {text-align:right; margin-top:15px;}
    .text-block p + .btn-group {margin-top:0;}
    .text-block .gray {color:#737373;}
    .text-block .blue {color:#264c64;}
    .text-block .float-left {float:left;}
    .text-block .float-right {float:right;}
    .text-block .tb-modify {text-align:right; margin-top:15px;}
.text-block + .page-title,
.text-block + .btn-group + .page-title,
.text-block + .files-list + .btn-group + .page-title {margin-top:30px;}
.text-block + .files-list {margin-top:20px;}
.text-block + .next-page {margin-top:20px;}
.text-block + .btn-group {margin-top:20px;}

.contacts-block {line-height:28px;}

.text-block .btn, .text-block a.btn {font-size:12px;}


/** Text block table **/
.text-block table:not(.no-design) {width:100%; border-collapse:collapse;}
    .text-block table:not(.no-design) td {border:1px solid #d8dbdd; padding:10px 20px; background:#fff; font-family:'Roboto';}
    .text-block table:not(.no-design) tr:nth-child(even) td {background:#f7f7f7;}
    .text-block table:not(.no-design) td.th, .text-block table th {background:#09689f; color:#fff; font-weight:bold; padding:10px 20px;}
    .text-block table:not(.no-design) thead td, .text-block table tr:first-child th {background:#083857; color:#fff; font-weight:bold; padding:18px 20px;}
    .text-block table:not(.no-design) thead + tbody tr:first-child th {background:#09689f; padding:10px 20px;}

    .text-block table:not(.no-design).mini td {padding:5px 10px; font-size:13px;}
    .text-block table:not(.no-design).mini thead td {padding:9px 10px;}
    .text-block table:not(.no-design) .td-light {background:#09689f !important; color:#fff; font-weight:bold;}
    .text-block table:not(.no-design) .td-dark {background:#083857 !important; color:#fff; font-weight:bold;}


/** Text block headers **/
.text-block h1 {color:#083857; font-family:'Roboto'; font-weight:bold; font-size:22px; line-height:24px; text-transform:uppercase; margin-bottom:17px;}
.text-block h2 {color:#083857; font-family:'Roboto'; font-weight:bold; font-size:20px; line-height:22px; text-transform:uppercase; margin-bottom:15px;}
.text-block h3 {color:#083857; font-family:'Roboto'; font-weight:bold; font-size:18px; line-height:1.2; text-transform:uppercase; margin-bottom:12px;}
.text-block h4 {color:#737337; font-family:'Roboto'; font-size:16px; line-height:18px; margin-bottom:10px;}
.text-block h5 {color:#737337; font-family:'Roboto'; font-size:15px; line-height:17px; margin-bottom:10px;}
.text-block h6 {color:#737337; font-family:'Roboto'; font-size:14px; line-height:16px; margin-bottom:7px;}


/** Text block UL **/
.text-block ul {overflow:hidden; padding-bottom:15px;}
.text-block ul:last-child {padding-bottom:0;}
    .text-block ul ul {margin-left:15px;}
    .text-block ul ol {margin-left:15px;}
    .text-block ul > li {padding:2px 0 2px 15px; position:relative; font-family:'Roboto';}
    .text-block ul > li:before {content:''; display:block; width:5px; height:8px; position:absolute; left:0; top:9px; background:url(../i/sprite.png) -500px -800px no-repeat;}
    .text-block ul.square-list > li:before {width:10px; height:10px; top:4px; background-position:-900px -600px;}
.text-block ul.bordered li {border-bottom:1px dotted #d8dbdd; padding-bottom:10px; padding-top:0; margin-bottom:10px;}
.text-block ul.bordered li:last-child {border-bottom:0 none; padding-bottom:2px; margin-bottom:0;}


/** Text block OL **/
.text-block ol {overflow:hidden;}
    .text-block ol ol {margin-left:15px;}
    .text-block ol ul {margin-left:15px;}
    .text-block ol > li {padding:2px 0 2px 0; position:relative; font-family:'Roboto';}
        .text-block ol > li > .number {color:#888; display:inline-block; _overflow:hidden; *zoom:1; *display:inline; padding-right:5px; font-weight:bold;}


/** Images menu in text block **/
.text-block .images-menu {overflow:hidden;}
    .text-block .images-menu + .images-menu {margin-top:20px;}
    .text-block .images-menu > .item {float:left; width:300px; margin-right:30px;}
    .text-block .images-menu.c4 > .item {width:218px;}
    .text-block .images-menu > .item:last-child {margin-right:0;}
        .text-block .images-menu > .item > .icon {display:block; overflow:hidden; margin-bottom:15px;}
            .text-block .images-menu > .item > .icon img {max-width:100%; display:block;}
        .text-block .images-menu > .item > .title {font-size:15px; line-height:17px; text-transform:uppercase; text-decoration:none; font-family:'Roboto'; font-weight:bold;}
        .text-block .images-menu > .item > .title:hover {text-decoration:underline;}
        .text-block .images-menu > .item > .title:after {content:''; display:inline-block; _overflow:hidden; *zoom:1; *display:inline; width:6px; height:9px; background:url(../i/sprite.png) -600px -800px no-repeat; margin:4px 0 0 7px; vertical-align:top;}


/** Departament index text block **/
.departament-index .text-block img[style*="float:left"], .departament-index .text-block img[style*="float: left"], .departament-index .text-block .img-left {float:left; margin:0 30px 15px 0;}


/** Devider **/
hr {border:1px solid #d8dbdd; border-left:none; border-right:none; border-bottom:none; margin:15px 0;}
