@import url("reset.css");
@import url("fonts.css");
@import url("page-title.css");
@import url("buttons.css");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    text-rendering:optimizeSpeed;
    font-family:Arial;
}

body {font-size:16px; line-height:1.2; font-family:'Roboto'; color:#000; padding:20px;}
a, .link-color {color:#09689f;}
.ajax-link {text-decoration:none; border-bottom:1px dashed #09689f; display:inline;}
a:hover > .ajax-link, .ajax-link:hover {border-bottom:0 none; padding-bottom:1px;}
p a:visited {color:#609;}
b, strong {font-weight:bold;}
i, em {font-style:italic;}
u {text-decoration:underline;}

/** Text block **/
p {padding-bottom:15px;}
p:last-child {padding-bottom:0;}
img[style*="float:left"], img[style*="float: left"], .img-left {float:left; margin:0 20px 15px 0;}
img[style*="float:right"], img[style*="float: right"], .img-right {float:left; margin:0 0 15px 20px;}
.btn-group {text-align:right; margin-top:15px;}
p + .btn-group {margin-top:0;}
.gray {color:#737373;}
.blue {color:#264c64;}
.float-left {float:left;}
.float-right {float:right;}
.tb-modify {text-align:right; margin-top:15px;}


/** Text block table **/
table:not(.no-design) {width:100%; border-collapse:collapse;}
    table:not(.no-design) td {border:1px solid #d8dbdd; padding:10px 20px; background:#fff;}
    table:not(.no-design) tr:nth-child(even) td {background:#f7f7f7;}
    table:not(.no-design) td.th, table th {background:#09689f; color:#fff; font-weight:bold; padding:10px 20px;}
    table:not(.no-design) thead td, table tr:first-child th {background:#083857; color:#fff; font-weight:bold; padding:18px 20px;}
    table:not(.no-design) thead + tbody tr:first-child th {background:#09689f; padding:10px 20px;}

    table:not(.no-design).mini td {padding:5px 10px; font-size:13px;}
    table:not(.no-design).mini thead td {padding:9px 10px;}
    table:not(.no-design) .td-light {background:#09689f !important; color:#fff; font-weight:bold;}
    table:not(.no-design) .td-dark {background:#083857 !important; color:#fff; font-weight:bold;}


/** Text block headers **/
h1 {color:#083857; font-family:'Roboto'; font-weight:bold; font-size:22px; line-height:24px; text-transform:uppercase; margin-bottom:17px;}
h2 {color:#083857; font-family:'Roboto'; font-weight:bold; font-size:20px; line-height:22px; text-transform:uppercase; margin-bottom:15px;}
h3 {color:#083857; font-family:'Roboto'; font-weight:bold; font-size:18px; line-height:16px; text-transform:uppercase; margin-bottom:12px;}
h4 {color:#737337; font-size:16px; line-height:18px; margin-bottom:10px;}
h5 {color:#737337; font-size:15px; line-height:17px; margin-bottom:10px;}
h6 {color:#737337; font-size:14px; line-height:16px; margin-bottom:7px;}


/** Text block UL **/
ul {overflow:hidden; padding-bottom:15px;}
ul:last-child {padding-bottom:0;}
    ul ul {margin-left:15px;}
    ul ol {margin-left:15px;}
    ul > li {padding:2px 0 2px 15px; position:relative;}
    ul > li:before {content:''; display:block; width:5px; height:8px; position:absolute; left:0; top:6px; background:url(../i/sprite.png) -500px -800px no-repeat;}
    ul.square-list > li:before {width:10px; height:10px; top:4px; background-position:-900px -600px;}
ul.bordered li {border-bottom:1px dotted #d8dbdd; padding-bottom:10px; padding-top:0; margin-bottom:10px;}
ul.bordered li:last-child {border-bottom:0 none; padding-bottom:2px; margin-bottom:0;}


/** Text block OL **/
ol {overflow:visible; list-style:decimal !important; margin-left:20px;}
    ol ol {margin-left:35px;}
    ol ul {margin-left:15px;}


/** Images menu in text block **/
.images-menu {overflow:hidden;}
    .images-menu + .images-menu {margin-top:20px;}
    .images-menu > .item {float:left; width:300px; margin-right:30px;}
    .images-menu.c4 > .item {width:218px;}
    .images-menu > .item:last-child {margin-right:0;}
        .images-menu > .item > .icon {display:block; overflow:hidden; margin-bottom:15px;}
            .images-menu > .item > .icon img {max-width:100%; display:block;}
        .images-menu > .item > .title {font-size:15px; line-height:17px; text-transform:uppercase; text-decoration:none; font-family:'Roboto'; font-weight:bold;}
        .images-menu > .item > .title:hover {text-decoration:underline;}
        .images-menu > .item > .title:after {content:''; display:inline-block; _overflow:hidden; *zoom:1; *display:inline; width:6px; height:9px; background:url(../i/sprite.png) -600px -800px no-repeat; margin:4px 0 0 7px; vertical-align:top;}

