{# Страница списка событий (новости) #}

{% extends "KrdGlavaBundle::layout.html.twig" %}


{% block layout_content %}
	<div class="media-container clearfix">
		{{ appContainer.get('krd.glava.modules.video').renderContent()|raw }}
	</div>
{% endblock %}