{# Главная страница личного кабинета #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    <section class="page-content clearfix">
        {% include "KrdSiteBundle::blocks/breadcrumb.html.twig" %}

        <div class="page-title d-line">{{ currentNode.getFrontendTitle() }}</div>

        {# Выводим модули страницы #}
        {% for module in currentNode.getController().getModules() %}
            {{ appContainer.get(module).renderContent()|raw }}
        {% endfor %}
    </section>
    <div class="clear" style="height:1px"></div>
    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}

{#% block addscripts %}
    {% if app.user and app.user.getNewbie() %}
        <script id="newbiew-video-help-template" type="text/ng-template">
            <div class="page-title nm d-line">Как работать в личном кабинете?</div>

            <div class="text-block">
                <iframe width="560" height="315" src="//www.youtube.com/embed/X4SlSdUCR3A" frameborder="0" allowfullscreen></iframe>
            </div>
        </script>
    {% endif %}
{% endblock %#}
