{# Профиль пользователя #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% form_theme form "KrdUserBundle:Registration:_form-theme.html.twig" %}

{% block content %}
    <section class="page-content">
        {% include "KrdSiteBundle::blocks/breadcrumb.html.twig" %}
        <div class="page-title d-line">{{ currentNode.getFrontendTitle() }} - {% trans %}Профиль{% endtrans %}</div>

        {{ form_start(form, {attr:{'ng-controller':'UserProfileFormCtrl'}}) }}
            <div class="form-row horizontal clearfix">
                <div class="label">&nbsp;</div>
                <div class="input">
                    <div class="page-title nm mini">{% trans %}Персональные данные{% endtrans %}</div>
                </div>
            </div>

            {{ form_row(form.lastname) }}
            {{ form_row(form.name) }}
            {{ form_row(form.surname) }}
            {{ form_row(form.phone) }}

            <div class="form-row horizontal clearfix">
                <div class="label">{{ 'security.login.email'|trans }}:</div>
                <div class="input" style="padding-top:6px;"><b>{% trans %}Для смены E-mail адреса, пожалуйста, обратитесь в техническую поддержку.{% endtrans %}</b></div>
            </div>

            <div class="form-row horizontal clearfix">
                <div class="label">&nbsp;</div>
                <div class="input">
                    <div class="page-title nm mini">{% trans %}Ваш адрес{% endtrans %}</div>
                </div>
            </div>

            {{ form_row(form.address_index) }}
            {{ form_row(form.address_city) }}
            {{ form_row(form.address_region) }}
            {{ form_row(form.address_street) }}
            {{ form_row(form.address_home) }}
            {{ form_row(form.address_room) }}

            <div class="form-row horizontal clearfix">
                <div class="label">&nbsp;</div>
                <div class="input">
                    <div class="page-title nm mini">{% trans %}Смена пароля{% endtrans %}</div>
                </div>
            </div>

            {{ form_row(form.plainPassword) }}

            <div class="form-row horizontal clearfix">
                <div class="label">&nbsp;</div>
                <div class="input">
                    {{ form_widget(form.submit, {label:'Сохранить изменения', attr:{class:'btn btn-deep-blue'}}) }}
                    <button type="reset" class="btn btn-blue">Сбросить</button>
                </div>
            </div>
        {{ form_end(form) }}
    </section>

    {% include "KrdSiteBundle::blocks/social-bottom.html.twig" %}
    {% include "KrdSiteBundle::blocks/footer-banners.html.twig" %}
    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}
