{% extends "QCoreBundle::layout.html.twig" %}

{% block title %}{% spaceless %}
    Very-Good CMS :: {{ appConfig.getTitle() }}
{% endspaceless %}{% endblock %}

{% block content %}
    <h3>Администрирование</h3>

    <tabs>
        <pane heading="Общие настройки" url="/config/">
            {% form_theme configForm "QCoreBundle:Form:Angular/theme.html.twig" %}
            {{ form(configForm) }}
        </pane>

        {% if is_granted('ROLE_IDDQD') %}
            <pane heading="Типы страниц" url="/nodecontroller/">
                <div entity-list="{{ path('cms_rest_nodecontroller') }}" url="/nodecontroller/" columns="{id:{title:'#'}, name:{title:'Название'}, controller:{title:'Контроллер'}, info:{title:'Описание'}}" btn-add="Добавить тип страниц" count="10" disable-move></div>
            </pane>

            <ghostpane heading="Новый тип страниц" url="/nodecontroller/create/" parent="1" template="{{ path('cms_rest_nodecontroller_form_add') }}"></ghostpane>

            <ghostpane heading="Ред. типа страницы #{id}" url="/nodecontroller/edit/{id}" parent="1" template="{{ path('cms_rest_nodecontroller_form_add') }}{id}"></ghostpane>

            <!--  -->

            <pane heading="Типы меню" url="/menutype/">
                <div entity-list="{{ path('cms_rest_menutype') }}" url="/menutype/" columns="{id:{title:'#'}, title:{title:'Название'}, help:{title:'Описание'}}" btn-add="Добавить тип меню" count="10"></div>
            </pane>

            <ghostpane heading="Новый тип меню" url="/menutype/create/" parent="4" template="{{ path('cms_rest_menutype_form_add') }}"></ghostpane>

            <ghostpane heading="Ред. типа меню #{id}" url="/menutype/edit/{id}" parent="4" template="{{ path('cms_rest_menutype_form_add') }}{id}"></ghostpane>
        {% endif %}

        {% if is_granted('ROLE_CMS_ADMIN') %}
            <pane heading="Обновления" url="/log_entry/">
                <div entity-list="{{ path('cms_rest_gedmo_loggable_log_entry') }}" columns="{ entity_url:{title:'Объект', modifier:'el_cms_link', by:{title:'entity_title', prefix:'{{ path(app.request.attributes.get('_route')) }}'}}, node_url:{title:'Раздел', modifier:'el_cms_link', by:{title:'node_title', prefix:'{{ path(app.request.attributes.get('_route')) }}'}}, action_txt:{title:'Действие'}, logged_at_time:{title:'Дата'}, version:{title:'Версия'}, username:{title:'Пользователь'}}" count="10" disable-move disable-header-buttons disable-selection disable-actions></div>
            </pane>
        {% endif %}
    </tabs>
{% endblock %}
