{% extends "QCoreBundle::layout.html.twig" %}

{% block stylesheets %}
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">

    {% stylesheets  '@QUserBundle/Resources/public/css/style.css'

                    combine=true filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" media="all">
    {% endstylesheets %}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="well">
        <h2>Авторизация</h2>
        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            {% if error %}
                <div class="alert alert-error">{{ error|trans }}</div>
            {% endif %}

            <div class="control-group">
                <label for="username" class="control-label">{{ 'security.login.username'|trans }}</label>
                <div class="controls">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required />
                </div>
            </div>

            <div class="control-group">
                <label for="password" class="control-label">{{ 'security.login.password'|trans }}</label>
                <div class="controls">
                    <input type="password" id="password" name="_password" required />
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary"><i class="icon-white icon-user"></i> {{ 'security.login.submit'|trans }}</button>
                    <label for="remember_me" class="checkbox">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}
                    </label>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
