{# Виджет опросов для главной #}

<div class="item widget-polls" multi-height="index-widgets">
    <div class="title"><i class="icon-polls"></i>Опросы</div>

    <div class="w" widget-polls="{{ poll.getId() }}" data-url="{{ path('krd_ajax_site_poll_vote') }}">
        <div class="question">{{ poll.getTitle() }}</div>

        {% if not poll.hasVotedip(app.request.getClientIp()) %}
            <div class="list answers">
                {% for answer in poll.getActiveAnswers() %}
                    <label class="item">
                        <input type="radio" data-id="{{ answer.getId() }}" name="poll-answer-{{ poll.getId() }}" />{{ answer.getTitle() }}
                    </label>
                {% endfor %}
            </div>
        {% else %}
            <div class="list results">
                {% for answer in poll.getAnswersByCounter() %}
                    <div class="item">
                        {{ answer.getTitle() }} - <b>{{ answer.getPercentCounter() }}%</b>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {% if not poll.hasVotedip(app.request.getClientIp()) %}
        <div class="btn-group">{% spaceless %}
            <div class="btn btn-blue">Голосовать</div>
        {% endspaceless %}</div>
    {% endif %}
</div>
