{# Тема формы для регистрации #}

{% block form_start %}
{% spaceless %}
    {% set method = method|upper %}
    {% if method in ["GET", "POST"] %}
        {% set form_method = method %}
    {% else %}
        {% set form_method = "POST" %}
    {% endif %}

    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ajax-form stylized no-bottom-border clearfix')|trim}) %}

    {% if steps is defined and steps is not empty %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' step-by-step')|trim}) %}
    {% endif %}

    <form method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %} ng-submit="submit()">
    {% if form_method != method %}
        <input type="hidden" name="_method" value="{{ method }}" />
    {% endif %}

    {% if steps is defined and steps is not empty %}
        <div class="step-header count-{{ steps|length }} clearfix">
            {% for k,step in steps %}
                <div class="step">
                    <div class="number">{{ k|trans }}</div>
                    {{ step|trans }}
                </div>
            {% endfor %}
        </div>
{% endif %}
{% endspaceless %}
{% endblock form_start %}

{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' label')|trim}) %}

        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}{% if required %}<span class="required-star">*</span>{% endif %}:</label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{% block form_row %}
{% spaceless %}
    <div class="form-row horizontal clearfix">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        <div class="input">
            {{ form_widget(form) }}
            {% if help is defined and help %}
                <div class="help">{{ help|trans }}</div>
            {% endif %}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}
