{# Страница уведомлении об успешной регистрации #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% block content %}
    <section class="page-content">
        <div class="page-title d-line">{% trans %}Профиль пользователя успешно активирован{% endtrans %}</div>
        <div class="text-block">
            {% trans %}Профиль пользователя успешно активирован{% endtrans %}.
            {% if is_granted('ROLE_USER') %}
                <br />
                Добро пожаловать на сайт, <b>{{ app.user.getFullname() }}</b>. <a href="{{ controller_path(43) }}">Перейти в личный кабинет</a>.
            {% endif %}
        </div>
    </section>

    {% include "KrdSiteBundle::blocks/social-bottom.html.twig" %}
    {% include "KrdSiteBundle::blocks/footer-banners.html.twig" %}
    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}
