{# Страница регистрации #}

{% extends "KrdSiteBundle::layout.html.twig" %}

{% form_theme form "KrdUserBundle:Registration:_form-theme.html.twig" %}

{% block content %}
    <section class="page-content">
        <div class="page-title d-line">{{ currentNode.getFrontendTitle() }}</div>

        {{ form_start(form, {attr:{'ng-controller':'UserRegistrationFormCtrl'}, steps:{'1 шаг':'Персональные данные', '2 шаг':'Почтовый адрес', '3 шаг':'Аккаунт'}}) }}
            <div data-step="1">
                <div class="form-row clearfix">
                    <div class="page-title nm mini">{% trans %}Персональные данные{% endtrans %}</div>
                </div>

                {{ form_row(form.lastname) }}
                {{ form_row(form.name) }}
                {{ form_row(form.surname, {help:'Будут использованы для заполнения форм на сайте.'}) }}
                {{ form_row(form.phone, {help:'Нужен для подтверждения личности.', attr:{'phone-mask':''}}) }}
                {{ form_row(form.email, {help:'Для связи с Вами. На этот адрес будет выслано подтверждение регистрации.'}) }}

                <div class="form-row text-align-right clearfix">
                    <div class="btn btn-blue" ng-click="nextStep()">Продолжить</div>
                </div>
            </div>

            <div data-step="2" ng-cloak>
                <div class="form-row clearfix">
                    <div class="page-title nm mini">{% trans %}Ваш адрес{% endtrans %}</div>
                </div>

                {{ form_row(form.address_index) }}
                {{ form_row(form.address_city, {attr:{'kladr-city':'user_registration_address_street'}}) }}
                {{ form_row(form.address_region, {attr:{'autocomplete-region':'user_registration_address_city'}}) }}
                {{ form_row(form.address_street, {attr:{'kladr-street':''}}) }}
                {{ form_row(form.address_home) }}
                {{ form_row(form.address_room, {help:'Заполните Ваш адрес, он будет использован для официального ответа почтой России.'}) }}

                <div class="form-row clearfix">
                    <div class="btn btn-blue" ng-click="prevStep()">Вернуться</div>
                    <div class="btn btn-blue" style="float:right;" ng-click="nextStep()">Продолжить</div>
                </div>
            </div>

            <div data-step="3" ng-cloak>
                <div class="form-row clearfix">
                    <div class="page-title nm mini">{% trans %}Аккаунт{% endtrans %}</div>
                </div>

                {{ form_row(form.plainPassword) }}
                {{ form_row(form.cquestion, {help:'Нужен для востановления пароля.'}) }}
                {{ form_row(form.creply) }}

                <div class="form-row horizontal clearfix">
                    <div class="label">&nbsp;</div>
                    <div class="input">
                        <label style="position:relative; padding-left:20px; display:block; cursor:pointer;"><input type="checkbox" ng-model="accepted_rules" style="position:absolute; left:0; top:1px;"> {% trans %}Я согласен на обработку персональных данных.{% endtrans %}<br /><a href="{{ node_path(13926) }}" target="_blank">{% trans %}Пользовательское соглашение{% endtrans %}</a></label>
                    </div>
                </div>

                <div class="form-row clearfix">
                    <div class="btn btn-blue" ng-click="prevStep()">Вернуться</div>
                    {{ form_widget(form.submit, {label:'registration.link', attr:{style:'float:right;', class:'btn btn-blue', 'ng-disabled':'!accepted_rules'}}) }}
                </div>

            </div>
        {{ form_end(form) }}

        {% set content = appContainer.get('krd.site.modules.content').getContent('success') %}

        {% if content %}
            <div id="registration-submit-form-success" class="text-block hidden">
                {{ content.getContent()|raw }}
            </div>
        {% endif %}
    </section>

    {% include "KrdSiteBundle::blocks/social-bottom.html.twig" %}
    {% include "KrdSiteBundle::blocks/footer-banners.html.twig" %}
    {% include "KrdSiteBundle::blocks/bottom-menu.html.twig" %}
{% endblock %}
