{# Админская часть модуля Online #}

<h3>Онлайн конференции</h3>

<tabs>
    <pane heading="Список конференций" url="/online/">
        <div entity-list="{{ path('cms_rest_krd_conference_online') }}:id?parent={{ currentNode.getId() }}" url="/online/" columns="{id:{title:'#'}, title:{title:'Заголовок'}, dateworkstart:{title:'Начало работы'}, dateworkend:{title:'Окончание работы'}, datestart:{title:'Дата начала'}, dateend:{title:'Дата окончания'}, active:{title:'Активность', isBoolean:true}}" actions="[{tooltip:'Список вопросов', url:'/questions/list/{id}', icon:'question-sign', type:'info'}]" btn-add="Добавить" count="10"></div>
    </pane>

    <ghostpane heading="Добавление конференции" url="/online/create/" parent="0" template="{{ path('cms_rest_krd_conference_online_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Ред. конференции #{id}" url="/online/edit/{id}" parent="0" template="{{ path('cms_rest_krd_conference_online_form_add') }}{id}"></ghostpane>

    <!--  -->

    <ghostpane heading="Список вопросов #{id}" url="/questions/list/{id}" template="{{ path('cms_rest_krd_conference_question_list') }}/{id}"></ghostpane>

    <ghostpane heading="Ред. вопроса #{id}" url="/questions/edit/{id}" parent="3" template="{{ path('cms_rest_krd_conference_question_form_add') }}{id}"></ghostpane>
</tabs>

<h3>Информационные партнеры</h3>

<tabs>
    <pane heading="Список" url="/partner/">
        <div entity-list="{{ path('cms_rest_krd_conference_partner') }}:id?parent={{ currentNode.getId() }}" url="/partner/" columns="{id:{title:'#'}, title:{title:'Заголоввок'}, url:{title:'URL'}, image_main:{title:'Изображение', modifier:'el_image'}, blank:{title:'В новом окне', isBoolean:true}}" btn-add="Добавить" count="10" disable-move></div>
    </pane>

    <ghostpane heading="Добавление" url="/partner/create/" parent="0" template="{{ path('cms_rest_krd_conference_partner_form_add') }}?parent={{ currentNode.getId() }}"></ghostpane>

    <ghostpane heading="Редактирование #{id}" url="/partner/edit/{id}" parent="0" template="{{ path('cms_rest_krd_conference_partner_form_add') }}{id}"></ghostpane>
</tabs>
