{# Список вопросов определенной конференции #}

<div entity-list="{{ path('cms_rest_krd_conference_question') }}:id?parent={{ parentId }}" url="/questions/" columns="{id:{title:'#'}, fioask:{title:'ФИО'}, dateask:{title:'Дата вопроса'}, datereply:{title:'Дата ответа'}, active:{title:'Активность', isBoolean:true}}" count="10" disable-move></div>
