{# Таблица гостиниц города #}

{% set lastCategory = '' %}
{% if not list is empty %}
    <div class="text-block clearfix">
        <table>
            <thead>
                <tr>
                    <td>Наименование гостиницы, гостевого дома, организационно-правовая форма</td>
                    <td>Адрес, официальный сайт</td>
                    <td>Количество номеров/койко-мест</td>
                    <td>Телефон</td>
                </tr>
            </thead>

            <tbody>
                {% for item in list %}
                    {% if not item.getCategory() is empty and lastCategory != item.getCategory() %}
                        {% set lastCategory = item.getCategory() %}
                        <tr>
                            <th colspan="4">
                                {{ lastCategory }}
                            </th>
                        </tr>
                    {% endif %}

                    <tr>
                        <td>{{ item.getTItle() }}</td>
                        <td>
                            {{ item.getAddress() }}
                            {% if item.hasWebsite() %}
                                <br /><a href="http://{{ item.getWebsite() }}">{{ item.getWebsite() }}</a>
                            {% endif %}
                        </td>
                        <td nowrap>{{ item.getRoomCount() }}/{{ item.getBedCount() }}</td>
                        <td nowrap>
                            {% for phone in item.getPhone() %}
                                <a href="tel:{{ phone }}">{{ phone }}</a>{% if not loop.last %}<br />{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
